<div class="d-none ">
    <h3><%= unit %></h3>
    <input  type="text" class="form-control" placeholder="kopyala id" name="copy<%= unit %>">
    <button type="submit" value="<%= unit %>" class="btn btn-dark btn-sm" name="CopyUnit">Kopyala</button>
</div>

<div class="row bg-light mb-2 p-4">
                    

    <div class="col">
        <div class="row">
            <div class="col-md-2 mb-3">
                <div class="form-group">
                    <label>Birim</label>
                    <input type="text" class="form-control" name="<%=unit %>" id="<%=unit%>"
                        value="<%= product[unit] %>">
                </div>

                <div class="form-group">
                    <label>Başlık</label>
                    <input type="text" class="form-control" name="<%=unit%>title" id="<%=unit%>title"
                        value="<%= product[unit + 'title'] %>">
                </div>
                <div class="form-group">
                    <label>Ağırlık</label>
                    <input type="text" class="form-control" name="<%=unit%>weight" id="<%=unit%>weight"
                        value="<%= product[unit + 'weight'] %>">
                </div>                
            </div>
            <div class="col-md-6 mb-3">
                <div class="form-group">
                    <label>Açıklama</label>

                    <textarea rows="6" class="form-control" name="<%=unit%>desc" id="<%=unit%>desc"><%= product[unit + 'desc'] %></textarea>


                </div>
            </div>
            <div class="col-md-2 mb-3">
                <div class="form-group">
                    <label>KG Oranı</label>
                    <input type="text" class="form-control" name="<%=unit%>kgRatio" id="<%=unit%>kgRatio"
                        value="<%= product[unit + 'kgRatio'] %>">
                </div>
            </div>    
            <div class="col-md-2 mb-3">
                    <div class="form-group">
                        <label>Sıra Puan</label>
                        <input type="text" class="form-control" name="<%=unit%>Order" id="<%=unit%>Order"
                            value="<%= product[unit + 'Order'] %>">
                    </div>
                </div>                                                                        
        </div>

        <div class="row">
            <div class="col-md-2 mb-3">
                <div class="form-group">
                    <label>Varsayılan</label>
                    <input type="text" class="form-control" name="<%=unit%>def" id="<%=unit%>def"
                        value="<%= product[unit+ 'def']  %>">
                </div>
            </div>
            <div class="col-md-2 mb-3">
                <div class="form-group">
                    <label>Min</label>
                    <input type="text" class="form-control" name="<%=unit%>min" id="<%=unit%>min"
                        value="<%= product[unit + 'min'] %>">
                </div>
            </div>
            <div class="col-md-2 mb-3">
                <div class="form-group">
                    <label>Max</label>
                    <input type="text" class="form-control" name="<%=unit%>max" id="<%=unit%>max"
                        value="<%= product[unit + 'max'] %>">
                </div>
            </div>    
            <div class="col-md-2 mb-3">
                    <div class="form-group">
                        <label>Artış</label>
                        <input type="text" class="form-control" name="<%=unit%>step" id="<%=unit%>step"
                            value="<%= product[unit + 'step'] %>">
                    </div>
                </div>      
                <div class="col-md-2 mb-3">
                    <div class="form-group">
                        <label>Porsiyon</label>
                        <input type="text" class="form-control" name="<%=unit%>perPerson" id="<%=unit%>perPerson"
                            value="<%= product[unit + 'perPerson'] %>">
                    </div>
                </div>                                                                                                              
        </div>

        <div class="row">
            <div class="col-md-6 mb-3">
                <div class="form-group">
                    <label>Varsayılan not</label>
                    <textarea rows="5" type="text" class="form-control" name="<%=unit%>note" id="<%=unit%>note"><%= product[unit + 'note'] %></textarea>
                </div>
            </div>  
            <div class="col-md-6 mb-3">
                <div class="form-group">
                    <label>Ağırlık notu</label>
                    <textarea rows="5" type="text" class="form-control" name="<%=unit%>WeigthNote" id="<%=unit%>WeigthNote"><%= product[unit + 'WeigthNote'] %></textarea>
                </div>
            </div>  
        </div>

        <div class="row">
            <div class="col-md-6 mb-3">
                <div class="form-group">
                    <label>Kasaba not</label>
                    <textarea rows="5" type="text" class="form-control" name="<%=unit%>ButcherNote" id="<%=unit%>ButcherNote"><%= product[unit + 'ButcherNote'] %></textarea>
                </div>
            </div> 
            <div class="col-md-6 mb-3">
            <div class="form-group">
                <label>Kasap bu birime nasıl fiyat versin</label>
                <select class="form-control" name="<%=unit%>ButcherUnitSelection" id="<%=unit%>ButcherUnitSelection">
                    
                    <option <%=product[unit + 'ButcherUnitSelection'] == 'unselected' ? 'selected':''%> value="unselected">Seçili GELMESİN</option>
                    <option <%=product[unit + 'ButcherUnitSelection'] == 'selected' ? 'selected':''%> value="selected">Direkt Seçili Gelsin</option>
                    <option <%=product[unit + 'ButcherUnitSelection'] == 'forced' ? 'selected':''%> value="forced">Zorunlu olarak seçmeli</option>
                    <!-- <option <%=product[unit + 'ButcherUnitSelection'] == 'none-selected' ? 'selected':''%> value="none-selected">Kasaba gösterme ve Otomatik Seç</option>
                    <option <%=product[unit + 'ButcherUnitSelection'] == 'none-unselected' ? 'selected':''%> value="none-unselected">Kasaba gösterme ve Seçme</option> -->

                    
                 
                   
                </select>


            </div>
            <div class="form-group">
                <label>Bu birimde neleri değiştirebilsin</label>
                <select class="form-control" name="<%=unit%>ButcherUnitEdit" id="<%=unit%>ButcherUnitEdit">
                    
                    <option <%=product[unit + 'ButcherUnitEdit'] == 'none' ? 'selected':''%> value="none">Hiçbirşey</option>
                    <option <%=product[unit + 'ButcherUnitEdit'] == 'weight' ? 'selected':''%> value="weight">Sadece ağırlık</option>
                    <option <%=product[unit + 'ButcherUnitEdit'] == 'price' ? 'selected':''%> value="price">Sadece birim fiyatı</option>
                    <option <%=product[unit + 'ButcherUnitEdit'] == 'all' ? 'selected':''%> value="all">Herşey</option>

                    
                 
                   
                </select>


            </div>
            </div>
        </div>

    </div>
</div>