<!DOCTYPE html>
<html lang="tr-TR" prefix="og: http://ogp.me/ns#">

<head>
  <% include ./_partial/head %>

  <% if (area.status != 'active') {%>
    <meta name="robots" content="noindex,follow">
    <%}%>
</head>

<body>
  <% include ./_partial/header %>



  <!-- Page Content -->

  <div class="page-title bg-primary py-2" >
    <div class="container d-lg-flex justify-content-between py-2 py-lg-3">
      <div class="order-lg-2 mb-3 mb-lg-0 pt-lg-2">
        <nav aria-label="breadcrumb" class="d-none d-lg-block">
          <ol class="breadcrumb breadcrumb-light flex-lg-nowrap justify-content-center justify-content-lg-star">
            <li class="breadcrumb-item text-nowrap"><a class="text-nowrap" href="/"><i class="czi-home"></i></a></li>
            <li class="breadcrumb-item text-nowrap"><a class="text-nowrap" href="/kasaplar">Kasaplar</a></li>
            <%  if (controller.address.level2Id) { %>
            <li class="breadcrumb-item text-nowrap"><a class="text-nowrap" href="/<%=controller.address.level1Slug%>-kasap"><%=controller.address.level1Text%></a></li>
            <% } %>
            <%  if (controller.address.level3Id) { %>
              <li class="breadcrumb-item text-nowrap"><a class="text-nowrap" href="/<%=controller.address.level2Slug%>-kasap"><%=controller.address.level2Text%></a></li>
              <% } %>
          </ol>
        </nav>
      </div>
      <div class="order-lg-1 pr-lg-4 text-center text-lg-left">

        <h1 class="h3 text-light"><%= controller.address.level3Text || controller.address.level2Text || controller.address.level1Text %> Kasap</h1>
        <h2 class="h4 lead text-light">
          <% if (controller.address.level3Id) { %>
           <strong><%=controller.address.level3Text %> Kasapları</strong>, eve servis en yakın kasap olarak kategorize ettiğimiz bu semte servisi olan güvenilir kasap iş ortaklarımızdır.<br>
            <a rel="nofollow" class="btn btn-dark btn-sm mt-3" href="/adres-belirle/<%=controller.address.level3Slug%>?r=/kasap-urunleri">Bu Semtteyim</a>
          <% } else if (controller.address.level2Id) { %>
            <strong><%=controller.address.level2Text %> Kasapları</strong>, 
            bu ilçeden online et ve et ürünleri siparişi verebileceğiniz güvenilir kasap iş ortaklarımızdır.
          <% } else if (controller.address.level1Id) { %>
             <strong><%=controller.address.level1Text%> Kasapları</strong>, bu ilden et ve et ürünleri siparişi verebileceğiniz <strong>Online Kasap <%=controller.address.level1Text%></strong> olarak kategorize ettiğimiz güvenilir kasap iş ortaklarımızdır.
          <% } %>
          </h2>
      </div>


    </div>
  </div>







  <div class="container pt-3">

    <section id="butchers-section">

    


      <div class="row">
        <% var done = false; %>
        <% for(var i=0; i<butchers.length; i++) {%>

        <div class="col-md-3 col-6 mb-3 ">

          <div class="card h-100">
            <a href="<%= `/${butchers[i].slug}` %>">
              <img width="500" height="500" src="<%= `${__req.helper.imgUrl('butcher-google-photos', butchers[i].slug)}` %>"
                  class="card-img-top" alt="<%= `/${butchers[i].name}` %>">
          </a>

            <div class="card-body text-center ">
              <h5 class="card-title">
                <a href="<%= `/${butchers[i].slug}` %>" class="text-dark font-size-md">
                  <%= butchers[i].name %>
                </a>

                </h5>
              
                <div class="card-text-container font-size-md">

                  <span><%=butchers[i].locationText %></span>
  
  
                </div>
    


            
            </div>
          </div>


        </div>



        <% } %>
      </div>
    </section>
  </div>

  <% if(typeof(subs) != "undefined"){ %>
  <div class="container-fluid text-center pb-4 bg-light">
    <% for(var i=0; i<subs.length; i++) {%>
    <% if (area.level < 5) { %>
    <a href="<%= `/${subs[i].slug}-kasap` %>" class="btn btn-sm btn-light mx-2 my-2"><%= subs[i].name %></a>
<% } else { %>
  <span class="mx-2 my-2 font-size-sm"><%= subs[i].name %></span>

  <% } %>

    <% } %>
  </div>



  <% } %>






  </div>

  <% include ./_partial/footer %>
  <% include ./_partial/scripts %>

  <script>

    // $("#open-order-dialog-button").click(function () {
    //   window.Intercom('showNewMessage', "<%= area.name %> bölgesinden et siparişi verebilir miyim?")
    // })
  </script>
</body>

</html>