<!DOCTYPE html>
<html lang="tr-TR" prefix="og: http://ogp.me/ns#">

<head>
  <% include ./_partial/head %>
</head>

<body>
  <% include ./_partial/header %>

  <!-- Page Title (Light)-->
  <div class="bg-secondary pt-4 mb-3 ">
    <div class="container d-lg-flex justify-content-between py-2 py-lg-3">
      <div class="order-lg-2 mb-3 mb-lg-0 pt-lg-2">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb flex-lg-nowrap justify-content-center justify-content-lg-star">
            <li class="breadcrumb-item"><a class="text-nowrap" href="/"><i class="czi-home"></i></a></li>

            <% if(controller.req.params.category){ %>

            <li class="breadcrumb-item text-nowrap"><a href="/blog">Et Kültür Blog</a>
            </li>
            <li class="breadcrumb-item text-nowrap">
              <%= controller.allcontent.length > 0 ? controller.allcontent[0].category: "" %></li>
            <% } else { %>

            <li class="breadcrumb-item active" aria-current="page"> Blog</li>
            <% } %>

          </ol>
        </nav>
      </div>
      <div class="order-lg-1 pr-lg-4 text-center text-lg-left">
        <h1 class="h3">Et Kültür Blog</h1>
        <h2 class="lead h4">
          Kırmızı et ile ilgili kısa ve öz
          içerikler
        </h4>


      </div>
    </div>
    <div class="text-right mr-4">
      <button type="button" href="#" class="btn btn-primary get-userguide-action my-2">İyi Et
        Rehberini İndir</button>
    </div>


  </div>







  <div class="container mb-3 ">




    <div class="row justify-content-center mb-3 ">



      <section class="col-lg-9">
        <!-- Entry-->
        <% for(var i=0; i<controller.allcontent.length; i++) {%>
        <article class="blog-list pb-2 mb-2">
          <div class="left-column">
            <h2 class="h5 blog-entry-title"><a
                href="<%= `/blog/${controller.allcontent[i].slug}` %>"><%= controller.allcontent[i].title %></a>
            </h2>
            <p class="font-size-sm"><%= controller.allcontent[i].description %><a
                href='<%= `/blog/${controller.allcontent[i].slug}` %>'
                class='blog-entry-meta-link font-weight-medium'> [Devamı]</a></p>
          </div>
          <div class="right-column"><a class="blog-entry-thumb mb-3"
              href="<%= `/blog/${controller.allcontent[i].slug}` %>">
              <img src="<%= `${controller.getthumbnailurl(controller.allcontent[i])}` %>"
                alt="<%= controller.allcontent[i].title %>"></a>
            <div class="d-flex justify-content-between mb-1">
              <div class="font-size-sm text-muted pr-2 mb-2">
                <a href='#' class='blog-entry-meta-link'><%= controller.allcontent[i].category.title %></a></div>

            </div>

          </div>
        </article>
        <% } %>
      </section>

      <div class="col-lg-3">
        <h3 class="h4 text-center border-bottom">
          Kategoriler
        </h3>
        <ul class="nav justify-content-center mb-4">
          <% var categories = controller.categories %>

          <% categories.forEach(function(cat){ %>
          <li class="nav-item">
            <a class="nav-link active" href="/blog/<%= cat.categorySlug %>"><%=cat.category %></a>
          </li>
          <% }); %>


        </ul>

      </div>

    </div>
  </div>


  <div class="p-2 bg-light">

    <div
      class="bg-secondary border-bottom rounded-lg mb-2 p-2 d-flex flex-nowrap justify-content-between align-items-center">
      <a class="media align-items-center align-self-center" href="/et-yemekleri">
        <div class="media-body pl-2">
          <h3 class="h4 mb-0 mr-2">Video Kültür</h3>
          <span class="font-size-ms text-muted">Kısa ve öz izlemelikler</span>
        </div>
      </a>
      <a class="align-self-center d-md-block btn btn-sm" href="/et-yemekleri"><i
          class="czi-arrow-right font-size-xs align-middle ml-1"></i></a>
    </div>

    <div class="table-responsive" data-simplebar>
      <div class="d-flex pb-2 ">
        <% controller.resources.forEach((resource, i)=> {%>

        <div class="mr-2 ">
          <div class="item-slider item-slider-sm">

            <div class="card product-card card-static item-card">
              <a class="card-img-top d-block overflow-hidden gallery-item video-item"
                href="/<%=`${resource.product.slug}?r=${resource.id}`  %>">
                <!-- <img class="rounded" src="<%= `https://img.youtube.com/vi/${resource.contentUrl}/maxresdefault.jpg` %>" alt="<%= resource.title  %>"> -->
                <img class="roundedx" src="<%=`${__req.helper.imgUrl('product-photos', resource.product.slug)}`%>"
                  alt="<%= resource.title  %>">
              </a>
              <div class="card-body pl-0 text-center">
                <h3 class="product-title font-size-md"><a href="/<%= resource.product.slug%>"><%= resource.title  %></a>
                </h3>
              </div>
            </div>

          </div>

        </div>

        <%})%>
      </div>
    </div>
  </div>

  <!-- <div class="container">



    <div class="card-columns mx-3">
      <% for(var i=0; i<controller.allcontent.length; i++) {%>
      <div class="card mx-2">
        <img src="<%= `${controller.getthumbnailurl(controller.allcontent[i])}` %>" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title"><%= controller.allcontent[i].title %></h5>
          <div class="card-text-container">
            <p class="card-text text-muted"><%=controller.allcontent[i].description %></p>


          </div>
          <div class="text-center my-4">
            <a href="<%= `/blog/${controller.allcontent[i].categorySlug}/${controller.allcontent[i].slug}` %>"
              class="btn btn-primary">Devamı</a>

          </div>
        </div>
      </div>
      <% } %>
    </div>




  </div> -->


  <% include ./_partial/footer %>
  <% include ./_partial/scripts %>

</body>

</html>