<!DOCTYPE html>
<html lang="tr-TR" prefix="og: http://ogp.me/ns#">

<head>
  <% include ./_partial/head %>
</head>

<body>
  <% include ./_partial/header %>

  <div class="py-2">
    <div class="container d-lg-flex justify-content-between py-2 py-lg-3">
      <div class="order-lg-2 mb-3 mb-lg-0 pt-lg-2">
        <nav aria-label="breadcrumb" class="d-none d-lg-block">
          <ol class="breadcrumb flex-lg-nowrap justify-content-center justify-content-lg-star">

            <li class="breadcrumb-item"><a class="text-nowrap" href="/"><i class="czi-home"></i></a></li>





          </ol>
        </nav>
      </div>
      <div class="order-lg-1 pr-lg-4 text-center text-lg-left">
        <h1 class="h3">Blog</h1>
        <h2 class="h4 lead mb-1">Hayata ve ete dair kısa içerikler</p>
      </div>
    </div>
  </div>







  <div class="container pt-3 mb-3 ">




   



  
        <div class="row">
          <% for(var i=0; i<controller.allcontent.length; i++) {%>
            <article class="col-sm-4 blog-list pb-2 mb-2">
              <div class="card h-100">
                <a href="<%= `/blog/${controller.allcontent[i].slug}` %>">
                <img class="card-img-top" width="500" height="333" src="<%= `${controller.getthumbnailurl(controller.allcontent[i])}` %>"
                alt="<%= controller.allcontent[i].title %>"> 
                </a>
                
                <div class="card-body">
                  <a href="<%= `/blog/${controller.allcontent[i].slug}` %>">
                  <h5 class="card-title"><%= controller.allcontent[i].title %></h5>
                </a>
                  <p class="card-text"><%= controller.allcontent[i].description %> <a href="<%= `/blog/${controller.allcontent[i].slug}` %>">&raquo;</a></p>
                  

                </div>
               
              </div>


       
          
            </article>
            <% } %>
        </div>
       


        <div>
          <h3 class="h4 text-center pb-2 border-bottom">
            Kategoriler
          </h3>
          <ul class="nav justify-content-center mb-4">
            <% var categories = controller.categories %>
  
            <% categories.forEach(function(cat){ %>
            <li class="nav-item p-2">
              <a class="btn btn-secondary btn-sm" href="/blog/<%= cat.categorySlug %>"><%=cat.category %></a>
            </li>
            <% }); %>
  
  
          </ul>
  
        </div>

 
  </div>



  <% include ./_partial/footer %>
  <% include ./_partial/scripts %>

</body>

</html>