<!DOCTYPE html>
<html lang="en">

<head>
  <% include ./_partial/head %>
</head>

<body>
  <% include ./_partial/header %>

  <!-- Page Title (Light)-->
  <div class="bg-secondary py-4">
    <div class="container d-lg-flex justify-content-between py-2 py-lg-3">
      <div class="order-lg-2 mb-3 mb-lg-0 pt-lg-2">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb flex-lg-nowrap justify-content-center justify-content-lg-star">

            <li class="breadcrumb-item"><a class="text-nowrap" href="/"><i class="czi-home"></i></a></li>

            <li class="breadcrumb-item text-nowrap"><a href="/et-kulturu">Et Kültürü</a>
            </li>
            <li class="breadcrumb-item text-nowrap" aria-current="page">
              <a href="/et-kulturu/<%=controller.content.categorySlug%>"> <%= controller.content.category %></a>


            </li>
         


          </ol>
        </nav>
      </div>
      <div class="order-lg-1 pr-lg-4 text-center text-lg-left">
        <h1 class="h2"><%= controller.content.title %></h1>
        <p class="lead"><%= controller.content.description %></p>
      </div>
    </div>
  </div>



  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div id="carouselExampleSlidesOnly" class="carousel slide mb-2" data-ride="carousel">
          <div class="carousel-inner">
            <% var contentImgs = controller.getContentImages() %>
            <% for(var i=0; i<contentImgs.length; i++) {%>
            <div class="carousel-item active">
              <img src="<%= contentImgs[i].url %>" class="d-block w-100" alt="<%= controller.content.title %>">
            </div>
    
            <% } %>
          </div>
        </div>
      </div>
      <div class="col-sm-6 pt-2">
        <%- include(`./content.${controller.content.slug}.ejs`) %>
      </div>

      <div class="container mb-4">
        <!-- <div class="d-flex flex-wrap justify-content-between align-items-center pt-1 border-bottom pb-1 mb-2">
            <h2 class="h3 mb-0 mr-2">Reyonlar</h2>
            <a class="btn btn-sm btn-light" href="/lezzetler">Tümü<i class="czi-arrow-right ml-1 mr-n1"></i></a>
        </div> -->

        <div class="bg-secondary border-bottom rounded-lg mb-2 p-2 d-flex flex-nowrap justify-content-between align-items-center">
            <a class="media align-items-center align-self-center" href="/lezzetler">
            <div class="media-body pl-2">
              <h3 class="h5 mb-0 mr-2">Lezzetlerimizi Keşfedin</h3>
              <span class="font-size-ms text-muted"></span>
            </div></a>
            <a class="align-self-center d-md-block btn btn-sm" href="/lezzetler"><i
                class="czi-arrow-right font-size-xs align-middle ml-1"></i></a>                        
        </div>


        <div class="table-responsive" data-simplebar>
            <div class="d-flex pb-2">
                    <% var viewCats = ['reyon', 'list'] %>
                    <% viewCats.forEach(cat => { %>
                    <% var reyonlar = (__categories.filter(p=>p.type.includes(cat))) %>
                    <% for(var c=0; c< reyonlar.length; c++) {%>
                    <div class="mr-2">

                        <div class="item-slider item-slider-sm">
                            
                            <div class="card product-card card-static item-card">
                                <a class="" href="<%= `/${reyonlar[c].slug}`%>"><img class="rounded shadow-lg"
                                    src="<%=`/${reyonlar[c].slug}/resimler/thumbnail` %>" alt=""></a>

                                <div class="card-body pb-0 mb-0 pl-0 text-center">
                                    <h3 class="product-title pb-0 mb-0 font-size-md"><a href="<%= `/${reyonlar[c].slug}`%>"><%= reyonlar[c].name %></a>
                                    </h3>
                                </div>
                              </div>

                        </div>

                 

                    </div>  
                    <%}%>
                    <%})%>                  
            </div>
    </div>
</div>


    </div>



   

  </div>



  <% include ./_partial/footer %>
  <% include ./_partial/scripts %>

</body>

</html>