<!DOCTYPE html>
<html lang="tr-TR" prefix="og: http://ogp.me/ns#">

<head>
  <% include ./_partial/head %>
</head>

<body>
  <% include ./_partial/header %>

  <!-- Page Title (Light)-->
  <div class="bg-secondary pt-4 mb-3 ">
    <div class="container d-lg-flex justify-content-between py-2 py-lg-3">
      <div class="order-lg-2 mb-3 mb-lg-0 pt-lg-2">
        <nav aria-label="breadcrumb" class="d-none d-lg-block">
          <ol class="breadcrumb flex-lg-nowrap justify-content-center justify-content-lg-star">
            <li class="breadcrumb-item"><a class="text-nowrap" href="/"><i class="czi-home"></i></a></li>

            <% if(controller.req.params.category){ %>

            <li class="breadcrumb-item text-nowrap"><a href="/blog">Et Kültür Blog</a>
            </li>
            <li class="breadcrumb-item text-nowrap">
              <%= controller.allcontent.length > 0 ? controller.allcontent[0].category: "" %></li>
            <% } else { %>

            <li class="breadcrumb-item active" aria-current="page"> Blog</li>
            <% } %>

          </ol>
        </nav>
      </div>
      <div class="order-lg-1 pr-lg-4 text-center text-lg-left">
        <h1 class="h3">Et Kültür Blog</h1>
        <h2 class="lead h4">
          Kırmızı et ile ilgili kısa ve öz
          içerikler
        </h2>


      </div>
    </div>
    <div class="text-right mr-4">
      <button type="button" href="#" class="btn btn-primary get-userguide-action my-2">İyi Et
        Rehberini İndir</button>
    </div>


  </div>







  <div class="container mb-3 ">




    <div class="row justify-content-center mb-3 ">



      <section class="col-lg-9">
        <div class="row">
          <% for(var i=0; i<controller.allcontent.length; i++) {%>
            <article class="col-sm-6 blog-list pb-2 mb-2">
              <div class="left-column">
                <h2 class="h5 blog-entry-title"><a
                    href="<%= `/blog/${controller.allcontent[i].slug}` %>"><%= controller.allcontent[i].title %></a>
                </h2>
                <p class="font-size-sm"><%= controller.allcontent[i].description %><a
                    href='<%= `/blog/${controller.allcontent[i].slug}` %>'
                    class='blog-entry-meta-link font-weight-medium'> [Devamı]</a></p>
              </div>
              <div class="right-column"><a class="blog-entry-thumb d-block mb-3"
                  href="<%= `/blog/${controller.allcontent[i].slug}` %>">
                  
                  <img width="500" height="333" src="<%= `${controller.getthumbnailurl(controller.allcontent[i])}` %>"
                    alt="<%= controller.allcontent[i].title %>"></a>
                <div class="d-flex justify-content-between mb-1">
                  <div class="font-size-sm text-muted pr-2 mb-2">
                    <a href='#' class='blog-entry-meta-link'><%= controller.allcontent[i].category.title %></a></div>
    
                </div>
    
              </div>
            </article>
            <% } %>
        </div>
       

      </section>

      <div class="col-lg-3">
        <h3 class="h4 text-center border-bottom">
          Kategoriler
        </h3>
        <ul class="nav justify-content-center mb-4">
          <% var categories = controller.categories %>

          <% categories.forEach(function(cat){ %>
          <li class="nav-item">
            <a class="nav-link active" href="/blog/<%= cat.categorySlug %>"><%=cat.category %></a>
          </li>
          <% }); %>


        </ul>

      </div>

    </div>
  </div>



  <% include ./_partial/footer %>
  <% include ./_partial/scripts %>

</body>

</html>