<!DOCTYPE html>
<html lang="tr-TR" prefix="og: http://ogp.me/ns#">

<head>
  <% include ./_partial/head %>
</head>

<body>
  <% include ./_partial/header %>

  <div class="py-2">
    <div class="container d-lg-flex justify-content-between py-2 py-lg-3">
      <div class="order-lg-2 mb-3 mb-lg-0 pt-lg-2">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb flex-lg-nowrap justify-content-center justify-content-lg-star">

            <li class="breadcrumb-item"><a class="text-nowrap" href="/"><i class="czi-home"></i></a></li>

            <li class="breadcrumb-item text-nowrap"><a href="/blog">Blog</a>
            </li>
            <li class="breadcrumb-item text-nowrap" aria-current="page">
              <a href="/blog/<%=controller.content.categorySlug%>"> <%= controller.content.category %></a>


            </li>



          </ol>
        </nav>
      </div>
      <div class="order-lg-1 pr-lg-4 text-center text-lg-left">
        <h1 class="h3"><%= controller.content.title %></h1>
        <h2 class="h4 lead mb-1"><%= controller.content.description %></p>
      </div>
    </div>
  </div>



  <div class="container">
    <div class="row">
      <div class="col-sm-5">


        <% var contentImgs = controller.getContentImages() %>
        <% for(var i=0; i<contentImgs.length; i++) {%>
      
          <img width="1500" height="1000" src="<%= contentImgs[i].url %>" class="d-block" alt="<%= controller.content.title %>">
      

        <% } %>


      </div>
      <div class="col-sm-7 pt-3 user-content">
        <%- include(`./content.${controller.content.slug}.ejs`) %>
      </div>




    </div>


    <div class="mb-3">

      <%- include('./_partial/category-slider', { viewCats: ['reyon', 'list'], title: 'Ürünlerimiz', allUrl: '/kasap-urunleri' }); %>

    </div>


  </div>



  <% include ./_partial/footer %>
  <% include ./_partial/scripts %>

</body>

</html>