<!DOCTYPE html>
<html lang="tr-TR" prefix="og: http://ogp.me/ns#">

<head>
  <% include ./_partial/head %>
</head>

<body>
  <% include ./_partial/header %>








  <div class="container pt-3 mb-3 ">




    <div class="row justify-content-center mb-3 ">



      <section class="col-lg-9">
        <div class="row">
          <% for(var i=0; i<controller.allcontent.length; i++) {%>
            <article class="col-sm-6 blog-list pb-2 mb-2">
              <div class="card h-100">
                <a href="<%= `/blog/${controller.allcontent[i].slug}` %>">
                <img class="card-img-top" width="500" height="333" src="<%= `${controller.getthumbnailurl(controller.allcontent[i])}` %>"
                alt="<%= controller.allcontent[i].title %>"> 
                </a>
                
                <div class="card-body">
                  <a href="<%= `/blog/${controller.allcontent[i].slug}` %>">
                  <h5 class="card-title"><%= controller.allcontent[i].title %></h5>
                </a>
                  <p class="card-text"><%= controller.allcontent[i].description %> <a href="<%= `/blog/${controller.allcontent[i].slug}` %>">&raquo;</a></p>
                  

                </div>
               
              </div>


       
          
            </article>
            <% } %>
        </div>
       

      </section>

      <div class="col-lg-3">
        <h3 class="h4 text-center pb-2 border-bottom">
          Kategoriler
        </h3>
        <ul class="nav justify-content-center mb-4">
          <% var categories = controller.categories %>

          <% categories.forEach(function(cat){ %>
          <li class="nav-item p-2">
            <a class="btn btn-secondary btn-sm" href="/blog/<%= cat.categorySlug %>"><%=cat.category %></a>
          </li>
          <% }); %>


        </ul>

      </div>

    </div>
  </div>



  <% include ./_partial/footer %>
  <% include ./_partial/scripts %>

</body>

</html>