<!DOCTYPE html>
<html lang="tr-TR" prefix="og: http://ogp.me/ns#">

<head>
  <% include ./_partial/head %>
  <% if (!butcher.approved) {%>
  <meta name="robots" content="noindex,follow">
  <%}%>
  <% if (__req.params.category) { %>
    <link href="https://www.kasaptanal.com/<%=butcher.slug%>/<%=controller.category.slug%>" rel="canonical">
  <% } else { %>
    <link href="https://www.kasaptanal.com/<%=butcher.slug%>" rel="canonical">
  <% } %>
</head>

<body>
  <% include ./_partial/header %>
  <% if(butcher.videoInstagramStr){ %>
  <div class="modal" id="videomodal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content" style="border-radius:0px">
        <div class="modal-header">
          <h5 class="modal-title"><%=butcher.name%></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body p-0">
          <% if(butcher.videoInstagramStr){ %>
          <%- butcher.videoInstagramStr %>
          <% } else { %>
          <img class="img-fluid " src="<%= `${__req.helper.imgUrl('butcher-google-photos', butcher.slug)}` %>" />

          <% } %>

        </div>
      </div>
    </div>
  </div>
  <%}%>

  <% 
  
  var bgCover = images.find(br=>br.tag1 == 'cover'); 
  var profile = images.find(br=>br.tag1 == 'profile'); 
  var imageList = images.filter(br=>br.tag1 != 'cover' && br.list == true);
  var puanData = butcher.getPuanData();

 
 %>


  <div class="text-center bg-primary">




    <% if (__req.user && __req.user.hasRole('admin')) {%>
    <a target="_blank" class=" btn btn-dark btn-sm" href="/pages/admin/butcher/<%=butcher.slug%>">Düzenle</a>
    <%}%>

    <% if (__req.user && (__req.user.hasRole('admin') || __req.user.hasRole('butcher'))) {%>
    <a target="_blank" class=" btn btn-dark btn-sm" href="/kasapsayfam">Kasap Sayfam</a>
    <%}%>

  </div>


  <div class="bg-primary mb-3">

    <% if (bgCover) { %>
    <div class="bg-cover" style="background-image: url('<%=bgCover.fileUrl%>');">

    </div>
    <% } %>



    <div class="container pt-2" 
       <% if (bgCover) { %> 
        
          style="position: relative; top: -4rem;" <% 
        
      } %>>

      <div class="text-center pb-3">
        <a class="d-block" href="javascript: window.App.openDefaultSlider()">
          <img width="500" height="500" class="img-thumbnail rounded-circle mx-auto mb-3 d-block" style="width: 12rem;"
          src="<%= `${__req.helper.imgUrl('butcher-google-photos', butcher.slug)}` %>" alt="<%=butcher.name%>">

        </a>


        <% var butcherVideo = images.find(br=>br.type == 'butcher-videos') %>

        <% if (butcherVideo) { %>

        <button onclick="javascript:window.App.openSlider(<%=butcherVideo.id%>)" type="button"
          class="btn btn-sm btn-dark mb-3"><i class="czi-video mr-2"> </i>Yakından Tanıyın</button>

        <% } else if(butcher.videoInstagramStr) { %>
        <button onclick="$('#videomodal').modal().show()" type="button" class="btn btn-sm btn-dark mb-3"><i
            class="czi-video mr-2"> </i>Yakından Tanıyın</button>
        <% } %>

        <div>
          <h1 class="h2 text-light"><%=butcher.name%></h1>
          <h2 class="h5 text-light  opacity-60">
            <%= butcher.areaLevel3.name %>/<%= butcher.areaLevel1.name %>
          </h2>
          <% if (butcher.getBadgeList().length > 0 ) { %>
          <div class="butcher-badges">


            <% butcher.getBadgeList().forEach(b=> {  %>
            <span class="badge badge-secondary font-size-xs" data-toggle="tooltip" data-original-title="<%=b.tip%>"
              title="">
              <i class="<%=b.icon %> mr-1"></i>
              <%=b.name%>
            </span>
            <% }) %>
          </div>
          <% } %>


        </div>
      </div>


      <div class="row w-50 mx-auto">
        <div class="col-sm-6">
          <div class="font-size-sm text-light mb-2">Ürün Memnuniyeti</div>
          <div class="progress mb-3">
            <div class="progress-bar font-weight-medium bg-dark" role="progressbar"
              style="width: <%=butcher.userRatingAsPerc %>%" aria-valuenow="<%=butcher.userRatingAsPerc %>"
              aria-valuemin="0" aria-valuemax="100">
              <%=butcher.userRatingAsPerc %>%
            </div>
          </div>
        </div>


        <div class="col-sm-6">
          <div class="font-size-sm text-light mb-2">Teslimat Başarısı</div>

          <div class="progress mb-3">
            <div class="progress-bar font-weight-medium bg-dark" role="progressbar"
              style="width: <%=butcher.shipRatingAsPerc %>%" aria-valuenow="<%=butcher.shipRatingAsPerc %>"
              aria-valuemin="0" aria-valuemax="100">
              <%=butcher.shipRatingAsPerc %>%
            </div>
          </div>
        </div>

      </div>


    </div>










    <div class="cz-gallery slider" data-simplebar>
      <div class="ml-2 d-flex ">
        <% for(var i=0; i<imageList.length; i++) {%>
        <% var img = imageList[i] %>
        <div class="mr-2 mb-2">
          <div class="item-slider item-slider-sm">

            <div class="card product-card pb-0  ">
              <a data-gtrack="1" data-restype="<%=img.type%>" data-resref="<%= butcher.slug %>"
                data-restitle="<%= img.title || butcher.name %>" data-resid="<%=img.id%>"
                class="gallery-item <%= img.contentType == 'video-youtube' ? 'video-item':''%>"
                href="<%= `${img.fileUrl}`  %>"
                data-sub-html="&lt;h6 class=&quot;font-size-sm text-light&quot;&gt;<%= img.title %>&lt;/h6&gt;"><img
                  width="500" height="500" src="<%= `${img.thumbnailFileUrl}` %>" /><span
                  class="gallery-item-caption"><%= img.title %></span></a>
            </div>


          </div>

        </div>

        <% } %>
      </div>
    </div>





  </div>

  <div class="container-fluid">
    <div class="mb-3">
      <div class="row">

        <div class="col-md-4">
          <div class="h-100 font-size-ms text-muted">




            <div class="accordion" id="payment-method" role="tablist">

              <% if (puanData) { %>

              <div class="card">
                <div class="card-header" role="tab">
                  <h3 class="accordion-heading"><a href="#kasapkart" data-toggle="collapse"><i
                        class="font-size-lg mr-2 mt-n1 align-middle"></i>Kasap Kart&trade;<span
                        class="accordion-indicator"><i data-feather="chevron-up"></i></span></a></h3>
                </div>
                <div class="collapse" id="kasapkart" data-parent="#payment-method" role="tabpanel">
                  <div class="card-body ">
                    <%- include('./_partial/puan-data-view.ejs', {puan: puanData}) %>
                  </div>
                </div>

              </div>

              <% } %>

              <%if (controller.reviews.length > 0 ) { %>
              <div class="card">
                <div class="card-header" role="tab">
                  <h3 class="accordion-heading"><a href="#revires" data-toggle="collapse"><i
                        class="font-size-lg mr-2 mt-n1 align-middle"></i><%='Yorumlar'%><span
                        class="accordion-indicator"><i data-feather="chevron-up"></i></span></a></h3>
                </div>
                <div class="collapse" id="revires" data-parent="#payment-method" role="tabpanel">
                  <div class="card-body ">


                    <% controller.reviews.forEach(r => {  %>
                    <div class="product-review pb-4 mb-4 border-bottom">
                      <div class="media media-ie-fix align-items-center mr-4 pr-2">
                        <div class="avatar">
                          <img src="<%=__config.staticDomain %>/resource/img/avatar.jpg" alt="<%=r.displayUser%>">

                        </div>

                        <%
                              
                                const dateops = { year: 'numeric', month: 'long'};
              
                              %>

                        <div class="media-body pl-3">
                          <h6 class="font-size-sm mb-0"><%=r.displayUser%></h6>
                          <span class="font-size-ms text-muted"></span>
                        </div>
                      </div>
                      <div class="d-flex mb-3">

                        <div>
                          <%- include('./_partial/star-rating.ejs', {val: r.userRating1 }) %>

                          <div class="font-size-ms text-muted">
                            <%=r.itemDate.toLocaleDateString('tr-TR', dateops)%>
                          </div>
                        </div>
                      </div>
                      <p class="font-size-md mb-2">
                        <%= r.content %>
                      </p>
                    </div>
                    <% }) %>







                  </div>
                </div>
              </div>
              <% } %>



              <div class="card">
                <div class="card-header" role="tab">
                  <h3 class="accordion-heading"><a href="#dispatchArea" data-toggle="collapse"><i
                        class="font-size-lg mr-2 mt-n1 align-middle"></i><%='Hizmet Bölgeleri'%><span
                        class="accordion-indicator"><i data-feather="chevron-up"></i></span></a></h3>
                </div>
                <div class="collapse " id="dispatchArea" data-parent="#payment-method" role="tabpanel">
                  <div class="card-body ">



                    <ul class="list-unstyled font-size-sm">

                      <% controller.dispatchers.forEach((d,i) => { %>
                      <li>
                        <div>
                          <span class="d-block font-weight-medium"><%=d.address.display%></span>
                          <% if (d.takeOnly) { %>
                          <span>Sadece Gel-Al</span>
                          <% } else { %>

                          <% if (d.min > 0) { %>
                          <span>En az sipariş tutarı <%- include('./_partial/currency.ejs', {value: d.min}) %>, </span>
                          <% } if (d.fee == 0.00) { %>
                          <span>Ücretsiz Gönderim</span>
                          <%} else if (d.fee > 0.00 && d.totalForFree == 0.00) { %>
                          <span><%- include('./_partial/currency.ejs', {value: d.fee}) %> gönderim ücreti</span>
                          <%} else if (d.fee > 0.00) { %>
                          <span><%- include('./_partial/currency.ejs', {value: d.totalForFree}) %> ve üzeri ücretsiz
                            gönderim,
                            altı siparişlerde <%- include('./_partial/currency.ejs', {value: d.fee}) %> gönderim
                            ücreti.</span>
                          <%}%>
                              
                            <% } %>


                        </div>



                      </li>

                      <% }) %>

                    </ul>






                  </div>
                </div>
              </div>

              <div class="card">
                <div class="card-header" role="tab">
                  <h3 class="accordion-heading"><a href="#card" data-toggle="collapse"><i
                        class="font-size-lg mr-2 mt-n1 align-middle"></i><%='Hakkında'%><span
                        class="accordion-indicator"><i data-feather="chevron-up"></i></span></a></h3>
                </div>
                <div class="collapse " id="card" data-parent="#payment-method" role="tabpanel">
                  <div class="card-body ">




                    <% if(butcher.description){ %>
                    <p><%- controller.markdown.render(butcher.description) %></p>

                    <% } else { %>
                    <p>
                      <%= butcher.name %>, uzun yıllardır en kaliteli et ve et ürünlerini müşterilerine sunmayı ilke
                      edinmiştir.
                    </p>
                    <p>
                      <%= butcher.areaLevel1.name %> ilinde hizmetlerine devam eden <%= butcher.name %>,
                      müşteri memnuniyetini en ön planda tutmakta, sağlıklı et ve et ürünleri sağlamaya devam
                      etmektedir.
                    </p>

                    <%  } %>

                    <hr class="my-4">
                    <h6>İletişim</h6>
                    <p><%= butcher.address %>, <%= butcher.areaLevel2.name %>/<%= butcher.areaLevel1.name %></p>

                    <% if (!butcher.approved) { %>
                    <ul class="list-unstyled font-size-sm">
                      <% if(false){ %>

                      <li><a class="nav-link-style d-flex align-items-center font-size-xs"
                          href="mailto:<%= butcher.email %>"><i
                            class="czi-mail opacity-60 mr-2"></i><%= butcher.email %></a></li>
                      <% } %>

                      <% if(false) { %>

                      <li><a target="_blank" class="font-size-xs nav-link-style d-flex align-items-center"
                          href="<%= butcher.website %>"><i
                            class="czi-globe opacity-60 mr-2"></i><%= butcher.website %></a></li>


                      <% } %>

                      <% if(false) { %>

                      <li><a target="_blank" class="font-size-xs nav-link-style d-flex align-items-center"
                          href="tel: <%= butcher.phone %>"><i
                            class="czi-phone opacity-60 mr-2"></i><%= butcher.phone %></a>
                      </li>


                      <% } %>


                    </ul>
                    <% } %>




                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>


        <div id="items" class="col-md-8 ">
          <div id="cat-slider" class="py-2 slider">
            <%- include('./_partial/category-slider', { subUrl: butcher.slug + '/', selected: controller.category.slug, mode:'browse', header: false, titles: false, viewCats: ['reyon', 'list'], title: 'Tüm Ürünlerimiz', allUrl: '/kasap-urunleri' }); %>
          </div>

          <div>

            <div class="mb-3" data-simplebar>
              <div class="d-flex pb-2">
                <% controller.subCategories.forEach((sc, i) => { %>
                <% if (sc.products.length > 0) { %>
                <div class="tag-toggle mr-3" data-stag="<%=__helper.slugify(sc.title)%>">
                  <a onclick="goSubitem('<%=__helper.slugify(sc.title)%>')"
                    class="text-uppercase <%= controller.subCategories.length == 1 ? 'text-dark':  'text-info' %> font-size-sm text-center text-nowrap">
                    <%=sc.title%>
                  </a>
                </div>
                <% } %>
                <% }) %>
              </div>

            </div>


            <% controller.subCategories.forEach((sc, i) => { %>
              <%if (sc.visible && sc.products.length > 0) { %>
              <div data-tag="" id="<%= __helper.slugify(sc.title) %>" class="mb-3 border-bottom">
                <h4 class="h6 mb-2 text-capitalize"><%= sc.title %></h4>
                <span class="font-weight-light">
                  <%-controller.markdown.render(sc.description || '')%>
                </span>
              </div>
              <%}%>
            <div class="row">
            <% sc.products.forEach((product,i) => { %>
              <div data-tag="<%= __helper.slugify(product.tag1) %>" class="col-md-3 col-6 ">
                <%- include('./_partial/product-view.ejs', { showPurchase: true, butcher: butcher.slug, butcherProduct: butcher.products.find(p=>p.productid == product.id), product: product}) %>
              </div>
              <% if (controller.foods && controller.foods.length > 0 && !foodsInserted && i>controller.products.length/5) { %>
              <% foodsInserted = true; %>
              <div data-tag="" class="col-md-3 col-6">
                <%- include('./_partial/generic-item-view.ejs', { imgClass: 'rounded-lg', title: foodCategoryParams.title, href: `${foodCategoryParams.allUrl}`, src: `${ __req.helper.imgUrl('category-photos', controller.category.slug, 'thumbnail', true, 'list')}` }) %>
              </div>
              <%}%>
            <%  }) %>
            </div>
        
            <% }) %>
     

      </div>

    </div>


    </div>
  </div>

  </div>








  <% include ./_partial/footer %>
  <% include ./_partial/scripts %>





  <%- include('./_partial/purchase', { url: butcher.slug + '/', butcher: butcher  }); %>








</body>

</html>