<!DOCTYPE html>
<html lang="tr-TR" prefix="og: http://ogp.me/ns#">

<head>
  <% include ./_partial/head %>
</head>

<body>
  <% include ./_partial/header %>

  <div class="page-title">
    <div class="container d-lg-flex justify-content-between py-2 py-lg-3">
      <div class="order-lg-2 mb-3 mb-lg-0 pt-lg-2">
        <nav aria-label="breadcrumb" class="d-none d-lg-block">
          <ol class="breadcrumb breadcrumb-dark flex-lg-nowrap justify-content-center justify-content-lg-star">
            <li class="breadcrumb-item"><a class="text-nowrap" href="/kasapsayfam"><i class="czi-home"></i></a></li>
            <li class="breadcrumb-item text-nowrap active" aria-current="page"><%= controller.butcher ? controller.butcher.name: "Kasap" %></li>
          </ol>
        </nav>
      </div>
      <div class="media-body pt-2">


        <h1 class="h3"><%= controller.butcher ? controller.butcher.name + ' Sayfam': "Kasap Sayfam" %></h1>
        <h2 class=" h4 lead">Kasap dostu KasaptanAl.com hayırlı işler, bol kazançlar diler.</h2>         
      </div>
    </div>
  </div>



  <div class="container mb-3">
    <div>
      <% if (controller.butcher) { %>
      <ul class="list-group">
        <% if (__req.user.hasRole('admin')) { %>
        <li class="list-group-item">
          <a class="app_blank" href="/kasapsayfam/urunler">Yönetici Ürün Yönetimi</a>
        </li>
        <% }%>
        <% if (controller.needsAgreementSign) { %>
       
<li class="list-group-item">
  <form action="/kasapsayfam/acceptAgreement" method="POST">
    <p> Lütfen
      <a href="javascript:App.agreementDialog('butcherkvkk?butcherid=<%=controller.butcher.id%>')">aydınlatma metni</a>, <a href="javascript:App.agreementDialog('butchersales?butcherid=<%=controller.butcher.id%>')">satış sözleşmesi</a> ve <a href="javascript:App.agreementDialog('butcherriza?butcherid=<%=controller.butcher.id%>')">rıza metni</a> belgelerini onaylayın.
      </p>
      <button type="submit" class="btn btn-success" value="acceptAgreements">Onayla</button>
  </form>


</li>
        <% } %>
        <li class="list-group-item">
          <a class="app_blank" href="/">Ürün Fiyatlarım</a>
          <small>Ürün düzenlemelerinden ötürü 3 Mayıs tarihinde açılacaktır.</small>
        </li>
        <li  class="list-group-item">
          <a class="app_blank" href="/kasapsayfam/siparislerim">Siparişlerim</a>
        </li>        
        <li class="bg-secondary list-group-item">
          <a class="app_blank d-block" href="/kasapsayfam/odemeal"><i class="czi-icon czi-card mr-1"></i> Online Ödeme Al</a>
          <small><strong>POS cihazı taşımayın. Kendi siparişlerinizden </strong> sadece %<%=controller.butcher.payCommissionRate*100%> pos komisyonu ile online ödeme alın, <strong>EFT, kapıya POS cihazı taşımakla </strong> uğraşmayın. Bilgi almak için <a target="_blank" href="https://www.youtube.com/watch?v=mKlBHYADTqg">tıklayın.</a></small>
        </li>
      </ul>
<%}%>

    <% if (__req.user.hasRole('admin')) { %>
    <div>
<form method="POST" action="/kasapsayfam/setbutcher">
  <table class="table table-hover">
    <thead>
        <tr>
            <th>Adı</th>
            <th>Onaylı</th>
            <th></th>
        </tr>
    </thead>
    <tbody>

<% controller.adminButchers.forEach(b=>{  %>

  <tr>
    <td><a href="<%= `/pages/admin/butcher/${b.slug}` %>"><%= b.name %> </a>
    </td>
    <td><%= b.approved %></td>
    <td>
      <a class="btn btn-sm btn-dark mr-1 " target="_blank" href="/fiyat-al/<%=b.slug%>">Ürünler</a>
      <button class="btn btn-sm btn-primary" name="butcherid" type="submit" value="<%=b.id%>">Set</button>

    </td>
</tr> 


<%})%>
</tbody>
</table>

</form>
    </div>
    <% } %>

    </div>
  </div>



  <% include ./_partial/footer %>
  <% include ./_partial/scripts %>

</body>

</html>