<!DOCTYPE html>
<html lang="tr-TR" prefix="og: http://ogp.me/ns#">

<head>
  <% include ./_partial/head %>
</head>

<body>
  <% include ./_partial/header %>

  <div class="page-title">
    <div class="container d-lg-flex justify-content-between py-2 py-lg-3">
      <div class="order-lg-2 mb-3 mb-lg-0 pt-lg-2">
        <nav aria-label="breadcrumb" class="d-none d-lg-block">
          <ol class="breadcrumb breadcrumb-dark flex-lg-nowrap justify-content-center justify-content-lg-star">
            <li class="breadcrumb-item"><a class="text-nowrap" href="/kasapsayfam"><i class="czi-home"></i></a></li>
            <li class="breadcrumb-item text-nowrap active" aria-current="page"><%= controller.butcher ? controller.butcher.name: "Kasap" %></li>
          </ol>
        </nav>
      </div>
      <div class="media-body pt-2">


        <h1 class="h3"><%= controller.butcher ? controller.butcher.name + ' Sayfam': "Kasap Sayfam" %></h1>
        <h2 class=" h4 lead">Kasap dostu KasaptanAl.com hayırlı işler, bol kazançlar diler.</h2>         
      </div>
    </div>
  </div>



  <div class="container mb-3">
    <div>
      <% if (controller.butcher) { %>
      <ul class="list-group">
        <% if (__req.user.hasRole('admin')) { %>
        <li class="list-group-item">
          <a class="app_blank" href="/kasapsayfam/urunler">Yönetici Ürün Yönetimi</a>
        </li>
        <% }%>
        <% if (controller.needsAgreementSign) { %>
       
<li class="list-group-item">
  <form action="/kasapsayfam/acceptAgreement" method="POST">
    <p> Lütfen
      <a href="javascript:App.agreementDialog('butcherkvkk?butcherid=<%=controller.butcher.id%>')">aydınlatma metni</a>, <a href="javascript:App.agreementDialog('butchersales?butcherid=<%=controller.butcher.id%>')">satış sözleşmesi</a> ve <a href="javascript:App.agreementDialog('butcherriza?butcherid=<%=controller.butcher.id%>')">rıza metni</a> belgelerini onaylayın.
      </p>
      <button type="submit" class="btn btn-success" value="acceptAgreements">Onayla</button>
  </form>


</li>
        <% } %>

      </ul>
<%}%>

<% if (controller.weights) { %>
<div class="alert alert-secondary">
  <h5 class="h5">Bilgilendirme</h5>
  <p>KasaptanAl ürün sayfasında kasap sıralamasını nasıl yapıyor? </p>
  <p>Ürün fiyatınız <strong>%<%=-controller.weights['productPrice']*100%></strong>, müşteriye yakınlığınız <strong>%<%=-controller.weights['distance']*100 %></strong>, Kasap Kart puanınız <strong>%<%=controller.weights['kasapkart']*100 %></strong>, ürün ve teslimat başarınızın ortalaması <strong>%<%=controller.weights['rating']*100%></strong>, başarılı teslim edilen her sipariş <strong>%<%=controller.weights['shipTotal']*100%></strong> olarak etki ediyor. </p>
  <p>Kasaplar başarı puanına göre sıralanarak gösteriliyor.</p>
  
</div>
<% } %>

<div class="row mb-3">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Ürün Fiyatlarım</h5>
        <p class="card-text">Ürün fiyatlarınızı belirleyin, kendi ağırlıklarınızı tanımlayın. Kampanya yaparak satışlarınızı artırın.</p>
        <a href="/kasapsayfam/urunlerim" class="btn btn-primary">Ürünlerim</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Siparişlerim</h5>
        <p class="card-text">Siparişlerinizi listelerin, ciro artışınızı anlık takip edin. Teslim ettiğiniz siparişlerinizi işaretleyin.</p>
        <a href="/kasapsayfam/siparislerim" class="btn btn-primary">Siparişlerim</a>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="card h-100">
      <div class="card-body">
        <h5 class="card-title">Online Ödeme Alın</h5>
          <strong>Kendi siparişlerinizden </strong> sadece %<%=controller.butcher ? controller.butcher.payCommissionRate*100:'XXX'%> pos komisyonu ile online ödeme alın, <strong>EFT, kapıya POS cihazı taşımakla </strong> uğraşmayın. Bilgi almak için <a target="_blank" href="https://www.youtube.com/watch?v=mKlBHYADTqg">tıklayın.</a>
          <p class="card-text"></p>
        <a href="/kasapsayfam/odemeal" class="btn btn-primary">Online Ödeme Alın</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card h-100">
      <div class="card-body">
        <h5 class="card-title">Temel Ayarlar</h5>
          <strong>%<%=controller.butcher.customerPuanRate * 100%></strong> olan Kasap Kart puanınızı değiştirin, kasabınızla ilgili temel ayarları yönetin.
          <p class="card-text"></p>
        <a href="/kasapsayfam/settings" class="btn btn-primary">Temel Ayarlar</a>
      </div>
    </div>
  </div>
</div>



    <% if (__req.user.hasRole('admin')) { %>
    <div>
<form method="POST" action="/kasapsayfam/setbutcher">
  <table class="table table-hover">
    <thead>
        <tr>
            <th>Adı</th>
            <th>Onaylı</th>
            <th></th>
        </tr>
    </thead>
    <tbody>

<% controller.adminButchers.forEach(b=>{  %>

  <tr>
    <td><a href="<%= `/pages/admin/butcher/${b.slug}` %>"><%= b.name %> </a>
    </td>
    <td><%= b.approved %></td>
    <td>
      <a class="btn btn-sm btn-dark mr-1 " target="_blank" href="/fiyat-al/<%=b.slug%>">Ürünler</a>
      <button class="btn btn-sm btn-primary" name="butcherid" type="submit" value="<%=b.id%>">Set</button>

    </td>
</tr> 


<%})%>
</tbody>
</table>

</form>
    </div>
    <% } %>

    </div>
  </div>



  <% include ./_partial/footer %>
  <% include ./_partial/scripts %>

</body>

</html>