<!DOCTYPE html>
<html lang="en">

<head>
  <% include ./_partial/head %>


</head>

<body>
  <% include ./_partial/header %>

  <% if(butcher.videoInstagramStr){ %>

  <div class="modal" id="videomodal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content" style="border-radius:0px">
        <div class="modal-header">
          <h5 class="modal-title"><%=butcher.name%></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body p-0">
          <% if(butcher.videoInstagramStr){ %>
          <%- butcher.videoInstagramStr %>
          <% } else { %>
          <img class="img-fluid " src="<%= `/${butcher.slug}/fotograf/thumbnail`  %>" />

          <% } %>
        </div>
      </div>
    </div>
  </div>


  <%}%>
  <div class="modal fade" id="orderModal" tabindex="-1" role="dialog" aria-labelledby="orderModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <form id="order-form" onsubmit="return false">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="orderModalLabel">Sipariş</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <!-- <h4 class="text-info text-center">İletişime geçin</h3> -->
            <% if(butcher.phone){ %>
  <div class="text-center bm-4"><a class="btn btn-success btn-lg" href="tel: <%= butcher.phone %>"
      class="text-center">Kasabı Ara</a></div>
  <% } %>


  <hr>
  <div class="user-location-and-email">
    <h3 class="text-center">Semtinizi seçin</h3>
    <p class="text-center lead">Gurme etlerden haberdar edelim.</p>

    <% include ./_partial/userlocation %>
    <input class="form-control" type="email" id="user-email" required placeholder="e-posta adresin" />

  </div>


  </div>
  <div class="modal-footer">
    <button id="order-close-modal" type="submit" class="btn btn-primary">OK</button>
  </div>


  </div>
  </form>
  </div>
  </div>

  <% var vitrinProducts = controller.vitrinProducts %>



  <div class="bg-primary pt-4">
    <div class="text-center container ">
      <h1 class="display-5 text-light"><%= butcher.name %></h1>
      <p class="lead text-light"><%= butcher.areaLevel2.name %>/<%= butcher.areaLevel1.name %></p>
      <% if(butcher.videoInstagramStr) { %>
      <button onclick="$('#videomodal').modal().show()" type="button" class="btn btn btn-dark mb-4"><i
          class="czi-video mr-2"> </i>Yakından Tanıyın</button>
      <% } %>
    </div>
    <div class="cz-carousel cz-gallery ">
      <div class="cz-carousel-inner"
        data-carousel-options='{"nav": false, "items": 5, "gutter": 15, "autoplay": true, "responsive": {"0":{"items":1.1},"500":{"items":2.2, "gutter": 18},"768":{"items":4.4, "gutter": 20}, "1100":{"gutter": 24}}}''>
        <% for(var i=0; i<images.length; i++) {%>
        <div>
            <a class="gallery-item rounded-lg mb-grid-gutter" href="<%= `/${butcher.slug}/fotograf/${images[i].contentUrl}`  %>" data-sub-html="&lt;h6 class=&quot;font-size-sm text-light&quot;&gt;<%= butcher.name %>&lt;/h6&gt;"><img class="img-fluid" src="<%= `/${butcher.slug}/fotograf/${images[i].contentUrl}?thumbnail=1`  %>" /><span class="gallery-item-caption"><%= butcher.name %></span></a>
          
        </div>
        <% } %>

      </div>
    </div>


  </div>

  <div class=" mb-5 pb-3">
    <div class="bg-light box-shadow-lg rounded-lg overflow-hidden">
      <div class="row">
        <!-- Sidebar-->
        <aside class="col-md-3 mr-md-0 pr-md-0 order-md-1 order-2">
          <div class="cz-sidebar-static h-100 border-right font-size-ms text-muted">
            <h6>Hakkında</h6>
          
            <% if(butcher.description){ %>
              <p><%- controller.markdown.render(butcher.description) %></p>

              <% } else { %>
              <p>
                <%= butcher.name %>, uzun yıllardır en kaliteli et ve et ürünlerini müşterilerine sunmayı ilke
                edinmiştir.
              </p>
              <p>
                <%= butcher.areaLevel1.name %> ilinde hizmetlerine devam eden <%= butcher.name %>,
                müşteri memnuniyetini en ön planda tutmakta, sağlıklı et ve et ürünleri sağlamaya devam etmektedir.
              </p>

              <%  } %>
              <p>
                <%= butcher.areaLevel2.name %> bölgesinde yerleşik <%= butcher.name %> sipariş için lütfen <a
                  class="open-order-dialog-button" href="#">
                  tıklayın
                </a>

              </p>
         
            <hr class="my-4">
            <h6>İletişim</h6>
            <p><%= butcher.address %>, <%= butcher.areaLevel2.name %>/<%= butcher.areaLevel1.name %></p>
            <ul class="list-unstyled font-size-sm">
                <% if(butcher.email){ %>

              <li><a class="nav-link-style d-flex align-items-center font-size-xs" href="mailto:<%= butcher.email %>"><i class="czi-mail opacity-60 mr-2"></i><%= butcher.email %></a></li>
              <% } %> 

                    <% if(butcher.website){"" %>

              <li><a target="_blank" class="font-size-xs nav-link-style d-flex align-items-center" href="<%= butcher.website %>"><i class="czi-globe opacity-60 mr-2"></i><%= butcher.website %></a></li>


              <% } %> 

            
            </ul>
            <% if (controller.dispatchers.length) {%>
            <h6>Hizmet Bölgeleri</h6>            
            <ul class="list-unstyled font-size-sm">

              <% controller.dispatchers.forEach((d,i) => { %>
              <li>
                <span><%=d.address.display%></span> 
              </li>
  
              <% }) %>
            
            </ul>

            <%}%>
            
          </div>
        </aside>
        <!-- Content-->
        <section class="col-md-9 pb-md-4  ml-md-0 pl-md-0 order-1 order-md-2">
         
 
            <div class="" id="butcherproducts" role="tabpanel"
              aria-labelledby="butcherproducts-tab">
        
        
        <% var categories = __categories.filter(p=>p.type == 'reyon') %>
              <div class="containerx-fluid">
                  <ul class="nav nav-tabs  nav-justified mt-2 mb-2 mb-md-4" id="pills-tab" role="tablist">
                     <% if (vitrinProducts.length > 0) { %> 
                     <li class="nav-item">
                          <a class="nav-link active %>" id="vitrin-tab" data-toggle="tab"
                              href="#vitrin" role="tab" aria-controls="vitrin"
                              aria-selected="true">
                              
                               Vitrin</a>
                      </li>  
                      <% } %>          
                       <% for(var i=0; i< categories.length; i++) {%>
                      <% var category = categories[i] %>
                      <li class="nav-item">
                          <a class="nav-link-shrink nav-link <%= i== -1 ? 'active':'' %>" id="<%= category.slug %>-tab" data-toggle="tab"
                              href="#<%= category.slug %>" role="tab" aria-controls="<%= category.name %>"
                              aria-selected="<%= i== -1 ? 'true':'false' %>">
                              
                              <%= category.name %>
                            
                            </a>
                      </li>
                      <% } %> 
                  </ul>
                  <div class="tab-content container-fluid mb-2 mb-md-4" id="pills-tabContent">
                      <div class="tab-pane fade show active" id="vitrin"
                        role="tabpanel" aria-labelledby="vitrin-tab">
                        <% if (vitrinProducts.length > 0) { %> 

                          <div class=""> 
                              <!-- <div class="d-flex flex-wrap justify-content-between align-items-center pt-1 border-bottom pb-1 mb-2">
                                  <h5 class="h5 mb-0 mr-2">Kasabınız Öneriyor</h2>
                              
                              </div> -->
                          
                              <%- include('./_partial/products-view', {butcher: butcher.slug, viewMode:'tab', products: vitrinProducts}); %>
          
                          </div>
                        <% } %> 
                    </div>            
                      <% for(var i=0; i< categories.length; i++) {%>
                      <% var category = categories[i] %>
                      <div class="tab-pane fade <%= i== -1 ? 'show':'' %> <%= i== -1 ? 'active':'' %>" id="<%= category.slug %>"
                          role="tabpanel" aria-labelledby="<%= category.slug %>-tab">
                       
                              <% var products = controller.filterProductsByCategory({slug: category.slug}) %>
                         
                                  <%- include('./_partial/products-view', {butcher: butcher.slug,  viewMode:'tab', products: products}); %>
            
                       
                      
                      </div>
                      <% } %>
                  </div>
              </div>
        
        
            </div>
        
          </div>
    </div>
        
        </section>
      </div>
    </div>





  <div class="container text-center bg-edark pt-4 pb-4 border">
    <div class="mb-4">
      <h4 class="display-6"><%= butcher.name %> Sipariş</h4>
    </div>

    <button type="button" class="btn btn-lg btn-success open-order-dialog-button">SİPARİŞ VER</button>
  </div>



  <% include ./_partial/footer %>
  <% include ./_partial/scripts %>

  <% if(butcher.videoInstagramStr && !__req.session['butcher' + butcher.id + 'videodisplayed']){ %>
  <script>

    App.Ready.then(function () {
      $(' #videomodal').modal().show()
    }) </script> <script>

  </script>
        <%}%>
  

  

  <script>
    $("#videomodal").on('hidden.bs.modal', function () {
      $(this).data('bs.modal', null);
    });

    $(function () {
      var sessionid = "<%= req.session.id %>"

      $(window).on(' kb.userloction.districtselected', function (e) { debugger });
      $(".open-order-dialog-button").click(function () {
        var ul = window.kb.userlocation(); var
          inited = false; //window.Intercom('showNewMessage', "<%= butcher.name %> sipariş verebilir miyim?" ) if
        (!inited)
        {
          inited = true; ul.init({ defaultCity: parseInt("<%= butcher.areaLevel1Id %>"), openDistricts: false }, function
            () {
            $('#orderModal').modal(); $("#order-close-modal").click(function () {
              f = $("#order-form")[0]
                (f.checkValidity()) {
                $.ajax({
                  type: "POST", url: "/api/v1/sitelog/create", data: { //district:
                    ul.selectedDistrict.name, city: ul.selectedCity.name, email: $("#user-email").val(),
                    logtype: "anonymous-user-location-email"
                  }, success: function () {
                    $('#orderModal').modal("hide");
                    alert("Teşekkürler")
                  }
                })
              }
            }); $('#orderModal').on('shown.bs.modal', function () { })
          });
        } else
        $('#orderModal').modal("show")
      })
    }); </script>
</body>

</html>