<!DOCTYPE html>
<html lang="tr-TR" prefix="og: http://ogp.me/ns#">

<head>
  <% include ./_partial/head %>
  <style>
    @media print {
    
    
    .d-print-w-75 {
          width: 75% !important;
      }
      .d-print-w-50 {
          width: 50% !important;
      }
    
      .d-print-w-25 {
          width: 25% !important;
      }
    
      .d-print-none {
        display: none !important
      }
    
      .d-print-inline {
        display: inline !important
      }
    
      .d-print-inline-block {
        display: inline-block !important
      }
    
      .d-print-block {
        display: block !important
      }
    
      .d-print-table {
        display: table !important
      }
    
      .d-print-table-row {
        display: table-row !important
      }
    
      .d-print-table-cell {
        display: table-cell !important
      }
    
      .d-print-flex {
        display: -webkit-box !important;
        display: flex !important
      }
    
      .d-print-inline-flex {
        display: -webkit-inline-box !important;
        display: inline-flex !important
      }
    
      .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
      float: left;
    }
    .col-sm-12 {
      width: 100%;
    }
    .col-sm-11 {
      width: 91.66666666666666%;
    }
    .col-sm-10 {
      width: 83.33333333333334%;
    }
    .col-sm-9 {
      width: 75%;
    }
    .col-sm-8 {
      width: 66.66666666666666%;
    }
    .col-sm-7 {
      width: 58.333333333333336%;
    }
    .col-sm-6 {
      width: 50%;
    }
    .col-sm-5 {
      width: 41.66666666666667%;
    }
    .col-sm-4 {
      width: 33.33333333333333%;
     }
     .col-sm-3 {
       width: 25%;
     }
     .col-sm-2 {
       width: 16.666666666666664%;
     }
     .col-sm-1 {
      width: 8.333333333333332%;
     }
    
    }
    </style>
</head>

<% var isViewMyProducts = __req.query.view=="my"
   var isPrinting = __req.query.print=="1" || __req.query.print=="2"
   var selling = controller._.sortBy(controller.sellingProducts, ["product.tag1"]).reverse() ;
   var others = controller._.sortBy(controller.otherProducts, ["product.tag1"]).reverse() ;
   var printingProducts = __req.query.print=="2" ? selling.concat(others): selling
%>



<body>
  <% include ./_partial/header %>


  <div class="page-title-overlap bg-primary pt-4 d-print-none">
    <div class="container d-lg-flex justify-content-between py-2 py-lg-3">
      <div class="order-lg-2 mb-3 mb-lg-0 pt-lg-2">
        <nav aria-label="breadcrumb" class="d-none d-lg-block">
          <ol class="breadcrumb breadcrumb-light flex-lg-nowrap justify-content-center justify-content-lg-star">
            <li class="breadcrumb-item"><a class="text-nowrap" href="/kasapsayfam"><i class="czi-home"></i></a></li>
            <li class="breadcrumb-item text-nowrap active" aria-current="page">
              <%= controller.butcher ? controller.butcher.name: "Kasap" %></li>
          </ol>
        </nav>
      </div>


    </div>
    <div class="d-print-none text-center">
      <div class="">
        <h5 class="d-block h6 mb-3 text-white">Yazdır</h5>
          <div class="d-flex justify-content-center">
            
            <button onclick="javascript:doPrint(1)" class="btn btn-dark btn-sm mr-3 mb-3 ">Sattığım Ürünler</button>
            <button onclick="javascript:doPrint(2)" class="btn btn-dark btn-sm mr-3 mb-3">Tüm Ürünler</button>

          </div>
      </div>
    </div>
  </div>


  <div class="d-none d-print-block text-center">
    <h1><%= controller.butcher ? controller.butcher.name: "Kasap" %></h1>
    <h3>kasaptanal.com ürün listesi</h3>
    <hr>
  </div>



  <% if (isViewMyProducts) { %>
    <div class="container px-0">
      <div class="bg-light box-shadow-lg px-4 py-4 mb-3 ">
<h6 class="text-center">
  Ürünler (<%=printingProducts.length%> adet)
</h6>
    <table class="table table-striped">
      <thead>
          <tr>
              <th></th>
              <th></th>
          </tr>
      </thead>
      <tbody>
    <% printingProducts.forEach((p, i)=> { %>
      <% var productunits = controller.getProductUnits(p.product, p) %>
      <% var kgUnit = productunits.find(p=>p.unit == 'kg') %>
      <% var newRow = (i % 2 == 0) %>
<% if (newRow) { %> 
  
  <tr> 
    
    
<% } %>
  <td style="width: 5rem;" class="">

    <div class="text-center">
      <%- include('./_partial/product-view.ejs', {hideBadge: true, butcher: controller.butcher.slug, product: p.product, hideName: true}); %>
      <a class="font-size-sm d-print-none" target="_blank" href="/<%=p.product.slug%><%=`?butcher=${controller.butcher.slug}` %>">Ürüne Git</a>

    </div>

  </td>

  <td>
    <div>
      <h6><%=p.product.name%></h6>
      <% if (p.kgPrice > 0 && false) { %>
        <div>
          <%- include('./_partial/currency.ejs', {value: p.kgPrice, unit: 'KG'}) %>
        </div>
      <% } %>
      <% if (p.product.butcherNote) { %>
      <div>
        <span
        class="badge badge-accent font-size-xs">Dikkat</span>
        <span class="font-size-sm">
          <%=p.product.butcherNote%>

        </span>
      </div>
      <% } %>
      <ul>
        <% productunits.forEach(pu=>{ %>
          <% var unitDesc = pu == kgUnit ? '': `${(pu.kgRatio > 0 && pu.kgRatio != 1) ? ('(' + pu.kgRatio * 1000 + ' gram)'): ''}`  %>
  
          <% if (pu.enabled) {%>
               <li>
                <%- include('./_partial/currency.ejs', {value: pu.price, unit: pu.unitTitle  + ' ' + unitDesc}) %> 
                <% if (pu.unitWeight) {%>
                  <div>
                      <span class="badge badge-accent">Not</span>
                      <span class="font-size-sm">
                          Kullanıcıya ağırlık <strong class="text-accent"><%=pu.unitWeight%></strong> olarak gösterilmektedir.
                      </span>
                      

                  </div>
              <%}%>
,
                <% if (pu.butcherNote) { %>
                  <div>
                    <span
                    class="badge badge-accent font-size-xs">Dikkat</span>
                    <span class="font-size-sm">
                      <%=pu.butcherNote%>
            
                    </span>
                  </div>
                  <% } %>


               </li>
          <% } %>
  
  
        <%})%>
      </ul>

    </div>
  </td>
  <% if (!newRow || !isPrinting) { %> 
  </tr> 
  <%}%>





    <%})%>

  </tbody>

</table>
      </div></div>
  <% } else {%>
  <div class="container px-0">
    <div class="bg-light box-shadow-lg px-4 py-4 mb-3 ">
      <div class="row mb-grid-gutter d-print-table">
        <div class="col-sm-6 <%= !controller.sellingProducts.length ? '':''%>">
          <h3 class="h5 border-bottom">Sattığım Ürünler (<%=controller.sellingProducts.length%> adet)</h3>

          <% controller.sellingProducts.forEach(p=>{ %>

          <%- include('./_partial/butcher.product.view.ejs', {
              prodinfo: p
            })%>
          <%})%>

        </div>

        <div class="col-sm-6">
          <h3 class="h5 border-bottom">Diğer Ürünler (<%=controller.otherProducts.length%> adet)</h3>
          <% controller.otherProducts.forEach(p=>{ %>
          <%- include('./_partial/butcher.product.view.ejs', {
              prodinfo: p
            })%>
          <%})%>
        </div>
      </div>

    </div>
  </div>
  <% } %>


  <% include ./_partial/footer %>
  <% include ./_partial/scripts %>

  <script>
  <% if (controller.goto) {  %>
      window.App.jump("#<%= controller.goto %>");
  <% } %>
  </script>

</body>

<script>

  function doPrint(n) {
    window.location.href = '/kasapsayfam/products?view=my&print=' + n;
  }
<% if (isPrinting) { %>
    window.print();
<%}%>
</script>

</html>