<!DOCTYPE html>
<html lang="tr-TR" prefix="og: http://ogp.me/ns#">

<head>
  <% include ./_partial/head %>
</head>

<body>
  <% include ./_partial/header %>

  <div class="page-title py-4">
    <div class="container d-lg-flex justify-content-between py-2 py-lg-3">
      <div class="order-lg-2 mb-3 mb-lg-0 pt-lg-2">
        <nav aria-label="breadcrumb" class="d-none d-lg-block">
          <ol class="breadcrumb breadcrumb-dark flex-lg-nowrap justify-content-center justify-content-lg-star">
            <li class="breadcrumb-item"><a class="text-nowrap" href="/kasapsayfam"><i class="czi-home"></i></a></li>
          </ol>
        </nav>
      </div>
      <div class="media-body pt-2">


        <h1 class="h3"><%= controller.butcher ? controller.butcher.name + ' Sayfam': "Kasap Sayfam" %></h1>
        <h2 class=" h4 lead">Siparişlerim</h2>         
      </div>
    </div>
  </div>


  <div class="container mb-3 bg-secondary border p-3">
    <ul class="list">
      <li>
        Teslim durumu elle düzeltildiği için teslim ettiğiniz siparişler tedarik sürecinde veya teslim edilecek olarak görünebilir.
      </li>
    </ul>
  </div>
  <div class="container px-0">
    <div class="bg-light box-shadow-lg px-4 py-4 mb-3 ">
      <ul class="nav nav-pills mb-3">
        <li class="nav-item">
          <a class="nav-link active" href="/kasapsayfam/siparislerim?q=7days">Son 7 gün</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Filtrele</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="/kasapsayfam/siparislerim?q=thismonth">Bu ay</a>
            <a class="dropdown-item" href="/kasapsayfam/siparislerim?q=lastmonth">Geçen Ay</a>
          </div>
        </li>
      </ul>      


<div>
  <div>

    <table class="table table-hover">
      <thead>
          <tr>
              <th>Kalem</th>
              <th>Değer</th>
          </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            Sipariş adet
          </td>

          <td>
            <%=controller.totalOrders%>
          </td>
        </tr>
        <tr>
          <td>
            Teslim edilen sipariş adet
          </td>

          <td>
            <%=controller.totalOrdersSuccess%>
          </td>
        </tr>    
        <tr>
          <td>
            Ürün Bedeli
          </td>

          <td>
            <%- include('./_partial/currency.ejs', {value: controller.productTotal}) %>
            
          </td>
        </tr>         
        
        <tr>
          <td>
            Adınıza tahsil edilen teslimat bedeli
          </td>

          <td>
            <%=controller.shipOfButcherTotal%>
          </td>
        </tr>       
        <tr class="bg-secondary">
          <td>
            Ciro Artışınız
          </td>

          <td class="font-weight-bold">
            <%- include('./_partial/currency.ejs', {value: controller.shipOfButcherTotal + controller.productTotal}) %>


          </td>
        </tr>  
        


        <tr>
          <td>
            Yapılan online ödeme
          </td>

          <td>
            <%- include('./_partial/currency.ejs', {value: controller.totalOnline}) %>

           
          </td>
        </tr>       
        <tr>
          <td>
            Yapılan kapıda Ödeme
          </td>

          <td>
            <%- include('./_partial/currency.ejs', {value: controller.totalButcher}) %>

           
          </td>
        </tr>          
        <tr>
          <td>
            Puan ile ödeme
            <br>
            <span class="text-muted font-size-sm">Puan KasaptanAl komisyonundan düşer.</span>
          </td>

          <td>
            <%- include('./_partial/currency.ejs', {value: controller.paymentsByPuan}) %>

            
          </td>
        </tr>        
      

        

        <tr>
          <td>
            Müşteriye ilettiğiniz puan 
          </td>

          <td>
            <%- include('./_partial/currency.ejs', {value: controller.totalPuan2CustomerInvoice}) %>

           
          </td>
        </tr> 

        <tr class="bg-secondary">
          <td>
            KasaptanAl komisyonu <br>
            <span class="text-muted font-size-sm">KDV, kurye ve kredi kartı komisyon bedeli dahildir.</span> 
          </td>

          <td class="font-weight-bold">
            <%- include('./_partial/currency.ejs', {value: controller.totalCommission}) %>

           
          </td>
        </tr>       

        <!-- <tr class="bg-secondary">
          <td>
            Toplam maliyet
          </td>

          <td>
            <%- include('./_partial/currency.ejs', {value: controller.totalCommission + controller.totalPuan2CustomerInvoice}) %>

           
          </td>
        </tr>       -->
        
        <tr>
          <td>
            Müşteriden tahsil edilen kurye bedeli
          </td>

          <td>
            <%- include('./_partial/currency.ejs', {value: controller.kuryeFromCustomer}) %>

           
          </td>
        </tr>          

      </tbody>
    </table>    
  </div>
  <table class="table table-hover">
    <thead>
        <tr>
            <th>Müşteri</th>
            <th>Tarih</th>
            <th>Durum</th>
            <th>Ödeme Tipi</th>
        </tr>
    </thead>
    <tbody>
        <% 
                for(var i=0; i<orders.length; i++) {%>
        <tr>
            <td>
              <% if (__req.user.hasRole('admin')) { %>
              <%} else { %>
                <!-- <a target="_blank" href=""><%= orders[i].name %> </a> -->

              <%}%>
              <a target="_blank" href="<%= `/manageorder/${orders[i].ordernum}` %>"><%= orders[i].displayName %> </a>

            </td>
            <td><%= __helper.formatDate(orders[i].creationDate) %></td>
            <td><%= orders[i].status %></td>
            <td><%= orders[i].paymentType %></td>


        </tr>


        <% } 
            
            %>

    </tbody>
</table>
</div>

    </div>
  </div>



  <% include ./_partial/footer %>
  <% include ./_partial/scripts %>

</body>

</html>