<!DOCTYPE html>
<html lang="tr-TR" prefix="og: http://ogp.me/ns#">

<head>
  <% include ./_partial/head %>
</head>

<body>
  <% include ./_partial/header %>

  <div class="page-title-overlap bg-primary pt-4">
    <div class="container d-lg-flex justify-content-between py-2 py-lg-3">
      <div class="order-lg-2 mb-3 mb-lg-0 pt-lg-2">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb breadcrumb-light flex-lg-nowrap justify-content-center justify-content-lg-star">
            <li class="breadcrumb-item"><a class="text-nowrap" href="/kasapsayfam"><i class="czi-home"></i></a></li>
            <li class="breadcrumb-item text-nowrap active" aria-current="page"><%= controller.butcher ? controller.butcher.name: "Kasap" %></li>
          </ol>
        </nav>
      </div>
      <div class="media-body pt-2">


        <h1 class="h3 text-light"><%= controller.butcher ? controller.butcher.name + ' Sayfam': "Kasap Sayfam" %></h1>
        <h2 class=" text-light h4 lead">Hayırlı işler, bol kazançlar.</h2>         
      </div>
    </div>
  </div>



  <div class="container px-0">
    <div class="bg-light box-shadow-lg px-4 py-4 mb-3 ">
      <% if (controller.butcher) { %>
      <ul class="list-group">
        <% if (__req.user.hasRole('admin')) { %>
        <li class="list-group-item">
          <a href="/kasapsayfam/urunler">Ürün Yönetimi</a>
        </li>
        <% }%>
        <li class="list-group-item">
          <a href="/kasapsayfam/urun-listesi">Ürün Listesi</a>
        </li>
        <li class="list-group-item">
          <a href="/kasapsayfam/odemeal">Online Ödeme Al</a>
        </li>
      </ul>
<%}%>
    <% if (__req.user.hasRole('admin')) { %>
    <div>
<form method="POST" action="/kasapsayfam/setbutcher">
  <table class="table table-hover">
    <thead>
        <tr>
            <th>Adı</th>
            <th>Onaylı</th>
            <th></th>
        </tr>
    </thead>
    <tbody>

<% controller.adminButchers.forEach(b=>{  %>

  <tr>
    <td><a href="<%= `/pages/admin/butcher/${b.slug}` %>"><%= b.name %> </a>
    </td>
    <td><%= b.approved %></td>
    <td>
      <button class="btn btn-sm btn-primary" name="butcherid" type="submit" value="<%=b.id%>">Set</button>

    </td>
</tr> 


<%})%>
</tbody>
</table>

</form>
    </div>
    <% } %>

    </div>
  </div>



  <% include ./_partial/footer %>
  <% include ./_partial/scripts %>

</body>

</html>