<!DOCTYPE html>
<html lang="tr-TR" prefix="og: http://ogp.me/ns#">

<head>
  <% include ./_partial/head %>

</head>

<body>
  <% include ./_partial/header %>



  <!-- Page Content -->

  <div class="page-title-overlap bg-accent pt-4">
    <div class="container d-lg-flex justify-content-between py-2 py-lg-3">
      <div class="order-lg-2 mb-3 mb-lg-0 pt-lg-2">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb breadcrumb-light flex-lg-nowrap justify-content-center justify-content-lg-star">
            <li class="breadcrumb-item"><a class="text-nowrap" href="/"><i class="czi-home"></i></a></li>
            <li class="breadcrumb-item active" aria-current="page">Online Kasaplar</li>
          </ol>
        </nav>
      </div>
      <div class="order-lg-1 pr-lg-4 text-center text-lg-left">

        <h1 class="h3 text-light">Online Kasaplar</h1>
        <h2 class="h4 lead text-light">
          Online et ve et ürünleri siparişi verebileceğiniz güvenilir anlaşmalı kasaplarımız.</h2> 

      </div>


    </div>
  </div>







  <div class="container">

    <section id="butchers-section">

    


      <div class="row">
        <% for(var i=0; i<butchers.length; i++) {%>

        <div class="col-md-3 col-6 mb-3 ">

          <div class="card h-100">
            <a href="<%= `/${butchers[i].slug}` %>">
              <img src="<%= `${__req.helper.imgUrl('butcher-google-photos', butchers[i].slug)}` %>"
                  class="card-img-top" alt="<%= `/${butchers[i].name}` %>">
          </a>

            <div class="card-body text-center ">
              <h5 class="card-title">
                <a href="<%= `/${butchers[i].slug}` %>" class="text-dark font-size-md">
                  <%= butchers[i].name %>
                </a>

                </h5>
              <div class="card-text-container font-size-md">

                <span><%=butchers[i].areaLevel1.name %></span>


              </div>
            </div>
          </div>


        </div>

        <% } %>
      </div>
    </section>
  </div>

  <% if(typeof(subs) != "undefined"){ %>
  <div class="container-fluid text-center pb-4 bg-light">
    <% for(var i=0; i<subs.length; i++) {%>

    <a href="<%= `/${subs[i].slug}-kasap` %>" class="btn btn-sm btn-secondary mx-2 my-2"><%= subs[i].name %></a>


    <% } %>
  </div>



  <% } %>






  </div>

  <% include ./_partial/footer %>
  <% include ./_partial/scripts %>

  <script>

    
  </script>
</body>

</html>