<!DOCTYPE html>
<html lang="tr-TR" prefix="og: http://ogp.me/ns#">

<head>
  <% include ./_partial/head %>
  <% if (!butcher.approved) {%>
  <meta name="robots" content="noindex,follow">
  <%}%>

  <% if (controller.butcherLd) { %>
    <script type="application/ld+json">
      <%- JSON.stringify(controller.butcherLd) %>
    </script>
  
    <% } %>

  <% if (__req.params.category) { %>
    <link href="https://www.kasaptanal.com/<%=butcher.slug%>/<%=controller.category.slug%>" rel="canonical">
  <% } else { %>
    <link href="https://www.kasaptanal.com/<%=butcher.slug%>" rel="canonical">
  <% } %>
</head>

<body>
  <% include ./_partial/header %>
  <% if(butcher.videoInstagramStr){ %>
  <div class="modal" id="videomodal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content" style="border-radius:0px">
        <div class="modal-header">
          <h5 class="modal-title"><%=butcher.name%></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body p-0">
          <% if(butcher.videoInstagramStr){ %>
          <%- butcher.videoInstagramStr %>
          <% } else { %>
          <img class="img-fluid " src="<%= `${__req.helper.imgUrl('butcher-google-photos', butcher.slug)}` %>" />

          <% } %>

        </div>
      </div>
    </div>
  </div>
  <%}%>

  <% 
  
  var bgCover = images.find(br=>br.tag1 == 'cover'); 
  var profile = images.find(br=>br.tag1 == 'profile'); 
  var imageList = images.filter(br=>br.tag1 != 'cover' && br.list == true);
  var puanData = butcher.getPuanData();

 
 %>


  <div class="text-center">




    <% if (__req.user && __req.user.hasRole('admin')) {%>
    <a target="_blank" class=" btn btn-dark btn-sm" href="/pages/admin/butcher/<%=butcher.slug%>">Düzenle <%=butcher.id%></a>
    <%}%>

    <% if (__req.user && (__req.user.hasRole('admin') || __req.user.hasRole('butcher'))) {%>
    <a target="_blank" class=" btn btn-dark btn-sm" href="/kasapsayfam">Kasap Sayfam</a>
    <%}%>

  </div>




    <% if (bgCover) { %>
    <div class="bg-cover mt-3" style="background-image: url('<%=bgCover.fileUrl%>');">

    </div>
    <% } %>



    <div class=" pt-2" 
       <% if (bgCover) { %> 
        
          style="position: relative; top: -6rem;" <% 
        
      } %>>

      <div class="container text-center pb-3">
        <a class="d-block" href="javascript: window.App.openDefaultSlider()">
          <img width="500" height="500" class="img-thumbnail rounded-circle mx-auto mb-3 d-block" style="width: 12rem;"
          src="<%= `${__req.helper.imgUrl('butcher-google-photos', butcher.slug)}` %>" alt="<%=butcher.name%>">

        </a>


        <% var butcherVideo = images.find(br=>br.type == 'butcher-videos') %>

        <% if (false && butcherVideo) { %>

        <button onclick="javascript:window.App.openSlider(<%=butcherVideo.id%>)" type="button"
          class="btn btn-sm btn-dark mb-3"><i class="czi-video mr-2"> </i>Yakından Tanıyın</button>

        <% } else if(false && butcher.videoInstagramStr) { %>
        <button onclick="$('#videomodal').modal().show()" type="button" class="btn btn-sm btn-dark mb-3"><i
            class="czi-video mr-2"> </i>Yakından Tanıyın</button>
        <% } %>

        <div class=" mb-3">
          <h1 class="h2 mb-2"><%=butcher.name%></h1>
          <h2 class="h5 mb-2">
            <a class="text-muted" target="_blank" href="https://www.google.com/maps/search/?api=1&query=<%=butcher.lat%>,<%=butcher.lng%>"><%= butcher.areaLevel3.name %>/<%= butcher.areaLevel1.name %></a>
           
          </h2>
          <% if (puanData ) { %>
            <div class="mb-3">
              <a class="mb-2 d-block" href="/blog/kasap-kart">
                <span class="badge badge-success font-weight-medium font-size-md">
                  %<%= puanData.rate * 100 %> Puan 
                </span>
              </a>
             
             
            </div>
          
       
      
          <% } %>

          <% if (butcher.shipRatingAsPerc > 0 && butcher.userRatingAsPerc > 0) { %>
          <div class="container row w-50 mx-auto">
            <div class="col-sm-6">
              <div class="font-size-sm  mb-1">Memnuniyet</div>
              <div class="progress rounded-0 mb-3">
                <div class="progress-bar font-weight-medium bg-warning" role="progressbar"
                  style="width: <%=butcher.userRatingAsPerc %>%" aria-valuenow="<%=butcher.userRatingAsPerc %>"
                  aria-valuemin="0" aria-valuemax="100">
                  <%=butcher.userRatingAsPerc %>%
                </div>
              </div>
            </div>
    
    
            <div class="col-sm-6">
              <div class="font-size-sm  mb-1">Teslimat Başarısı</div>
    
              <div class="progress rounded-0 mb-3">
                <div class="progress-bar font-weight-medium bg-warning" role="progressbar"
                  style="width: <%=butcher.shipRatingAsPerc %>%" aria-valuenow="<%=butcher.shipRatingAsPerc %>"
                  aria-valuemin="0" aria-valuemax="100">
                  <%=butcher.shipRatingAsPerc %>%
                </div>
              </div>
            </div>
          </div>
          <% } %>

          <% if (butcher.btnText && butcher.btnUrl) { %>
            <div class="text-center">
              <a class="btn btn-warning rounded-lg shadow" href="<%= butcher.btnUrl %>"><%=butcher.btnText%></a>

            </div>
          <% } %>
          
            <% if (false && controller.reviews.length > 0) { %>
              <div class="container text-center">
                <a href="javascript:gotoComments()"
                class="font-size-sm text-dark font-weight-medium"><span>Yorumlar
                  (</span><span class="text-primary"><%=controller.reviews.length %></span><span>)</span></a>
              </div>
  
             <% } %>
          
        </div>
<% if (butcher.status == 'open' && butcher.approved) { %>
<div id="delivery"  class="border pt-3 px-3 bg-secondary">
  <% if ((!controller.logisticsProvider || controller.logisticsPriceSlice.length == 0) && __req.prefAddr) { %>
    <p>
      
      Kasabımız maalesef semtinize hizmet vermemektedir. 
   

    </p>
    <p>
      <strong><%=__req.prefAddr.display%></strong> semtine hizmet veren kasaplarımızı <a class="font-weight-bold" href="/<%=__req.prefAddr.level3Slug%>-kasap">buradan</a> görebilirsiniz.
    </p>
    <a href="/<%=__req.prefAddr.level3Slug%>-kasap" class="mb-3 btn btn-sm btn-primary">Diğer Kasaplar</a>

    <a data-return="/<%=butcher.slug%>#delivery" class="mb-3 select-area-action btn-sm btn btn-primary">Semt Seç</a>


  <% } else if (controller.logisticsProvider) { %>

    <div class="row mb-3 text-left">
      <div class="col-sm-6 ">
        <h5 class="h5">Kapınıza Teslim</h5>
        <p>
        <%= controller.logisticsProvider.options.dispatcher.userNote || controller.logisticsProvider.options.dispatcher.priceInfo %>.
        <% if (controller.logisticsProvider.options.dispatcher.minCalculated > 0) { %>
          Semtinize en az <span class="font-weight-medium"><%- include('./_partial/currency.ejs', {value: controller.logisticsProvider.options.dispatcher.minCalculated}) %></span> sipariş kabul edilmektedir.
        <%  } %>
        </p>

        <h6 class="h6">Teslimat Ücretleri</h5>
    
        <div class="mb-3 font-size-sm">
          <%- include('./_partial/ship-price-slice.ejs', {                                
            slices: controller.logisticsPriceSlice
              }) %>
        </div>

        

        <p class="font-size-sm">
           <a data-return="/<%=butcher.slug%>#delivery" class="text-primary select-area-action"><%=__req.prefAddr.display%></a> için kasabın tahmini uzaklığı <%= controller.distance.toFixed(1) %> km.
        </p>

     

      </div>
      <div class="col-sm-6">
        <h5 class="h5">Çalışma Günleri</h5>
        <p>
          <%=butcher.name%> aşağıdaki günlerde teslimat yapmaktadır:
        </p>
<div class="font-size-sm text-left">
  <%- include('./_partial/workday-view', { butcher: controller.butcher }) %>

</div>
      </div>
    </div>


   

       
       <div>
        <div class="py-2 d-flex justify-content-center">
          <a class="btn rounded-lg btn-sm btn-success mr-2" href="/<%=butcher.slug%>/siparis">Online Sipariş</a>
          <a class="btn rounded-lg btn-sm btn-dark" target="_blank" href="https://wa.me/+903122101088?text=<%=butcher.name%> <%=__req.prefAddr.display%> semtinden sipariş vermek istiyorum."><i class="czi_icon czi-message mr-1"></i>Whatsapp Sipariş</a>
      
        </div>
      </div>

  <% } else { %>
    <div class="text-center mb-3">
      <h6 class="h6">
       Sipariş vermek için önce semtinizi seçin
      </h6>
    <a data-return="/<%=butcher.slug%>#delivery" class=" select-area-action btn-sm btn btn-primary">Semt Seç</a>

    </div>

    


<% } %>



</div>

          
<% } %>
          

         
          <% if (butcher.getBadgeList().length > 0 ) { %>
          <div class="d-none butcher-badges">


            <% butcher.getBadgeList().forEach(b=> {  %>
            <span class="badge badge-secondary font-size-xs" data-toggle="tooltip" data-original-title="<%=b.tip%>"
              title="">
              <i class="<%=b.icon %> mr-1"></i>
              <%=b.name%>
            </span>
            <% }) %>
          </div>
          <% } %>


        
      </div>

      <% if (butcher.status == 'closed') { %>
        <div class="container text-center alert alert-danger">
          Bu kasap geçici süreyle hizmet vermemektedir.
        </div>
      <% } %>

    





    <% if (true) { %>

      <div class="container mb-3 cz-gallery slider <%=imageList.length > 1 ? '':'d-none'%>" style="position: relative;" data-simplebar>
        <div class="d-flex ">
          <% for(var i=0; i<imageList.length; i++) {%>
          <% var img = imageList[i] %>
          <div class="mr-2 mb-2">
            <div class="item-slider item-slider-sm">
  
              <div class="card product-card pb-0  ">
                <a data-gtrack="1" data-restype="<%=img.type%>" data-resref="<%= butcher.slug %>"
                  data-restitle="<%= img.title || butcher.name %>" data-resid="<%=img.id%>"
                  class="gallery-item <%= img.contentType == 'video-youtube' ? 'video-item':''%>"
                  href="<%= `${img.fileUrl}`  %>"
                  data-sub-html="&lt;h6 class=&quot;font-size-sm text-light&quot;&gt;<%= img.title %>&lt;/h6&gt;"><img
                    width="500" height="500" src="<%= `${img.thumbnailFileUrl}` %>" /><span
                    class="gallery-item-caption"><%= img.title %></span></a>
              </div>
  
  
            </div>
  
          </div>
  
          <% } %>
        </div>
      </div>

    <% } %>

      <div class="container">
        <div class="mb-3">
          <div class="row">
    
            <div class="col-md-4">
              <div class="h-100 font-size-ms text-muted">
    
    
    
    
                <div class="accordion" id="payment-method" role="tablist">
    
                  <% if (puanData) { %>
    
                  <div class="card rounded-0">
                    <div class="card-header" role="tab">
                      <h3 class="accordion-heading"><a href="#kasapkart" data-toggle="collapse"><i
                            class="font-size-lg mr-2 mt-n1 align-middle"></i>Kasap Kart&trade;<span
                            class="accordion-indicator"><i data-feather="chevron-up"></i></span></a></h3>
                    </div>
                    <div class="collapse" id="kasapkart" data-parent="#payment-method" role="tabpanel">
                      <div class="card-body ">
                        <%- include('./_partial/puan-data-view.ejs', {puan: puanData}) %>
                      </div>
                    </div>
    
                  </div>
    
                  <% } %>
    
                  <%if (controller.reviews.length > 0 ) { %>
                  <div class="card rounded-0">
                    <div class="card-header" role="tab">
                      <h3 class="accordion-heading"><a href="#revires" data-toggle="collapse"><i
                            class="font-size-lg mr-2 mt-n1 align-middle"></i><%='Yorumlar'%> <span class="align-middle mt-n1 badge badge-primary"><%=controller.reviews.length%></span> <span
                            class="accordion-indicator"><i data-feather="chevron-up"></i></span></a></h3>
                    </div>
                    <div class="collapse" id="revires" data-parent="#payment-method" role="tabpanel">
                      <div class="card-body ">
    
    
                        <% controller.reviews.forEach(r => {  %>
                        <div class="product-review pb-4 mb-4 border-bottom">
                          <div class="media media-ie-fix align-items-center mr-4 pr-2">
                            <div class="avatar">
                              <img width="140" height="140" src="<%=__config.staticDomain %>/resource/img/avatar.jpg" alt="<%=r.displayUser%>">
    
                            </div>
    
                            <%
                                  
                                    const dateops = { year: 'numeric', month: 'long'};
                  
                                  %>
    
                            <div class="media-body pl-3">
                              <h6 class="font-size-sm mb-0"><%=r.displayUser%></h6>
                              <a href="/<%=r.areaSlug%>-kasap" class="font-size-ms"><%=r.level3Text%></a>


                            </div>
                          </div>
                          <div class="d-flex mb-3">
    
                            <div>
                              <%- include('./_partial/star-rating.ejs', {val: r.userRating1 }) %>
    
                              <div class="font-size-ms text-muted">
                                <%=r.itemDate.toLocaleDateString('tr-TR', dateops)%>
                              </div>
                            </div>
                          </div>
                          <p class="font-size-md mb-2">
                            <%= r.content %>
                          </p>
                          <% if (r.settings && r.settings.products) { %>
                            <span class="d-block mb-1 font-weight-medium font-size-xs">
                              Sipariş verilen ürünler:
                            </span>


                            <% r.settings.products.forEach(p => { %>

                            <a class="mr-2 font-size-xs" href="/<%=p.slug%>?butcher=<%=butcher.slug%>"><i
                                class="mr-1 czi-check-circle"></i><%=p.name%></a>




                            <% })%>


                            <% } %>
                            <% if (r.replyContent) { %>
                              <div class="font-size-sm text-dark mt-2 bg-secondary p-3 mt-3">
                                <% if (r.replyDisplayUser) { %>
                                  <span class="d-block font-weight-bold"><%=r.replyDisplayUser%></span> 
                                <% } %>
                                
                                <%- controller.markdown.render(r.replyContent) %>
                              </div>
                  
                            <% } %>
                          
                        </div>
                        <% }) %>
    
    
    
    
    
    
    
                      </div>
                    </div>
                  </div>
                  <% } %>
    
    
    
                  <div class="card rounded-0">
                    <div class="card-header" role="tab">
                      <h3 class="accordion-heading"><a href="#dispatchArea" data-toggle="collapse"><i
                            class="font-size-lg mr-2 mt-n1 align-middle"></i><%='Teslimat Bilgisi'%><span
                            class="accordion-indicator"><i data-feather="chevron-up"></i></span></a></h3>
                    </div>
                    <div class="collapse " id="dispatchArea" data-parent="#payment-method" role="tabpanel">
                      <div class="card-body ">
                        <% if ((!controller.logisticsProvider || controller.logisticsPriceSlice.length == 0) && __req.prefAddr) { %>
                          <p>
                            Kasabın semtinize hizmeti yoktur.
                          </p>
                        <% } else if (controller.logisticsProvider) { %>
                          <div class="text-center font-weight-bolder">
                            <%=controller.logisticsProvider.options.dispatcher.name%>
                          </div>
                          
    
                          <div class="mb-3">
                            <%- include('./_partial/ship-price-slice.ejs', {                                
                              slices: controller.logisticsPriceSlice
                                }) %>
                          </div>
        
                              <p>
                                <%=__req.prefAddr.display%>
                              </p>
             
                             <p>
                                Ortalama: <%= controller.distance.toFixed(1) %> km 
                             </p>                          
                        <% } else { %>
                          <div class="text-center ">
                            <p>
                               Teslimat bilgisi almak için semtinizi seçin.
                            </p>
                            <a class="select-area-action btn btn-sm btn-primary">Semt Seç</a>
                          </div>
               
                          
    
    
    <% } %>
    <div>
      <p class="border-bottom mb-1">Çalışma Günleri</p>
      <%- include('./_partial/workday-view', { butcher: controller.butcher }) %>

    </div>



    
                      </div>
                    </div>
                  </div>
    
                  <div class="card rounded-0">
                    <div class="card-header" role="tab">
                      <h3 class="accordion-heading"><a href="#card" data-toggle="collapse"><i
                            class="font-size-lg mr-2 mt-n1 align-middle"></i><%='Hakkında'%><span
                            class="accordion-indicator"><i data-feather="chevron-up"></i></span></a></h3>
                    </div>
                    <div class="collapse " id="card" data-parent="#payment-method" role="tabpanel">
                      <div class="card-body ">
    
    
    
    
                        <% if(butcher.description){ %>
                        <p><%- controller.markdown.render(butcher.description) %></p>
    
                        <% } else { %>
                        <p>
                          <%= butcher.name %>, uzun yıllardır en kaliteli et ve et ürünlerini müşterilerine sunmayı ilke
                          edinmiştir.
                        </p>
                        <p>
                          <%= butcher.areaLevel1.name %> ilinde hizmetlerine devam eden <%= butcher.name %>,
                          müşteri memnuniyetini en ön planda tutmakta, sağlıklı et ve et ürünleri sağlamaya devam
                          etmektedir.
                        </p>
    
                        <%  } %>
    
                        <hr class="my-4">
                        <h6>İletişim</h6>
                        <p><%= butcher.address %>, <%= butcher.areaLevel2.name %>/<%= butcher.areaLevel1.name %></p>
                        <a target="_blank" href="https://www.google.com/maps/search/?api=1&query=<%=butcher.lat%>,<%=butcher.lng%>"> <%= 'Kasap Lokasyonuna Git' %></a>
                        
                        <% if (butcher.website) { %>
                        <a target="_blank" class="font-size-xs nav-link-style d-flex align-items-center"
                          href="<%= butcher.website %>"><i
                            class="czi-globe opacity-60 mr-2"></i><%= butcher.website %></a>
                 
    
    
                      <% } %>
    
                        <% if (!butcher.approved) { %>
                        <ul class="list-unstyled font-size-sm">
                          <% if(false){ %>
    
                          <li><a class="nav-link-style d-flex align-items-center font-size-xs"
                              href="mailto:<%= butcher.email %>"><i
                                class="czi-mail opacity-60 mr-2"></i><%= butcher.email %></a></li>
                          <% } %>
    
                          <% if(false) { %>
    
                          <li><a target="_blank" class="font-size-xs nav-link-style d-flex align-items-center"
                              href="<%= butcher.website %>"><i
                                class="czi-globe opacity-60 mr-2"></i><%= butcher.website %></a></li>
    
    
                          <% } %>
    
                          <% if(false) { %>
    
                          <li><a target="_blank" class="font-size-xs nav-link-style d-flex align-items-center"
                              href="tel: <%= butcher.phone %>"><i
                                class="czi-phone opacity-60 mr-2"></i><%= butcher.phone %></a>
                          </li>
    
    
                          <% } %>
    
    
                        </ul>
                        <% } %>
    
    
    
    
                      </div>
                    </div>
                  </div>
                </div>
    
              </div>
            </div>
    
    
            <div id="items" class="col-md-8 ">

              <% if (controller.butcher.products.length == 0) { %>
                <h6 class="h6">
                  Kasabımız çiçeği burnunda!
                </h6>
                <p>
                  Sizlere en iyi hizmeti verebilmek için ekibimiz bu kasabımızın ürünlerinin son kontrollerini yapıyor. 
                </p>
                <p>
                  Tüm ürünlerin miktar, fiyat ve birim özelliklerinin tamamlanmasını biz de sabırsızlıkla bekliyoruz.
                </p>
              <%}%>
              <div id="cat-slider" class="py-2 slider">
                <%- include('./_partial/category-slider', { categories: controller.categories, subUrl: butcher.slug + '/', selected: controller.category.slug, mode:'browse', header: false, titles: false, viewCats: ['butcher', 'reyon', 'list', 'product:dispatch=countrywide'], title: 'Kategoriler', allUrl: '/kasap-urunleri' }); %>
              </div>
    
              
    
                <div class="mb-3" data-simplebar>
                  <div class="d-flex pb-2">
                    <% controller.subCategories.forEach((sc, i) => { %>
                    <% if (sc.products.length > 0) { %>
                    <div class="tag-toggle mr-3 mb-2" data-stag="<%=__helper.slugify(sc.title)%>">
                      <a onclick="goSubitem('<%=__helper.slugify(sc.title)%>')"
                        class="text-uppercase <%= controller.subCategories.length == 1 ? 'text-dark':  'text-info' %> font-size-sm text-center text-nowrap">
                        <%=sc.title%>
                      </a>
                    </div>
                    <% } %>
                    <% }) %>
                  </div>
    
                </div>
    
    
                <% controller.subCategories.forEach((sc, i) => { %>
                  <%if (sc.visible && sc.products.length > 0) { %>
                  <div data-tag="" id="<%= __helper.slugify(sc.title) %>" class="mb-3 border-bottom">
                    <h4 class="h6 mb-2 text-capitalize"><%= sc.title %></h4>
                    <span class="font-weight-light">
                      <%-controller.markdown.render(sc.description || '')%>
                    </span>
                  </div>
                  <%}%>
                <div class="row">
                <% sc.products.forEach((product,i) => { %>
                  <div data-tag="<%= __helper.slugify(product.tag1) %>" class="col-md-4 col-6 ">
                    <% var showPrice = butcher.approved && (butcher.status == 'open') && (butcher.priceDisplay == 'show') %>
                    <%- include('./_partial/product-view.ejs', { showPrice: showPrice , showPurchase: showPrice, butcher: butcher.slug, butcherProduct: butcher.products.find(p=>p.productid == product.id), product: product}) %>
                  </div>
                  <% if (controller.foods && controller.foods.length > 0 && !foodsInserted && i>controller.products.length/5) { %>
                  <% foodsInserted = true; %>
                  <div data-tag="" class="col-md-4 col-6">
                    <%- include('./_partial/generic-item-view.ejs', { imgClass: 'rounded-lg', title: foodCategoryParams.title, href: `${foodCategoryParams.allUrl}`, src: `${ __req.helper.imgUrl('category-photos', controller.category.slug, 'thumbnail', true, 'list')}` }) %>
                  </div>
                  <%}%>
                <%  }) %>
                </div>
            
                <% }) %>
         
    
          
    
        </div>
    
    
        </div>
      </div>
    
      </div>
    
  
    </div>
















  <% include ./_partial/footer %>
  <% include ./_partial/scripts %>





  <%- include('./_partial/purchase', { returnUrl: butcher.slug + '/' + controller.category.slug, butcher: butcher  }); %>








</body>

</html>