<!DOCTYPE html>
<html lang="tr-TR" prefix="og: http://ogp.me/ns#">

<head>
  <% include ./_partial/head %>

</head>

<body>
  <% include ./_partial/header %>



  <!-- Page Content -->
  <div class="page-title py-2" >
    <div class="container d-lg-flex justify-content-between py-2 py-lg-3">
      <div class="order-lg-2 mb-3 mb-lg-0 pt-lg-2">
        <nav aria-label="breadcrumb" class="d-none d-lg-block">
          <ol class="breadcrumb breadcrumb-dark flex-lg-nowrap justify-content-center justify-content-lg-star">
            <li class="breadcrumb-item"><a class="text-nowrap" href="/"><i class="czi-home"></i></a></li>
          </ol>
        </nav>
      </div>
      <div class="order-lg-1 pr-lg-4 text-center text-lg-left">

        <h1 class="h3">Kasaplar</h1>
        <h2 class="h4 lead">
          Online et ve et ürünleri siparişi verebileceğiniz güvenilir kasap iş ortaklarımız.</h2> 

      </div>


    </div>
  </div>








  <div class="container pt-3">
      <div class="row">
        <% for(var i=0; i<butchers.length; i++) {%>

        <div class="col-md-3 col-6 mb-3 ">

          <div class="card h-100">
            
          
             
            <a href="<%= `/${butchers[i].slug}` %>">
              <img width="500" height="500" src="<%= `${__req.helper.imgUrl('butcher-google-photos', butchers[i].slug)}` %>"
                  class="card-img-top" alt="<%= `/${butchers[i].name}` %>">
          </a>

            <div class="card-body text-center ">
              <h5 class="card-title">
                <a href="<%= `/${butchers[i].slug}` %>" class="text-dark font-size-md">
                  <%= butchers[i].name %>
                </a>

                </h5>
              <div class="card-text-container font-size-md">



              </div>
            </div>
          </div>


        </div>

        <% } %>
      </div>
    
  </div>

  <% if(typeof(subs) != "undefined"){ %>
  <div class="container-fluid text-center pb-4 bg-light">
    <% for(var i=0; i<subs.length; i++) {%>

    <a href="<%= `/${subs[i].slug}-kasap` %>" class="btn btn-sm btn-secondary mx-2 my-2"><%= subs[i].name %></a>


    <% } %>
  </div>



  <% } %>

  <% if (__req.query.nodesc!='1') { %>
    <div class="container mb-3">
        <div class="collapse-container page-footer-text">
            <div class="collapse" id="collapseSummary">
                <h2>Online Kasaplar</h2>
              <p>
                  Birbirinden seçkin kasaplar KasaptanAl.com ile, <strong>sağlıklı ve lezzetli et ürünlerine online</strong> ulaşmanızı sağlamakta.      
                <strong>Şehrin en iyi kasaplarını</strong> saydam, ölçülebilir ve doğrulanabilir kriterlerle belirliyoruz. Örneğin <strong>mesleki deneyim olarak en az 10 yılı</strong> şart koşuyoruz.                 
              </p>
              <h3>
                İyi Kasap, iyi et, sağlıklı yaşam
              </h3>
              <p>
                Sağlıklı bir yaşam için sağlıklı beslenme şart. Kırmızı ve beyaz et ve et ürünleri de sağlıklı bir diyetin önemli parçalarından. Bu ürünleri nereden aldığınız belki de <strong>sağlıklı beslenmenin en kritik sorusu</strong>.
                Bu aşamada KasaptanAl.com olarak iş ortaklarımız <strong>iyi eti size garanti ediyor</strong>. Çünkü tüm iş ortaklarımız; yerel, et konusunda deneyimli, kendi işini yapan <strong>dürüst kasaplar</strong>.                                
              </p>
              <h3>Neden et kasaptan alınır?</h3>
              <p>
                Uzun yıllardır yaygın kullanılan bu sözün arkasında önemli gerçekler var.
                <ul>
                  <li>
                    <strong>Kasaplar</strong> yerel işletmelerdir. Bir kasap müşterilerine en iyi eti sağlamalıdır ki işletmesini devam ettirebilsin.
                  </li>
                  <li>
                    <strong>Kasaplar</strong> iyi eti bilmek zorundadır. Yerel bir işletme olarak et konusunda deneyim kazanırlar.
                  </li>
                  <li>
                    <strong>Kasaplar</strong> hayvan seçimi konusunda deneyimlidir. Bazıları yerel tedarikçilerle çalışırken bazıları kendi çiftliklerine sahiptir.
                  </li>
                </ul>
              </p>
              <h3>
                Her şehrin en iyi kasapları KasaptanAl.com ile online
              </h3>
              <p>
                Türkiye'nin <strong>online kasap platformu</strong> ile hedeflerimiz, şehrin en iyi ve <strong>en yakın kasaplarını</strong> keşfetmenizi sağlamak, hızlı, kolay ve kârlı bir kasap alışverişi deneyimi yaşamanız. Bu amacımızı gerçekleştirmek için web sitemizi devamlı güncelliyoruz, iş ortağı kasaplarımızdan ve sizlerden gelen yorumları titizlikle değerlendiriyoruz.
              </p>
              <p>
                Pek çok ilde hizmet vermekteyiz. <strong>Ankara'nın en iyi kasapları</strong> ve <strong>İstanbul'un en iyi kasapları</strong> başta olmak üzere <strong>İzmir</strong> kasapları, <strong>Eskişehir</strong> kasapları KasaptanAl.com üzerinden <strong>en kaliteli ve sağlıklı et ürünlerini</strong> güvenle sizlere sunmakta ve <strong>online et siparişi</strong> almaktadır.
              </p>
            </div>
            <a class="collapsed text-dark" data-toggle="collapse" href="#collapseSummary" aria-expanded="false"
                aria-controls="collapseSummary"></a>
        </div>
    </div>
    <% } %>




  </div>

  <% include ./_partial/footer %>
  <% include ./_partial/scripts %>

  <script>

    
  </script>
</body>

</html>