<!DOCTYPE html>
<html lang="tr-TR" prefix="og: http://ogp.me/ns#">

<head>
  <% include ./_partial/head %>
</head>

<body style="<%=__req.query.go == '1' ? 'opacity: 0;':''%>">
  <% include ./_partial/header %>
  <link href="https://www.kasaptanal.com/<%=controller.category.slug%>" rel="canonical">

  <%-include('./_partial/food-select-alternatives.ejs', {}) %>

  <%
    var relatedFoodCategory = controller.category.relatedFoodCategory ? __req.__categories.find(p => p.id == controller.category.relatedFoodCategory): 0;          

    var foodCategoryParams = {allUrl: relatedFoodCategory ? '/et-yemekleri/' + relatedFoodCategory.slug: '/' + controller.category.slug + '/et-yemekleri', mode: 'yemek', foods: controller.foods, title: relatedFoodCategory ? relatedFoodCategory.name: controller.category.tarifTitle || 'Yemekler'}    
  %>


  <div class="page-title-overlap bg-primary pt-4 <%=controller.category.slug%>">
    <div class="container d-lg-flex justify-content-between py-2 py-lg-3">
      <div class="order-lg-2 mb-3 mb-lg-0 pt-lg-2">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb breadcrumb-light flex-lg-nowrap justify-content-center justify-content-lg-star">
            <li class="breadcrumb-item"><a class="text-nowrap" href="/"><i class="czi-home"></i></a></li>
            <li class="breadcrumb-item text-nowrap"><a href="/kasap-urunleri">Ürünler</a>
            </li>
            <li class="breadcrumb-item text-nowrap active" aria-current="page"><%= controller.category.name %></li>
          </ol>
        </nav>
      </div>
      <div class="media media-ie-fix d-block d-sm-flex align-items-center text-center text-sm-left">
        <a class="d-inline-block mx-auto mr-sm-4" href="/<%= controller.category.slug%>" style="width: 10rem;">

          <img class="rounded-circle" src="<%=`${__req.helper.imgUrl('category-photos', controller.category.slug)}`%>"
            alt="<%= controller.category.name%>"></a>
        <div class="media-body pt-2">


          <h1 class="h3 text-light"><%= controller.category.name %></h1>
          <h2 class=" text-light h4 lead"><%= controller.category.shortdesc %></h2>
        </div>
      </div>
    </div>
  </div>



  <div id="items-container" class="container px-0">

    <div class="bg-light box-shadow-lg px-4 py-4 mb-3 ">
      <%if (controller.category.slug != 'kurban') { %>
      <div class="mb-1 ">
        <%- include('./_partial/category-slider', { selected: controller.category.slug, mode:'browse', header: false, titles: false, viewCats: ['reyon', 'list'], title: 'Tüm Ürünlerimiz', allUrl: '/kasap-urunleri' }); %>
      </div>
      <div class="input-group-overlay mb-3">

        <div class="input-group-prepend-overlay">

          <span class="input-group-text">
            <i class="notsearching czi-search"></i>
            <span class="searching d-none spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          </span>
        </div>
        <input data-search="product" id="page-searchbox" class="form-control searchBox prepended-form-control"
          data-noresults-text="Maalesef bulamadık." autocomplete="off" type="text"
          placeholder="<%=controller.category.searchhint ? 'örneğin ' + controller.category.searchhint: 'ürünler içerisinde arayın' %>">
        <div>

        </div>
      </div>

      <% } else { %>
        <div class="text-dark mb-4 px-4 py-4 text-center" style="background-image: url(<%=__config.staticDomain %>/resource/img/islam-bg.jpeg);background-repeat: repeat">
            <div class="container ">
              <h2 class="h3 text-dark">Kurban kutsal bir dinî ibadettir</h2>
                       <p class="lead"><strong>İbadetin doğru yapılması</strong> konusunda hassasız.
                        Bayram, adak veya diğer kurban ibadetlerinizi en doğru şekilde yapabilmeniz için çalışıyoruz.</p>
                  <p class="lead">
                  
                  İş ortaklarımız <strong>ibadet amacıyla hayvan seçimi, helâl kesim ve tüm İslâmi usuller</strong> konusunda usta, <strong>yerel ve inançlı</strong>  kasaplardır.
              </p>              
              <p><a class="btn btn-shadow btn-warning" href="/blog/dini-ibadetler" role="button">Daha Fazla Bilgi »</a></p>
            </div>
      
        </div>
      <% } %>

      <% if (controller.category.subCategories.length) { %>
        <% var displayed = [], 
        subs = controller._.sortBy(controller.category.subCategories, ["displayOrder"]).reverse() ; 
        subs = subs.filter(sc=>sc.visible == true)  
        %>

        <% for (var k=0; k < subs.length; k++) { %>
          <% var subCat = subs[k] %>
          
          <div class="mb-3 border-bottom">
            <h4 class="h5 mb-2"><%= subCat.title %></h4>
            <span class="font-weight-light">
              <%-controller.markdown.render(subCat.description || '')%>            
            </span>
          </div>
          <div class="row mb-3">
            <% 
            
             var products = controller.products.filter(
              
             p => { return p.categories.find(pc=>pc.subcategoryid == subCat.id) } 
            
            ) 
              displayed = displayed.concat(products.map(p=>p.id))
            %>
            
            <% for(var j=0; j< products.length; j++) {%>
            <div class="col-md-3 col-6 ">
              <%- include('./_partial/product-view.ejs', {product: products[j]}) %>
            </div>
            <% } %>
    
    
    
          </div>


          
          <% } %>
    
          <% if (displayed.length != controller.products.length) { %>
            <%var remain = controller.products.filter(p=> {return displayed.indexOf(p.id) < 0 })  %>
            <div class="border-bottom mb-3">
              <h4 class="h5 mb-2">Diğer</h4>
            </div>            
            <div class="row">
            <% for(var j=0; j< remain.length; j++) {%>
              <div class="col-md-3 col-6 ">
                <%- include('./_partial/product-view.ejs', {product: remain[j]}) %>
              </div>
              <% } %>
            </div>
          <% } %>          

      <% } else { %>
        <div class="row">
 
          <% for(var j=0; j< controller.products.length; j++) {%>
          <div class="col-md-3 col-6 ">
            <%- include('./_partial/product-view.ejs', {product: controller.products[j]}) %>
          </div>
          <% } %>
  
  
  
        </div>
      <% } %>
      



      <div>

        <% if (controller.foods.length > 0) { %>
        <div class="mb-3 ">
          <%- include('./_partial/foods-slider.ejs', foodCategoryParams) %>

        </div>
        <% } %>

      </div>
      <div class="mb-3">
        <%- include('./_partial/category-slider', { viewCats: ['reyon', 'list'], title: 'Ürünler', allUrl: '/kasap-urunleri' }); %>

      </div>

      <% if (controller.category.mddesc) { %>
      <div class="collapse-container page-footer-text">
        <div class="collapse" id="collapseSummary">
          <%- controller.category.mddesc && controller.Markdown.render(controller.category.mddesc) %>

        </div>
        <a class="collapsed text-dark" data-toggle="collapse" href="#collapseSummary" aria-expanded="false"
          aria-controls="collapseSummary"></a>
      </div>

      <%}%>


    </div>
  </div>



  <% include ./_partial/footer %>
      <% include ./_partial/scripts %>

      <script>

        $(document).ready(function () {
          var el = document.getElementById('sc');
          var sb = SimpleBar.instances.get(el);
          var scel = sb.getScrollElement();
          var selected = $("#cat-item-<%=controller.category.slug%>").offset();
          var left = selected.left - 70;


          $(scel).animate({ scrollLeft: left }, 50, function () {

          });
          if (location.hash == '#items') {
            $('html,body').animate({scrollTop: $('#items-container').offset().top}, 10, function () {
              $("body").animate({ opacity: 1 }, 100, function () {

              });
            });
            location.hash = "";

          } else {
            $("body").css("opacity",1)
          }



        })
      </script>

</body>

</html>