<!DOCTYPE html>
<html lang="tr-TR" prefix="og: http://ogp.me/ns#">

<head>
  <% include ./_partial/head %>
</head>

<body>
  <% include ./_partial/header %>
  <link href="https://www.kasaptanal.com/<%=controller.category.slug%>" rel="canonical">

  <%
    var relatedFoodCategory = controller.category.relatedFoodCategory ? __req.__categories.find(p => p.id == controller.category.relatedFoodCategory): 0;          
    var foodCategoryParams = {allUrl: relatedFoodCategory ? '/et-yemekleri/' + relatedFoodCategory.slug: '/' + controller.category.slug + '/et-yemekleri', mode: 'yemek', foods: controller.foods, title: relatedFoodCategory ? relatedFoodCategory.name: controller.category.tarifTitle || 'Yemekler'}    
    var foodsInserted = false; 
  %>



  <a id="items-container" class="d-block"></a>

  <div class="page-title  py-2 <%=controller.category.slug%>">
    <div class="container d-lg-flex justify-content-between py-2 py-lg-3">
      <div class="order-lg-2 mb-3 mb-lg-0 pt-lg-2">
        <nav aria-label="breadcrumb" class="d-none d-lg-block">
          <ol class="breadcrumb breadcrumb-dark flex-lg-nowrap justify-content-center justify-content-lg-star">
            <li class="breadcrumb-item"><a class="text-nowrap" href="/"><i class="czi-home"></i></a></li>
            <li class="breadcrumb-item text-nowrap"><a href="/kasap-urunleri">Ürünler</a>
            </li>
          </ol>
        </nav>
      </div>
      <div class="order-lg-1 pr-lg-4 text-center text-lg-left">
        <h1 class="h3 "><%= controller.category.name %></h1>
        <h2 class=" h4 lead"><%= controller.category.shortdesc %></h2>
      </div>
    </div>
  </div>



  <div class="container">

      <%if (controller.category.slug != 'kurban' || __req.query.go) { %>

      <div class="input-group-overlay">

        <div class="input-group-prepend-overlay">

          <span class="input-group-text">
            <i class="notsearching czi-search"></i>
            <span class="searching d-none spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          </span>
        </div>
        <input data-search="product" id="page-searchbox" class="form-control searchBox prepended-form-control"
          data-noresults-text="Maalesef bulamadık." autocomplete="off" type="text"
          placeholder="<%=controller.category.searchhint ? 'örneğin ' + controller.category.searchhint: 'ürünler içerisinde arayın' %>">
        <div>

        </div>
      </div>

      <% } else { %>
      <div class="text-dark mb-3 px-3 py-2 text-center bg-secondary border rounded-lg">
        <div class="container ">
          <p class="lead">

            Kurban İbadeti, süreç yönetimimiz ve kalite standartlarımız hakkında detaylı bilgi alın.
          </p>
          <p>
            <a class="btn btn-shadow btn-warning" href="/blog/kurban-ibadeti" role="button">Detaylı Bilgi &raquo;</a></p>
        </div>

      </div>
      <% } %>
      <%if (controller.category.slug != 'kurban' || __req.query.go) { %>
      <div id="cat-slider" class="py-2">
        <%- include('./_partial/category-slider', { subUrl: '',  selected: controller.category.slug, mode:'browse', header: false, titles: false, viewCats: ['reyon', 'list'], title: 'Tüm Ürünlerimiz', allUrl: '/kasap-urunleri' }); %>
      </div>
      <% } %>

      <div class="mb-3" data-simplebar>
        <div class="d-flex pb-2">
          <% controller.subCategories.forEach((sc, i) => { %>
          <div class="tag-toggle mr-3 mb-2" data-stag="<%=__helper.slugify(sc.title)%>">
            <a onclick="goSubitem('<%=__helper.slugify(sc.title)%>')"
              class="text-uppercase <%= controller.subCategories.length == 1 ? 'text-dark':  'text-info' %> font-size-sm text-center text-nowrap">
              <%=sc.title%>
            </a>
          </div>
          <% }) %>
        </div>

      </div>


      <% controller.subCategories.forEach((sc, i) => { %>
      <%if (sc.visible && sc.products.length > 0) { %>
      <div data-tag="" id="<%= __helper.slugify(sc.title) %>" class="mb-3 border-bottom">
        <h4 class="h6 mb-2 text-capitalize"><%= sc.title %></h4>
        <span class="font-weight-light">
          <%-controller.markdown.render(sc.description || '')%>
        </span>
      </div>
      <%}%>
    <div class="row">
    <% sc.products.forEach((product,i) => { %>
      <div data-tag="<%= __helper.slugify(product.tag1) %>" class="col-md-3 col-6 ">
        <%- include('./_partial/product-view.ejs', {product: product, showPurchase: true}) %>
      </div>
      <% if (controller.foods && controller.foods.length > 0 && !foodsInserted && i>controller.products.length/5) { %>
      <% foodsInserted = true; %>
      <div data-tag="" class="col-md-3 col-6">
        <%- include('./_partial/generic-item-view.ejs', { badge: 'Yemeklere Gözatın', imgClass: 'rounded-lg', title: foodCategoryParams.title, href: `${foodCategoryParams.allUrl}`, src: `${ __req.helper.imgUrl('category-photos', controller.category.slug, 'thumbnail', true, 'food')}` }) %>
      </div>
      <%}%>
    <%  }) %>
    </div>

    <% }) %>

    <div class="mb-3">
      <%- include('./_partial/category-slider', { urlParams: 'go=1#items', viewCats: ['reyon', 'list'], mode:'list', title: 'Ürünlerimiz', allUrl: '/kasap-urunleri' }); %>
    </div>

 
    <% if (controller.category.mddesc) { %>
      <div class="mb-3 collapse-container page-footer-text">
        <div class="collapse" id="collapseSummary">
          <%- controller.category.mddesc && controller.Markdown.render(controller.category.mddesc) %>
  
        </div>
        <a class="collapsed text-dark" data-toggle="collapse" href="#collapseSummary" aria-expanded="false"
          aria-controls="collapseSummary"></a>
      </div>
  
      <%}%> 

  

 



  </div>





  <% include ./_partial/footer %>
  <% include ./_partial/scripts %>

  <%- include('./_partial/purchase', { returnUrl:  controller.category.slug  }); %>






</body>

</html>