<!DOCTYPE html>
<html lang="en">

<head>
  <% include ./_partial/head %>
</head>

<body>
  <% include ./_partial/header %>



  <div class="page-title-overlap bg-primary pt-4">
    <div class="container d-lg-flex justify-content-between py-2 py-lg-3">
      <div class="order-lg-2 mb-3 mb-lg-0 pt-lg-2">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb breadcrumb-light flex-lg-nowrap justify-content-center justify-content-lg-star">
            <li class="breadcrumb-item"><a class="text-nowrap" href="/"><i class="czi-home"></i></a></li>
            <li class="breadcrumb-item text-nowrap"><a href="/reyonlar">Tüm Lezzetler</a>
            </li>
            <li class="breadcrumb-item text-nowrap active" aria-current="page"><%= controller.category.name %></li>
          </ol>
        </nav>
      </div>
      <div class="media media-ie-fix d-block d-sm-flex align-items-center text-center text-sm-left">
        <a class="d-inline-block mx-auto mr-sm-4" href="/<%= controller.category.slug%>" style="width: 10rem;">
          
          <img class="rounded-circle" src="/<%= controller.category.slug%>/resimler/thumbnail" alt="<%= controller.category.name%>"></a>
        <div class="media-body pt-2">
 
 
          <h1 class="h3 text-light mb-0"><%= controller.category.name %></h1>
          <p class="lead text-light"><%= controller.category.shortdesc %></p>

        </div>
      </div>
    </div>
  </div>


  <div class="container">
    <div class="bg-light box-shadow-lg rounded-lg px-4 py-4 mb-2 mb-md-4">
      <div class="">
        <%- include('./_partial/products-view', {viewId: "", viewMode:'tab', products: controller.products}); %>

      </div>
      <div>

        <%if (controller.foods.length) {%>
        <div class="d-flex flex-wrap justify-content-between align-items-center pt-1 border-bottom pb-1 mb-2">
                <h3 class="h4 mb-0 mr-2"><%= controller.category.tarifTitle || 'Etler Bizden Tarifleri' %></h3>
                <a class="btn btn-sm btn-light" href="/et-yemek-tarifleri/<%=controller.category.slug%>"><i class="czi-arrow-right ml-1 mr-n1"></i></a>
            </div>   
            <p> <span class="badge badge-primary mr-2"><i class=" czi-add-circle mr-2">
            </i>Uygun Hazırla</span>seçeneği ile etinizi istediğiniz yemeğe uygun olarak hazırlıyoruz.</p>
           

    <div class="table-responsive" data-simplebar>
            <div class="d-flex pb-2 ">
                    <% controller.foods.forEach((resource, i)=> {%>
                    <div class="mr-2 ">
                        <div class="item-slider item-slider-sm">
                            
                          <div class="card product-card card-static item-card">
                            <a class="card-img-top d-block overflow-hidden gallery-item video-item"
                            href="/<%= `${resource.product.slug}/yemek-tarifi/${__helper.slugify(resource.title || 'tarif')}?r=${resource.id}`  %>">
                              <!-- <img class="rounded" src="<%= `https://img.youtube.com/vi/${resource.contentUrl}/maxresdefault.jpg` %>" alt="<%= resource.title  %>"> -->
                              <img class="rounded" src="<%= `/${resource.product.slug}/resimler/thumbnail` %>" alt="<%= resource.title  %>">
                            </a>
                            <div class="card-body pl-0 text-center">
                              <h3 class="product-title font-size-md"><a href="/<%= `${resource.product.slug}/yemek-tarifi/${__helper.slugify(resource.title || 'tarif')}?r=${resource.id}`  %>"><%= resource.title  %></a>
                              </h3>
                            </div>
                          </div>
    
                        </div>
    
                    </div>  
                    <%})%>
            </div>
    </div> 

    <%}%>
    </div>
    </div>
  </div>



  <% include ./_partial/footer %>
  <% include ./_partial/scripts %>

</body>

</html>