<!DOCTYPE html>
<html lang="en">

<head>
  <% include ./_partial/head %>
</head>

<body>
  <% include ./_partial/header %>

  <%-include('./_partial/food-select-alternatives.ejs', {}) %>


  <div class="page-title-overlap bg-primary pt-4">
    <div class="container d-lg-flex justify-content-between py-2 py-lg-3">
      <div class="order-lg-2 mb-3 mb-lg-0 pt-lg-2">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb breadcrumb-light flex-lg-nowrap justify-content-center justify-content-lg-star">
            <li class="breadcrumb-item"><a class="text-nowrap" href="/"><i class="czi-home"></i></a></li>
            <li class="breadcrumb-item text-nowrap"><a href="/lezzetler">Lezzetler</a>
            </li>
            <li class="breadcrumb-item text-nowrap active" aria-current="page"><%= controller.category.name %></li>
          </ol>
        </nav>
      </div>
      <div class="media media-ie-fix d-block d-sm-flex align-items-center text-center text-sm-left">
        <a class="d-inline-block mx-auto mr-sm-4" href="/<%= controller.category.slug%>" style="width: 10rem;">
          
          <img class="rounded-circle" src="/<%= controller.category.slug%>/resimler/thumbnail" alt="<%= controller.category.name%>"></a>
        <div class="media-body pt-2">
 
 
          <h1 class="h3 text-light mb-0"><%= controller.category.name %></h1>
          <p class="lead text-light"><%= controller.category.shortdesc %></p>

        </div>
      </div>
    </div>
  </div>



  <div class="container ">
    <div class="bg-light box-shadow-lg px-4 py-4 mb-3 __xxx__">
      <div class="row">
        <% var foodsInserted = false %>
        <% for(var j=0; j< controller.products.length; j++) {%>
        <div class="col-md-3 col-6 ">
            <%- include('./_partial/product-view.ejs', {product: controller.products[j]}) %>
        </div>
        <% if (!foodsInserted && (controller.foods.length > 0) && (j == 11) && (controller.foods.length >= 4) && controller.category.tarifTitle) { foodsInserted = true; %>
          <div class="mb-3 __xxx__ col-12">
            <%- include('./_partial/foods-slider.ejs', {allUrl: '/' + controller.category.slug + '/et-yemekleri', mode: 'yemek', foods: controller.foods, title: controller.category.tarifTitle || 'Yemekler'}) %>

          </div>
        <% } %>
        <% } %>
    </div>

      <div>

        <% if (!foodsInserted && controller.category.tarifTitle && controller.foods.length > 0) { %>
          <div class="mb-3 __xxx__">
            <%- include('./_partial/foods-slider.ejs', {allUrl: '/' + controller.category.slug + '/et-yemekleri' , mode: 'yemek', foods: controller.foods, title: controller.category.tarifTitle || 'Yemekler'}) %>

          </div>
        <% } %>
       
    </div>

    <%- include('./_partial/category-slider', { viewCats: ['reyon', 'list'], title: 'Lezzetler', allUrl: '/lezzetler' }); %>


    </div>
  </div>



  <% include ./_partial/footer %>
  <% include ./_partial/scripts %>

</body>

</html>