

<!DOCTYPE html>
<html lang="tr-TR" prefix="og: http://ogp.me/ns#">

<head>
  <% include ./_partial/head %>

  <script>
    var scrollOffset = 0;
  </script>
</head>

<body>
  <% if (!__req.prefAddr) { %>
    <!-- <% include ./_partial/select-location-msg %> -->
  <% } %>
  <% include ./_partial/header %>
  <link href="https://www.kasaptanal.com/<%=controller.category.slug%>" rel="canonical">





  <a id="items-container" class="d-block"></a>

  <% if (controller.platform == 'web') { %>
  <div class="page-title app-d-none">
    <div class="container d-lg-flex justify-content-between py-2 py-lg-3">
      <div class="order-lg-2 mb-3 mb-lg-0 pt-lg-2">
        <nav aria-label="breadcrumb" class="d-none d-lg-block">
          <ol class="breadcrumb breadcrumb-dark flex-lg-nowrap justify-content-center justify-content-lg-star">
            <li class="breadcrumb-item"><a class="text-nowrap" href="/"><i class="czi-home"></i></a></li>
            <li class="breadcrumb-item text-nowrap"><a href="/kasap-urunleri">Ürünler</a>
            </li>
          </ol>
        </nav>
      </div>
      <div class="order-lg-1 pr-lg-4 text-center text-lg-left">
        <h1 class="h3 "><%= controller.category.name %></h1>
        <h2 class=" h4 lead"><%= controller.category.shortdesc %></h2>
      </div>
    </div>
  </div>

  <% } %>


  <div class="container">



      <div id="cat-slider">
        <%- include('./_partial/category-slider', { partialRender: true, subUrl: '',  selected: controller.category.slug, mode:'browse', header: false, titles: false, title: 'Kategoriler', allUrl: '/kasap-urunleri' }); %>
      </div>


      





<div id="category-products">
  <%-include('./category-items.ejs', {}) %>
</div>


 
    <% if (controller.category.mddesc && controller.platform != 'app') { %>
      <div class="mb-3 collapse-container page-footer-text">
        <div class="collapse" id="collapseSummary">
          <%- controller.category.mddesc && controller.Markdown.render(controller.category.mddesc) %>
  
        </div>
        <a class="collapsed text-dark" data-toggle="collapse" href="#collapseSummary" aria-expanded="false"
          aria-controls="collapseSummary"></a>
      </div>
  
      <%}%> 

  

 



  </div>
<script>
  gtags.push(['categoryview', '<%=controller.category.type%>', '<%=controller.category.slug%>']);
</script>



  <% include ./_partial/footer %>
  <% include ./_partial/scripts %>

  <%- include('./_partial/purchase', { returnUrl:  controller.category.slug  }); %>
  <%- include('./_partial/category-items-script', {   }); %>






</body>

</html>