<!DOCTYPE html>
<html lang="tr-TR" prefix="og: http://ogp.me/ns#">

<head>
  <% include ./_partial/head %>
</head>

<body style="<%=__req.query.go == '1' ? 'opacity: 0;':'opacity: 0;'%>">
  <% include ./_partial/header %>
  <link href="https://www.kasaptanal.com/<%=controller.category.slug%>" rel="canonical">

  <%
    var relatedFoodCategory = controller.category.relatedFoodCategory ? __req.__categories.find(p => p.id == controller.category.relatedFoodCategory): 0;          
    var foodCategoryParams = {allUrl: relatedFoodCategory ? '/et-yemekleri/' + relatedFoodCategory.slug: '/' + controller.category.slug + '/et-yemekleri', mode: 'yemek', foods: controller.foods, title: relatedFoodCategory ? relatedFoodCategory.name: controller.category.tarifTitle || 'Yemekler'}    
    var foodsInserted = false; 
  %>


  <div class="bg-primary py-4 <%=controller.category.slug%>">
    <div class="container d-lg-flex justify-content-between py-2 py-lg-3">
      <div class="order-lg-2 mb-3 mb-lg-0 pt-lg-2">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb breadcrumb-light flex-lg-nowrap justify-content-center justify-content-lg-star">
            <li class="breadcrumb-item"><a class="text-nowrap" href="/"><i class="czi-home"></i></a></li>
            <li class="breadcrumb-item text-nowrap"><a href="/kasap-urunleri">Ürünler</a>
            </li>
            <li class="breadcrumb-item text-nowrap active" aria-current="page"><%= controller.category.name %></li>
          </ol>
        </nav>
      </div>
      <div class="media media-ie-fix d-block d-sm-flex align-items-center text-center text-sm-left">
        <a class="d-inline-block mx-auto mr-sm-4" href="/<%= controller.category.slug%>" style="width: 10rem;">

          <img class="rounded-circle" src="<%=`${__req.helper.imgUrl('category-photos', controller.category.slug)}`%>"
            alt="<%= controller.category.name%>"></a>
        <div class="media-body pt-2">


          <h1 class="h3 text-light"><%= controller.category.name %></h1>
          <h2 class=" text-light h4 lead"><%= controller.category.shortdesc %></h2>
        </div>
      </div>
    </div>
  </div>



  <a id="items-container"></a>
  <div class="container pt-3 px-0">
    <div class=" px-4 pb-4 mb-3 ">
      <%if (controller.category.slug != 'kurban' || __req.query.go) { %>

      <div class="input-group-overlay">

        <div class="input-group-prepend-overlay">

          <span class="input-group-text">
            <i class="notsearching czi-search"></i>
            <span class="searching d-none spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          </span>
        </div>
        <input data-search="product" id="page-searchbox" class="form-control searchBox prepended-form-control"
          data-noresults-text="Maalesef bulamadık." autocomplete="off" type="text"
          placeholder="<%=controller.category.searchhint ? 'örneğin ' + controller.category.searchhint: 'ürünler içerisinde arayın' %>">
        <div>

        </div>
      </div>

      <% } else { %>
      <div class="text-dark mb-3 px-4 py-4 text-center"
        style="background-image: url(<%=__config.staticDomain %>/resource/img/islam-bg.jpeg);background-repeat: repeat">
        <div class="container ">
          <p class="lead">
            İş ortaklarımız <strong>ibadet amacıyla hayvan seçimi, helâl kesim ve tüm İslâmi usuller</strong> konusunda
            usta, <strong>yerel ve inançlı</strong> kasaplardır.
          </p>
          <p>
            <a class="btn btn-shadow btn-warning" href="/blog/kurban-ibadeti" role="button">Kurban İbadeti »</a></p>
        </div>

      </div>
      <% } %>
      <%if (controller.category.slug != 'kurban' || __req.query.go) { %>
      <div class="py-1 mb-2">
        <%- include('./_partial/category-slider', { selected: controller.category.slug, mode:'browse', header: false, titles: false, viewCats: ['reyon', 'list'], title: 'Tüm Ürünlerimiz', allUrl: '/kasap-urunleri' }); %>
      </div>
      <% } %>

      <div class="table-responsive mb-3 " data-simplebar>
        <div class="d-flex pb-2">
        <% controller.subCategories.forEach((sc, i) => { %>
        <div class="tag-toggle mr-3" data-stag="<%=__helper.slugify(sc.title)%>">
          <a onclick="goSubitem('<%=__helper.slugify(sc.title)%>')" class="text-uppercase text-info font-size-sm text-center text-nowrap">
            <%=sc.title%>
          </a>
        </div>
      <% }) %>
    </div>

  </div>


  <% controller.subCategories.forEach((sc, i) => { %>
    <%if (sc.visible) { %>
    <div data-tag="" id="<%= __helper.slugify(sc.title) %>" class="mb-3 border-bottom">
      <h4 class="h6 mb-2 text-capitalize"><%= sc.title %></h4>
      <span class="font-weight-light">
        <%-controller.markdown.render(sc.description || '')%>
      </span>
    </div>
    <%}%>
    <div class="row">
    <% sc.products.forEach((product,i) => { %>
    <div data-tag="<%= __helper.slugify(product.tag1) %>" class="col-md-3 col-6 ">
      <%- include('./_partial/product-view.ejs', {product: product}) %>
    </div>
    <% if (controller.foods.length > 0 && !foodsInserted && i>controller.products.length/5) { %>
      <% foodsInserted = true; %>
      <div data-tag="" class="col-md-3 col-6">
        <%- include('./_partial/generic-item-view.ejs', {badge: 'et yemekleri', imgClass: 'rounded-circle', title: foodCategoryParams.title, href: `${foodCategoryParams.allUrl}`, src: `${ __req.helper.imgUrl('category-photos', controller.category.slug, 'thumbnail', true, 'list')}` }) %>
      </div>
      <%}%>

    <%  }) %>
    </div>

  <% }) %>

  <div class="mb-3">
    <%- include('./_partial/category-slider', { urlParams: 'go=1#items', viewCats: ['reyon', 'list'], mode:'list', title: 'Ürünlerimiz', allUrl: '/kasap-urunleri' }); %>
  </div>

    </div>

  </div>



  <% include ./_partial/footer %>
    <% include ./_partial/scripts %>

    <script>

function goSubitem(tag) {  
  App.scrollToAnchor('#' + tag) 
}



      $(document).ready(function () {
        var el = document.getElementById('sc');
        var sb = SimpleBar.instances.get(el);
        var scel = sb.getScrollElement();
        var scelOffset = $(scel).offset();
        var selected = $("#cat-item-<%=controller.category.slug%>").offset();
        var left = -(scelOffset.left - selected.left);


        $(scel).animate({ scrollLeft: left }, 50, function () {

        });
        if (location.hash == '#items') {
          $('html,body').animate({ scrollTop: $('#items-container').offset().top }, 5, function () {
            setTimeout(function() {
            $("body").css("opacity", 1)
              
            }, 100);
          });
          location.hash = "";

        } else {
          setTimeout(function() {
            $("body").css("opacity", 1)
              
            }, 100);
          if (location.hash) {
            goSubitem(decodeURIComponent(location.hash.replace('#','')));
          }
        }
      })
    </script>

</body>

</html>