<!DOCTYPE html>
<html lang="tr-TR" prefix="og: http://ogp.me/ns#">

<head>
  <% include ./_partial/head %>
</head>

<body>
  <% include ./_partial/header %>




  <div class="page-title-overlap page-title py-2 ">
    <div class="container d-lg-flex justify-content-between py-2 py-lg-3">
      <div class="order-lg-2 mb-3 mb-lg-0 pt-lg-2">
        <nav aria-label="breadcrumb" class="d-none">
          <ol class="breadcrumb breadcrumb-dark flex-lg-nowrap justify-content-center justify-content-lg-star">
            <li class="breadcrumb-item"><a class="text-nowrap" href="/"><i class="czi-home"></i></a></li>
          </ol>
        </nav>
      </div>
      <div class="order-lg-1 pr-lg-4 text-center text-lg-left">
        <h1 class="h3 text-light mb-0">Gözden Geçirin</h1>
      </div>
    </div>
  </div>

  <!-- Page Content-->
  <div class="container mb-4 ">

    <form onsubmit="beforeSubmit()" class="needs-validation" method="post" novalidate action="/alisveris-sepetim/savereview">
      <div>
        <section>
       

          <%- include('./_partial/checkout-steps.ejs', {   step: 4        }); %>
          
          <% if (shopcard.address.name) { %>
          <div>
            <div class="d-flex flex-nowrap justify-content-between align-items-center pt-1 pb-1 mb-2">
              <h3 class="h4 mb-0 mr-2">Adres</h3>

              <a href="/alisveris-sepetim/adres" class="text-muted btn btn-sm btn-light">Değiştir<i
                  class="czi-arrow-right ml-1 mr-n1"></i></a>

            </div>
            <ul class="list-unstyled font-size-sm">
              
              <li><span class="text-muted">İsim:&nbsp;</span><%= shopcard.address.name %></li>
              <li><span class="text-muted">Adres:&nbsp;</span><%= shopcard.address.adres%>
                Bina: <%=shopcard.address.bina%>,Kat: <%=shopcard.address.kat%>,Daire: <%=shopcard.address.daire%>
                <%= shopcard.address.level3Text%>/<%= shopcard.address.level1Text%></li>
              <li>Adres tarifi: <%= shopcard.address.addresstarif%></li>
              <li><span class="text-muted">Telefon:&nbsp;</span><%= shopcard.address.phone%></li>
            </ul>
          </div>
          <%}%>
          <div>
            <div class="d-flex flex-nowrap justify-content-between align-items-center pt-1  pb-1 mb-2">
              <h3 class="h4 mb-0 mr-2">Teslimat ve Ödeme</h3>

              <a href="/alisveris-sepetim/ship" class="btn btn-sm btn-light text-muted">Değiştir<i
                  class="czi-arrow-right ml-1 mr-n1"></i></a>

            </div>
            <% for (let bi in shopcard.shipment) { %>
            <% let shipment = shopcard.shipment[bi]%>
            <div class="border mb-4">


              <div class="bg-secondary p-3  mb-4"><a class="media align-items-center"
                  href="/<%=shopcard.butchers[bi].slug%>"><img class="rounded-circle header-img"
                    src="<%= `${__req.helper.imgUrl('butcher-google-photos', shopcard.butchers[bi].slug)}` %>" alt="<%=shopcard.butchers[bi].name%>">
                  <div class="media-body pl-2"><span class="font-size-ms text-muted"></span>
                    <h3 class="h5 mb-0 mr-2"><%= shopcard.butchers[bi].name %></h3>
                  </div>
                </a></div>

              <ul class="px-4 list-unstyled font-size-sm">
                <li><span class="text-muted">Teslimat:&nbsp;</span><%= shopcard.shipment[bi].howToDesc %></li>
                <li><span class="text-muted">Teslimat planı:&nbsp;</span><%= shopcard.shipment[bi].desc %></li>
                <% if (shopcard.shipment[bi].type != 'callme') {%>
                <li><span class="text-muted">Gün:&nbsp;</span><%= shopcard.shipment[bi].daysText %></li>
                <li><span class="text-muted">Saat Aralığı:&nbsp;</span><%= shopcard.shipment[bi].hoursText%> </li>
                <%}%>
                <%if (shopcard.shipment[bi].howTo == 'ship') { %>

                        <li><span class="text-muted">Paketim çıkmadan bana haber ver:&nbsp;</span><%= __helper.boolStr(shopcard.shipment[bi].informMe)%>
                         
                </li>

                <% } %>
                <li><span class="text-muted">Ödeme:&nbsp;</span><%= shopcard.payment[bi].desc%> </li>
              </ul>
              <div class="px-4">
                <h6 class="h6">
                  Mesafeli Satış Sözleşmesi
                </h6>
                <div class="form-group">
                  <textarea style="font-family: 'Courier New', Courier, monospace;" class="font-size-xs form-control" rows="5" readonly><%= include('./_partial/user-butcher-agreement.ejs', {
                      user: shopcard,
                      butcher: controller.Butchers.find(b=>b.id == bi)
                    }) %>
                  </textarea>
                  <div class="custom-control custom-checkbox mb-2">
                    <input class="custom-control-input" type="checkbox" checked >
                    <label class="custom-control-label" for="si-remember">Mesafeli Satış Sözleşmesini okudum ve kabul ediyorum.</label>
                </div>
    
                </div>
              </div>


            </div>
            <%}%>
          </div>
<% var onlineTotal = controller.shopcard.getPaymentTotal('onlinepayment') %>


 
        
<div class="d-flex flex-nowrap justify-content-between align-items-center pt-1 pb-1 mb-2">
  <h3 class="h4 mb-0 mr-2">Ürünlerim</h3>

  <a href="/alisveris-sepetim" class="text-muted btn btn-sm btn-light">Değiştir<i
      class="czi-arrow-right ml-1 mr-n1"></i></a>

</div>
          <div class="p-3 mb-3 border">
            <div class="widget">


              
              <% for (let bi in shopcard.butchers) { %>
            <% let butcher = shopcard.butchers[bi]%>

            <div class="mb-4">
              <div class="d-flex flex-wrap justify-content-between align-items-center pt-1 border-bottom pb-1 mb-2">
                <h4 class="h5 mb-0 mr-2"><%=butcher.name%></h4>
              </div>

              <% butcher.products.forEach((pi, i) => { %>
              <% let item = shopcard.items[pi] %>
              <div class="media align-items-top pt-2 pb-2"><a class="d-block mr-2"
                  href="<%=`/${item.product.slug}?butcher=${butcher.slug}`%>">
                  <img class="header-img" src="<%=`${__req.helper.imgUrl('product-photos', item.product.slug)}`%>"
                    alt="<%=`${item.product.name}`%>" />

                </a>
                <div class="media-body">
                  <h6 class="widget-product-title"><a
                      href="<%=`/${item.product.slug}?butcher=${butcher.slug}`%>"><%=`${item.product.name}`%></a>
                  </h6>
                  <div class="d-flex justify-content-between mb-2">
                    <div>
                      <div class="mb-3 font-size-sm"><span class="font-weight-medium"><%=item.quantity%></span> 
                        <span
                          class="text-muted  mr-2"> <%=item.purchaseoption.unitTitle%> </span>
                          <% if (item.purchaseoption.unitWeight) { %>
                            <span class="d-block text-muted font-size-xs">
                              <%=item.purchaseoption.unit != 'kg' ? '1 ' + item.purchaseoption.unit:''%> <%=item.purchaseoption.unitWeight%>                                
                            
                            </span>
                          <% } %>

                        </div>

                        <div class="text-muted">
                          <%- include(`./_partial/product.${item.product.productType || 'generic'}-view.ejs`, {man: controller.getProductTypeManager(pi)}) %>
                        </div>

                        <% if (item.note) {%>
                          <div class="font-size-sm text-muted"><%=item.note%></div>
                          <%}%>                         

                    </div>
                    <div class="text-nowrap font-size-sm">
                      <%- include('./_partial/currency.ejs', {value: item.price}) %>
                    </div>

                  </div>
                  <% if (item.purchaseoption.desc && item.purchaseoption.unit != 'kg') {%>
                  <!-- <div class="mb-2 font-size-sm text-muted"><%=item.purchaseoption.desc%></div> -->
                  <%}%>     
                              <!-- <div class="d-flex ">
                               
                                  <div class="text-accent font-size-sm"><span class="mr-2"> <%- include('./_partial/currency.ejs', {value: item.product.viewUnitPrice, unit: item.product.viewUnit}) %></span>
                </div>
              </div> -->



            </div>
          </div>
          <% }) %>
          <div class="d-flex justify-content-between mb-2 border-bottom">
            <div class="">
              <div class="font-size-sm">Ürünler Bedeli</div>

            </div>
            <div class="text-nowrap font-size-sm">
              <%- include('./_partial/currency.ejs', {value: butcher.subTotal}) %>
            </div>

          </div>

          <% if (shopcard.getShippingCostOfCustomer(bi) > 0) { %>
          <div class="d-flex justify-content-between mb-2 border-bottom">
            <div>
              <% if (shopcard.shipment[bi].dispatcher.type == "butcher" || shopcard.shipment[bi].dispatcher.type == "butcher/auto") { %>
              <div class="font-size-sm"><%=butcher.name%> Teslimat Bedeli</div>
              <%} else {%>
                <div class="font-size-sm">
                  <%=controller.DispatcherTypeDesc[shopcard.shipment[bi].dispatcher.type]%>
                </div>            
              <%} %>

            </div>
            <div class="text-nowrap font-size-sm">
              <%- include('./_partial/currency.ejs', {value: shopcard.getShippingCostOfCustomer(bi)}) %>
            </div>

          </div>

          <%}%>
                     
                       <% let discounts =  shopcard.butcherDiscounts[bi] || [] %>
          <% discounts.forEach(d=> { %>
            <%if (d.type == 'discount') { %>
          <div class="d-flex justify-content-between mb-2 border-bottom">
            <div>
              <div class="font-size-sm"><%=d.name%></div>

            </div>
            <div class="text-nowrap font-size-sm">
              <%- include('./_partial/currency.ejs', {value: d.calculated}) %>
            </div>

          </div>
          <%}%>
          <%})%>


          <div class="d-flex justify-content-between mb-2 font-weight-medium">
            <div>
              <div class="font-size-sm">Toplam:</div>

            </div>
            <div class="text-nowrap font-size-sm">
              <%- include('./_partial/currency.ejs', {value: shopcard.getButcherTotal(bi)}) %>
            </div>

          </div>
      </div>





      <%}%>

  <ul class="list-unstyled  mt-4 pt-3">

      <% shopcard.discounts.forEach(d=>{ %>
      <li class="d-flex justify-content-between align-items-center"><span class="mr-2">
          <%=d.name %></span><span class="text-right">
          <%- include('./_partial/currency.ejs', {value: d.calculated}) %>
        </span></li>
      <%})%>
      <li>
       
        <div class="bg-secondary p-3">
         
          <ul>

  <%if (controller.mayEarnPuanTotal > 0) { %>
    <li>
      <p>
        <strong>Tebrikler!</strong> Bu siparişinizden <strong><%- include('./_partial/currency.ejs', {value: controller.mayEarnPuanTotal}) %></strong> değerinde puan kazandınız.

      </p>
  </li>
   <% } %>





  <li>

    <% if (controller.usablePuanTotal > 0.00) { %>
      <div class="mb-3">      
  
        <span class="text-dark d-block mb-2"> 
          <strong class="text-dark"><%- include('./_partial/currency.ejs', {value: controller.usablePuanTotal}) %></strong>
          değerinde puan bu siparişinizde kullanılabilir durumda. 
        </span>
        <select style="width: 200px;" class="form-control custom-select" name="usepuan" id="usepuan">
          <option value="false">Biriksin</option>        
          <option value="true">Kullanayım</option>
        </select>
      </div>
      <% controller.usablePuanTotal = 0.00 %>
      <% } %>  

  </li>

  <li>
    <p>
    Lütfen siparişinizi onaylayın, onayınız sonrası online ödeme sayfasına yönlendireceğiz.
  
    </p>
   </li>
          </ul>

        
         
            
        
        </div>
        

  <% if (controller.usablePuanTotal > 0.00) { %>
    <div class="mb-3 bg-secondary text-info border p-3 font-weight-bolder">      

      <span class="text-dark d-block mb-2"> 
        <strong class="text-dark"><%- include('./_partial/currency.ejs', {value: controller.usablePuanTotal}) %></strong>
        değerinde puan bu siparişinizde kullanılabilir durumda. 
      </span>
      <select style="width: 200px;" class="form-control custom-select" name="usepuan" id="usepuan">
        <option value="false">Biriksin</option>        
        <option value="true">Kullanayım</option>
      </select>
    </div>
    <% controller.usablePuanTotal = 0.00 %>
    <% } %>   

      </li>
      <li class="font-weight-bolder d-flex justify-content-between align-items-center"><span class="mr-2">
          Genel Toplam:</span><span class="font-size-normal ">
          <%- include('./_partial/currency.ejs', {value: shopcard.total}) %>
        </span></li>

      </ul>

  </div>
          </div>

  <% if (false) { %>
    <div class="mt-3">
      <%- include('./_partial/creditcard', {}) %>

    </div>
  
  <% } %>

           <!-- Navigation (desktop)-->
           <div class="d-none d-lg-flex ">
            <div class="w-50 pr-3"><a class="btn btn-secondary btn-block" href="/alisveris-sepetim/payment"><i
                  class="czi-arrow-left mt-sm-0 mr-1"></i><span class="d-none d-sm-inline">Geri</span><span
                  class="d-inline d-sm-none">Geri</span></a></div>
            <div class="w-50 pl-2"><button type="submit" id="save-adres" name="save-adres"
                class="btn btn-dark btn-block"><span class="d-none d-sm-inline">Onayla</span><span
                  class="d-inline d-sm-none">Onayla</span><i class="czi-arrow-right mt-sm-0 ml-1"></i></button></div>
          </div>
        </section>
        

  </div>
  <!-- Navigation (mobile)-->
  <div class="row d-lg-none">
    <div class="col-lg-8">
      <div class="d-flex">
        <div class="w-50 pr-3"><a class="btn btn-secondary btn-block" href="/alisveris-sepetim/payment"><i
              class="czi-arrow-left mt-sm-0 mr-1"></i><span class="d-none d-sm-inline">Geri</span><span
              class="d-inline d-sm-none">Geri</span></a></div>
        <div class="w-50 pl-2"><button type="submit" id="save-adres" name="save-adres"
            class="btn btn-dark btn-block"><span class="d-none d-sm-inline">Onayla</span><span
              class="d-inline d-sm-none">Onayla</span><i class="czi-arrow-right mt-sm-0 ml-1"></i></button></div>
      </div>
    </div>
  </div>
  </form>
  </div>

  <% include ./_partial/footer %>
  <% include ./_partial/scripts %>

<script>
  function beforeSubmit() {
    setTimeout(function() { $('#save-adres').text('Siparişinizi Oluşturuyorum...'); $('#save-adres').attr('disabled', true);})
  }
</script>

</body>

</html>