<!DOCTYPE html>
<html lang="tr-TR" prefix="og: http://ogp.me/ns#">

<head>
  <% include ./_partial/head %>
</head>

<body>
  <% include ./_partial/header %>




  <div class="page-title-overlap page-title ">
    <div class="container d-lg-flex justify-content-between py-2 py-lg-3">
      <div class="order-lg-2 mb-3 mb-lg-0 pt-lg-2">
        <nav aria-label="breadcrumb" class="d-none d-lg-block">
          <ol class="breadcrumb breadcrumb-dark flex-lg-nowrap justify-content-center justify-content-lg-star">
            <li class="breadcrumb-item"><a class="text-nowrap" href="/"><i class="czi-home"></i></a></li>
          </ol>
        </nav>
      </div>
      <div class="order-lg-1 pr-lg-4 text-center text-lg-left">
        <h1 class="h3 text-light mb-0">Adres</h1>
      </div>
    </div>
  </div>

  <!-- Page Content-->
  <div class="container mb-4 ">
    <form class="needs-validation" id="adresform" onsubmit="return checkSubmit()" method="post" 
      action="/alisveris-sepetim/saveadres">
      <div class="row">
        <section class="col-lg-8">
          <!-- Steps-->

          <%- include('./_partial/checkout-steps.ejs', {   step: 2        }); %>
          <!-- Shipping address-->
          <h2 class="h6 pt-1 pb-3 mb-3 border-bottom">Nereye Gönderelim?</h2>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="name">Adınız ve Soyadınız</label>
                <input placeholder="kimin adına gönderelim" value="<%= shopcard.address.name %>" required name="name" class="form-control" type="text"
                  id="name">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="name">e-Posta Adresiniz</label>
                <input placeholder="bilgilendirmeler için lütfen girin" required value="<%= shopcard.address.email %>" name="email" class="form-control" type="email"
                  id="email">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="name">Cep Telefonunuz</label> [<a href="#" data-toggle="tooltip" title="Güvenlik prensiplerimiz gereği sipariş verebilmek için geçerli bir cep telefon numarası gerekmektedir.">?</a>] 
                <input value="<%= shopcard.address.phone %>" required name="phone" class="form-control iphone" type="tel"
                  id="phone">
              </div>
            </div>
          </div>



          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <div class="d-flex justify-content-end">
                  <a id="getlatlong" onclick="javascript:setGeoLocation()" class="text-primary font-size-sm"><i
                      class="czi-location mr-1"></i>Konumumu Kullan</a>
                </div>

                <textarea placeholder="teslimat adresiniz" onchange="clearLoc()" required class="form-control" name="address"
                  id="address"><%= shopcard.address.adres %></textarea>
              </div>
            </div>



            <div class="col-sm-12">
              <div class="form-group">


                <textarea placeholder="isteğe bağlı adres tarifi" maxlength="250" class="form-control" name="addresstarif"
                  id="addresstarif"><%= shopcard.address.addresstarif %></textarea>
              </div>
            </div>

          </div>



          <input type="hidden" name="lat" value="0" id="lat">
          <input type="hidden" name="long" value="0" id="long">
          <input type="hidden" name="accuracy" value="0" id="accuracy">

          <input type="hidden" name="geolat"
            value="<%= shopcard.address.geolocation ? shopcard.address.geolocation.coordinates[0]: '0'%>" id="geolat">
          <input type="hidden" name="geolong"
            value="<%= shopcard.address.geolocation ? shopcard.address.geolocation.coordinates[1]: '0'%>" id="geolong">
          <input type="hidden" name="geolocationtype" id="geolocationtype">




          <div class="custom-control custom-checkbox mb-2">
            <input class="custom-control-input" type="checkbox" checked id="savemyaddress" name="savemyaddress">
            <label class="custom-control-label" for="same-address">Adresimi kaydet, her seferinde adres
              girmeyim.</label>
          </div>
          <div id="locdone" class="alert alert-secondary text-center mt-3" style="display: none;">
            <p class="font-size-sm"><strong>Bina ve Daire Numaranızı</strong>
              kontrol edip işleme devam edebilirsiniz.</p>
            <button onclick="showMap()" type="button" class="btn btn-sm btn-primary">Teslimat Konumu</button>
          </div>



          <div class="d-flex ">
            <div class="w-50 pr-3"><a class="btn btn-secondary btn-block" href="/alisveris-sepetim/ship">Geri</a></div>
            <div class="w-50 pl-2"><button type="button" onclick="goNext()" id="setadres" name="setadres"
                class="btn btn-dark btn-block gonext">İleri</button>
            </div>
          </div>
        </section>

      </div>


    </form>
  </div>

  <% include ./_partial/footer %>
  <% include ./_partial/scripts %>

  <div class="modal fade" id="select-address-modal">
    <div class="modal-dialog  modal-dialog-scrollable" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Bölge Belirleme</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body p-0">
          <div class="p-2 text-muted font-size-sm bg-secondary text-center font-weight-bold">
            Adresizi birden çok bölge içerisinde bulduk. Lütfen önce doğru bölgeyi seçin, sonrasında açacağımız harita üzerinden tam adresinizi alacağız. 
          </div>
          <div id="addresslist">
            <div if="list && list.length > 0" v-for="(addr, index) in list" class="border mb-2">
              <div id="approve-loc" class="text-center bg-secondary">
                <a class="d-block mb-2" @click="setloc(addr)">
                  <img class=" rounded"
                    :src="'https://maps.googleapis.com/maps/api/staticmap?center=' + addr.location.coordinates[0] +'+'+addr.location.coordinates[1] + '&zoom=18&scale=1&size=600x300&maptype=roadmap&key=AIzaSyBFqn2GNAhwbJnpga-3S3xQGBc0EcdAgH8&format=png&visual_refresh=true&markers=size:mid%7Ccolor:0xff0000%7Clabel:M%7C' + addr.location.coordinates[0] + '+' + addr.location.coordinates[1]">
                </a>
                <button @click="setloc(addr)" type="button" class="btn btn-dark btn-sm">Bu Bölgedeyim</button>
              </div>

            </div>

          </div>

        </div>
      </div>
    </div>

  </div>

  <div class="modal fade" id="set-address-modal">
    <div class="modal-dialog " role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Adres Belirleme</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body p-0">
          <div class="h-100 d-flex flex-column">
            <div id="mapdesc" class="p-2 text-muted font-size-sm bg-secondary text-center font-weight-bold">
              <p class="mb-1">
                Haritayı sürükleyerek tam teslimat konumunu belirleyin.
              </p>
              <div>
                <button type="button" onclick="map.select()" class="btn btn-sm btn-primary">Aşağıdaki Konuma
                  Gönderin</button>

              </div>

            </div>

            <div class="justify-content-center bg-blue flex-grow-1">

              <div class="w-100" id="map"></div>

            </div>

          </div>
        </div>

      </div>
    </div>

  </div>



  <script>

    var tryCount = 0;

    $('#set-address-modal').on('show.bs.modal', function () {
      h = window.innerHeight * 0.80;
      $(this).find('.modal-body').css({
        height: h.toString() + 'px'
      });
      setTimeout(function () {
        $('#map').css({
          height: (h - $('#mapdesc').height()).toString() + 'px'
        })
      }, 1000)
    });

    var addresslist = new Vue({
      el: '#addresslist',
      data: { list: [], selected: null },
      methods: {
        setloc(geo) {
          this.selected = geo;
          $('#select-address-modal').modal('hide');
          map.init(geo.location.coordinates[0], geo.location.coordinates[1])
        }
      }
    })

    function showMap() {
      map.init(parseFloat($('#geolat').val()), parseFloat($('#geolong').val()))
    }

    function pageHasLoc() {
      return $('#geolat').val() && $('#geolong').val() && ($('#geolat').val() != "0") && ($('#geolong').val() != "0")
    }

    function clearLoc() {
      $('#geolat').val("0");
      $('#geolong').val("0");
      $('#geolocationtype').val('');
      $("#locdone").hide();
    }


    function goNext(approve) {
      if (!($("#adresform")[0]).checkValidity()) 
        return alert('Lütfen gerekli bilgileri giriniz.');
      if ((tryCount > 1) || (pageHasLoc())) {
        $('#adresform').submit();
      } else {
        //$('.gonext').attr('disabled', "true");
        $('.gonext').text("Sorguluyorum...");
        App.Backend.post('shopcard/geocode', {
          address: $('#address').val(),
          bina: $('#bina').val(),
          kat: $('#kat').val(),
          daire: $('#daire').val()
        }).then(function (result) {
          if (result.length > 1) {
            addresslist.list = result;
            $('#select-address-modal').modal();
          } else if (result.length == 1) {
            // addresslist.list = result;
            // $('#select-address-modal').modal();
            map.init(result[0].location.coordinates[0], result[0].location.coordinates[1])
          } else {
            tryCount++;
            alert('Maalesef böyle bir adres bulamadık, lütfen tekrar deneyin.');
          }
        }).catch(function (err) {
          alert(err.message);
        }).finally(function () {
          //$('.gonext').removeAttr("disabled");
          $('.gonext').text("İlerle");
        })
      }
    }

    function done() {
      $("#locdone").show();
      App.scrollToAnchor('#localaddrstart')
    }

    function ensureUserLocation() {

    }

    function checkSubmit() {
      var iti = window['intlTelInputGlobals'].getInstance(document.querySelector('#phone'));
      var tel = iti.getNumber();
      $('#phone').val(tel);      
      return true;
    }

    function setGeoLocation() {
      $('#getlatlong').attr('disabled', "true");
      $('#getlatlong').text("Hesaplıyorum...");
      window.App.GetGeoLocation().then(function (position) {
        if (position.coords.accuracy < 1000) {
          App.Backend.post('shopcard/reversegeocode', {
            lat: position.coords.latitude,
            lng: position.coords.longitude
          }).then(function (result) {
            if (result.length) {
              let address = result[0];
              $('#address').val(address.formatted_address);
              clearLoc();
              $('#lat').val(position.coords.latitude);
              $('#long').val(position.coords.longitude);
              $('#accuracy').val(position.coords.accuracy);
              $('#getlatlong').text("Başarıyla Aldık");
            } else
              alert('Konumunuzdan adrese maalesef ullaşamadık, teslimat adresini yazmanız yeterli.');
          }).catch(function (err) {
            alert('Konumunuzu maalesef alamadık, teslimat adresini yazmanız yeterli.');
            $('#getlatlong').text("Tekrar Deneyin");
          })
        } else {
          alert('Konumunuzu yeterli hassasiyette alamadık, teslimat adresini yazmanız yeterli.');
          $('#getlatlong').text("Tekrar Deneyin");
        }

      }).catch(function (err) {
        alert('Konumunuzu alamadık, teslimat adresini yazmanız yeterli.');
        $('#getlatlong').text("Tekrar Deneyin");
      }).finally(function () {
        $('#getlatlong').removeAttr("disabled");
      })
    }

    App.Ready.then(function () {
      var orderadr = window.kb.userlocation();
      var city = $('#ordercity').data('city');
      var district = $('#orderdistrict').data('district');
      orderadr.init({
        defaultCity: city,
        defaultDistrict: district,
        openDistricts: false,
        cityDomSelector: "#ordercity",
        districtDomSelector: "#orderdistrict"
      }, function () {
        $(window).on('kb.userloction.districtselected', function (e, sender) {
          if (sender == orderadr) {
            $("#ordercitytext").val(orderadr.selectedCity.name);
            $("#orderdistricttext").val(orderadr.selectedDistrict.name);
          }
        });
      });
      if (pageHasLoc()) $("#locdone").show();
    })

    let map = {
      _map: null,
      _marker: null,
      _infoWindow: null,
      _clat: 0,
      _clng: 0,

      select: function () {
        $('#set-address-modal').modal('hide');
        $('#geolat').val(this._clat);
        $('#geolong').val(this._clng);
        done();
      },

      init: function (lat, lng) {
        this._clat = lat;
        this._clng = lng;
        var self = this;


        if (!this._map) {
          this._map = new google.maps.Map(document.getElementById("map"), {
            zoom: 18
          });

          this._map.addListener("center_changed", function (lat, lng) {
            var loc = self._map.getCenter();
            self._clat = loc.lat();
            self._clng = loc.lng();
            self._marker && self._marker.setPosition(loc);
          });

          this._marker = new google.maps.Marker({
            position: {
              lat: lat,
              lng: lng
            },
            map: this._map,
            title: "Lokasyonum"
          });          

          this._infowindow = new google.maps.InfoWindow({
            content: "Teslimat Konumu"
          });

        }
        this._map.setCenter(new google.maps.LatLng(this._clat, this._clng))
        this._marker.setPosition(new google.maps.LatLng(this._clat, this._clng))    
        //this._infowindow.open(this._map, this._marker);

        // setTimeout(function() {
        //   self._infowindow.close()
        // }, 5000);

        $('#set-address-modal').modal({
          backdrop: 'static',
          keyboard: false
        });
      }
    }


  </script>


  <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBFqn2GNAhwbJnpga-3S3xQGBc0EcdAgH8&language=tr&region=TR"
    type="text/javascript"></script>





</body>

</html>