<!DOCTYPE html>
<html lang="tr-TR" prefix="og: http://ogp.me/ns#">

<head>
  <% include ./_partial/head %>
</head>

<body>
  <% include ./_partial/header %>




  <div class="page-title-overlap page-title py-2 ">
    <div class="container d-lg-flex justify-content-between py-2 py-lg-3">
      <div class="order-lg-2 mb-3 mb-lg-0 pt-lg-2">
        <nav aria-label="breadcrumb" class="d-none d-lg-block">
          <ol class="breadcrumb breadcrumb-dark flex-lg-nowrap justify-content-center justify-content-lg-star">
            <li class="breadcrumb-item"><a class="text-nowrap" href="/"><i class="czi-home"></i></a></li>
          </ol>
        </nav>
      </div>
      <div class="order-lg-1 pr-lg-4 text-center text-lg-left">
        <h1 class="h3 text-light mb-0">Ödeme</h1>
      </div>
    </div>
  </div>

  <!-- Page Content-->
  <div class="container mb-4">
    <form class="needs-validation" method="post" novalidate action="/alisveris-sepetim/savepayment">
      <div class="row">
        <section class="col-lg-8">
          <!-- Steps-->

          <%- include('./_partial/checkout-steps.ejs', {   step: 3        }); %>
          <% for (let bi in shopcard.payment) { %>
          <% var butcher = controller.Butchers.find(b=>b.id == bi) %>
          <% let payment = shopcard.payment[bi]%>
          <div class=" border  mb-4">
            <div class="bg-secondary p-3"><a class="media align-items-center"
                href="/<%=shopcard.butchers[bi].slug%>"><img class="rounded-circle header-img"
                  src="<%= `${__req.helper.imgUrl('butcher-google-photos', shopcard.butchers[bi].slug)}` %>"
                  alt="<%=shopcard.butchers[bi].name%>">
                <div class="media-body pl-2"><span class="font-size-ms text-muted"></span>
                  <h3 class="h4 mb-0 mr-2"><%= shopcard.butchers[bi].name %></h3>
                </div>
              </a></div>


            <div class="table-responsive">

              <table class="table font-size-sm ">
                <tbody>
                  <%if (butcher.enableCreditCard) { %>
                  <tr>
                    <td>
                      <div class="custom-control custom-radio mb-4">
                        <input class="custom-control-input" type="radio" id="onlinepayment<%=bi%>" value="onlinepayment"
                          name="paymentmethod<%=bi%>"
                          <%= shopcard.payment[bi].type == 'onlinepayment' ? 'checked':'' %>>
                        <label class="custom-control-label" for="onlinepayment<%=bi%>"></label>
                      </div>
                    </td>
                    <td class="align-middle">
                      <span class="text-dark font-weight-medium">Güvenli online ödeme</span><br><span
                        class="text-muted">                        
                          
                          <span class="font-weight-medium text-dark"></span>
                           Kredi kartımla online ödeyeceğim.  
                      
                      </span>
                     

                      <% if (controller.mayEarnPuanTotal > 0) { %>
                        <div class="mb-3 mt-3">
        
                        <span class="d-block">   
                           <strong class="text-success"><%- include('./_partial/currency.ejs', {value: controller.mayEarnPuanTotal}) %></strong> değerinde Kasap Kart™ puanını sonraki alışverişlerinizde kullanabilir, kârlı çıkabilirsiniz. 
                        </span>
                      </div>
                        <%}%>     
                        <% if (shopcard.shipment[bi].howTo == 'ship') { %>                 
                        <div class="mt-3 mb-3 custom-control custom-checkbox">
                          <input class="custom-control-input" name="nointeraction<%=bi%>" type="checkbox" <%= shopcard.shipment[bi].nointeraction ? 'checked':'' %> id="nointeraction<%=bi%>">
                          <label class="custom-control-label" for="nointeraction<%=bi%>">Temassız Güvenli Teslimat</label>
                          [<a href="#" data-toggle="tooltip" title="Siparişinizi teması en aza indirerek size teslim ediyoruz">?</a>] 
                        </div>   
                        <% }%>       
                        <% if (controller.allowNonOnline(bi) ) { %>
                        <!-- <a id="btnShowOthers" class="mt-3 d-block text-muted font-size-sm" onclick="$('.non-cc').show(); $('#btnShowOthers').hide()">Diğer Ödeme Şekilleri &raquo;</a>              -->
                        <% } else { %>
                            <p class="font-size-sm">
                              <span class="font-weight-bolder">Not: </span>Bu siparişi <span class="font-weight-bolder">sadece online</span> ödeyebilirsiniz. 
                            </p>
                        
                        <% } %>
                    </td>
                  </tr>
                  <%}%>
                  <% if (controller.allowNonOnline(bi) ) { %>
            <tr class="non-cc">
              <td>
                <div class="custom-control custom-radio mb-4">
                  <input class="custom-control-input" type="radio" value="creditcardondoor" id="creditcardondoor<%=bi%>"
                    <%= shopcard.payment[bi].type == 'creditcardondoor' ? 'checked':'' %> name="paymentmethod<%=bi%>">
                  <label class="custom-control-label" for="creditcardondoor<%=bi%>"></label>
                </div>
              </td>
              <td class="align-middle"><span class="text-dark font-weight-medium">Teslim alırken kredi
                  kartı</span><br><span class="text-muted">
                   Teslim alırken kapıda kredi kartımla ödeyeceğim.
                </span></td>
            </tr>

            
            <tr class="non-cc">
              <td>
                <div class="custom-control custom-radio mb-4">
                  <input class="custom-control-input" type="radio" id="cashondoor<%=bi%>" value="cashondoor"
        name="paymentmethod<%=bi%>" <%= shopcard.payment[bi].type == 'cashondoor' ? 'checked':'' %>>
        <label class="custom-control-label" for="cashondoor<%=bi%>"></label>
  </div>
  </td>
  <td class="align-middle"><span class="text-dark font-weight-medium">Teslim alırken nakit</span><br><span
      class="text-muted">
      Teslim alırken kapıda nakit ödeyeceğim.

    </span></td>
  </tr>
  <% } %>
            </tbody>
            </table>
          </div>
      </div>
      <% } %>


      <!-- Navigation (desktop)-->
      <div class="d-flex">
        <div class="w-50 pr-3"><a class="btn btn-secondary btn-block" href="/alisveris-sepetim/ship"><span class="d-none d-sm-inline">Geri</span><span
              class="d-inline d-sm-none">Geri</span></a></div>
        <div class="w-50 pl-2"><button type="submit" id="save-adres" name="save-adres"
            class="btn btn-dark btn-block"><span class="d-none d-sm-inline">İleri</span><span
              class="d-inline d-sm-none">İleri</span></button></div>
      </div>
      </section>
      <!-- Sidebar-->
  
  </div>

  </form>
  </div>

  <% include ./_partial/footer %>
  <% include ./_partial/scripts %>

</body>

</html>