<!DOCTYPE html>
<html lang="tr-TR" prefix="og: http://ogp.me/ns#">

<head>
  <% include ./_partial/head %>
</head>

<body>
  <% include ./_partial/header %>





  <div class="container pb-5 mb-sm-4">

    <div class="card py-3 mt-sm-3">
      <div class="card-body text-center">
        <h2 class="h4 pb-3">Siparişinizi aldık!</h2>

        <% orders.forEach(order=> { %>
        <div class="mt-5">
          <% if (order.paymentType == 'onlinepayment') { %>
            <p class="font-weight-bold">
              Online ödemeniz ardından siparişinizi işleme alacağız.
            </p>
            <a target="_blank" class="btn mt-3 btn-success mr-2" href="/pay/<%=order.ordernum%>">Güvenli Online Ödeme</a>
  
            <% } else { %>

        <a class="btn btn-primary mt-3" href="/user/orders/<%=order.ordernum%>"><i
            class="czi-bag"></i>&nbsp;Sipariş Takip Et</a>

<%}%>

          <span class="d-block" data-orderid="<%= order.ordernum %>"><%= order.ordernum %></span>
          <p>
            <%=order.butcherName%>
          </p>


        </div>

        <% }) %>
        <!-- <% if (orders.length == 1 && orders[0].paymentType == 'onlinepayment') { %>
        <div class="mt-3">
          <span class="redirecting font-weight-bold font-size-sm" style="display: none;">Online ödeme sayfasına yönlendiriyorum ...</span>
        </div>
        <% } %> -->
      </div>
    </div>

  </div>




  <% include ./_partial/footer %>
  <% include ./_partial/scripts %>

  <script>
    <% orders.forEach(order => { %>
      window.App.gTag('checkout', 'checkout-completed', "<%= order.ordernum %>", <%= order.total %>);
      window.App.gTag('checkout', 'checkout-completed:city', "<%= order.areaLevel1Text %>", <%= order.total %>);
      window.App.gTag('checkout', 'checkout-completed:district', "<%= order.areaLevel1Text %>/<%= order.areaLevel2Text %>", <%= order.total %>);
      window.App.gTag('checkout', 'checkout-completed:semt', "<%= order.areaLevel3Text %>, <%= order.areaLevel2Text %>/<%= order.areaLevel1Text %>", <%= order.total %>);
      fbq &&  && fbq('track', 'Purchase', {currency: "TRY", value: <%= order.total %>});
    <% }) %>

    // <% if (orders.length == 1 && orders[0].paymentType == 'onlinepayment') { %>
    //   $(document).ready(function() {
    //     setTimeout(function() {
    //     $('.redirecting').show();
          
    //     }, 5000);
    //     setTimeout(function()  {
    //       window.location.href = "/pay/<%=orders[0].ordernum%>"
    //   }, 10000);
    //   })

    // <% } %>

  </script>

</body>

</html>