<!DOCTYPE html>
<html lang="tr-TR" prefix="og: http://ogp.me/ns#">

<head>
  <% include ./_partial/head %>
</head>

<body>
  <% include ./_partial/header %>


<script>
  var cannotShip = false;
  var disableShip = false;
</script>

  <div class="page-title-overlap page-title bg-accent py-2 ">
    <div class="container d-lg-flex justify-content-between py-2 py-lg-3">
      <div class="order-lg-2 mb-3 mb-lg-0 pt-lg-2">
        <nav aria-label="breadcrumb" class="d-none d-lg-block">
          <ol class="breadcrumb breadcrumb-light flex-lg-nowrap justify-content-center justify-content-lg-star">
            <li class="breadcrumb-item"><a class="text-nowrap" href="/"><i class="czi-home"></i></a></li>
          </ol>
        </nav>
      </div>
      <div class="order-lg-1 pr-lg-4 text-center text-lg-left">
        <h1 class="h3 text-light mb-0">Teslimat</h1>
      </div>
    </div>
  </div>

    <!-- Page Content-->

    <div class="container mb-4">

        <form class="needs-validation" method="post" novalidate action="/alisveris-sepetim/saveship">
        <div class="row">
          
          <section class="col-lg-8 " v-cloak id="shopcardshipment">
        
            <%- include('./_partial/checkout-steps.ejs', {   step: 1        }); %>


            <% for (let bi in shopcard.shipment) { %>
            <% let shipment = shopcard.shipment[bi]%>

            <%
             var cannotShip = !shipment.dispatcher || ((shipment.dispatcher.min > shipment.subTotal)) || ((shipment.dispatcher.takeOnly));    
             var countrywide =  shipment.dispatcher && shipment.dispatcher.toAreaLevel == 0;       
            %>
            <div class="border mb-4">
              <div class="bg-secondary p-3  mb-4"><a class="media align-items-center" href="/<%=shopcard.butchers[bi].slug%>"><img class="rounded-circle header-img"  
                src="<%= `${__req.helper.imgUrl('butcher-google-photos', shopcard.butchers[bi].slug)}` %>" alt="<%=shopcard.butchers[bi].name%>">
                <div class="media-body pl-2"><span class="font-size-ms text-muted"></span>
                  <h3 class="h4 mb-0 mr-2"><%= shopcard.butchers[bi].name %></h3>
                </div></a></div>


                <%if (shipment.dispatcher && shipment.dispatcher.longDesc) { %>
                  <div class="p-3">
                    <%- controller.markdown.render(shipment.dispatcher.longDesc || '') %>

                  </div>

                  <%}%>

            <div class="px-3">
              <p class="font-size-md text-center"></p>
              <nav class="text-center pl-1 pr-1 nav nav-pills nav-pills-dark  mb-4">
                <div class="row w-100">
                  <div class="col-6">
                    <a id="ship-ship" class="nav-item shadow-none nav-link" @click="setShipMethod(<%=bi%>, 'ship')" v-bind:class="{ active: card && card.shipment['<%=bi%>'].howTo == 'ship' }">Adrese</a>

                  </div>
                  <% if (!countrywide) { %>
                  <div class="col-6">
                    <a id="ship-take" class="nav-item shadow-none nav-link" @click="setShipMethod(<%=bi%>, 'take')" v-bind:class="{ active: card && card.shipment['<%=bi%>'].howTo == 'take' }">Gel-Al</a>

                  </div>
                  <% } %>
                </div>
              </nav>
            </div>
     
              <!-- <div class="m-3 alert-info alert font-size-sm">
                Elimizden geleni en iyisini yapıyoruz ancak maalesef yoğunluktan bazen gecikebiliyoruz bu günlerde.
              </div> -->
             <input type="hidden" v-bind:value="card && card.shipment['<%=bi%>'].howTo" name="howto<%=bi%>" id="howto<%=bi%>"> 
          
             <div class="alert alert-info mx-4 mb-4" v-if="card && card.shipment['<%=bi%>'].howTo == 'take'">
              <p class="font-weight-bold">Pratik Gel-Al Siparişi</p>
              <p>Siparişinizi oluşturun, ödemenizi yapın. Kasabınız paketinizi istediğiniz saate hazır etsin, geçerken hızlıca teslim alın, zamandan kazanın. </p>
            </div>

             <% if (!shipment.dispatcher) {  %>
             <div v-if="card && card.shipment['<%=bi%>'].howTo == 'ship'">
                
                 <div class="alert alert-warning mx-4 mb-4">
                  
                    <p class="">
                      <span class="font-weight-medium">Gel-Al</span> seçeneği ile siparişinizi kasabımız hazırlayabilir ve beklemeden hızlıca teslim alabilirsiniz. 

                    </p>

                    <p>
                        <span class="font-weight-medium">Kasabımızın bu bölgeye gönderimi mevcut değil.</span>
                    </p>                    
         

                 </div> 

                  
                
                 
              </div>
              <%} %>

   
              <% if (shopcard.shipment[bi].dispatcher && (shopcard.shipment[bi].dispatcher.takeOnly)) { %>
                <div class="alert alert-accent mx-4 mb-4" v-if="card && card.shipment[<%=bi%>].dispatcher.takeOnly">
                  <p class="font-size-sm">
                    <%=shipment.dispatcher.name%> bu bölgede sadece gel-al hizmeti vermektedir.
                </p>  
               
                 </div> 

              <% } else if (shipment.dispatcher && (shipment.dispatcher.min > shopcard.butchers[bi].subTotal)) { %>

                <script>
                  cannotShip = true;
                  disableShip = true;
                </script>
                
                <div class="alert alert-danger  mx-4 mb-4" v-if="card && card.shipment[<%=bi%>].howTo == 'ship'">
                  <p class="font-weight-bold">Bir miktar daha ürün alın</p>
                  <p>
                 
                  <%=shipment.dispatcher.name%>, <%- include('./_partial/currency.ejs', {value: shipment.dispatcher.min}) %> ve üzeri siparişleri bu bölgeye teslim etmekte.
                  Alışveriş toplamınız <%- include('./_partial/currency.ejs', {value: shopcard.butchers[bi].subTotal}) %> olarak gözüküyor.
                </p>  
                <div>
                  <% if (!countrywide) { %>
                  <a href="#gelal" @click="setShipMethod(<%=bi%>, 'take')" class="btn btn-sm btn-accent">Gel-Al Yap</a>
                  <% } %>
                  <a href="/alisveris-sepetim" class="btn btn-sm btn-info">Sepete Git &raquo;</a>
                </div>
                 </div> 
              

              <% } else if ((shopcard.getShippingCostOfCustomer(bi) > 0) && (shipment.dispatcher.totalForFree > 0)) { %>
                <!-- <div class="alert alert-info mx-4 mb-4" v-if="card && card.shipment['<%=bi%>'].howTo == 'ship'">
                  <p >
                  Alışveriş toplamınız <%- include('./_partial/currency.ejs', {value: shopcard.butchers[bi].subTotal}) %> olarak gözüküyor.
                  <%=shipment.dispatcher.name%>, <%- include('./_partial/currency.ejs', {value: shipment.dispatcher.totalForFree}) %> ve üzeri siparişleri bu bölgeye ücretsiz teslim etmekte.
                </p>  
                <p> 
                  <a class="alert-link" href="/<%=shopcard.butchers[bi].slug%>"><%= shopcard.butchers[bi].name %></a> ürünlerine göz atabilirsiniz veya bu şekilde devam edebilirsiniz.                    
                </p>
                 </div>  -->
                  <%}%>

              
             <div class="table-responsive">
             
                <table class="table font-size-sm ">
                  <tbody>     
                    <% if (countrywide) { %>              
                    <tr>
                      <td>
                        <div class="custom-control custom-radio mb-4">
                          <input class="custom-control-input" type="radio" id="callme<%=bi%>" value="callme" name="shipping-method<%=bi%>" <%= shipment.type == 'callme' ? 'checked':'' %>>
                          <label class="custom-control-label" for="callme<%=bi%>"></label>
                        </div>
                      </td>
                      <td class="align-middle">

                          <div v-if="card && card.shipment[<%=bi%>].dispatcher && (card.shipment[<%=bi%>].howTo == 'ship')">
                            <span class="text-dark font-weight-medium">Hemen Gelebilir</span><br><span class="text-muted">
                              En hızlı şekilde göndereceğiz.
        
                            </span>
                          </div>

                          <div v-else>
                            <span class="text-dark font-weight-medium">Telefonda planlayalım</span><br><span class="text-muted">
                              Sizi arayalım ve geliş saatinizi planlayalım. 
                            </span>
                          </div>
                      
                    </td>
                    </tr>
                    <% } %>
                    <% if (!countrywide && controller.shipPossibleToday() > 0) {%>
                      <tr>

                          <td>
                            <div class="custom-control custom-radio mb-4">
                              <input class="custom-control-input" type="radio" id="sameday<%=bi%>" value="sameday" <%= shipment.type == 'sameday' ? 'checked':'' %> name="shipping-method<%=bi%>">
                              <label class="custom-control-label" for="sameday<%=bi%>"></label>
                            </div>
                          </td>

                          
                          <td class="align-middle"><span class="text-dark font-weight-medium">Bugün içerisinde</span><br><span class="text-muted">
      
                          </span>
                          <div class="mt-2">
                            <%- include('./_partial/shiptime.ejs', {
                              onchange:`$("#sameday${bi}").prop("checked", true)`,
                              nextHours: true,
                              id: 'samedaytime' + bi,
                              selected: shipment.hours[0] ,
                              hours: controller.shipmentHours
                            }) %>
                          </div>
                        
                        </td>

                        
                        </tr> 
                        <%}%>
                        <% if (!countrywide) {%>
                          <tr>
                              <td>
                                <div class="custom-control custom-radio mb-4">
                                  <input class="custom-control-input"  value="plan" type="radio" <%= shipment.type == 'plan' ? 'checked':'' %> id="plan<%=bi%>" name="shipping-method<%=bi%>">
                                  <label class="custom-control-label" for="plan<%=bi%>"></label>
                                </div>
                              </td>
                              <td class="align-middle"><span class="text-dark font-weight-medium">Yarın veya sonrası</span><br>
                                <span v-if="card && card.shipment[<%=bi%>].dispatcher && (card.shipment[<%=bi%>].howTo == 'ship')" class="text-muted">
                                
                                </span>
                               <span v-if="card &&  (card.shipment[<%=bi%>].howTo == 'take')" class="text-muted">
                                 
                                  </span>
                              <div class="mt-2">
                                  <%- include('./_partial/shipday.ejs', {
                                    onchange:`$("#plan${bi}").prop("checked", true)`,
                                    id: 'planday' +bi,
                                    selected: shipment.days[0]                             
                                  }) %>
                                </div>                          
                              <div class="mt-2">
                                  <%- include('./_partial/shiptime.ejs', {
                                    onchange:`$("#plan${bi}").prop("checked", true)`,
                                    nextHours: false,
                                    id: 'plantime' + bi,
                                    selected: shipment.hours[0] ,
                                    hours: controller.shipmentHours
                                  }) %>
                                </div>
                            </td>
                            </tr>            
                            
                            <% } %>
                  </tbody>
                </table>
              </div>
                <!-- <div v-if="card && card.shipment[<%=bi%>].dispatcher && (card.shipment[<%=bi%>].howTo == 'ship')" class="mx-4 mb-4 custom-control custom-checkbox">
                  <input class="custom-control-input" name="informme<%=bi%>" type="checkbox" <%= shipment.informMe ? 'checked':'' %> id="informme<%=bi%>">
                  <label class="custom-control-label" for="informme<%=bi%>">Paketim çıkmadan önce arayıp haber verirseniz sevinirim.</label>
                </div>  -->


             

            </div>
              
        <%}%>
            




            <div class="d-none d-lg-flex">
              <div class="w-50 pr-3"><a class="btn btn-secondary btn-block" href="/alisveris-sepetim"><i class="czi-arrow-left mt-sm-0 mr-1"></i><span class="d-none d-sm-inline">Geri</span><span class="d-inline d-sm-none">Geri</span></a></div>
              <div class="w-50 pl-2"><button type="submit" :disabled="disableShip" id="save-adres" name="save-adres" class="btn btn-info btn-block"><span class="d-none d-sm-inline">Sonraki Adım</span><span class="d-inline d-sm-none">Sonraki</span><i class="czi-arrow-right mt-sm-0 ml-1"></i></button></div>
            </div>
          </section>
  
        </div>
        <!-- Navigation (mobile)-->
        <div class="row d-lg-none">
          <div class="col-lg-8">
            <div class="d-flex pt-4 mt-3">
              <div class="w-50 pr-3"><a class="btn btn-secondary btn-block" href="/alisveris-sepetim/adres"><i class="czi-arrow-left mt-sm-0 mr-1"></i><span class="d-none d-sm-inline">Önceki</span><span class="d-inline d-sm-none">Geri</span></a></div>              <div class="w-50 pl-2"><button type="submit" :disabled="disableShip" id="save-adres" name="save-adres" class="btn btn-info btn-block"><span class="d-none d-sm-inline">Sonraki Adım</span><span class="d-inline d-sm-none">Sonraki Adım</span><i class="czi-arrow-right mt-sm-0 ml-1"></i></button></div>
            </div>
          </div>
        </div></form>
      </div>

  <% include ./_partial/footer %>
  <% include ./_partial/scripts %>
<script>
window.App.ShopcardShipmentApp.card = window.shopcard.card.data;
window.App.ShopcardShipmentApp.disableShip = disableShip;
window.App.ShopcardShipmentApp.cannotShip = cannotShip;

function setShip(val) {
  //val ? $('#save-adres').removeAttr('disabled'): $('#save-adres').attr('disabled', true);
}

$(document).ready(function() {
    $(':radio').each(function() { 
        nam = $(this).attr('name'); 
        if ( !$(':radio[name="'+nam+'"]:checked').length) { 
          $(':radio[name="'+nam+'"]')[0].checked = true;            
        }
    });

})

</script>
</body>

</html>