<!DOCTYPE html>
<html lang="tr-TR" prefix="og: http://ogp.me/ns#">

<head>
  <% include ./_partial/head %>
</head>

<body>
  <% include ./_partial/header %>




  <div class="page-title-overlap page-title bg-accent py-2 ">
    <div class="container d-lg-flex justify-content-between py-2 py-lg-3">
      <div class="order-lg-2 mb-3 mb-lg-0 pt-lg-2">
        <nav aria-label="breadcrumb" class="d-none d-lg-block">
          <ol class="breadcrumb breadcrumb-light flex-lg-nowrap justify-content-center justify-content-lg-star">
            <li class="breadcrumb-item"><a class="text-nowrap" href="/"><i class="czi-home"></i></a></li>
            <li class="breadcrumb-item text-nowrap active" aria-current="page">Alışverişimi Tamamla</li>
          </ol>
        </nav>
      </div>
      <div class="order-lg-1 pr-lg-4 text-center text-lg-left">
        <h1 class="h3 text-light mb-0">Alışverişimi Tamamla</h1>
      </div>
    </div>
  </div>

  <div class="container pb-5 mb-sm-4">

    <div class="card py-3 mt-sm-3">
      <div class="card-body text-center">
        <h2 class="h4 pb-3">Teşekkürler!</h2>
        <p class="font-size-sm mb-2">Siparişiniz başarıyla aldık.</p>

        <% orders.forEach(order=> { %>
        <div class="mt-5">
          <span data-orderid="<%= order.ordernum %>"><%= order.ordernum %></span></p>
          <!-- <p class="font-size-sm">Birazdan e-posta adresinize de gerekli bilgileri ulaştırıyor olacağız. Çok
            teşekkürler!</p> -->

            <% if (order.paymentType == 'onlinepayment') { %>
              <p class="lead font-weight-bold">
                Online ödemeniz ardından siparişinizi işleme alacağız.
              </p>
              <a target="_blank" class="btn mt-3 btn-success mr-2" href="/pay/<%=order.ordernum%>">Önline Ödeme Yap &raquo;</a>
    
              <% } else { %>

          <a class="btn btn-primary mt-3" rel="nofollow" href="/user/orders/<%=order.ordernum%>"><i
              class="czi-bag"></i>&nbsp;Sipariş Takip Et</a>

<%}%>
        </div>

        <% }) %>
        <!-- <% if (orders.length == 1 && orders[0].paymentType == 'onlinepayment') { %>
        <div class="mt-3">
          <span class="redirecting font-weight-bold font-size-sm" style="display: none;">Online ödeme sayfasına yönlendiriyorum ...</span>
        </div>
        <% } %> -->
      </div>
    </div>

  </div>




  <% include ./_partial/footer %>
  <% include ./_partial/scripts %>

  <script>
    <% orders.forEach(order => { %>
      window.App.gTag('checkout', 'checkout-completed', "<%= order.ordernum %>", <%= order.total %>);
    <% }) %>

    // <% if (orders.length == 1 && orders[0].paymentType == 'onlinepayment') { %>
    //   $(document).ready(function() {
    //     setTimeout(function() {
    //     $('.redirecting').show();
          
    //     }, 5000);
    //     setTimeout(function()  {
    //       window.location.href = "/pay/<%=orders[0].ordernum%>"
    //   }, 10000);
    //   })

    // <% } %>

  </script>

</body>

</html>