<!DOCTYPE html>
<html lang="tr-TR" prefix="og: http://ogp.me/ns#">

<head>
  <% include ./_partial/head %>
</head>

<body>
  <% include ./_partial/header %>

  <div class="page-title">
    <div class="container d-lg-flex justify-content-between py-2 py-lg-3">
      <div class="order-lg-2 mb-3 mb-lg-0 pt-lg-2">
        <nav aria-label="breadcrumb" class="d-none d-lg-block">
          <ol class="breadcrumb breadcrumb-dark flex-lg-nowrap justify-content-center justify-content-lg-star">
            <li class="breadcrumb-item"><a class="text-nowrap" href="/"><i class="czi-home"></i></a></li>
            <li class="breadcrumb-item text-nowrap">Neden KasaptanAl.com?
            </li>
          </ol>
        </nav>
      </div>
      <div class="order-lg-1 pr-lg-4 text-center text-lg-left">
        <h1 class="h3">Neden KasaptanAl.com?</h1>     
        <h2 class="h4 lead"></h2>   
      </div>
    </div>
  </div>







  <div class="container mb-3 ">


    <main class="container-fluid px-0">
      <!-- Row: Shop online-->
      <section class="row no-gutters">
        <div class="col-md-6 bg-position-center bg-size-cover bg-secondary" style="min-height: 15rem; background-image: url(<%=__config.staticDomain %>/resource/img/content/neden-kasaptanal-kalite.jpg);"><span class="split-section-arrow arrow-left"></span></div>
        <div class="col-md-6 px-3 px-md-5 py-5">
          <div class="mx-auto py-lg-5" style="max-width: 35rem;">
            <h2 class="h4">Sadece taze et işindeyiz</h2>
            <p>
              Depolarda günlerce <span class="font-weight-bold">beklemiş paket et</span> satmıyoruz.
            </p>
            <p>
              Kullanım süresi dolmaya başlayan <span class="font-weight-bold">paket etleri indirim adı altında</span> müşterilerimize göndermiyoruz. 
            </p>
           <h3 class="h5">
             En iyilerle çalışıyoruz
           </h3>
            <p>
             Nesillerdir kasaplık mesleği ile uğraşan, iyi eti bilen işin ustası <a class="text-dark" href="/kasaplar">kasaplar</a>la çalışıyoruz. 
            </p>

            <p>
              <span class="font-weight-bold">
              Kaliteli, taze ve sağlıklı et</span> arıyorsanız KasaptanAl.com ile <span class="font-weight-bold">doğru yerdesiniz</span>.
            </p>
   

            </div>
            <div class="text-center">
              <a class="btn btn-lg btn-secondary shadow-lg rounded" href="/kasap-urunleri">Alışverişe Başla &raquo;</a>
            </div>
        </div>
      </section>
      <section class="row no-gutters">
        <div class="col-md-6 bg-position-center bg-size-cover bg-secondary order-md-2" style="min-height: 15rem; background-image: url(<%=__config.staticDomain %>/resource/img/content/neden-kasaptanal-puan-uygun-et-fiyat.jpg);"><span class="split-section-arrow arrow-right"></span></div>
        <div class="col-md-6 px-3 px-md-5 py-5 order-md-1">
          <div class="mx-auto py-lg-5" style="max-width: 35rem;">
            <h2 class="h4">Kasap Kart&trade; ile kârlı alışveriş</h2>
            
            <p>
              <span class="font-weight-bold">Kasap alışverişleriniz kârlı</span> olsun istiyoruz. 
            </p>
            <p>
              En az sipariş tutarı olmadan <a class="text-dark" href="/blog/kasap-kart">Kasap Kart&trade;</a> ile tüm siparişlerinizden puan kazanmaktasınız.
            </p>

            <p>
              <span class="font-weight-bold">Kârlı alışveriş</span> istiyorsanız KasaptanAl.com ile <span class="font-weight-bold">doğru yerdesiniz</span>.
            </p>
  
          </div>
          <div class="text-center">
            <a class="btn btn-lg btn-secondary shadow-lg rounded" href="/kasap-urunleri">Alışverişe Başla &raquo;</a>
          </div>
        </div>
      </section>

      <section class="row no-gutters">
        <div class="col-md-6 bg-position-center bg-size-cover bg-secondary" style="min-height: 15rem; background-image: url(<%=__config.staticDomain %>/resource/img/content/neden-kasaptanal-yerel-uretici.jpg);"><span class="split-section-arrow arrow-left"></span></div>
        <div class="col-md-6 px-3 px-md-5 py-5">
          <div class="mx-auto py-lg-5" style="max-width: 35rem;">
  

            <h2 class="h4">Yerel ve doğal üretimi destekliyoruz</h2>
            
            <p>
              <span class="font-weight-bold">Sadece yerel üretim yapan usta</span> <a class="text-dark" href="/kasaplar">kasap</a> ve üreticilerle çalışıyoruz. 
            </p>
            <p>
              Çünkü biliyoruz ki kaliteli et için yerel ve doğal üretim şart.
            </p>

            <p>
              <span class="font-weight-bold">Yerel üreticileri destekliyorsanız</span> KasaptanAl.com ile <span class="font-weight-bold">doğru yerdesiniz</span>.
            </p>
            </div>
            <div class="text-center">
              <a class="btn btn-lg btn-secondary shadow-lg rounded" href="/kasap-urunleri">Alışverişe Başla &raquo;</a>
            </div>
        </div>
      </section>

      <section class="row no-gutters">
        <div class="col-md-6 bg-position-center bg-size-cover bg-secondary order-md-2" style="min-height: 15rem; background-image: url(<%=__config.staticDomain %>/resource/img/content/neden-kasaptanal-fiyat-avataj.jpg);"><span class="split-section-arrow arrow-right"></span></div>
        <div class="col-md-6 px-3 px-md-5 py-5 order-md-1">
          <div class="mx-auto py-lg-5" style="max-width: 35rem;">
            <h2 class="h4">Fiyat ve ürün avantajı sağlıyoruz</h2>

            <p>
              <span class="font-weight-bold">Birbirinden değerli</span> pek çok <a class="text-dark" href="/kasaplar">kasap</a> ile çalışıyoruz. 
            </p>
            <p>
              Semtinize hizmet veren kasaplar arasında karşılaştırma yapabilmenizi sağlıyoruz.
            </p>

            <p>
              <span class="font-weight-bold">En iyi ürünü ve fiyatı</span> istiyorsanız KasaptanAl.com ile <span class="font-weight-bold">doğru yerdesiniz</span>.
            </p>

  
          </div>
          <div class="text-center">
            <a class="btn btn-lg btn-secondary shadow-lg rounded" href="/kasap-urunleri">Alışverişe Başla &raquo;</a>
          </div>
        </div>
      </section>

      <section class="row no-gutters">
        <div class="col-md-6 bg-position-center bg-size-cover bg-secondary" style="min-height: 15rem; background-image: url(<%=__config.staticDomain %>/resource/img/content/neden-kasaptanal-hizli-kasap-teslimat-eve-servis.jpg);"><span class="split-section-arrow arrow-left"></span></div>
        <div class="col-md-6 px-3 px-md-5 py-5">
          <div class="mx-auto py-lg-5" style="max-width: 35rem;">
  

            <h2 class="h4">En hızlı teslimatı biz yapıyoruz</h2>
            
            <p>Siparişlerinizi
              <span class="font-weight-bold">istediğiniz gün ve saatte</span> kapınıza getiriyoruz. 
            </p>
            <p>
              Türkiye çapına yayılmış <a class="text-dark" href="/kasaplar">kasap</a> ağımızla aynı gün dakikalar içerisinde teslimat yapabiliyoruz.
            </p>

            <p>
              <span class="font-weight-bold">Hızlı ve güvenli teslimat</span> istiyorsanız KasaptanAl.com ile <span class="font-weight-bold">doğru yerdesiniz</span>.
            </p>

            </div>
            <div class="text-center">
              <a class="btn btn-lg btn-secondary shadow-lg rounded" href="/kasap-urunleri">Alışverişe Başla &raquo;</a>
            </div>
        </div>
      </section>    
      
      <section class="row no-gutters">
        <div class="col-md-6 bg-position-center bg-size-cover bg-secondary order-md-2" style="min-height: 15rem; background-image: url(<%=__config.staticDomain %>/resource/img/content/nedenkasaptanal-guvenli-kasap-siparis-online.jpg);"><span class="split-section-arrow arrow-right"></span></div>
        <div class="col-md-6 px-3 px-md-5 py-5 order-md-1">
          <div class="mx-auto py-lg-5" style="max-width: 35rem;">
            <h2 class="h4">Güvenli, online ve hızlı alışveriş sunuyoruz</h2>

            <p>
              <span class="font-weight-bold">Müşteri memnuniyetini</span> önemsiyoruz. 
            </p>
            <p>
              Her siparişten sonra mutlaka öneri ve görüşlerinize başvuruyoruz, kasaplarımıza geri bildirim sağlıyoruz. 
            </p>

            <p>
              Bu bilgiler ışığında sitemizi ve tüm iş süreçlerimizi optimize ediyoruz.
            </p>

            <p>
              <span class="font-weight-bold">Güvenilir alışveriş</span> istiyorsanız KasaptanAl.com ile <span class="font-weight-bold">doğru yerdesiniz</span>.
            </p>

  
          </div>
          <div class="text-center">
            <a class="btn btn-lg btn-secondary shadow-lg rounded" href="/kasap-urunleri">Alışverişe Başla &raquo;</a>
          </div>
        </div>
      </section>

    </main>

    <div class="mb-3">

      <%- include('./_partial/category-slider', { title: 'Kategoriler', allUrl: '/kasap-urunleri' }); %>

    </div>
  </div>


  <% include ./_partial/footer %>
  <% include ./_partial/scripts %>

</body>

</html>