<!DOCTYPE html>
<html lang="en">

<head>
  <% include ./_partial/head %>

  <style>
    .butcher-doc-heading {
      background-color: black;
    }
  </style>
</head>

<body>
  <% include ./_partial/header %>
  <%-include('./_partial/food-select-alternatives.ejs', {}) %>

  <!-- Page Title (Light)-->
  <div class="bg-secondary py-4">
    <div class="container d-lg-flex justify-content-between py-2 py-lg-3">
      <div class="order-lg-2 mb-3 mb-lg-0 pt-lg-2">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb flex-lg-nowrap justify-content-center justify-content-lg-star">
            <li class="breadcrumb-item"><a class="text-nowrap" href="/"><i class="czi-home"></i></a></li>

            <li class="breadcrumb-item active" aria-current="page">Et Kasaptan Alınır</li>

          </ol>
        </nav>
      </div>
      <div class="media media-ie-fix d-block d-sm-flex align-items-center text-center text-sm-left">
        <a class="d-inline-block mx-auto mr-sm-4" href="#" style="width: 10rem;">

          <img class="rounded-circle" src="/static/img/logo-home.jpg" alt="kasaptanal.com"></a>
        <div class="media-body pt-2">


          <h1 class="h2">Et Kasaptan Alınır</h1>
          <p class="lead">
            Platformumuzu yakından tanıyın
          </p>

        </div>
      </div>


    </div>

  </div>







  <div class="container mb-3 ">


    <main class="container-fluid px-0">
      <!-- Row: Shop online-->
      <section class="row no-gutters">
        <div class="col-md-6 bg-position-center bg-size-cover bg-secondary"
          style="min-height: 15rem; background-image: url(/static/img/content/ui-1.png);"><span
            class="split-section-arrow arrow-left"></span></div>
        <div class="col-md-6 px-3 px-md-5 py-5">
          <div class="mx-auto py-lg-5" style="max-width: 35rem;">
            <h2 class="h3">Çağdaş e-Kasap Platformu</h2>



            <p>Günümüz dünyasında internetten alışveriş yapmak bir alışkanlık halini aldı. Görmeden, denemeden almam
              diyenler dahi artık internetten alışveriş yapıyor. </p>
              <h3 class="h4">Sadece En İyiler</h3>

            <p class="font-weight-medium">
              <a href="/">KasaptanAl.com</a> ile amacımız, </p>
               <p>Seçkin, vizyoner, konusunda deneyimli güvenilir kasaplarımız ile et severleri bir araya
              getirmek, her iki tarafa da fayda sağlamaktır.
            </p>



          </div>
        </div>
      </section>
      <section class="row no-gutters">
        <div class="col-md-6 bg-position-center bg-size-cover bg-secondary order-md-2"
          style="min-height: 15rem; background-image: url(/urun-resimleri/dana-dos-rulo-78-3-499-thumbnail.jpg);"><span
            class="split-section-arrow arrow-right"></span></div>
        <div class="col-md-6 px-3 px-md-5 py-5 order-md-1">
          <div class="mx-auto py-lg-5" style="max-width: 35rem;">
            <h3 class="h4">Müşteri Odaklı Teknolojik Tasarım</h3>

            <p>Uzun saatler çalışarak müşteri alışkanlıklarını analiz ettik.</p>
            <p>
              Et almanın farklı bir deneyim olduğunu biliyoruz. Kasabın müşteriye yaptığı danışmanlığın, karşılıklı
              güven duygusunun farkındayız.
            </p>
            <p>
              Tüm sistemi bu anlayışla düşledik, tasarladık.

            </p>
          </div>
        </div>
      </section>

      <section class="row no-gutters">
        <div class="col-md-6 bg-position-center bg-size-cover bg-secondary"
          style="min-height: 15rem; background-image: url(/static/img/content/ui-3.png);"><span
            class="split-section-arrow arrow-left"></span></div>
        <div class="col-md-6 px-3 px-md-5 py-5">
          <div class="mx-auto py-lg-5" style="max-width: 35rem;">


            <h3 class="h4">Hangi eti ne kadar almalıyım?</h3>

            <p>

              Usta kasaplarımızla çalıştık.
            </p>
            <p>



              Müşteriler, etleri de yemekleri de görebiliyor. Hangi yemeğe göre hangi etin uygun olduğunu sistemimiz
              otomatik belirliyor.
            </p>
            <p>
              Ne kadar almalıyım sorusunun cevabını yemeğe ve kişi sayısına göre kendisi hesaplıyor.

            </p>

          </div>
        </div>
      </section>

      <section class="row mt-3 no-gutters">
        <div class="col bg-primary text-center p-4">
          <h2 class="h3 text-light">Test Sürüşü</h2>
        </div>
      </section>

      <div class=" mb-3">
        <%- include('./_partial/foods-slider.ejs', {mode: 'food', showDesc: true, title: 'Siz Yemeği Seçin', text: '', foods: controller.foods}); %>
      </div>

      <section class="row mt-3 no-gutters">
        <div class="col bg-primary text-center p-4">
          <h2 class="h3 text-light">5 Maddede KasaptanAl.com</h2>
        </div>
      </section>

      <section class="row no-gutters">
        <div class="col-md-6 bg-position-center bg-size-cover bg-secondary order-md-2"
          style="min-height: 15rem; background-image: url(<%=`${__req.helper.imgUrl('product-photos', 'dana-kontrfile')}`%>);">
          <span class="split-section-arrow arrow-right"></span></div>
        <div class="col-md-6 px-3 px-md-5 py-5 order-md-1">
          <div class="mx-auto py-lg-5" style="max-width: 35rem;">
            <h3 class="h4">Binlerce ziyaretçi ürünlerinizi almak istiyor</h3>

            <p>

              Binlerce potansiyel müşteriye ürünlerinizi sunma imkanı KasaptanAl.com ile parmaklarınızın ucunda.


            </p>

            <p>
              KasaptanAl.com aracılığıyla müşteri sayınızı artırabilir, internetten sipariş veren orta-üst sınıf müşteri
              grubuna kolaylıkla ulaşabilirsiniz.
            </p>



          </div>
        </div>
      </section>

      <section class="row no-gutters">
        <div class="col-md-6 bg-position-center bg-size-cover bg-secondary order-md-1"
          style="min-height: 30rem; background-image: url(/static/img/content/satiroglu-levha.jpg);"><span
            class="split-section-arrow arrow-right"></span></div>
        <div class="col-md-6 px-3 px-md-5 py-5 order-md-2">
          <div class="mx-auto py-lg-5" style="max-width: 35rem;">
            <h3 class="h4">Prestijinizi artırın</h3>

            <p>
              Online kasap dükkanına sahip olmak işletmenizin prestijini önemli oranda artırır. Üyelerimize sağladığımız
              şık dekoratif levhayı gururla dükkanınıza asabilirsiniz.
            </p>

            <p>
              Böylece, kasabınıza gelen bir müşterinin hem sizi hatırlamasını, <b>hem de diğer tüm ürünlerinizi de online
              görerek onlardan da haberdar olmasını </b> ve sipariş verebilmesini sağlarsınız.
            </p>

          </div>
        </div>
      </section>

      <section class="row no-gutters">
        <div class="col-md-6 bg-position-center bg-size-cover bg-secondary order-md-2"
          style="min-height: 15rem; background-image: url(<%=`${__req.helper.imgUrl('product-photos', 'dana-bonfile')}`%>);">
          <span class="split-section-arrow arrow-right"></span></div>
        <div class="col-md-6 px-3 px-md-5 py-5 order-md-1">
          <div class="mx-auto py-lg-5" style="max-width: 35rem;">
            <h3 class="h4">İşletmenizi geleceğe hazırlayın, geride kalmayın</h3>

            <p>
              Neredeyse tüm süpermarketler internetten et satıyorlar.


            </p>
            <p>
              Bazı öncü kasaplarımız kendi imkânlarıyla bu işe girmenin yollarını aradılar. Siz geride kalmayın.


            </p>
            <p>
              Online sipariş almak müşteri – personel kaynaklı sorunları da ortadan kaldırmakta. Kasabınıza gelen tüm
              siparişleri internetten görüp takip etmek bir hayal değil.
            </p>
            <p>
              KasaptanAl.com ile hazır siparişlerin keyfini çıkarmaya hemen başlayın.

            </p>
          </div>
        </div>
      </section>

      <section class="row no-gutters">
        <div class="col-md-6 bg-position-center bg-size-cover bg-secondary"
          style="min-height: 15rem; background-image: url(<%=`${__req.helper.imgUrl('product-photos', 'kuzu-az-yagli-kiyma')}`%>);">
          <span class="split-section-arrow arrow-left"></span></div>
        <div class="col-md-6 px-3 px-md-5 py-5">
          <div class="mx-auto py-lg-5" style="max-width: 35rem;">


            <h3 class="h4">Sadık müşterilere sahip olun</h3>

            <p>

              Mahallenin dışına çıkmanın zamanı geldi. KasaptanAl.com ile yeni müşterilerin kasabınızı tanımalarını
              sağlayın.

            </p>
            <p>



              Mevcut müşterilerinizin sayfanıza kolaylıkla girerek sizden sipariş vermelerinin önünü açın.


            </p>
            <p>
              İyi hizmet vererek sadık müşteriler oluşturmanın, yüksek ve düzenli kâr elde etmek KasaptanAl.com ile
              artık bir tık uzağınızda.

            </p>

          </div>
        </div>
      </section>

      <section class="row no-gutters">
        <div class="col-md-6 bg-position-center bg-size-cover bg-secondary order-md-2"
          style="min-height: 15rem; background-image: url(<%=`${__req.helper.imgUrl('product-photos', 'kuzu-pirzola-kelebek')}`%>);">
          <span class="split-section-arrow arrow-right"></span></div>
        <div class="col-md-6 px-3 px-md-5 py-5 order-md-1">
          <div class="mx-auto py-lg-5" style="max-width: 35rem;">
            <h3 class="h4">Başlamak kolay ve hızlı</h3>

            <p>
              Tüm et ürünlerini çiğ ve pişmiş halleriyle sisteme tanıttık. Yüzlerce yemek ve tarif ekledik. Bunlarla
              etleri eşleştirdik.

            </p>
            <p>
              Hangi yemeğe ne kadar et gerekir, sistemimiz kendisi hesaplayabiliyor.


            </p>
            <p>
              Tek yapmanız hangi ürünleri sattığınızı işaretlemek. Bu kadar kolay.
            </p>

          </div>
        </div>
      </section>

      <section class="row mt-3 no-gutters">
        <div class="col bg-primary text-center p-4">
          <h2 class="h3 text-light">İletişime Geçelim</h2>
        </div>
      </section>

      <section class="row no-gutters">
        <div class="col-md-6 bg-position-center bg-size-cover bg-secondary order-md-2"
          style="min-height: 15rem; background-image: url(<%=`${__req.helper.imgUrl('product-photos', 'hazir-kuzu-tandir')}`%>);">
          <span class="split-section-arrow arrow-right"></span></div>
        <div class="col-md-6 px-3 px-md-5 py-5 order-md-1">
          <div class="mx-auto py-lg-5" style="max-width: 35rem;">
            <h3 class="h4">İletişime Geçelim</h3>

            <p>
              KasaptanAl.com, 2008 yılından bu yana Orta Doğu Teknokent’te yerleşik Kalitte Profesyonel Bilgi
              Teknolojileri Limited Şirketinin bir girişimidir.


            </p>

            <div class="text-center">
              <a href="/iletisim" class="btn btn-primary">İletişim</a>
            </div>

          </div>
        </div>
      </section>

    </main>


  </div>


  <% include ./_partial/footer %>
  <% include ./_partial/scripts %>

</body>

</html>