<!DOCTYPE html>
<html lang="tr-TR" prefix="og: http://ogp.me/ns#">

<head>
    <% include ./_partial/head %>
</head>

<body>
    <% include ./_partial/header %>

    

    <div class="bg-white container-fluid ">
        <div class="container  mb-3">

            <div class="row no-gutters bg-size-cover bg-position-center" style="background-image: url(<%=__config.staticDomain %>/resource/img/banner-bg.jpg)">
                <div class="col-sm-4">
                    <a class="d-block" href="/kasap-urunleri">
                        <img width="500" height="333"
                            src="<%=__config.staticDomain%>/content-resimleri/kasap-kart-thumbnail.jpg"
                            alt="Kasap Kart™">

                    </a>
                </div>

                <div class="col-sm-8 font-weight-light font-size-lg">
                    <div class="px-3 pt-2">
                        <h1 class="h4">
                            Online Kasap Alışverişi & Et Siparişi
                        </h1>
                        <p class=" mb-2">
                             <i class="czi-icon czi-arrow-right-circle mr-1"></i>
                            
                            <a class="font-weight-bolder text-dark" href="/kasaplar">Şehrinizin en iyi kasaplar</a>ı bir arada.
                           

                        </p>
                        <p class=" mb-2">
                            <i class="czi-icon czi-arrow-right-circle mr-1"></i>
                            İstediğiniz kasabı seçin, <a href="/kasap-urunleri" class="font-weight-bolder text-dark">en iyi et</a> kapınıza gelsin.

                        </p>




                        <p class=" mb-3">
                            <i class="czi-icon czi-arrow-right-circle mr-1"></i>
                            <a class="text-dark font-weight-bolder" href="/blog/kasap-kart">Kasap Kart&trade;</a> ile
                             puan kazanın, kârlı çıkın.
                        </p>
                    
                    </div>
                   


                    <div class="d-flex flex-row-reverse">
                        <% if (__req.prefAddr) { %>
                            <a class="btn btn-primary" href="/kasap-urunleri">Alışverişe Başla</a>
                        <% } else { %>
                            <a data-return="/kasap-urunleri" class="select-area-action btn btn-primary">Semtinizi Seçin</a>

                        <% } %>
                        <a class="btn btn-dark mr-2" href="/neden-kasaptanal">Neden Biz</a>

                    </div>

                </div>

            </div>



        </div>
    </div>








        <div class="container mb-3">
        
            <%- include('./_partial/category-slider', { header:true, title: 'Ürünler', allUrl: '/kasap-urunleri' }); %>
      
          </div>

          <div class="container mb-3">
            <%- include('./_partial/category-products-slider', {category: 'populer-etler' , viewMode: 'tab', limit: 8}); %>
        </div>



        <div class="container mb-3">
            <a class="d-block py-3" href="/kasaplar">
                <h3 class="h6 text-uppercase mb-0">Kasaplar</h3>
            </a>
        <div data-simplebar data-simplebar-auto-hide="false">
            <div class="d-flex pb-2">
                <% var items= recentButchers %>
                    <% items.forEach((item, i)=> {%>
                        <div class="mb-2">
                            <div class="mr-2 item-slider item-slider-sm">
                                <div class="card h-100 text-center pb-0  ">
                                    <a class="d-block" href="<%= `/${item.slug}` %>">
                                        <img class="card-img-top" width="500" height="500"  title="<%=item.title%>" 
                                            src="<%= `${__req.helper.imgUrl('butcher-google-photos', item.slug)}` %>"
                                            alt="<%=item.name%>"></a>
                                        <div class="card-body d-flex flex-column">
                                                <h5 class="mb-auto pb-2 text-center font-size-sm"><a class="text-dark"
                                                    href="<%= `/${item.slug}` %>">
                                                    <%= item.name %>
                                                </a>
                                            </h5>
                                            <h6 class="font-size-sm mb-0 text-muted"> <%= item.areaLevel1Text %></h6>
                                        </div>
                                </div>
                            </div>
                        </div>
                        <%})%>

                        <div>
                            <div class="h-100">
                                <div class="item-slider item-slider-sm-all">
                                  <a class="d-block h-100" href="/kasaplar">
                                    <div class="d-flex h-100 justify-content-end">
                                      <img width="500" height="500" alt="Tümünü Göster" class="w-auto align-self-center" src="<%=__config.staticDomain %>/resource/img/view-all.png">
                                    </div>
                
                                  </a>
                             
                
                               
                
                                </div>
                
                            </div>
                        </div>

            </div>
        </div>



    </div>

 

        <section class="container">
            <div class="row">
                <div class="col-md-6 mb-3">
                    <div class="d-flex flex-column h-100 justify-content-center bg-size-cover bg-position-center rounded-lg"
                        style="background-image: url(<%=__config.staticDomain %>/resource/img/banner-bg.jpg);">



                        <div class="py-4 my-2 my-md-0 py-md-5 px-4 ml-md-3 text-center text-sm-left">
                            <h4 class="h6 font-size-lg font-weight-light mb-2">Kasap Kart&trade; ile Puan Kazanın</h4>
                            <h3 class="mb-4 h5">Tüm siparişleriniz çok daha kârlı</h3>

                            <a class="btn btn-primary " href="/blog/kasap-kart">Daha Fazla Bilgi</a>



                        </div>

                    </div>


                </div>


                <div class="col-md-6 mb-3">
                    <div class="d-flex flex-column h-100 justify-content-center bg-size-cover bg-position-center rounded-lg"
                        style="background-image: url(<%=__config.staticDomain %>/resource/img/banner-bg.jpg);">

                        <div class="py-4 my-2 my-md-0 py-md-5 px-4 ml-md-3 text-center text-sm-left">
                            <h4 class="h6 font-size-lg font-weight-light mb-2">Siz Yemeğe Karar Verin</h4>
                            <h3 class="mb-4 h5">En uygun eti KasaptanAl.com önersin</h3>

                            <a class="btn btn-primary " href="/et-yemekleri">Et Yemekleri</a>



                        </div>



                    </div>


                </div>




            </div>
        </section>
























        <div class="container mb-3">
            <a class="d-block py-3" href="/blog">
                <h3 class="h6 text-uppercase mb-0">Blog</h3>
            </a>
        <div data-simplebar data-simplebar-auto-hide="false">
            <div class="d-flex pb-2">
                <% var items=controller.blogItems %>
                    <% items.forEach((item, i)=> {%>
                        <div>
                            <div class="mr-2">
                               <div style="width: 21rem;height: 14rem;"  class="border bg-dark">

                                <div class="card border-0 bg-dark text-white">
                                    <img width="500" height="333" src="<%=`${__config.staticDomain}/content-resimleri/${item.slug}-thumbnail.jpg` %>" alt="<%=item.title%>">
                                    <div class="card-img-overlay d-flex flex-column">
                                        <div style="opacity: 0.8;" class="mb-auto">
                                            <a href="/blog/<%=item.slug%>">
                                            <h5 class="card-title bg-primary p-2 text-white"><%=item.title%></h5>
                                            </a>
                                        </div>

                                        <div>
                                            <a href="/blog/<%=item.slug%>" class="shadow-lg btn btn-primary rounded-lg">&raquo; </a>

                                        </div>

                                    </div>
                                  </div>


                         

                               


                               </div>
                            </div>
                        </div>
                        <%})%>

                        <div>
                            <div class="h-100">
                                <div class="item-slider item-slider-sm-all">
                                  <a class="d-block h-100" href="/blog">
                                    <div class="d-flex h-100 justify-content-end">
                                      <img width="500" height="500" alt="Tümünü Göster" class="w-auto align-self-center" src="<%=__config.staticDomain %>/resource/img/view-all.png">
                                    </div>
                
                                  </a>
                             
                
                               
                
                                </div>
                
                            </div>
                        </div>

            </div>
        </div>



    </div>





         



                <% if (false) { %>

                    <section class="container-fluid px-0 mb-3">
                        <div class="row no-gutters">
                            <div class="col-md-6"><a
                                    class="card border-0 rounded-0 text-decoration-none py-md-4 bg-faded-accent"
                                    target="_blank" href="https://www.instagram.com/kasaptanal/">
                                    <div class="card-body text-center"><i
                                            class="czi-instagram h3 mt-2 mb-4 text-accent"></i>
                                        <h3 class="h5 mb-1">Instagram'dayız</h3>
                                        <p class="text-muted font-size-sm">#kasaptanal</p>
                                    </div>
                                </a></div>

                            <div class="col-md-6"><a
                                    class="card border-0 rounded-0 text-decoration-none py-md-4 bg-faded-primary"
                                    href="/blog">
                                    <div class="card-body text-center"><i
                                            class="czi-edit h3 mt-2 mb-4 text-primary"></i>
                                        <h3 class="h5 mb-1">Et Kültür Blog</h3>
                                        <p class="text-muted font-size-sm">Kırmızı et hakkında kısa ve öz içeriklere
                                            ulaşın.</p>
                                    </div>
                                </a></div>

                        </div>
                    </section>

                    <% } %>

                        <% if (__req.query.nodesc!='1' ) { %>
                            <div class="app-d-none container mb-3">
                                <div class="collapse-container page-footer-text">
                                    <div class="collapse" id="collapseSummary">
                                        <h2>Şehrin En İyi kasaplarından En İyi etler</h2>
                                        <p>
                                            Online, Hızlı ve Güvenli <strong><a class="text-dark no-collapse"
                                                    href="/kasap-urunleri">et siparişi</strong></a> sağlıyoruz.
                                        </p>
                                        <p>
                                            Tüm kasaplarımız en az 10 yıllık deneyimli ve köklü <a class="no-collapse"
                                                href="/kasaplar">kasaplar</a>.

                                            <strong>Doğal beslenmiş kuzu ve danaları</strong> çoğunluğu kendi
                                            çiftliklerinden veya güvenilir
                                            tedarikçilerden almaktalar.
                                        </p>
                                        <h3>
                                            Yerel Üreticiler
                                        </h3>
                                        <p>
                                            Kırmızı et işini büyük hacimlerde yapmak yerine yerel, <strong>yılların
                                                verdiği deneyimle etin en
                                                iyisinden anlayan</strong> , müşteri taleplerini titizlikle yerine
                                            getiren kasap iş
                                            ortaklarımızla çalışıyoruz.
                                        </p>
                                        <h2>
                                            Yerel, güvenilir usta <strong>kasaplar</strong> bir arada
                                        </h2>
                                        <p>
                                            Kasap seçiminde oldukça titiz davranıyoruz. Sadece konusunda deneyimli,
                                            yerel ve
                                            güvenilir kasap iş ortaklarıyla çalışıyoruz.

                                        </p>
                                        <p>
                                            İş ortaklarımızın büyük çoğunluğu nesillerdir kasaplık mesleğini yapan
                                            ailelerden gelmekte. Kalan
                                            kesim ise genç, dinamik ve en kaliteli eti sağlama konusunda iddialı genç
                                            kasaplarımız.
                                        </p>
                                        <h3>
                                            Amacımız en kaliteli ürünleri yerel usta kasaplardan sizlere sağlamak
                                        </h3>
                                        <p>
                                            <a class="no-collapse" href="/ankara-kasap">Ankara</a> ve <a
                                                class="no-collapse" href="/istanbul-kasap">İstanbul</a>'daki en iyi
                                            kasaplarla çalışıyoruz. Kasaplarımızdan sipariş vermeniz ardından
                                            mutlaka müşteri memnuniyeti çerçevesinde size ulaşıyor ve yorumlarınızı
                                            alıyoruz. Tüm yorumları
                                            kasaplarımıza iletiyoruz.
                                        </p>
                                        <h2>
                                            Kolay kullanım ve hızlı, online, güvenilir et siparişi
                                        </h2>
                                        <p>
                                            Zamanınızın değerli olduğunu biliyoruz. Usta <strong><a class="no-collapse"
                                                    href="/kasaplar">kasaplar</a></strong> online alışveriş ve sipariş
                                            platformu olarak web sitemizi devamlı güncelliyoruz. Sizden gelen talepler
                                            doğrultusunda
                                            ürünlerimizi düzenliyoruz.
                                        </p>
                                        <h3>
                                            Et yemekleri
                                        </h3>
                                        <p>
                                            Sitemizde pek çok et yemeği ve tarifi mevcut. Bu yemeklerde hangi etlerin
                                            kullanılabileceğini
                                            sitemiz size önerebiliyor. Aynı zamanda kişi sayısına göre miktar
                                            hesaplamasını kendisi yapabiliyor.
                                        </p>
                                        <h3>
                                            Kırmızı Et
                                        </h3>
                                        <p>Et, haftalık olarak düzenli gerçekleştirilen gıda tüketimi sırasında mutlaka
                                            yer verilmesi gereken en
                                            önemli gıdalardan birisidir. Çünkü sahip olduğu protein ve yağ miktarı ile
                                            birlikte vücudun
                                            ihtiyaçlarını karşılayan bu gıda, özellikle farklı yemekler içerisinde veya
                                            sadece <strong>kırmızı
                                                et</strong> şeklinde tüketilerek hem çocuklar hem yetişkinler için
                                            kullanılmalıdır.</p>
                                        <p>İçinde bulunduğunuz mevsime uygun bir şekilde et kullanarak, taze sebzeler
                                            veya baklagiller ile
                                            tüketim gerçekleştirebileceğiniz gibi kuru sebzeler veya buzlukta muhafaza
                                            edilmiş malzemeler ile
                                            birleştirerek de yemekler hazırlayabilirsiniz. Ayrıca mangal, ızgara, kebap
                                            veya buğulama gibi
                                            birçok farklı yöntem ile birlikte hem çocuklar hem de yetişkinler için
                                            yemekler hazırlamanız
                                            mümkündür.</p>
                                        <p>Bugün genel olarak incelendiğinde, <strong>kırmızı et çeşitleri</strong>
                                            öncelikle <a class="no-collapse" href="/kuzu-etleri">kuzu</a> ve <a
                                                class="no-collapse" href="/dana-etleri">dana</a> olmak
                                            üzere iki farklı hayvan üzerinden elde edilmektedir. Son yıllarda ülkemizde
                                            kısmen sığır eti tercihi
                                            de yapılmaktadır. Bu sayede etler arasında bonfile, antrikot, biftek,
                                            kaburga, marine edilmiş etler,
                                            kasaplık özel etler, köfteler veya kebaplık et tarifleri elde edilmesi
                                            mümkündür. Üstelik sistemimiz
                                            üzerinde bu et ürünlerin her biri online sipariş yöntemi ile istenilen her
                                            amaçla ve her gün temin
                                            edilebilir.</p>

                                        <h3><strong>Online kasap</strong> alışverişi ve <strong>hızlı, güvenilir et
                                                siparişi</strong> ile
                                            hayatınız daha
                                            kolay</h3>
                                        <p>Evinizde veya işletmenizde hazırlayacağınız lezzetli yemekler için öncelikle
                                            online kasap
                                            platformumuz üzerinden
                                            <strong>kırmızı et sipariş</strong> işlemleri gerçekleştirebilirsiniz. Bu
                                            bağlamda dana veya kuzu
                                            gibi hayvanlardan elde edilen et ürünlerini de siparişleriniz içerisinde
                                            bulundurabilirsiniz.
                                            Örneğin, kış mevsiminde fasulye veya bakla gibi bir kuru gıdayı <strong>dana
                                                eti</strong> ile
                                            hazırlamanız için taze et kullanmayı tercih edebilirsiniz.
                                        </p>
                                        <p>Her seferinde taze et kullanmayı seçmeniz gibi istediğiniz koşullarda
                                            <strong>kuzu eti</strong>
                                            ürünlerini toplu sipariş ederek, evinizde haftalık veya aylık kullanım da
                                            elde edebilirsiniz. Çünkü
                                            özellikle bu et ürünleri de birçok farklı tarif içerisinde yer almaktadır.
                                            Bilhassa ülkemizin Doğu
                                            bölgelerinde daha fazla kullanılan et ürünleri olarak kuzu tercih
                                            edilmektedir. Örnek olarak özel et
                                            tüketimi gerçekleştirmek açısından pirzola veya tandır için de kuzu tercihi
                                            yapılmaktadır.</p>
                                        <p>Eğer sipariş işlemleri gerçekleştirmek için öncelikle hazırlayacağınız yemek
                                            tarifini belirlerseniz,
                                            bu sayede de kişi sayısına göre yeterli miktarda et ihtiyacını tespit
                                            edebilirsiniz. Sistem üzerinde
                                            online sipariş gerçekleştirerek en uygun <strong>kırmızı et
                                                fiyatları</strong> ile alışveriş
                                            sağlayabilirsiniz. Ayrıca sistem üzerinde sunulan <strong>et satın
                                                al</strong> işlemleri için
                                            bulunduğunuz bölgeyi seçerek, pratik bir şekilde yeni kasaplar keşfedebilir
                                            ve bir rehbere
                                            ulaşabilirsiniz.</p>

                                        <h3><strong>Eve servis</strong> veya <strong>paket servis</strong> kasap
                                            siparişi güvenli ve hızlı</h3>
                                        <p>
                                            KasaptanAl.com'un sağladığı en büyük faydalardan biri de <strong>paket
                                                servis</strong> veya
                                            <strong>eve servis</strong> olarak adlandırabileceğimiz et siparişini
                                            güvenle yapmanızı sağlamaktır.
                                        </p>
                                        <h3>Güncel <strong>2020 kırmızı et fiyatları</strong> kasaplardan gerçek zamanlı
                                        </h3>
                                        <p>
                                            Et fiyatlarını kasaplar belirlemektedir. kasaptanAl.com en doğru gerçek
                                            zamanlı kırmızı et
                                            fiyatlarını öğrenmek için ideal platformdur.
                                        </p>
                                        <h3>Kırmızı et sosları ve marine kalitesi</h3>
                                        <p>Özellikle ızgara veya mangal yapmak istediğinizde, seçeceğiniz etlerde marine
                                            önemli bir yapı
                                            oluşturmaktadır. Özel bir gıda olarak et, <strong>kırmızı et
                                                protein</strong> sayesinde sağlıklı ve
                                            özel bir seçenek oluştururken, marine bu yapının daha fazla ön plana
                                            çıkmasına yardımcı olmaktadır.
                                            Örneğin, seçilen bir dana veya kuzu pirzola ürünü marine edildikten sonra
                                            ızgarada pişirildiğinde
                                            hem çocuklar hem yetişkinler için keyifli bir tüketim imkanı sağlayacaktır.
                                        </p>


                                    </div>
                                    <a class="collapsed text-dark" data-toggle="collapse" href="#collapseSummary"
                                        aria-expanded="false" aria-controls="collapseSummary"></a>
                                </div>
                            </div>
                            <% } %>

                                <% include ./_partial/footer %>

                                    <% include ./_partial/scripts %>

                                        <%- include('./_partial/purchase', { }); %>



</body>

</html>