<!DOCTYPE html>
<html lang="tr-TR" prefix="og: http://ogp.me/ns#">

<head>
    <% include ./_partial/head %>
</head>

<body>
    <% include ./_partial/header %>
    <!-- <%- include('./_partial/category-slider', { idprefix: 't', header: false, titles: false, viewCats: ['reyon', 'list'], title: 'Tüm Ürünlerimiz', allUrl: '/kasap-urunleri' }); %> -->
    <%-include('./_partial/food-select-alternatives.ejs', {}) %>
    
    <section class="bg-faded-primary pt-2">
        <div id="myCarousel" class="carousel slide mb-3" data-interval="false" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
                <li data-target="#myCarousel" data-slide-to="3"></li>
                <li data-target="#myCarousel" data-slide-to="4"></li>
                <li data-target="#myCarousel" data-slide-to="5"></li>
                <% if (!__req.user) { %>
                    <li data-target="#myCarousel" data-slide-to="6"></li>

                <%}%>
            </ol>
            <div class="carousel-inner">
                <% if (!__req.user) { %>
                <div class="carousel-item home-carousel-item active">
                    <div class="py-3 mb-3 carousel-caption">
                        <span class="h5 d-block font-weight-light pb-1 ">Şimdi Üyemiz Olun</span>
                        <h2 class="h1 d-block display-4">%3 kârlı çıkın</h2>
                        <span class="h5 d-block font-weight-light pb-3 ">ilk siparişinize özel ek
                            puan kazanın</span>
                        <a class="btn btn-primary" href="javascript:window.App.showSignupDlg()">Fırsatı Yakala<i
                                class="czi-arrow-right ml-2 mr-n1"></i></a>
                    </div>
                </div>
                <% } %>
                <div class="carousel-item home-carousel-item <%=__req.user ? 'active':''%>">
                    <div class="py-3 mb-3 carousel-caption">
                        <span class="h5 d-block font-weight-light pb-1 ">KasaptanAl.com</span>
                        <h2 class="h1 d-block display-4  ">popüler ürünler</h2>
                        <span class="h5 d-block  font-weight-light pb-3 ">müşterilerimizin tercihleri</span>
    
                        <a class="btn btn-primary " href="/populer-etler">Göz At<i
                                class="czi-arrow-right ml-2 mr-n1"></i></a>
                    </div>
                </div>

                <div class="carousel-item home-carousel-item">
                    <div class="py-3 mb-3 carousel-caption">
                        <span class="h5 d-block font-weight-light pb-1 ">KasaptanAl.com</span>
                        <h2 class="h1 d-block display-4  ">mangallık etler</h2>
                        <span class="h5 d-block  font-weight-light pb-3 ">lezzetli ve eğlenceli ürünlerimiz</span>
    
                        <a class="btn btn-primary " href="/barbeku-dokum-tava-etleri">Göz At<i
                                class="czi-arrow-right ml-2 mr-n1"></i></a>
                    </div>
                </div>

                <div class="carousel-item home-carousel-item">
                    <div class="py-3 mb-3 carousel-caption">
                        <span class="h5 d-block font-weight-light pb-1 ">KasaptanAl.com</span>
                        <h2 class="h1 d-block display-4  ">beyaz etler</h2>
                        <span class="h5 d-block  font-weight-light pb-3 ">sağlıklı ve doğal ürünlerimiz</span>
    
                        <a class="btn btn-primary " href="/beyaz-et">Göz At<i class="czi-arrow-right ml-2 mr-n1"></i></a>
    
                    </div>
                </div>

                <div class="carousel-item home-carousel-item">
                    <div class="py-3 mb-3 carousel-caption">
                        <span class="h5 d-block font-weight-light pb-1 ">KasaptanAl.com</span>
                        <h2 class="h1 d-block display-4  ">haftanın ürünleri</h2>
                        <span class="h5 d-block  font-weight-light pb-3 ">bu haftaya özel seçtiklerimiz</span>
    
                        <a class="btn btn-primary " href="/bu-hafta">Göz At<i class="czi-arrow-right ml-2 mr-n1"></i></a>
    
                    </div>
                </div>

                <div class="carousel-item home-carousel-item">
                    <div class="py-3 mb-3 carousel-caption">
                        <span class="h5 d-block font-weight-light pb-1 ">En İyisi Çünkü</span>
                        <h2 class="h1 d-block display-4  ">usta kasaplar</h2>
                        <span class="h5 d-block font-weight-light pb-3 ">konusunda deneyimli yerel kasaplar</span>
    
                        <a class="btn btn-primary " href="/kasap-secim-kriterleri">Daha Fazlası<i
                                class="czi-arrow-right ml-2 mr-n1"></i></a>

                                
                    </div>
                </div>

                <div class="carousel-item home-carousel-item">
                    <div class="py-3 mb-3 carousel-caption">
                        <span class="h5 d-block font-weight-light pb-1 ">Et Kültür Blog</span>
                        <h2 class="h1 d-block display-4  ">eğlenceli içerikler</h2>
                        <span class="h5 d-block font-weight-light pb-3 ">&amp; dahası Et Kültür
                            Blog'da</span>
    
                        <a class="btn btn-primary " href="/blog">Göz
                            at<i class="czi-arrow-right ml-2 mr-n1"></i></a>

                    </div>
                </div>

  

            
            </div>
            <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#myCarousel" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>
        </div>


    </section>

    <div class="container mb-3">
        <div class=" bg-secondary">
            <div class="row">
                <div class="col-sm-4">
                    <a href="/blog/kasap-kart">
                        <img src="<%=__config.staticDomain%>/content-resimleri/kasap-kart-thumbnail.jpg"
                            alt="Kasap Kart™">

                    </a>
                </div>

                <div class="col-sm-8 ">
                    <h1 class="h2 pl-3 pt-4 h3">
                        Online Kasap Alışverişi & Et Siparişi

                    </h1>
                    <p class="pl-3">
                        Semtinize hizmet veren güvenilir yerel kasaplar bir arada!
                    </p>
                    <p class="pl-3">
                        İstediğiniz kasabı seçin, online et siparişi verin, kapınıza gelsin.
                    </p>

                    <p class="pl-3">
                        Kasap Kart&trade; ile puan kazanın, kârlı çıkın.
                    </p>

                    <div class="pl-3 mb-3 text-right mr-3 ">
                        <a class="btn btn-primary " href="/kasap-urunleri">Alışverişe Başla<i
                                class="czi-arrow-right ml-2 mr-n1"></i></a>
                    </div>

                </div>

            </div>


        </div>
    </div>

    <div class="container mb-3">
        <%- include('./_partial/category-products-slider', {category: 'populer-etler', limit: 8, reverse: true, img: 'img/category/premium.jpg'}); %>
    </div>

    <div class="container mb-3">
        <%- include('./_partial/foods-slider.ejs', {mode: 'food', title: 'Et Yemekleri', limit:8, text: '', foods: controller.foods}); %>
      </div>


    <div class="container mb-3">
        <%- include('./_partial/category-products-slider', {limit: 8, category: 'bu-hafta', reverse: true, img: 'img/category/premium.jpg'}); %>
    </div>

    <section class="container">
        <div class="row">
            <% if (!__req.user) { %>
            <div class="col-md-6 mb-3">
                <div class="d-flex flex-column h-100 justify-content-center bg-size-cover bg-position-center rounded-lg"
                    style="background-image: url(<%=__config.staticDomain %>/resource/img/banner-bg.jpg);">
                    <div class="py-4 my-2 my-md-0 py-md-5 px-4 ml-md-3 text-center text-sm-left">
                        <h4 class="h6 font-size-lg font-weight-light mb-2">Şimdi üyemiz olun, ilk siparişinize</h4>
                        <h3 class="h5 mb-4">%3 ek puan kazanın</h3>

                        <a href="javascript:window.App.showSignupDlg()" class="btn btn btn-primary ">Fırsatı Yakala</a>
                    </div>
                </div>
            </div>

            <% } else { %>


            <div class="col-md-6 mb-3">
                <div class="d-flex flex-column h-100 justify-content-center bg-size-cover bg-position-center rounded-lg"
                    style="background-image: url(<%=__config.staticDomain %>/resource/img/banner-bg.jpg);">
                    <div class="py-4 my-2 my-md-0 py-md-5 px-4 ml-md-3 text-center text-sm-left">
                        <h4 class="h6 font-size-lg font-weight-light mb-2">İyi et rehberini indirin</h4>
                        <h3 class="h5 mb-4">Bir Tıkla e-posta Adresinizde</h3>

                        <a href="#rehber" class="btn btn btn-primary get-userguide-action">İyi Et Rehberi</a>
                    </div>
                </div>
            </div>
            <% } %>

            <div class="col-md-6 mb-3">
                <div class="d-flex flex-column h-100 justify-content-center bg-size-cover bg-position-center rounded-lg"
                    style="background-image: url(<%=__config.staticDomain %>/resource/img/banner-bg.jpg);">
                    <div class="py-4 my-2 my-md-0 py-md-5 px-4 ml-md-3 text-center text-sm-left">
                        <h4 class="h6 font-size-lg font-weight-light mb-2">Et yemeklerimize göz atın</h4>
                        <h3 class="mb-4 h5">Lezzetli Yemekler, Pratik Tarifler</h3>


                        <a href="/et-yemekleri" class="btn btn btn-primary">Et Yemekleri</a>

                    </div>
                </div>


            </div>




        </div>
    </section>


    <div class="container mb-3">
        <%- include('./_partial/category-slider', { viewCats: ['reyon', 'list'], title: 'Tüm Ürünlerimiz', allUrl: '/kasap-urunleri' }); %>
    </div>

    <section class="container-fluid px-0 mb-3">
        <div class="row no-gutters">
            <div class="col-md-6"><a class="card border-0 rounded-0 text-decoration-none py-md-4 bg-faded-accent"
                    target="_blank" href="https://www.instagram.com/kasaptanal/">
                    <div class="card-body text-center"><i class="czi-instagram h3 mt-2 mb-4 text-accent"></i>
                        <h3 class="h5 mb-1">Instagram'dayız</h3>
                        <p class="text-muted font-size-sm">#kasaptanal</p>
                    </div>
                </a></div>

            <div class="col-md-6"><a class="card border-0 rounded-0 text-decoration-none py-md-4 bg-faded-primary"
                    href="/blog">
                    <div class="card-body text-center"><i class="czi-edit h3 mt-2 mb-4 text-primary"></i>
                        <h3 class="h5 mb-1">Et Kültür Blog</h3>
                        <p class="text-muted font-size-sm">Kırmızı et hakkında kısa ve öz içeriklere ulaşın.</p>
                    </div>
                </a></div>

        </div>
    </section>

    <div class="container mb-3">
        <div class="collapse-container page-footer-text">
            <div class="collapse" id="collapseSummary">
                <h2>Online Kasap Et Siparişi</h2>
                <p>Et, haftalık olarak düzenli gerçekleştirilen gıda tüketimi sırasında mutlaka yer verilmesi gereken en
                    önemli gıdalardan birisidir. Çünkü sahip olduğu protein ve yağ miktarı ile birlikte vücudun
                    ihtiyaçlarını karşılayan bu gıda, özellikle farklı yemekler içerisinde veya sadece <strong>kırmızı
                        et</strong> şeklinde tüketilerek hem çocuklar hem yetişkinler için kullanılmalıdır.</p>
                <p>İçinde bulunduğunuz mevsime uygun bir şekilde et kullanarak, taze sebzeler veya baklagiller ile
                    tüketim gerçekleştirebileceğiniz gibi kuru sebzeler veya buzlukta muhafaza edilmiş malzemeler ile
                    birleştirerek de yemekler hazırlayabilirsiniz. Ayrıca mangal, ızgara, kebap veya buğulama gibi
                    birçok farklı yöntem ile birlikte hem çocuklar hem de yetişkinler için yemekler hazırlamanız
                    mümkündür.</p>
                <p>Bugün genel olarak incelendiğinde, <strong>kırmızı et çeşitleri</strong> öncelikle kuzu ve dana olmak
                    üzere iki farklı hayvan üzerinden elde edilmektedir. Son yıllarda ülkemizde kısmen sığır eti tercihi
                    de yapılmaktadır. Bu sayede etler arasında bonfile, antrikot, biftek, kaburga, marine edilmiş etler,
                    kasaplık özel etler, köfteler veya kebaplık et tarifleri elde edilmesi mümkündür. Üstelik sistemimiz
                    üzerinde bu et ürünlerin her biri online sipariş yöntemi ile istenilen her amaçla ve her gün temin
                    edilebilir.</p>
                <h3><strong>Online kasap</strong> ve <strong>kasaplardan online et siparişi</strong> ile hayatınız daha
                    kolay</h3>
                <p>Evinizde veya işletmenizde hazırlayacağınız lezzetli yemekler için öncelikle online kasap
                    platformumuz üzerinden
                    <strong>kırmızı et sipariş</strong> işlemleri gerçekleştirebilirsiniz. Bu bağlamda dana veya kuzu
                    gibi hayvanlardan elde edilen et ürünlerini de siparişleriniz içerisinde bulundurabilirsiniz.
                    Örneğin, kış mevsiminde fasulye veya bakla gibi bir kuru gıdayı <strong>dana eti</strong> ile
                    hazırlamanız için taze et kullanmayı tercih edebilirsiniz.</p>
                <p>Her seferinde taze et kullanmayı seçmeniz gibi istediğiniz koşullarda <strong>kuzu eti</strong>
                    ürünlerini toplu sipariş ederek, evinizde haftalık veya aylık kullanım da elde edebilirsiniz. Çünkü
                    özellikle bu et ürünleri de birçok farklı tarif içerisinde yer almaktadır. Bilhassa ülkemizin Doğu
                    bölgelerinde daha fazla kullanılan et ürünleri olarak kuzu tercih edilmektedir. Örnek olarak özel et
                    tüketimi gerçekleştirmek açısından pirzola veya tandır için de kuzu tercihi yapılmaktadır.</p>
                <p>Eğer sipariş işlemleri gerçekleştirmek için öncelikle hazırlayacağınız yemek tarifini belirlerseniz,
                    bu sayede de kişi sayısına göre yeterli miktarda et ihtiyacını tespit edebilirsiniz. Sistem üzerinde
                    online sipariş gerçekleştirerek en uygun <strong>kırmızı et fiyatları</strong> ile alışveriş
                    sağlayabilirsiniz. Ayrıca sistem üzerinde sunulan <strong>et satın al</strong> işlemleri için
                    bulunduğunuz bölgeyi seçerek, pratik bir şekilde yeni kasaplar keşfedebilir ve bir rehbere
                    ulaşabilirsiniz.</p>
                <h3>Güncel 2020 kırmızı et fiyatları kasaplardan gerçek zamanlı</h3>
                <p>
                    Et fiyatlarını kasaplar belirlemektedir. kasaptanAl.com en doğru gerçek zamanlı kırmızı et
                    fiyatlarını öğrenmek için ideal platformdur.
                    <a href="/kuzu-et-fiyatlari">Kuzu Et Fiyatları</a>, <a href="/dana-et-fiyatlari">Dana Et
                        Fiyatları</a> ve <a href="/sakatat-fiyatlari">Sakatat Fiyatları</a> en güncel, örneğin 2020 yılı
                    için öğrenilebilir.
                </p>
                <h3>Kırmızı et sosları ve marine kalitesi</h3>
                <p>Özellikle ızgara veya mangal yapmak istediğinizde, seçeceğiniz etlerde marine önemli bir yapı
                    oluşturmaktadır. Özel bir gıda olarak et, <strong>kırmızı et protein</strong> sayesinde sağlıklı ve
                    özel bir seçenek oluştururken, marine bu yapının daha fazla ön plana çıkmasına yardımcı olmaktadır.
                    Örneğin, seçilen bir dana veya kuzu pirzola ürünü marine edildikten sonra ızgarada pişirildiğinde
                    hem çocuklar hem yetişkinler için keyifli bir tüketim imkanı sağlayacaktır.</p>
                <p>Usta eller sayesinde gerçekleştirilen <strong>kırmızı et marine</strong> işlemlerinde genellikle
                    baharatlar, soğan, sarımsak, zeytinyağı ve tuz gibi malzemeler kullanılır. Farklı bölgelerde
                    kasaplar tecrübe ve tariflerine uygun bir şekilde marine işlemleri sırasında sirke veya limon gibi
                    malzemeler de tercih edebilir. Bu sayede marine edilmiş her et, ayrı bir lezzete sahip olarak
                    pişirilirken, bu özel sosun kokusunu ortaya çıkarır ve daha keyifli bir tüketim sağlar.</p>
                <p>Son noktada <strong>kırmızı et sosları</strong> açısından da özel baharatlar ve malzemelerin karışımı
                    ön plana çıktığı için eti daha özel konuma getiren bir nokta sağlanmaktadır. Temelde et
                    tüketimindeki amaç, protein kaynağı ve doğal yağ kaynağı elde etmek olsa da bazı kişiler için et
                    farklı şekillerde daha lezzetli bir hale gelmelidir. İşte bu nedenle soslar sayesinde et marine
                    edilerek veya Anadolu dilinde terbiye edilerek, hazırlanır ve sonrasında ister mangalda ister
                    ızgarada veya yemeklerde kullanılabilir. Bu bağlamda da istediğiniz tüm bu ürün çeşitlerini online
                    <strong>et sipariş</strong> ile 365 gün temin edebilirsiniz.</p>

            </div>
            <a class="collapsed text-dark" data-toggle="collapse" href="#collapseSummary" aria-expanded="false"
                aria-controls="collapseSummary"></a>
        </div>
    </div>


    <% include ./_partial/footer %>

    <% include ./_partial/scripts %>

</body>

</html>