<!DOCTYPE html>
<html lang="tr-TR" prefix="og: http://ogp.me/ns#">

<head>
    <% include ./_partial/head %>
</head>

<body>
    <% include ./_partial/header %>

    <section class="bg-faded-primary">

        <%if(__req.query.car != '0') { %>
        <div id="myCarousel" class="carousel slide mb-3 text-white" data-interval="false" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
                <li data-target="#myCarousel" data-slide-to="3"></li>
                <li data-target="#myCarousel" data-slide-to="4"></li>
                <li data-target="#myCarousel" data-slide-to="5"></li>
                <% if (!__req.user) { %>
                    <li data-target="#myCarousel" data-slide-to="6"></li>

                <%}%>
            </ol>
            <div class="carousel-inner">
                <% if (!__req.user) { %>
                <div class="carousel-item home-carousel-item active">
                    <div class="py-3 mb-3 carousel-caption">
                        <h2 class="h2  ">şimdi üyemiz olun</h2>
                        <span class="h5 d-block font-weight-light pb-3 ">ilk siparişinizde %3 ek puan kazanın</span>
                        <a class="btn btn-primary" href="javascript:window.App.showSignupDlg()">Fırsatı Yakala</a>
                    </div>
                </div>
                <% } %>
                <div class="carousel-item home-carousel-item <%=__req.user ? 'active':''%>">
                    <div class="py-3 mb-3 carousel-caption">
                        <h2 class="h2">iyi kasaplar bir arada</h2>
                        <span class="h5 d-block  font-weight-light pb-3">iyi et, kârlı alışveriş, hızlı teslimat</span>
                        <a class="btn btn-primary " href="/kasap-urunleri">Alışverişe Başla »</a>
                    </div>
                </div>

                <div class="carousel-item home-carousel-item">
                    <div class="py-3 mb-3 carousel-caption">
                        <h2 class="h2   ">popüler ürünler</h2>
                        <span class="h5 d-block  font-weight-light pb-3 ">en çok tercih edilen ürünlerimiz</span>
    
                        <a class="btn btn-primary " href="/populer-etler">Göz At »</a>
                    </div>
                </div>

                <div class="carousel-item home-carousel-item">
                    <div class="py-3 mb-3 carousel-caption">
                        <h2 class="h2  ">mangallık etler</h2>
                        <span class="h5 d-block  font-weight-light pb-3 ">eğlenceye başlamanın şimdi tam zamanı</span>
    
                        <a class="btn btn-primary " href="/barbeku-dokum-tava-etleri">Göz At »</a>
                    </div>
                </div>

                <div class="carousel-item home-carousel-item">
                    <div class="py-3 mb-3 carousel-caption">
                        <h2 class="h2  ">beyaz et ürünleri</h2>
                        <span class="h5 d-block  font-weight-light pb-3 ">sağlıklı, doğal ve lezzetli ürünler</span>
    
                        <a class="btn btn-primary " href="/beyaz-et">Göz At »</a>
    
                    </div>
                </div>

                <div class="carousel-item home-carousel-item">
                    <div class="py-3 mb-3 carousel-caption">
                        <h2 class="h2   ">haftanın ürünleri</h2>
                        <span class="h5 d-block  font-weight-light pb-3 ">bu haftaya özel seçtiğimiz ürünler</span>
    
                        <a class="btn btn-primary " href="/bu-hafta">Göz At »</a>
    
                    </div>
                </div>


                <div class="carousel-item home-carousel-item">
                    <div class="py-3 mb-3 carousel-caption">
                        <h2 class="h2    ">et kültür blog</h2>
                        <span class="h5 d-block font-weight-light pb-3 ">ilginizi çekecek kısa ve öz içerikler</span>
    
                        <a class="btn btn-primary " href="/blog">Göz At »</a>

                    </div>
                </div>

  

            
            </div>
            <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#myCarousel" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>
        </div>
        <% } %>

    </section>

    <div class="container mb-3">
        <div class=" bg-secondary">
            <div class="row">
                <div class="col-sm-4">
                    <a href="/blog/kasap-kart">
                        <img src="<%=__config.staticDomain%>/content-resimleri/kasap-kart-thumbnail.jpg"
                            alt="Kasap Kart™">

                    </a>
                </div>

                <div class="col-sm-8 font-weight-light font-size-lg">
                    <h1 class="h2 pl-3 pt-4 h3">
                        Online Kasap Alışverişi & Et Siparişi

                    </h1>
                    <p class="pl-3">
                        Güvenilir semt kasaplarından online sipariş verin, iyi et saatler içerisinde kapınıza gelsin.
                    </p>


                    <p class="pl-3">
                        Kasap Kart&trade; ile puan kazanın, kârlı çıkın.
                    </p>

                    <div class="pl-3 mb-3 text-right mr-3 ">
                        <a class="btn btn-primary " href="/kasap-urunleri">Alışverişe Başla »</a>
                    </div>

                </div>

            </div>


        </div>
    </div>

    <%if(__req.query.prods != '0') { %>
    <div class="container mb-3">
        <%- include('./_partial/category-products-slider', {category: 'populer-etler', limit: 4, reverse: true, img: 'img/category/premium.jpg'}); %>
    </div>
    <%}%>
    <section class="container">
        <div class="row">
            <% if (!__req.user) { %>
    <div class="col-md-6 mb-3">
        <div class="d-flex flex-column h-100 justify-content-center bg-size-cover bg-position-center rounded-lg"
            style="background-image: url(<%=__config.staticDomain %>/resource/img/banner-bg.jpg);">
            <div class="py-4 my-2 my-md-0 py-md-5 px-4 ml-md-3 text-center text-sm-left">
                <h4 class="h6 font-size-lg font-weight-light mb-2">Şimdi üyemiz olun, ilk siparişinizde</h4>
                <h3 class="h5 mb-4">%3 ek Kasap Kart&trade; puan kazanın</h3>

                <a href="javascript:window.App.showSignupDlg()" class="btn btn btn-primary "><i
                        class="czi-thumb-up mr-2"></i>Fırsatı Yakala</a>
            </div>
        </div>
    </div>

    <% } else { %>


    <div class="col-md-6 mb-3">
        <div class="d-flex flex-column h-100 justify-content-center bg-size-cover bg-position-center rounded-lg"
            style="background-image: url(<%=__config.staticDomain %>/resource/img/banner-bg.jpg);">
            <div class="py-4 my-2 my-md-0 py-md-5 px-4 ml-md-3 text-center text-sm-left">
                <h4 class="h6 font-size-lg font-weight-light mb-2">Kasap alışverişlerinizden</h4>
                <h3 class="mb-4 h5">Kasap Kart&trade; ile puan kazanın</h3>

                <a class="btn btn-primary btn-sm " href="/blog/kasap-kart">Daha Fazla Bilgi »</a>


            </div>
        </div>


    </div>
    <% } %>

    <div class="col-md-6 mb-3">
        <div class="d-flex flex-column h-100 justify-content-center bg-size-cover bg-position-center rounded-lg"
            style="background-image: url(<%=__config.staticDomain %>/resource/img/banner-bg.jpg);">
            <div class="py-4 my-2 my-md-0 py-md-5 px-2 ml-md-3 text-center text-sm-left">
                <h4 class="h6 font-size-lg font-weight-light mb-2">Hızlı aramayı kullanın</h4>

                <h3 class="mb-2 h5">Size nasıl yardımcı olalım?</h3>

                <div class="input-group-overlay mb-1">

                    <div class="input-group-prepend-overlay">

                        <span class="input-group-text">
                            <i class="notsearching czi-search"></i>
                            <span class="searching d-none spinner-border spinner-border-sm" role="status"
                                aria-hidden="true"></span>
                        </span>
                    </div>
                    <input id="page-searchbox" class="form-control font-size-sm searchBox prepended-form-control"
                        data-noresults-text="Maalesef bulamadık." autocomplete="off" type="text"
                        placeholder="et, semt, yemek veya kasap">
                    <div>

                    </div>
                </div>

                <div class=" text-center">
                    <a class="search-sample font-weight-light text-white   badge badge-primary mr-1">mangallık et</a>
                    <a class="search-sample font-weight-light text-white  badge badge-primary mr-1">dana eti</a>
                    <a class="search-sample font-weight-light text-white  badge badge-primary mr-1">assado</a>
                    <a class="search-sample font-weight-light text-white  badge badge-primary mr-1">tavuk</a>
                    <a class="search-sample font-weight-light text-white  badge badge-primary mr-1">bahçelievler</a>
                    <a class="search-sample font-weight-light text-white  badge badge-primary mr-1">tüm kuzu</a>
                    <a class="search-sample font-weight-light text-white  badge badge-primary mr-1">fırınlık et</a>
                    <a class="search-sample font-weight-light text-white  badge badge-primary mr-1">çiğ süt</a>
                    <a class=" font-weight-light text-white  badge badge-primary mr-1" href="/kasap-urunleri">»</a>

                </div>
            </div>
        </div>
    </div>




    </div>
    </section>


    <%if(__req.query.prods != '0') { %>
    <div class="container mb-3">
        <%- include('./_partial/category-products-slider', {limit: 4, category: 'bu-hafta', reverse: true, img: 'img/category/premium.jpg'}); %>
    </div>
    <%}%>


    <%if(__req.query.catlider != '0') { %>
    <div class="container mb-3">
        <%- include('./_partial/category-slider', { viewCats: ['reyon', 'list'], title: 'Ürünlerimiz', allUrl: '/kasap-urunleri' }); %>
    </div>
    <%}%>

    <section class="container-fluid px-0 mb-3">
        <div class="row no-gutters">
            <div class="col-md-6"><a class="card border-0 rounded-0 text-decoration-none py-md-4 bg-faded-accent"
                    target="_blank" href="https://www.instagram.com/kasaptanal/">
                    <div class="card-body text-center"><i class="czi-instagram h3 mt-2 mb-4 text-accent"></i>
                        <h3 class="h5 mb-1">Instagram'dayız</h3>
                        <p class="text-muted font-size-sm">#kasaptanal</p>
                    </div>
                </a></div>

            <div class="col-md-6"><a class="card border-0 rounded-0 text-decoration-none py-md-4 bg-faded-primary"
                    href="/blog">
                    <div class="card-body text-center"><i class="czi-edit h3 mt-2 mb-4 text-primary"></i>
                        <h3 class="h5 mb-1">Et Kültür Blog</h3>
                        <p class="text-muted font-size-sm">Kırmızı et hakkında kısa ve öz içeriklere ulaşın.</p>
                    </div>
                </a></div>

        </div>
    </section>

    <% if (__req.query.nodesc!='1') { %>
    <div class="container mb-3">
        <div class="collapse-container page-footer-text">
            <div class="collapse" id="collapseSummary">
                <h2>Online Kasap Et Siparişi</h2>
                <p>Et, haftalık olarak düzenli gerçekleştirilen gıda tüketimi sırasında mutlaka yer verilmesi gereken en
                    önemli gıdalardan birisidir. Çünkü sahip olduğu protein ve yağ miktarı ile birlikte vücudun
                    ihtiyaçlarını karşılayan bu gıda, özellikle farklı yemekler içerisinde veya sadece <strong>kırmızı
                        et</strong> şeklinde tüketilerek hem çocuklar hem yetişkinler için kullanılmalıdır.</p>
                <p>İçinde bulunduğunuz mevsime uygun bir şekilde et kullanarak, taze sebzeler veya baklagiller ile
                    tüketim gerçekleştirebileceğiniz gibi kuru sebzeler veya buzlukta muhafaza edilmiş malzemeler ile
                    birleştirerek de yemekler hazırlayabilirsiniz. Ayrıca mangal, ızgara, kebap veya buğulama gibi
                    birçok farklı yöntem ile birlikte hem çocuklar hem de yetişkinler için yemekler hazırlamanız
                    mümkündür.</p>
                <p>Bugün genel olarak incelendiğinde, <strong>kırmızı et çeşitleri</strong> öncelikle kuzu ve dana olmak
                    üzere iki farklı hayvan üzerinden elde edilmektedir. Son yıllarda ülkemizde kısmen sığır eti tercihi
                    de yapılmaktadır. Bu sayede etler arasında bonfile, antrikot, biftek, kaburga, marine edilmiş etler,
                    kasaplık özel etler, köfteler veya kebaplık et tarifleri elde edilmesi mümkündür. Üstelik sistemimiz
                    üzerinde bu et ürünlerin her biri online sipariş yöntemi ile istenilen her amaçla ve her gün temin
                    edilebilir.</p>
                <h2>
                    Yerel, güvenilir usta <strong>kasaplar</strong> bir arada
                </h2>
                <p>
                    Kasap seçiminde oldukça titiz davranıyoruz. İyi et için sadece konusunda deneyimli, yerel ve
                    güvenilir kasap iş ortaklarıyla çalışıyoruz.

                </p>
                <p>
                    İş ortaklarımızın büyük çoğunluğu nesillerdir kasaplık mesleğini yapan ailelerden gelmekte. Kalan
                    kesim ise genç, dinamik ve en kaliteli eti sağlama konusunda iddialı genç kasaplarımız.
                </p>
                <h3>
                    Amacımız en kaliteli eti yerel usta kasaplardan sizlere sağlamak
                </h3>
                <p>
                    Ankara ve İstanbul'daki en iyi kasaplarla çalışıyoruz. Kasaplarımızdan sipariş vermeniz ardından
                    mutlaka müşteri memnuniyeti çerçevesinde size ulaşıyor ve yorumlarınızı alıyoruz. Tüm yorumları
                    kasaplarımıza iletiyoruz.
                </p>
                <h2>
                    Kolay kullanım ve hızlı, online, güvenilir et siparişi
                </h2>
                <p>
                    Zamanınızın değerli olduğunu biliyoruz. Usta <strong>kasaplar</strong> online alışveriş ve sipariş
                    platformu olarak web sitemizi devamlı güncelliyoruz. Sizden gelen talepler doğrultusunda
                    ürünlerimizi düzenliyoruz.
                </p>
                <h3>
                    Et yemekleri ve yemeğe uygun et seçimi
                </h3>
                <p>
                    Sitemizde pek çok et yemeği ve tarifi mevcut. Bu yemeklerde hangi etlerin kullanılabileceğini
                    sitemiz size önerebiliyor. Aynı zamanda kişi sayısına göre miktar hesaplamasını kendisi yapabiliyor.
                </p>
                <h3><strong>Online kasap</strong> alışverişi ve <strong>hızlı, güvenilir et siparişi</strong> ile
                    hayatınız daha
                    kolay</h3>
                <p>Evinizde veya işletmenizde hazırlayacağınız lezzetli yemekler için öncelikle online kasap
                    platformumuz üzerinden
                    <strong>kırmızı et sipariş</strong> işlemleri gerçekleştirebilirsiniz. Bu bağlamda dana veya kuzu
                    gibi hayvanlardan elde edilen et ürünlerini de siparişleriniz içerisinde bulundurabilirsiniz.
                    Örneğin, kış mevsiminde fasulye veya bakla gibi bir kuru gıdayı <strong>dana eti</strong> ile
                    hazırlamanız için taze et kullanmayı tercih edebilirsiniz.</p>
                <p>Her seferinde taze et kullanmayı seçmeniz gibi istediğiniz koşullarda <strong>kuzu eti</strong>
                    ürünlerini toplu sipariş ederek, evinizde haftalık veya aylık kullanım da elde edebilirsiniz. Çünkü
                    özellikle bu et ürünleri de birçok farklı tarif içerisinde yer almaktadır. Bilhassa ülkemizin Doğu
                    bölgelerinde daha fazla kullanılan et ürünleri olarak kuzu tercih edilmektedir. Örnek olarak özel et
                    tüketimi gerçekleştirmek açısından pirzola veya tandır için de kuzu tercihi yapılmaktadır.</p>
                <p>Eğer sipariş işlemleri gerçekleştirmek için öncelikle hazırlayacağınız yemek tarifini belirlerseniz,
                    bu sayede de kişi sayısına göre yeterli miktarda et ihtiyacını tespit edebilirsiniz. Sistem üzerinde
                    online sipariş gerçekleştirerek en uygun <strong>kırmızı et fiyatları</strong> ile alışveriş
                    sağlayabilirsiniz. Ayrıca sistem üzerinde sunulan <strong>et satın al</strong> işlemleri için
                    bulunduğunuz bölgeyi seçerek, pratik bir şekilde yeni kasaplar keşfedebilir ve bir rehbere
                    ulaşabilirsiniz.</p>

                <h3><strong>Eve servis</strong> veya <strong>paket servis</strong> kasap siparişi güvenli ve hızlı</h3>
                <p>
                    KasaptanAl.com'un sağladığı en büyük faydalardan biri de <strong>paket servis</strong> veya
                    <strong>eve servis</strong> olarak adlandırabileceğimiz et siparişini güvenle yapmanızı sağlamaktır.
                </p>
                <h3>Güncel <strong>2020 kırmızı et fiyatları</strong> kasaplardan gerçek zamanlı</h3>
                <p>
                    Et fiyatlarını kasaplar belirlemektedir. kasaptanAl.com en doğru gerçek zamanlı kırmızı et
                    fiyatlarını öğrenmek için ideal platformdur.
                </p>
                <h3>Kırmızı et sosları ve marine kalitesi</h3>
                <p>Özellikle ızgara veya mangal yapmak istediğinizde, seçeceğiniz etlerde marine önemli bir yapı
                    oluşturmaktadır. Özel bir gıda olarak et, <strong>kırmızı et protein</strong> sayesinde sağlıklı ve
                    özel bir seçenek oluştururken, marine bu yapının daha fazla ön plana çıkmasına yardımcı olmaktadır.
                    Örneğin, seçilen bir dana veya kuzu pirzola ürünü marine edildikten sonra ızgarada pişirildiğinde
                    hem çocuklar hem yetişkinler için keyifli bir tüketim imkanı sağlayacaktır.</p>


            </div>
            <a class="collapsed text-dark" data-toggle="collapse" href="#collapseSummary" aria-expanded="false"
                aria-controls="collapseSummary"></a>
        </div>
    </div>
    <% } %>

    <% include ./_partial/footer %>

    <% include ./_partial/scripts %>

</body>

</html>