<!DOCTYPE html>
<html lang="en">

<head>
  <% include ./_partial/head %>
</head>

<body>
  <% include ./_partial/header %>



  <div class="page-title-overlap bg-primary pt-4">
    <div class="container d-lg-flex justify-content-between py-2 py-lg-3">
      <div class="order-lg-2 mb-3 mb-lg-0 pt-lg-2">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb breadcrumb-light flex-lg-nowrap justify-content-center justify-content-lg-star">
            <li class="breadcrumb-item"><a class="text-nowrap" href="/"><i class="czi-home"></i></a></li>
            <li class="breadcrumb-item text-nowrap"><a href="/et-yemekleri">Et Yemekleri</a>
            </li>
            <li class="breadcrumb-item text-nowrap active" aria-current="page">
              <%=controller.category? controller.category.name: 'Tümü'%></li>
          </ol>
        </nav>
      </div>
      <div class="order-lg-1 pr-lg-4 text-center text-lg-left">
        <h1 class="h3 text-light">
          <%=controller.category ? controller.category.name + ' Et Yemekleri':'Et Yemekleri'%> </h1>
          <p class="lead text-light">
            <span  class=""><i class=" czi-add-circle mr-2">
              
            </i>Eti Bizden </span>seçeneği ile etinizi istediğiniz yemeğe uygun olarak hazırlıyoruz.</p>
  
          </p>
      </div>
    </div>
  </div>

  <% var reyonlar = __categories.filter(p=>p.type == 'reyon').slice(0,2) %>
  <div class="container">
    <div class="bg-light box-shadow-lg rounded-lg px-4 py-4 mb-2 mb-md-4">
      <div class="">

        <ul class="nav nav-tabs  nav-justified mb-2 mb-md-4" id="pills-tab" role="tablist">
          <li class="nav-item">
            <a class="nav-link nav-link-shrink <%= controller.category ? '': 'active' %>" id=all-tab" 
              href="/et-yemekleri%>" role="tab" aria-controls="Tümü"
              >Tümü</a>
          </li>

          <%reyonlar.forEach((category,i) => { %>
          <li class="nav-item">
            <a class="nav-link nav-link-shrink <%= controller.category ? (controller.category.id == category.id ? 'active':''): '' %>" id="<%= category.slug %>-tab" 
              href="/et-yemekleri/<%=`${category.slug}`%>" role="tab" aria-controls="<%= category.name %>"
              ><%= category.name %></a>
          </li>
          <% }) %>
        </ul>


        <div class="row cz-gallery">
          <% controller.foods.forEach((resource,i) => {%>
            <div class="col-md-2 col-6 mb-4">
            <%- include(`./_partial/resource-item.ejs`, {resource: resource, subUrl: 'ile-yapin'  }) %>

          </div>
          <% }) %>
        </div>

      </div>

    </div>
  </div>


  <% include ./_partial/footer %>
  <% include ./_partial/scripts %>

</body>

</html>