<!DOCTYPE html>
<html lang="tr-TR" prefix="og: http://ogp.me/ns#">

<head>
  <% include ./_partial/head %>
  <% if (Object.keys(__req.query).length != 0 ) {%>
  <meta name="robots" content="noindex,follow">
  <link href="https://www.kasaptanal.com<%=__req.path%>" rel="canonical">
  
  <%}%>

</head>

<body>



  <% include ./_partial/header %>

  <%-include('./_partial/food-select-alternatives.ejs', {}) %>


  <div class="page-title-overlap bg-primary pt-4">
    <div class="container d-lg-flex justify-content-between py-2 py-lg-3">
      <div class="order-lg-2 mb-3 mb-lg-0 pt-lg-2">
        <nav aria-label="breadcrumb" class="d-none d-lg-block">
          <ol class="breadcrumb breadcrumb-light flex-lg-nowrap justify-content-center justify-content-lg-star">
            <li class="breadcrumb-item"><a class="text-nowrap" href="/"><i class="czi-home"></i></a></li>
            <% if (resource.tag1 && resource.tag1.includes('tarif')) { %>
            <li class="breadcrumb-item text-nowrap"><a href="/et-yemekleri">Et Yemekleri</a>
            </li>
            <% } else { %>
              <li class="breadcrumb-item text-nowrap"><a href="/et-yemekleri">Et Yemekleri</a>
              </li>
            <% } %>
            <li class="breadcrumb-item text-nowrap active" aria-current="page"><%= resource.title %></li>
          </ol>
        </nav>
      </div>
      <div class="order-lg-1 pr-lg-4 text-center text-lg-left">
        <h1 class="h3 mb-2 text-light mb-0"><%= resource.title %></h1>

        <h2 class="h4 lead text-light"><%= resource.description || defaultDesc %></h2>


          
        <% if (__req.user && __req.user.hasRole('admin')) {%>

        <a class="btn btn-sm btn-dark" href="<%= `/pages/admin/resource/product-photos/${resource.product.id}?fileprefix=${resource.product.slug}&title=${resource.product.name}&videotype=product-videos#res${resource.id}` %>"
          target="_blank">Düzenle</a>

        <% } %>

      </div>
    </div>
  </div>







  <!-- Page Content-->
  <div class="container px-0 cz-gallery">
    <!-- Gallery + details-->
    <div class="bg-light box-shadow-lg mb-3 pb-4">
      <div>
        <div class="row ">
          <!-- Product gallery-->

          <div class="col-lg-6 ">
            <div class="">

              <div class="">
               
                <a data-gtrack="1" data-restype="<%= resource.tag1 %>" data-resref="<%= resource.slug %>" data-restitle="<%= resource.title %>" data-resid="<%=resource.id%>" class="gallery-item d-block overflow-hidden gallery-item <%= resource.contentType == 'video-youtube' ? 'video-item':''%>"
                  href="<%= `${resource.getFileUrl()}`  %>"
                  <% if (resource.tag1 && (resource.tag1.includes('tarif') || resource.tag1.includes('yemek'))) { %> data-sub-html="<%= `<h6 class="font-size-normal text-light">${resource.title || ''}</h6><p class="font-size-md mb-2">${resource.description || ''}</p>`%> 
                    <% if (true) {%>
                    <%=  '<a data-tag="true" data-category="food" data-action="eti-bizden" data-label="'%><%=resource.slug%><%='" href="'%><%= include(`./_partial/addtonotelink.ejs`, {resource: resource, disableSlider: true  }) %>   <%='"class="btn btn-block btn-primary btn-sm rounded-0"><i class=" czi-thumb-up mr-2"></i>'%><%= 'Eti Bizden' + '</button>' %>

                    <% } %>
                    " <% } %>>
                  <img  <% if (resource.contentType == 'video-youtube') { %>
                    src="<%= (resource.thumbnailUrl ? resource.getThumbnailFileUrl().replace('-thumbnail',''): null) ||  `${__req.helper.imgUrl('product-photos', resource.product.slug)}` %>"
                    <% } else { %> src="<%= `${resource.getFileUrl()}` %>" <% } %> alt="<%= resource.title  %>">
                </a>

                <% if (resource.contentType == 'video-youtube') { %>
                <div class="text-center mt-3 mb-3">

                <button onclick="javascript:window.App.openSlider(<%=resource.id%>)"" class="btn btn-sm btn-primary"> <i class="czi-play mr-2"></i> Tarifi İzle</button>

                </div>
                <% } %>

              
              </div>



            </div>
          </div>


          <div class="col-lg-6 ">
            <div class="px-3 pl-lg-0 pr-lg-4 mt-2   pt-lg-3 pb-0">

              <div class=" mb-3">

                <!-- <h3 class="h5"><strong><%=resource.title%></strong> hangi etten yapılır ?</h3> -->
                <p class="font-size-md">
                  <i class="czi-announcement mr-1"></i>
                  Eti Bizden seçeneği ile <strong><%=resource.title%></strong> yapmak için en uygun eti kişi sayısına göre doğru miktarda biz hesaplıyoruz.
                </p>
                <a data-tag="true" data-category="food" data-action="eti-bizden" data-label="<%=resource.slug%>" href="<%- include(`./_partial/addtonotelink.ejs`, {resource: resource, auto: false  }) %>"
                  class="btn btn-block  btn-primary"><i class=" czi-thumb-up mr-1">
                  </i>Eti Bizden</a>
              </div>

 
              <% if (resource.mddesc) { %>
           
              <div class="accordion mb-3" id="payment-method" role="tablist">
                <div class="card">
                  <div class="card-header" role="tab">
                    <h3 class="accordion-heading"><a href="#card" data-toggle="collapse"><i class="font-size-lg mr-2 mt-n1 align-middle"></i><%='Tarifi'%><span class="accordion-indicator"><i data-feather="chevron-up"></i></span></a></h3>
                  </div>
                  <div class="collapse show" id="card" data-parent="#payment-method" role="tabpanel">
                    <div class="card-body ">
                    
              
              
                      
                       
                            <%- controller.Markdown.render(resource.mddesc) %>
                  
                      
                      
                      
              
                    </div>
                  </div>
                </div>
              
              
              </div>
              
              <% } %>


                   

 
     <!-- <h3 class="h5">Hangi etler uygundur?</h3>
              <p>
                <strong><%=resource.title%></strong> yapmak için 

                <% if (products.length <= 1) { %>
                aşağıdaki ürünümüzü güvenle seçebilirsiniz.
                <% } else { %>
                kasaplarımız aşağıdaki alternatifleri önermekteler.
                <% } %>
              </p>
              <ul class="list-unstyled">
                <% products.forEach(p=> { %>
                  <li class="border-bottom">
                    <div class="d-flex flex-nowrap align-content-center justify-content-between">
                  <a class="text-truncate align-self-center" href="/<%=`${p.slug}?r=${resource.id}&autoNote=1&hideproduct=1`%>"><%=p.name%></a>
                  <a class="rounded-0 align-self-center d-md-block btn btn-sm btn-info" href="/<%=`${p.slug}?r=${resource.id}&autoNote=1&hideproduct=1`%>">Satın Al<i class="czi-arrow-right font-size-xs align-middle ml-1"></i></a>

                    </div>
                  
                  </li>
                <% }) %>
              </ul>  


            </div>
          </div>
        </div>
      </div>
      <div id="tabpc"></div> -->
      <!-- <ul class="nav nav-tabs" id="optionsTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
            aria-selected="true">Bilgi</a>
        </li>




      </ul> -->
      <!-- <div class="tab-content px-4" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">



        </div>
      </div> -->
    </div>


  </div>








  <% include ./_partial/footer %>
  <% include ./_partial/scripts %>


<script>

        $(document).ready(function() {
          <%= __req.query.watch ? `window.App.openSlider(${resource.id});`:"" %>
          
        })
</script>


  </body>

</html>