<!DOCTYPE html>
<html lang="tr-TR" prefix="og: http://ogp.me/ns#">

<head>
  <% include ./_partial/head %>
</head>

<%
var orderClosed = (order.status == controller.OrderStatus.success) || 
                  (order.status == controller.OrderStatus.butcherCannotShip) || 
                  (order.status == controller.OrderStatus.butcherCannotShip) ||
                  (order.status == controller.OrderStatus.customerCanceled);

if (orderClosed && __req.user && __req.user.hasRole('admin')) {
  orderClosed = false;
}

%>

<body>
  <% include ./_partial/header %>
  <div class="page-title py-2">
    <div class="container d-lg-flex justify-content-between py-2 py-lg-3">
      <div class="order-lg-2 mb-3 mb-lg-0 pt-lg-2">
        <nav aria-label="breadcrumb" class="d-none d-lg-block">
          <ol class="breadcrumb flex-lg-nowrap justify-content-center justify-content-lg-star">
          </ol>
        </nav>
      </div>
      <div class="order-lg-1 pr-lg-4 text-center text-lg-left d-print-none">


        <h1 class="h3">
          Sipariş Bilgileri</h1>
          <% if (!orderClosed) { %>
            <a class="btn btn-secondary btn-sm" target="_blank" href="/printorder/<%=controller.order.ordernum%>">Yazdır</a>
          <% } %>
      </div>
    </div>
  </div>






  <div class="container mb-3 ">








      <a id="orderdetails"></a>



 


      

        <% for (let bi in butchers) { %>
    <% let butcher = butchers[bi]%>



    <div class="mb-3">

      <div class="bg-secondary  mb-4 d-print-none"><a class="media align-items-center"
          href="/<%=butcher.slug%>"><img class="header-img d-print-none"
            src="<%= `${__req.helper.imgUrl('butcher-google-photos', butcher.slug)}` %>" alt="<%=butcher.name%>">
          <div class="media-body pl-2"><span class="font-size-ms text-muted"></span>
            <h3 class="h4 mb-0 mr-2"><%=  butchers[bi].name %></h3>
          </div>
        </a></div>

      <div id="orderstart" class="">
        <h3  class="h4 border-bottom">Sipariş</h3>
        <ul class="list-unstyled font-size-sm">
          <li><span class="text-muted">Sipariş Durumu:&nbsp;</span> <strong><%= order.status %></strong> </li>
          <% if (!orderClosed) { %>
          <li><span class="text-muted">Müşteri:&nbsp;</span><%= order.displayName %></li>    
          <% } %>
          <% if (order.deliveryOrderId) { %>
          <li><span class="text-muted">Kurye Planlandı:&nbsp;</span><%=order.deliveryOrderId%></li>    

          <% } %>      
          <li><span class="text-muted">Teslimat Süreci:&nbsp;</span>
            <%= controller.DeliveryStatusDesc[order.deliveryStatus] %></li>
            <% if (order.shipmentStartText) { %>
              <li><span class="text-muted">Kasap Teslimat Planı:&nbsp;</span>
              <%= order.shipmentStartText %>
            </li>   
            <%}%>         
            <% if (order.statusDesc) { %>
              <li class="font-weight-bolder"><span class="text-muted">Sipariş Geçmişi:&nbsp;</span><br>
              <%-controller.markdown.render(order.statusDesc) %>
            </li>
            <% } %>
         
         
          
          <% if(order.note) { %>
          <li><span class="text-muted">Not:&nbsp;</span><%= order.note%>
          </li>
          <%}%>  
          <% if (order.butcherSelection == "user") { %>
            <li>Not: <span class="font-weight-bolder">Müşteriniz diğer kasaplar arasından özellikle sizi seçerek sipariş vermiştir.</span></li>
          
          <% } %>                      
                              

                  
                </ul>
                

     


        <h3 class="h4 border-bottom">Ürünler</h3>
        <div class="mb-3">
          <% butcher.products.forEach((pi, i) => { %>
          <% let item = items[pi] %>

          <div id="shop-card-item-<%=i%>"
            class="d-sm-flex justify-content-between align-items-center mt-2 pb-3 border-bottom">
            <div class="media media-ie-fix d-block d-sm-flex align-items-center text-center text-sm-left"><a
                class="d-inline-block mx-auto mr-sm-4" href="/<%=item.product.slug%>?butcher=<%=butcher.slug%>"
                style="width: 10rem;"><img src="<%=`${__req.helper.imgUrl('product-photos', item.product.slug)}`%>"
                  class="d-print-none " alt="Product"></a>
              <div class="media-body pt-2">
                <h3 class="product-title font-size-base mb-2"><a
                    href="/<%=item.product.slug%>?butcher=<%=item.butcher.slug%>"><%=item.product.name%></a>
                </h3>
                <div class="font-size-normal"><span class="font-weight-medium"><%=item.quantity%></span> <span
                    class="text-muted"><%=item.pounitTitle%>/</span>
                  <span class="font-size-sm">
                    <%- include('./_partial/currency.ejs', {value: item.price}) %>
                  </span>
                  <%if (item.pounitWeight) { %>
                  <span class="text-muted font-size-sm d-block">1 <%=item.pounitTitle%> <%=item.pounitWeight%></span>
                  <% } %>
                </div>
                <div class="mb-3 text-nowrap text-muted d-print-none">
                  Durum: <%=item.status%>
                </div>
                <div>
                  <%- include(`./_partial/product.${item.productType || 'generic'}-view.ejs`, {man: item.productTypeManager}) %>


                </div>
                <% if (item.note) {%>
                  <h6 class="h6 text-info font-weight-bolder">
                    MÜŞTERİ NOTU
                  </h6>
                  <p>
                    <span><%=item.note%></span>

                  </p> 

                <%}%> 

                <% if (item.product.butcherNote) {%>

                  <h6 class="h6 text-info font-weight-bolder">
                    HAZIRLAMA NOTU
                  </h6>
                
                    <div>
                      <%-controller.markdown.render(item.product.butcherNote) %>
                    </div>
                    <%}%> 
                 
                
                               
                                            </div>
                                          </div>
                                          <div class="pt-2 pt-sm-0 pl-sm-3 mx-auto mx-sm-0 text-center text-sm-left" style="max-width: 9rem;">
                    
                                          </div>
                                        </div>
        
                                    <% }) %>

              </div>


              <% if (!orderClosed) { %>

              <h3 class="h4 border-bottom">Teslimat</h3>
              <ul class="list-unstyled font-size-sm">
                <li><span class="text-muted">Dağıtımı
                    Yapacak:&nbsp;</span><%=order.dispatcherName%>/<%= shipment[bi].howToDesc %>
                </li>
                <% if (order.noInteraction) { %>
                <li><span class="text-muted">Temassız Teslimat:</span> <%= order.noInteraction ? 'Evet': 'Hayır'%></li>
                <% } %>
                <li><span class="text-muted">Teslimat Kodu:&nbsp;</span><%= shipment[bi].securityCode %></li>
                <li><span class="text-muted">Teslimat Talebi :&nbsp;</span><span
                    class="font-weight-bolder"><%=__helper.formatDate(order.shipmentdate)%> <span>
                      <%=order.shipmenthourText%>
                    </span></li>
                <% if (!controller.hideOrderDetails) { %>
                <li><span class="text-muted">Adres:&nbsp;</span><%=order.address%>/ Bina: <%=order.bina%>,Kat:
                  <%=order.kat%>,Daire: <%=order.daire%></li>

                <% if (order.adresTarif) { %>
                <li><span class="text-muted">Adres Tarifi:&nbsp;</span><%=order.adresTarif%></li>
                <%}%>
                  <% if (order.shipLocation && order.shipLocation.coordinates) { %>

                <li><span class="text-muted">Tahmini Uzaklık:&nbsp;</span><%=(order.dispatcherDistance) %>km</li>
                <li><span class="text-muted">Noktasal Adres:&nbsp;</span><a target="_blank" class="font-size-sm"
                    href="https://www.google.com/maps/dir/?api=1&origin=<%=order.butcher.location.coordinates[0]%>%20<%=order.butcher.location.coordinates[1]%>&destination=<%=order.shipLocation.coordinates[0]%>%20<%=order.shipLocation.coordinates[1]%>">
                    Müşteri Adresine Gidin

                  </a> </li>

                <%}%>

                
                <% } %>
                <li><span class="text-muted">Semt:&nbsp;</span><%=order.areaLevel3Text%>/<%=order.areaLevel2Text%>, <%=order.areaLevel1Text%></li>


              </ul>

              <% } %>
              <% if (!orderClosed) { %>
              <h3 class="h4 border-bottom">
                Mali Bilgiler
              </h3>
              <ul class="list-unstyled font-size-sm">
                <li><span class="text-muted">Planlanan Ödeme:&nbsp;</span><%= payment[bi].desc%> </li>

                <li><span class="text-muted">Toplam Ürün Bedeli:&nbsp;</span><span
                    class=""><%- include('./_partial/currency.ejs', {value: controller.productTotal}) %></span>
                </li>
                <% if (controller.teslimatButcher + controller.teslimatKasaptan > 0) { %>
                <li><span class="text-muted">Teslimat Ücreti:&nbsp;</span><span
                    class=""><%- include('./_partial/currency.ejs', {value: controller.teslimatButcher + controller.teslimatKasaptan}) %>
                </li>
                <% } %>
                <% if (controller.usedPuanTotal)  { %>
                <li><span class="text-muted">Kullanılan Puan:&nbsp;</span><span
                  class=""><%- include('./_partial/currency.ejs', {value: controller.usedPuanTotal}) %>
              </li>
              <% } %>
              <li><span class="text-muted">Yapılan Ödeme:&nbsp;</span><span
                class="font-weight-bolder <%= controller.paid == 0.00 ? 'text-danger': 'text-success'%>"><%- include('./_partial/currency.ejs', {value: controller.paid })%></span>
            </li>
                <li><span class="text-muted">FATURA TOPLAMI:&nbsp;</span><span
                    class="font-weight-bolder"><%- include('./_partial/currency.ejs', {value: controller.productTotal + controller.teslimatButcher + controller.teslimatKasaptan - controller.usedPuanTotal}) %>
                </li>
                <li><span class="text-muted">Önemli:&nbsp;</span><span class="font-weight-bolder">yukarıdaki bedelle
                    fatura kesip poşetin içine koymayı unutmayın</li>


              </ul>
<% } %>



              <% if (!orderClosed) { %>
                <div class="bg-secondary border p-3">
                  <h3 class="h4 ">
                    Siparişi Yönetin
                  </h3>
                  <% if (order.status == controller.OrderStatus.supplying) { %>
                    <div class="bg-light border p-3 mb-3">
                      <h4 class="h4 text-info">Müşteriniz sizden haber bekliyor</h4>
                    
                    </div>
                    <%}%>
                  <p>
                    Aşağıdaki seçeneklerden birini <span class="font-weight-bolder">ŞİMDİ</span> kullanın.
                  </p>
    
                  <div class="">
                    <div class="mb-3 bg-white p-3">
                      <h5 class="h6">1. Ürünler ve teslimat saati uygundur</h5>
                      <p class="font-size-md">Sipariş verilen <span
                          class="font-weight-bolder"><%=order.items.length%></span> kalem ürün ve <br> <span
                          class="font-weight-bolder"><%=__helper.formatDate(order.shipmentdate)%>
                          <%=order.shipmenthourText%></span> teslimat saati uygundur.</p>

                          <% if (!__helper.isToday(order.shipmentdate)) { %>
                            <p class="font-weight-bold text-danger border p-2">
                              Not: Müşteri bugün istemiyor, teslim gününe lütfen dikkat edin.

                            </p>
                          <% } %>
                      <div class="">
    
                        <!-- <button class="btn btn-success" id="approveOrder">Evet uygun, siparişi onaylıyorum</button> -->
                        <% if (order.dispatcherType == 'banabikurye') { %>
                          <% if (order.deliveryOrderId) { %>
                            <button class="btn btn-lg btn-danger" id="kuryeIptalBtn">Kurye
                              İptal</button>
                            <% } else { %>
                              <button class="btn btn-success" data-toggle="modal" data-target="#kurye-modal" id="kuryeBtn">Kurye
                                Planla</button>
                            <% } %>
                
                        <% } else { %>
                          <button class="btn btn-lg btn-success" data-toggle="modal" data-target="#deliv-modal" id="delivBtn">Siparişi Onaylayın</button>                      
                        <% } %>
                      </div>
                    </div>
    
                    <div class="d-none bg-secondary mb-3">
                      <h5 class="h6">2. Ürünler OK ancak o saate teslimat yapamam</h5>
                      <p class="font-size-md">Sipariş verilen <span
                          class="font-weight-bolder"><%=order.items.length%></span> kalem ürünün teslimatını planlayın.</p>
                      <div class="">
    
                        <!-- <button class="btn btn-success" id="approveOrder">Evet uygun, siparişi onaylıyorum</button> -->
                        <% if (order.dispatcherType == 'banabikurye') { %>
                          <% if (order.deliveryOrderId) { %>
                          <% } else { %>
                            <button class="btn btn-dark" data-toggle="modal" data-target="#kurye-modal" id="kuryeBtn">Kurye
                              Çağır</button>
                          <% } %>
                     
                        <% } else { %>
                          <button class="btn btn-dark" data-toggle="modal" data-target="#deliv-modal" id="delivBtn">Teslimatı Planlayın</button>                      
                        <% } %>
                      </div>
                    </div>
    
                    <div class="mb-3 bg-white p-3">
                      <h5 class="h6">2. Ürünler veya teslimat saatleri uygun değil mi?</h5>
                      <p>
                        Ürünler elinizde yoksa veya teslimat saatleri uygun değilse lütfen whatsapp üzerinden iletişime geçin.
                      </p>
                      <button class="btn btn-lg btn-danger" id="getSupport">Whatsapp destek alacağım</button>
    
                    </div>
                  </div>
                </div>


              <% } %>

            </div>


          </div>





      </div>



      <%}%>  





      <% if (order.dispatcherType == 'banabikurye') { %>
      <div class="modal fade" id="kurye-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Kurye Planı</h5>
              <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span
                  aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body  pt-3">
              <h6 class="h6 border-bottom">Müşteri Talebi</h6>
              <p>
                <%=__helper.formatDate(order.shipmentdate)%> <span>
                  <%=order.shipmenthourText%>
              </p>

              <h6 class="h6 border-bottom">Kurye ne zaman gelsin?</h6>
              <div class="row">
                <div class="form-group col-md">
                  <label class="d-none" for="kuryeDay">Gün</label>
                  <select class="form-control custom-select" id="kuryeDay" name="kuryeDay">
                    <% let days = controller.availableDays()%>
                    <% Object.keys(days).forEach(key=> { %>

                    <option <%= key == (order.shipmentdate && (order.shipmentdate == order.shipmentdate.toDateString())) ? 'selected':'' %> value="<%=key%>">
                      <%= days[key]%></option>

                    <%})%>
                  </select>
                </div>
                <div class="form-group col-md">
                  <label class="d-none" for="kuryeTime">Saat</label>
                  <select class="form-control custom-select" id="kuryeTime" name="kuryeTime">
                    <% let hours = controller.availableTimes()%>
                    <% hours.forEach(h=> { %>

                    <option <%= h.selected?  'selected':'' %> value="<%=h.hour%>"><%= h.text%></option>

                    <%})%>
                  </select>
                </div>
              </div>



              
              <button class="btn btn-dark" id="kuryeCagir">Kurye Çağır</button>

              </span>



            </div>
          </div>
        </div>
      </div>
      <% } else { %>
        <div class="modal fade" id="deliv-modal" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Teslimat Planı</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span
                    aria-hidden="true">&times;</span></button>
              </div>
              <div class="modal-body  pt-3">
                <h6 class="h6 border-bottom">Müşteri Talebi</h6>
                <p>
                  <%=__helper.formatDate(order.shipmentdate)%> <span>
                    <%=order.shipmenthourText%>
                </p>
  
                <h6 class="h6 border-bottom">Teslimatı ne zaman yapabilirsiniz?</h6>
                <div class="row">
                  <div class="form-group col-md">
                    <label class="d-none" for="delivDay">Gün</label>
                    <select class="form-control custom-select" id="delivDay" name="delivDay">
                      <% let days = controller.availableDays(true)%>
                      <% Object.keys(days).forEach(key=> { %>
  
                      <option <%= key == order.shipmentdate.toDateString() ? 'selected':'' %> value="<%=key%>">
                        <%= days[key]%></option>
  
                      <%})%>
                    </select>
                  </div>
                  <div class="form-group col-md">
                    <label class="d-none" for="delivTime">Saat</label>
                    <select class="form-control custom-select" id="delivTime" name="delivTime">
                      <% let hours = controller.availableTimes(true)%>
                      <% hours.forEach(h=> { %>
  
                      <option <%= h.selected?  'selected':'' %> value="<%=h.hour%>"><%= h.text%></option>
  
                      <%})%>
                    </select>
                  </div>
                </div>
  
  
  
  
                <button class="btn btn-dark" id="delivSet">Teslimatı Planla</button>
  
                </span>
  
  
  
              </div>
            </div>
          </div>
        </div>
      <% } %>







      <% include ./_partial/footer %>
      <% include ./_partial/scripts %>

      <script>

      function setDeliveryTime() {
          var day = $('#delivDay').val();
          var hour = $('#delivTime').val();
          $('#delivSet').attr('disabled');
          App.Backend.post('order/<%=order.ordernum%>/setDelivery', {
            day: day,
            hour: hour
          }).finally(function () {
            $('#delivSet').removeAttr('disabled');
          }).then(function () {
            alert('Müşterinize bilgi gönderildi ve planlama başarıyla yapıldı, kolay gelsin!');
            window.location.reload(true);
          }).catch(function (err) {
            App.HandleError(err)
          })
        }       
        
        function kuryeIptal() {

          $('#kuryeIptalBtn').attr('disabled');
          App.Backend.post('order/<%=order.ordernum%>/cancelDelivery', {
          }).finally(function () {
            $('#kuryeIptalBtn').removeAttr('disabled');
          }).then(function () {
            alert('Kurye iptal edildi, kolay gelsin!');
            window.location.reload(true);
          }).catch(function (err) {
            App.HandleError(err)
          })
        }

        function kuryeCagir() {
          var day = $('#kuryeDay').val();
          var hour = $('#kuryeTime').val();
          $('#kuryeCagir').attr('disabled');
          App.Backend.post('order/<%=order.ordernum%>/setDelivery', {
            day: day,
            hour: hour
          }).finally(function () {
            $('#kuryeCagir').removeAttr('disabled');
          }).then(function () {
            alert('Müşterinize bilgi gönderildi ve planlama başarıyla yapıldı, kolay gelsin!');
            window.location.reload(true);
          }).catch(function (err) {
            App.HandleError(err)
          })
        }
        $(document).ready(function () {



      <% if (order.status != 'teslim edilecek') { %>
            // $('#kuryeBtn').hide();
            // $('#delivBtn').hide();
      <% } %>

      

      $("#kuryeIptalBtn").click(function () {
              if (window.confirm('Kuryeyi iptal etmek istiyor musunuz?')) {
                kuryeIptal();
              }
            });


            $("#kuryeCagir").click(function () {
              if (window.confirm('Kuryeyi onaylıyor musunuz?')) {
                kuryeCagir();
              }
            });
            $("#delivSet").click(function () {
              if (window.confirm('Teslimat planını onaylıyor musunuz?')) {
                setDeliveryTime();
              }
            });     

        

          $('#getSupport').click(function () {
            alert('Whatsapp ekranını açarak lütfen bize sorunu iletin, müşteri ile görüşüp çözmeye çalışacağız')
          })

          setTimeout(() => {
          $(window).scrollTop(0);
            
          },500);

        })
      </script>

</body>

</html>