<!DOCTYPE html>
<html lang="tr-TR" prefix="og: http://ogp.me/ns#">

<head>
  <% include ./_partial/head %>
</head>

<body>
  <% include ./_partial/header %>
  <div class="bg-secondary mb-3 ">
    <div class="container d-lg-flex justify-content-between py-2 py-lg-3">
      <div class="order-lg-2 mb-3 mb-lg-0 pt-lg-2">
        <nav aria-label="breadcrumb" class="d-none d-lg-block">
          <ol class="breadcrumb flex-lg-nowrap justify-content-center justify-content-lg-star">
          </ol>
        </nav>
      </div>
      <div class="order-lg-1 pr-lg-4 text-center text-lg-left d-print-none">


        <h1 class="h3">
          <%= order.name  %></h1>
          <h2 class=" lead h4">
            <%=order.areaLevel3Text%>/<%=order.areaLevel2Text%>
          </h2>
        <a class="font-size-xs text-muted" href="<%=__req.url%>?print=1">Yazdır &raquo;</a>
      </div>
    </div>
  </div>






  <div class="container mb-3 ">


   

    

    <% if (controller.shouldBePaid > 0) { %>
      <p class="mt-3 text-muted text-center">

        <%- include('./_partial/currency.ejs', {value: controller.shouldBePaid}) %>

      </p>
      <%}%>



      <a id="orderdetails"></a>



 


      

        <% for (let bi in butchers) { %>
          <% let butcher = butchers[bi]%>
          
          
          
          <div class="mb-3 border-top border-left border-right">
          
            <div class="bg-secondary p-3  mb-4 d-print-none"><a class="media align-items-center" href="/<%=butcher.slug%>"><img
                  class="rounded-circle header-img d-print-none" src="<%= `${__req.helper.imgUrl('butcher-google-photos', butcher.slug)}` %>"
                  alt="<%=butcher.name%>">
                <div class="media-body pl-2"><span class="font-size-ms text-muted"></span>
                  <h3 class="h4 mb-0 mr-2"><%= butchers[bi].name %></h3>
                </div>
              </a></div>

              <div class="px-2">
                <h3 class="h4 border-bottom">Sipariş</h3>
                <ul class="px-4 list-unstyled font-size-sm">
                  <li><span class="text-muted">Durum:&nbsp;</span> <%= order.status %></li>
                  <li><span class="text-muted">Müşteri:&nbsp;</span><%=order.name%></li>
            
                  <% if(order.note) { %>
                    <li><span class="text-muted">Not:&nbsp;</span><%= order.note%>
                      </li>
                  <%}%>  
                      
                              

                  
                </ul>
                

                <h3 class="h4 border-bottom">Teslimat</h3>
                <ul class="px-4 list-unstyled font-size-sm">
                  <li><span class="text-muted">Dağıtımı Yapacak:&nbsp;</span><%=order.dispatcherName%>/<%= shipment[bi].howToDesc %></li>
                  <% if (order.noInteraction) { %>
                    <li><span class="text-muted">Temassız Teslimat:</span> <%= order.noInteraction ? 'Evet': 'Hayır'%></li>
                    <% } %>
                  <li><span class="text-muted">Teslimat Kodu:&nbsp;</span><%= shipment[bi].securityCode %></li>
                  <li><span class="text-muted">Teslimat Talebi :&nbsp;</span><span class="font-weight-bolder"><%=__helper.formatDate(order.shipmentdate)%> <span>
                    <%=order.shipmenthourText%>
                  </span></li>
                  <% if (!controller.hideOrderDetails) { %>
                    <li><span class="text-muted">Adres:&nbsp;</span><%=order.address%>/ Bina: <%=order.bina%>,Kat: <%=order.kat%>,Daire: <%=order.daire%></li>

                  <% if (order.adresTarif) { %>                   
                      <li><span class="text-muted">Adres Tarifi:&nbsp;</span><%=order.adresTarif%></li>                                        
                    <%}%>
                    <% if (order.shipLocation && order.shipLocation.coordinates) { %>

                      <li><span class="text-muted">Tahmini Uzaklık:&nbsp;</span><%=(order.dispatcherDistance) %>km</li>
                      <li><span class="text-muted">Noktasal Adres:&nbsp;</span><a target="_blank" class="font-size-sm"
                        href="https://www.google.com/maps/dir/?api=1&origin=<%=order.butcher.location.coordinates[0]%>%20<%=order.butcher.location.coordinates[1]%>&destination=<%=order.shipLocation.coordinates[0]%>%20<%=order.shipLocation.coordinates[1]%>">
                      Müşteri Adresine Gidin                        
                        
                      </a> </li>
        
                    <%}%>

                  
                  <% } %>
                  <li><span class="text-muted">Semt:&nbsp;</span><%=order.areaLevel3Text%>/<%=order.areaLevel2Text%></li>
                                   
              
                </ul>
<!-- 
                <h3 class="h4 border-bottom">Ödeme</h3>


                <ul class="px-4 list-unstyled font-size-sm">
                  <li><span class="text-muted">Planlanan Ödeme:&nbsp;</span><%= payment[bi].desc%> </li>
                  <li><span class="text-muted">Yapılan Ödeme:&nbsp;</span><span class="font-weight-bolder"><%- include('./_partial/currency.ejs', {value: controller.paid })%></span>  </li>
                  
                </ul> -->

                <h3 class="h4 border-bottom">Ürünler</h3>
                <div class="mb-3">
                  <% butcher.products.forEach((pi, i) => { %>
                    <% let item = items[pi] %>
                  
                    <div id="shop-card-item-<%=i%>"
                      class="px-4 d-sm-flex justify-content-between align-items-center mt-2 pb-3 border-bottom">
                      <div class="media media-ie-fix d-block d-sm-flex align-items-center text-center text-sm-left"><a
                          class="d-inline-block mx-auto mr-sm-4" href="/<%=item.product.slug%>?butcher=<%=butcher.slug%>"
                          style="width: 10rem;"><img src="<%=`${__req.helper.imgUrl('product-photos', item.product.slug)}`%>"
                            class="d-print-none " alt="Product"></a>
                        <div class="media-body pt-2">
                          <h3 class="product-title font-size-base mb-2"><a
                              href="/<%=item.product.slug%>?butcher=<%=item.butcher.slug%>"><%=item.product.name%></a>
                          </h3>
                          <div class="font-size-normal"><span class="font-weight-medium"><%=item.quantity%></span> <span
                              class="text-muted"><%=item.pounitTitle%>/</span>
                            <span class="font-size-sm">
                              <%- include('./_partial/currency.ejs', {value: item.price}) %>
                            </span>
                            <%if (item.pounitWeight) { %>
                            <span class="text-muted font-size-sm d-block">1 <%=item.pounitTitle%> <%=item.pounitWeight%></span>
                            <% } %>
                          </div>
                          <div class="mb-3 text-nowrap text-muted d-print-none">
                            Durum: <%=item.status%>
                          </div>
                          <div>
                            <%- include(`./_partial/product.${item.productType || 'generic'}-view.ejs`, {man: item.productTypeManager}) %>
                  
                            
                          </div>
                          <% if (item.note) {%>
                          <div class="font-size-sm text-info"><%=item.note%></div>
                          <%}%> 
                               
                                            </div>
                                          </div>
                                          <div class="pt-2 pt-sm-0 pl-sm-3 mx-auto mx-sm-0 text-center text-sm-left" style="max-width: 9rem;">
                    
                                          </div>
                                        </div>
        
                                    <% }) %>

                </div>


                <h3 class="h4 border-bottom">
                  Mali Bilgiler
                </h3>
                <ul class="px-4 list-unstyled font-size-sm">
                  <li><span class="text-muted">Planlanan Ödeme:&nbsp;</span><%= payment[bi].desc%> </li>
                  <li><span class="text-muted">Yapılan Ödeme:&nbsp;</span><span class="font-weight-bolder"><%- include('./_partial/currency.ejs', {value: controller.paid })%></span>  </li>
                  <li><span class="text-muted">Toplam Ürün Bedeli:&nbsp;</span><span class="font-weight-bolder"><%- include('./_partial/currency.ejs', {value: controller.productTotal}) %></span>  </li>
                  <li><span class="text-muted">Teslimat Ücreti:&nbsp;</span><span class="font-weight-bolder"><%- include('./_partial/currency.ejs', {value: controller.teslimatButcher + controller.teslimatKasaptan}) %>  </li>
                  <li><span class="text-muted">FATURA TOPLAMI:&nbsp;</span><span class="font-weight-bolder"><%- include('./_partial/currency.ejs', {value: controller.productTotal + controller.teslimatButcher + controller.teslimatKasaptan}) %> </li>
                    <li><span class="text-muted">Önemli:&nbsp;</span><span class="font-weight-bolder">yukarıdaki bedelle fatura kesip poşetin içine koymayı unutmayın</li>
                  

                </ul>




              </div>

          

          

                </div>
          
          
          
            <%}%>  












  </div>

    <% include ./_partial/footer %>
    <% include ./_partial/scripts %>

    

</body>

</html>