<!DOCTYPE html>
<html lang="tr-TR" prefix="og: http://ogp.me/ns#">

<head>
  <% include ./_partial/head %>
</head>

<body>
  <% include ./_partial/header %>

  <!-- Page Title (Light)-->
  <div class="bg-secondary pt-4 ">
    <div class="container d-lg-flex justify-content-between py-2 py-lg-3">
      <div class="order-lg-2 mb-3 mb-lg-0 pt-lg-2">
        <nav aria-label="breadcrumb" class="d-none d-lg-block">
          <ol class="breadcrumb flex-lg-nowrap justify-content-center justify-content-lg-star">
            <li class="breadcrumb-item"><a class="text-nowrap" href="/"><i class="czi-home"></i></a></li>
            <li class="breadcrumb-item"><a class="text-nowrap" href="/pages/operator/orders">Siparişler</a></li>
          </ol>
        </nav>
      </div>
      <div class="order-lg-1 pr-lg-4 text-center text-lg-left">
        <h1 class="h3">Siparişi Yönet</h1>
        <h2 class="lead h4"><%= __helper.formatDate(order.creationDate) + ' tarihli ' + controller.order.butcherName + ' siparişi' %></h2>
      </div>
    </div>
  </div>








  <div class="container mb-3 ">

    <form class="" method="POST" action="/pages/operator/order/<%=order.ordernum%>" id="pageForm">
     <div class="alert alert-info mt-3">

      <div class="form-group">
        <label for="orderStatus" class="">Sipariş Durumu</label>
        <%- include('./_partial/order-status.ejs', { name: 'orderStatus', order: order }) %>
      </div>
      <button name="saveOrderStatus" value="true" class="btn btn-primary btn-sm">Durum Değiştir</button>
      <button name="makeManuelPayment" value="true" class="btn btn-primary btn-sm">Manuel Ödeme Yap</button>
      <button name="makeManuelPaymentDebt" value="true" class="btn btn-primary btn-sm">Kasaba Borç Yaz</button>
      
      
      <!-- <button name="loadPuans" value="true" class="btn btn-primary btn-sm">Puan Yükle</button> -->
       <button name="kurye-maliyet" value="true" class="btn btn-primary btn-sm">Kurye Maliyet Hesapla</button> 
       <button name="kurye-cagir" value="true" class="btn btn-primary btn-sm">Kurye Çağır</button> 
      
      <p><%-controller.markdown.render(order.statusDesc || '')%></p>

     </div>

     <div>
       <textarea name="comment" id="comment" cols="30" rows="10"></textarea>
       <select name="commentpuan" id="commentpuan">
        <option value="3.0">3.0</option>
        <option value="3.5">3.5</option>
        <option value="4.0">4.0</option>
        <option value="4.5">4.5</option>        
        <option value="5.0" selected>5.0</option>

       </select>
       <button name="addcomment" value="true" class="btn btn-primary btn-sm">Yorum Yaz</button>

     </div>

     <div class="alert alert-info">
      <div>
        PaymentId: <%=order.paymentId%> 
      </div>
      <div>
        PaymentTransactionId: <%=order.paymentTransactionId%>
      </div>
      <div>
        <div>subMerchantStatus: <em class="font-weight-bold"> <%=order.subMerchantStatus%> </em>/ <%=order.subMerchantStatusText%></div>
      </div>
      <div class="form-group row">
        <% if (order.subMerchantStatus == 'approved') { %>
          <button name="disApproveOrderSubMerchant" class="btn- btn-primary btn-sm" value="true">DisApprove SubMerchant</button>
    
    
        <% } else { %>
          <button name="approveOrderSubMerchant" class="btn- btn-primary btn-sm" value="true">Approve SubMerchant</button>      
        <% } %>
      </div>      
     </div>


    </form>

    Kasabın Borcu: <%- include('./_partial/currency.ejs', {value: controller.butcherDebt}) %> <br>


<% if (controller.shouldBePaid > 0) { %>


  <p class="text-muted text-center">
    <%- include('./_partial/currency.ejs', {value: controller.shouldBePaid}) %>
  </p>

<% } else { %>
  <!-- <p class="text-success text-center">
    Siparişin BORCU YOKTUR
  </p> -->
<% } %>


<button onclick="CopyToClipboard('butcherorder')" class="btn btn-sm btn-dark">Kopyala</button>
  <div id="butcherorder" class="alert alert-info">
    <div class="row">
      <% if (controller.butcherFee && controller.shouldBePaid <= 0) { %>
      <div class="col-sm-6">
        <h6>
  
        </h6>
        <p>
          Değerli iş ortağımız, aşağıda satış makbuzunu iletiyorum. Hayırlı ve bol kazançlı günler dileriz.
        </p>
        <p>
          -------------------
        </p>
        <span>
        <%=order.butcherName%><br> Ürünler Toplamı: <%- include('./_partial/currency.ejs', {value: controller.butcherFee.inputTotal}) %>
        </span>
        <!-- <span class="d-block"><%= __helper.formatDate(order.creationDate)%>, <%=order.areaLevel3Text%></span> -->
        <span class="d-block">Sipariş no: <%=order.ordernum%>/<%=order.name%></span>
        <!-- <span class="d-block">Cironuza katkımız: <%- include('./_partial/currency.ejs', {value: controller.butcherFee.product}) %> + KDV -->
        <span onclick="$('#puandiv').show()" class="d-block">kasaptanAl.com hizmeti: <%- include('./_partial/currency.ejs', {value: controller.butcherFee.kalitteFee}) %> + KDV
        </span>
         <% if (controller.butcherFee.butcherToCustomer > 0) { %>
        <div style="display: none;" id="puandiv" >Müşterinize verdiğiniz sadakat puanı: <%- include('./_partial/currency.ejs', {value: controller.butcherFee.butcherToCustomer}) %> + KDV
        </div>      
        <% } %> 
        <span>
          <span class="d-block">
            Bu satışla vergi avantajlarınız oldu. Detaylar için:
          </span>
          <a href="<%=controller.url%>/gelir-hesapla?rate=<%=controller.butcherFee.inputRate*100%>&total=<%=controller.butcherFee.inputTotal%>&go=1">
            <%=controller.url%>/gelir-hesapla?rate=<%=controller.butcherFee.inputRate*100%>&total=<%=controller.butcherFee.inputTotal%>&go=1
          </a>
        </span>
        <p>
          -------------------
        </p>
      </div>

      <% } %>
      <div class="col-sm-6">
        <h5>*----YENİ SİPARİŞ----*</h5>
        <h5>*<%=order.butcherName%>*</h5>
        <p>
           Siparişin *son durumuna* ve **ürün resimlerine** aşağıdaki bağlantıdan ulaşın: <br>
         
            <a href="<%=controller.url%>/pay/<%=order.ordernum%>">
              <%=controller.url%>/pay/<%=order.ordernum%>
            </a><br>
         
         
        </p>

        <p>

          <ul class="list-unstyled font-size-sm">
            <% if (!(controller.order.dispatcherType || "").startsWith('kasaptan')) { %>
            <li><span class="text-muted">*İsim:*&nbsp;</span><%= order.name %></li>
            <% if(order.address) { %>
            <li><span class="text-muted">*Adres:*&nbsp;</span><%= order.address%>
            Bina: <%=order.bina%>,Kat: <%=order.kat%>,Daire: <%=order.daire%>

              <%= order.areaLevel3Text%>/<%= order.areaLevel1Text%></li>
              <% if (order.adresTarif) { %>
                <li>
                  Adres tarifi: <%= order.adresTarif%>
                </li>
                <%}%>
              <%}%>
            <% } %>
              <% if(order.note) { %>
                <li><span class="text-muted">Not:&nbsp;</span><%= order.note%>
                  </li>
              <%}%>
            <% if (order.noInteraction) { %>
            <li>Güvenli Teslimat: <%= order.noInteraction ? 'Evet': 'Hayır'%></li>
            <% } %>
          </ul>
          <ul class="list-unstyled ">
            <li><span class="text-muted">Teslimat planı:&nbsp;</span><%= order.shipmentHowToText %></li>
            <li><span class="text-muted">Teslimat kodu:&nbsp;</span>*<%= order.securityCode %>*</li>
            <% if (order.shipmentType != 'callme') {%>
            <li><span class="text-muted">Gün:&nbsp;</span><strong>*<%= __helper.formatDate(order.shipmentdate) %>*</strong></li>
            <li><span class="text-muted">Saat Aralığı:&nbsp;</span><strong>*<%= order.shipmenthourText%>*</strong> </li>
            <%} else { %>
              <li><span class="text-muted">Teslimat planı:&nbsp;</span>*<%= order.shipmentTypeText%>*</li>

            <% } %>
                        <li><span class="text-muted">Paketim çıkmadan bana haber ver:&nbsp;</span><%= __helper.boolStr(order.shipmentInformMe)%>
            </li>
            <li><span class="text-muted">**Planlanan** Ödeme:&nbsp;</span><%= order.paymentTypeText%> </li>
            <% if (order.butcherSelection == "user") { %>
              <li><span class="text-muted">*Müşteriniz özellikle sizi diğer kasaplar arasından seçerek sipariş vermiştir.*</span></li>
            
            <% } %>
          </ul>
          <% if (order.shipLocation && order.shipLocation.coordinates) { %>


  
              <div class="mt-3 font-size-sm text-muted">Semte Mesafe: <%=(order.dispatcherDistance) %>km</div>
              <!-- <div class="font-size-sm text-muted">Hata payı: <%=(order.shipLocationAccuracy)%>m</div> -->
              *-- MÜŞTERİ ADRESİNE GİDİN --*
              <div class="font-size-sm text-muted"><a target="_blank" class="font-size-sm"
                  href="https://www.google.com/maps/dir/?api=1&origin=<%=order.butcher.location.coordinates[0]%>%20<%=order.butcher.location.coordinates[1]%>&destination=<%=order.shipLocation.coordinates[0]%>%20<%=order.shipLocation.coordinates[1]%>">
                  https://www.google.com/maps/dir/?api=1&origin=<%=order.butcher.location.coordinates[0]%>%20<%=order.butcher.location.coordinates[1]%>&destination=<%=order.shipLocation.coordinates[0]%>%20<%=order.shipLocation.coordinates[1]%>
                  
                </a> 
              </div>
              *-------------------*

            <%}%>
        </p>
        <p>
          Toplam *(<%=order.items.length%>) adet* ürün
        </p>
        <div class="mb-2">
          <% order.items.forEach((item, i) => { %>
           
            (*<%=i+1%>*) <%=item.product.name%> <br>
             <%=item.quantity%> <%=item.pounitTitle%>/ toplam 
               <%- include('./_partial/currency.ejs', {value: item.price}) %> <br>
            
             <%if (item.pounitWeight) { %>
             1 <%=item.pounitTitle%> <%=item.pounitWeight%> olacak şekilde <br>
             <% } %>
         
           <% if (item.note) {%>
             *<%=item.note%>* <br>
             <%}%> 
             -----------
             <br>
             <% }) %>


             <br>
             -----------
             <div>
               DAĞITIMI YAPACAK: *<%=controller.order.dispatcherName%>*
             </div>
             <% if ((controller.order.dispatcherType || "").startsWith('kasaptan')) { %>
             <div>
              KURYE MALİYETİ ORT: <%=controller.order.dispatcherFeeOffer%>
             </div>
             <% } %>
             <div>
              -----------

             </div>
              YAPILAN ÖDEME: *<%- include('./_partial/currency.ejs', {value: controller.paid }) %>*<br>
              FATURA KALEMLERİ<br>
              *---------*<br>
            
              ÜRÜNLER (%8 KDV DAHİL): *<%- include('./_partial/currency.ejs', {value: controller.productTotal}) %>*<br>
              TAHSİL EDİLEN TESLİMAT BEDELİ (%18 KDV DAHİL): *<%- include('./_partial/currency.ejs', {value: controller.teslimatButcher + controller.teslimatKasaptan}) %>*<br>
              *---------*<br>
              FATURA TOPLAMI (KDV DAHİL): *<%- include('./_partial/currency.ejs', {value: controller.productTotal + controller.teslimatButcher + controller.teslimatKasaptan}) %>*<br>
              
              **yukarıdaki bedelle fatura kesip poşetin içine koymayı unutmayın** <br>

              *-------------------*
                <p>
                  Sipariş *bilgilerine* ve **ürün resimlerine** aşağıdaki bağlantıdan ulaşın: <br>
                
                   <a href="<%=controller.url%>/manageorder/<%=order.ordernum%>">
                     <%=controller.url%>/manage/<%=order.ordernum%>
                   </a><br>
                
                
             
              </p>
              *-------------------*
   
        </div>
      </div>
        
          

  
   
    </div>
  
  
  
  </div>
  

  <a id="orderdetails"></a>
      <div class="mb-3">
        <%- include('./_partial/order.details.ejs', {
          order: order,
          operator: true                
      }) %>
      </div>



      <%- include('./_partial/accounts-view.ejs', { title: 'Kasap Borç Hesabı', accounts: controller.order.butcherDeptAccounts }) %>



    



    </div>








  <% include ./_partial/footer %>
  <% include ./_partial/scripts %>

  <script>
    function CopyToClipboard(containerid) {
      
      var range = document.createRange();
                range.selectNode(document.getElementById(containerid));
                window.getSelection().removeAllRanges(); // clear current selection
                window.getSelection().addRange(range); // to select text
  
    // Now that we've selected the anchor text, execute the copy command
    var successful = document.execCommand('copy');
      if (successful) {
         alert('Koyalanadı')
      } else alert('HATA KOPYALANAMADI')


    
}
  </script>

</body>

</html>