<!DOCTYPE html>
<html lang="tr-TR" prefix="og: http://ogp.me/ns#">

<head>
  <% include ./_partial/head %>
</head>

<body>
  <% include ./_partial/header %>

  <!-- Page Title (Light)-->
  <div class="bg-secondary pt-4 ">
    <div class="container d-lg-flex justify-content-between py-2 py-lg-3">
      <div class="order-lg-2 mb-3 mb-lg-0 pt-lg-2">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb flex-lg-nowrap justify-content-center justify-content-lg-star">
            <li class="breadcrumb-item"><a class="text-nowrap" href="/"><i class="czi-home"></i></a></li>
            <li class="breadcrumb-item"><a class="text-nowrap" href="/pages/operator/orders">Siparişler</a></li>
          </ol>
        </nav>
      </div>
      <div class="order-lg-1 pr-lg-4 text-center text-lg-left">
        <h1 class="h3">Siparişi Yönet</h1>
        <h2 class="lead h4"><%= __helper.formatDate(order.creationDate) + ' tarihli ' + controller.order.butcherName + ' siparişi' %></h2>
      </div>
    </div>
  </div>








  <div class="container mb-3 ">

    <form class="" method="POST" action="/pages/operator/order/<%=order.ordernum%>" id="pageForm">
     <div class="alert alert-info mt-3">

      <div class="form-group">
        <label for="orderStatus" class="">Sipariş Durumu</label>
        <%- include('./_partial/order-status.ejs', { name: 'orderStatus', order: order }) %>
      </div>
      <button name="saveOrderStatus" value="true" class="btn btn-primary btn-sm">Durum Değiştir</button>
      <button name="makeManuelPayment" value="true" class="btn btn-primary btn-sm">Manuel Ödeme Yap</button>
      <button name="makeManuelPaymentDebt" value="true" class="btn btn-primary btn-sm">Kasaba Borç Yaz</button>
      
      
      <button name="loadPuans" value="true" class="btn btn-primary btn-sm">Puan Yükle</button>
      
      <p><%-controller.markdown.render(order.statusDesc || '')%></p>

     </div>

     <div>
       <textarea name="comment" id="comment" cols="30" rows="10"></textarea>
       <select name="commentpuan" id="commentpuan">
        <option value="3.0">3.0</option>
        <option value="3.5">3.5</option>
        <option value="4.0">4.0</option>
        <option value="4.5">4.5</option>        
        <option value="5.0" selected>5.0</option>

       </select>
       <button name="addcomment" value="true" class="btn btn-primary btn-sm">Yorum Yaz</button>

     </div>

     <div class="alert alert-info">
      <div>
        PaymentId: <%=order.paymentId%> 
      </div>
      <div>
        PaymentTransactionId: <%=order.paymentTransactionId%>
      </div>
      <div>
        <div>subMerchantStatus: <em class="font-weight-bold"> <%=order.subMerchantStatus%> </em>/ <%=order.subMerchantStatusText%></div>
      </div>
      <div class="form-group row">
        <% if (order.subMerchantStatus == 'approved') { %>
          <button name="disApproveOrderSubMerchant" class="btn- btn-primary btn-sm" value="true">DisApprove SubMerchant</button>
    
    
        <% } else { %>
          <button name="approveOrderSubMerchant" class="btn- btn-primary btn-sm" value="true">Approve SubMerchant</button>      
        <% } %>
      </div>      
     </div>


    </form>

    Kasabın Borcu: <%- include('./_partial/currency.ejs', {value: controller.butcherDebt}) %> <br>


<% if (controller.shouldBePaid > 0) { %>


  <p class="text-muted text-center">
    <%- include('./_partial/currency.ejs', {value: controller.shouldBePaid}) %>
  </p>

<% } else { %>
  <!-- <p class="text-success text-center">
    Siparişin BORCU YOKTUR
  </p> -->
<% } %>



  <div class="alert alert-info">
    <div class="row">
      <% if (controller.butcherFee && controller.shouldBePaid <= 0) { %>
      <div class="col-sm-6">
        <h6>
  
        </h6>
        <p>
          Değerli iş ortağımız, aşağıda satış makbuzunu iletiyorum. Hayırlı ve bol kazançlı günler dileriz.
        </p>
        <p>
          -------------------
        </p>
        <p>
        <%=order.butcherName%><br> Ödemeler Toplamı: <%- include('./_partial/currency.ejs', {value: controller.butcherFee.inputTotal}) %>
        </p>
        <span class="d-block"><%= __helper.formatDate(order.creationDate)%>, <%=order.areaLevel3Text%></span>
        <span class="d-block">Sipariş no: <%=order.ordernum%>/<%=order.name%></span>
        <!-- <span class="d-block">Cironuza katkımız: <%- include('./_partial/currency.ejs', {value: controller.butcherFee.product}) %> + KDV -->
        <span class="d-block">kasaptanAl.com hizmeti: <%- include('./_partial/currency.ejs', {value: controller.butcherFee.kalitteFee}) %> + KDV
        </span>
        <% if (controller.butcherFee.butcherToCustomer > 0) { %>
        <span class="d-block">Müşterinize verdiğiniz sadakat puanı: <%- include('./_partial/currency.ejs', {value: controller.butcherFee.butcherToCustomer}) %> 
        </span>      
        <% } %>
        <span>
          <span class="d-block">
            Bu satışla vergi ve diğer avantajlarınız oldu. Detaylar için tıklayın:
          </span>
          <a href="<%=controller.url%>/gelir-hesapla?rate=<%=controller.butcherFee.inputRate*100%>&total=<%=controller.butcherFee.inputTotal%>&go=1">
            <%=controller.url%>/gelir-hesapla?rate=<%=controller.butcherFee.inputRate*100%>&total=<%=controller.butcherFee.inputTotal%>&go=1
          </a>
        </span>
        <p>
          -------------------
        </p>
      </div>

      <% } %>
      <div class="col-sm-6">
        <p>
          Sipariş No : <%=order.ordernum%> <br>
          Toplam (<%=order.items.length%>) adet ürün
        </p>
        <div class="mb-2">
          <% order.items.forEach((item, i) => { %>
           
            (<%=i+1%>) <%=item.product.name%> <br>
             <%=item.quantity%> <%=item.pounitTitle%>/ toplam 
               <%- include('./_partial/currency.ejs', {value: item.price}) %> <br>
            
             <%if (item.pounitWeight) { %>
             1 <%=item.pounitTitle%> <%=item.pounitWeight%> olacak şekilde <br>
             <% } %>
         
           <% if (item.note) {%>
             **<%=item.note%>** <br>
             <%}%> 
             -----------
             <br>
             <% }) %>


            
             <br>
             <%if (controller.teslimatTotal > 0) { %>
              Ürün Bedeli: <%- include('./_partial/currency.ejs', {value: controller.productTotal}) %>  <br>
              Teslimat Bedeli: <%- include('./_partial/currency.ejs', {value: controller.teslimatTotal}) %> <br>
              <%}%>
             Toplam Ödenecek:  <%- include('./_partial/currency.ejs', {value: controller.shouldBePaid}) %>

        </div>
      </div>
        
          

  
   
    </div>
  
  
  
  </div>
  

  <a id="orderdetails"></a>
      <div class="mb-3">
        <%- include('./_partial/order.details.ejs', {
          order: order,
          operator: true                
      }) %>
      </div>



      <%- include('./_partial/accounts-view.ejs', { title: 'Kasap Borç Hesabı', accounts: controller.order.butcherDeptAccounts }) %>



    



    </div>








  <% include ./_partial/footer %>
  <% include ./_partial/scripts %>

</body>

</html>