<!DOCTYPE html>
<html lang="tr-TR" prefix="og: http://ogp.me/ns#">

<head>
  <% include ./_partial/head %>
</head>

<body>
  <% include ./_partial/header %>

  <!-- Page Title (Light)-->
  <div class="bg-secondary pt-4 ">
    <div class="container d-lg-flex justify-content-between py-2 py-lg-3">
      <div class="order-lg-2 mb-3 mb-lg-0 pt-lg-2">
        <nav aria-label="breadcrumb" class="d-none d-lg-block">
          <ol class="breadcrumb flex-lg-nowrap justify-content-center justify-content-lg-star">
            <li class="breadcrumb-item"><a class="text-nowrap" href="/"><i class="czi-home"></i></a></li>
          </ol>
        </nav>
      </div>
      <div class="order-lg-1 pr-lg-4 text-center text-lg-left">
        <h1 class="h3">Siparişler </h1>        
      </div>
    </div>
  </div>





  <div class="container mb-3 ">

    <table class="table table-hover">
      <thead>
          <tr>
              <th>Müşteri</th>
              <th>Tarih</th>
              <th>Kasap</th>
              <th>Durum</th>
              <th>Ödeme Tipi</th>
              <th>Payment</th>
              <th>Ödenen</th>
          </tr>
      </thead>
      <tbody>
          <% 
                  for(var i=0; i<orders.length; i++) {%>
          <tr>
              <td><a href="<%= `/pages/operator/order/${orders[i].ordernum}` %>"><%= orders[i].name %> </a>
              </td>
              <td><%= __helper.formatDate(orders[i].creationDate) %></td>
              <td><%= orders[i].butcherName %></td>
              <td><%= orders[i].status %></td>
              <td><%= orders[i].paymentType %></td>
              <td><%= orders[i].subMerchantStatus %></td>
              <td>
    <%- include('./_partial/currency.ejs', {value: orders[i].paidTotal}) %>
                
            
              
              
              </td>

          </tr>


          <% } 
              
              %>

      </tbody>
  </table>
    



    </div>








  <% include ./_partial/footer %>
  <% include ./_partial/scripts %>

</body>

</html>