<!DOCTYPE html>
<html lang="tr-TR" prefix="og: http://ogp.me/ns#">

<head>
  <% include ./_partial/head %>
</head>

<body>
  <% include ./_partial/header %>

  <!-- Page Title (Light)-->
  <div class="bg-secondary pt-4 ">
    <div class="container d-lg-flex justify-content-between py-2 py-lg-3">
      <div class="order-lg-2 mb-3 mb-lg-0 pt-lg-2">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb flex-lg-nowrap justify-content-center justify-content-lg-star">
            <li class="breadcrumb-item"><a class="text-nowrap" href="/"><i class="czi-home"></i></a></li>
            <li class="breadcrumb-item"><a class="text-nowrap" href="/operator/orders">Siparişler</a></li>
          </ol>
        </nav>
      </div>
      <div class="order-lg-1 pr-lg-4 text-center text-lg-left">
        <h1 class="h3">Siparişi Yönet</h1>
        <h2 class="lead h4"><%= __helper.formatDate(order.creationDate) + ' tarihli ' + controller.order.butcherName + ' siparişi' %></h2>
      </div>
    </div>
  </div>




<% var balance = order.workedAccounts.find(p=>p.code == 'total') 
  var shouldBePaid = __helper.asCurrency(balance.alacak - balance.borc)
%>



  <div class="container mb-3 ">

    <form class="" method="POST" action="/pages/operator/order/<%=order.ordernum%>" id="pageForm">
      <div class="form-group">
        <label for="orderStatus" class="">Sipariş Durumu</label>
        <%- include('./_partial/order-status.ejs', { name: 'orderStatus', order: order }) %>
      </div>
      <button name="saveOrderStatus" value="true" class="btn btn-primary btn-sm">Durum Değiştir</button>
      <p><%-controller.markdown.render(order.statusDesc || '')%></p>

      <div>
        PaymentId: <%=order.paymentId%> PaymentTransactionId: <%=order.paymentTransactionId%>
      </div>
      <div>
        <div>subMerchantStatus: <em class="font-weight-bold"> <%=order.subMerchantStatus%> </em>/ <%=order.subMerchantStatusText%></div>
      </div>
      <div class="form-group row">
        <% if (order.subMerchantStatus == 'approved') { %>
          <button name="disApproveOrderSubMerchant" class="btn- btn-primary btn-sm" value="true">DisApprove SubMerchant</button>
    
    
        <% } else { %>
          <button name="approveOrderSubMerchant" class="btn- btn-primary btn-sm" value="true">Approve SubMerchant</button>      
        <% } %>
      </div>      
    </form>


<% if (shouldBePaid > 0) { %>


  <p class="text-muted text-center">
    <%- include('./_partial/currency.ejs', {value: shouldBePaid}) %>
  </p>

<% } else { %>
  <p class="text-success text-center">
    Siparişin BORCU YOKTUR
  </p>
<% } %>
  <a id="orderdetails"></a>
      <div class="mb-3">
        <%- include('./_partial/order.details.ejs', {
          order: order,
          operator: true                
      }) %>
      </div>







    



    </div>








  <% include ./_partial/footer %>
  <% include ./_partial/scripts %>

</body>

</html>