<!DOCTYPE html>
<html lang="tr-TR" prefix="og: http://ogp.me/ns#">

<head>
  <% include ./_partial/head %>
</head>

<body>
  <% include ./_partial/header %>

  <!-- Page Title (Light)-->
  <div class="bg-secondary pt-4 ">
    <div class="container d-lg-flex justify-content-between py-2 py-lg-3">
      <div class="order-lg-2 mb-3 mb-lg-0 pt-lg-2">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb flex-lg-nowrap justify-content-center justify-content-lg-star">
            <li class="breadcrumb-item"><a class="text-nowrap" href="/"><i class="czi-home"></i></a></li>
            <li class="breadcrumb-item"><a class="text-nowrap" href="/pages/operator/orders">Siparişler</a></li>
          </ol>
        </nav>
      </div>
      <div class="order-lg-1 pr-lg-4 text-center text-lg-left">
        <h1 class="h3">Siparişi Yönet</h1>
        <h2 class="lead h4"><%= __helper.formatDate(order.creationDate) + ' tarihli ' + controller.order.butcherName + ' siparişi' %></h2>
      </div>
    </div>
  </div>




<% var balance = order.workedAccounts.find(p=>p.code == 'total') 
  var shouldBePaid = __helper.asCurrency(balance.alacak - balance.borc)
%>



  <div class="container mb-3 ">

    <form class="" method="POST" action="/pages/operator/order/<%=order.ordernum%>" id="pageForm">
     <div class="alert alert-info mt-3">

      <div class="form-group">
        <label for="orderStatus" class="">Sipariş Durumu</label>
        <%- include('./_partial/order-status.ejs', { name: 'orderStatus', order: order }) %>
      </div>
      <button name="saveOrderStatus" value="true" class="btn btn-primary btn-sm">Durum Değiştir</button>
      <button name="makeManuelPayment" value="true" class="btn btn-primary btn-sm">Manuel Ödeme Yap</button>
      <button name="loadPuans" value="true" class="btn btn-primary btn-sm">Puan Yükle</button>
      
      <p><%-controller.markdown.render(order.statusDesc || '')%></p>

     </div>

     <div class="alert alert-info">
      <div>
        PaymentId: <%=order.paymentId%> 
      </div>
      <div>
        PaymentTransactionId: <%=order.paymentTransactionId%>
      </div>
      <div>
        <div>subMerchantStatus: <em class="font-weight-bold"> <%=order.subMerchantStatus%> </em>/ <%=order.subMerchantStatusText%></div>
      </div>
      <div class="form-group row">
        <% if (order.subMerchantStatus == 'approved') { %>
          <button name="disApproveOrderSubMerchant" class="btn- btn-primary btn-sm" value="true">DisApprove SubMerchant</button>
    
    
        <% } else { %>
          <button name="approveOrderSubMerchant" class="btn- btn-primary btn-sm" value="true">Approve SubMerchant</button>      
        <% } %>
      </div>      
     </div>


    </form>


<% if (shouldBePaid > 0) { %>


  <p class="text-muted text-center">
    <%- include('./_partial/currency.ejs', {value: shouldBePaid}) %>
  </p>

<% } else { %>
  <p class="text-success text-center">
    Siparişin BORCU YOKTUR
  </p>
<% } %>
  <a id="orderdetails"></a>
      <div class="mb-3">
        <%- include('./_partial/order.details.ejs', {
          order: order,
          operator: true                
      }) %>
      </div>



<% if (controller.butcherFee) { %>

<div class="alert alert-info">
  <div class="row">

    <div class="col-sm-6">
      <p>
        Değerli iş ortağımız, aşağıda satış makbuzunu iletiyorum. Hayırlı ve bol kazançlı günler dileriz.
      </p>
      <p>
        -------------------<br>
      <%=order.butcherName%> Sipariş Toplamı: <%- include('./_partial/currency.ejs', {value: controller.butcherFee.inputTotal}) %>
      </p>
      <span class="d-block"><%= __helper.formatDate(order.creationDate)%>, <%=order.areaLevel3Text%></span>
      <span class="d-block">Sipariş no: <%=order.ordernum%>/<%=order.name%></span>
      <!-- <span class="d-block">Cironuza katkımız: <%- include('./_partial/currency.ejs', {value: controller.butcherFee.product}) %> + KDV -->
      <span class="d-block">Topladığımız komisyon: <%- include('./_partial/currency.ejs', {value: controller.butcherFee.kalitteFee}) %> + KDV
      </span>
      <% if (controller.butcherFee.butcherToCustomer > 0) { %>
      <span class="d-block">Sadık müşteri puanı: <%- include('./_partial/currency.ejs', {value: controller.butcherFee.butcherToCustomer}) %> 
      </span>      
      <% } %>
      <span>
        <span class="d-block">
          Bu satışla KDV, kart komisyonu ve vergi avantajlarınız oldu. Detaylar için tıklayın:
        </span>
        <a href="<%=controller.url%>/gelir-hesapla?rate=<%=controller.butcherFee.inputRate*100%>&total=<%=controller.butcherFee.inputTotal%>&go=1">
          <%=controller.url%>/gelir-hesapla?rate=<%=controller.butcherFee.inputRate*100%>&total=<%=controller.butcherFee.inputTotal%>&go=1
        </a>
      </span>
      <p>
        -------------------
      </p>
    </div>
    <div class="col-sm-6"></div>
  </div>



</div>

<% } %>


    



    </div>








  <% include ./_partial/footer %>
  <% include ./_partial/scripts %>

</body>

</html>