<!DOCTYPE html>
<html lang="tr-TR" prefix="og: http://ogp.me/ns#">

<head>
  <% include ./_partial/head %>
</head>

<body class="<%= controller.threeDhtml ? 'd-none':''%>">
  <% include ./_partial/header %>

  <!-- Page Title (Light)-->
  <div class="bg-secondary pt-4 ">
    <div class="container d-lg-flex justify-content-between py-2 py-lg-3">
      <div class="order-lg-2 mb-3 mb-lg-0 pt-lg-2">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb flex-lg-nowrap justify-content-center justify-content-lg-star">
          </ol>
        </nav>
      </div>
      <div class="order-lg-1 pr-lg-4 text-center text-lg-left">
        <h1 class="h3">Online Ödeme</h1>
        <h2 class="lead h4" >
          <%=order.name%>
        </h2>
        <h2 class="lead h4"><%= __helper.formatDate(order.creationDate) + ' tarihli ' + controller.order.butcherName + ' siparişim' %></h2>
        <a class="font-size-xs text-muted" href="#orderdetails">Sipariş Bilgileri<i class="czi-arrow-right"></i></a>
      </div>
    </div>
  </div>


<% var balance = order.workedAccounts.find(p=>p.code == 'total') 
  var shouldBePaid = __helper.asCurrency(balance.alacak - balance.borc)
%>


  <!-- <div class="table-responsive mb-3" data-simplebar>
    <div class="d-flex pb-2">

        <% order.items.forEach(oi => { %>
        <div class="mr-2">

            <div id="<%=oi.product.slug%>" class="item-slider item-slider-sm %>">
              
                <div class="card product-card pb-0 card-static item-card">
                    <a class="" href="#orderdetails"><img class="shadow-lg"
                            src="<%=`${__req.helper.imgUrl('product-photos', oi.product.slug)}`%>" alt="<%=oi.productName%>"></a>

                </div>

            </div>



        </div>
        <%})%>

    </div>
</div> -->
  <div class="container mb-3 ">

  <form class="interactive-credit-card" onsubmit="beforeSubmit()" method="POST" id="pageForm">
      <input type="hidden" name="paymentId" id="paymentId">


<% if (shouldBePaid > 0) { %>

  <div class=" mb-3">


    <!-- <h4 class="h5">Nefis ürünlerinizi güvenle kapınıza bırakabiliriz</h4> -->
    <div class="form-group ">
      <div class="form-check  ">
        <input <%= order.noInteraction ? "checked" : "" %>   type="checkbox" name="secureship" class="form-check-input" id="3d">
        <label class="form-check-label" for="secureship"><span class="font-weight-bold">Güvenli teslimat istiyorum.</span> Ürünlerimi kapıma bırakın ve bana haber verin</label>
      </div>
    </div>
  
  
  
  </div>

  <p class="text-success text-center">

    <%- include('./_partial/currency.ejs', {value: shouldBePaid}) %>

  </p>
      <%- include('./_partial/creditcard', {}) %>




      <div class="text-center">
        <button id="pay-btn" name="makepayment" value="true" class="btn btn-success" type="submit"><i class="czi-thumb-up mr-2"></i>Ödeme Yap</button>
      </div>
<% } else { %>
  <p class="text-success text-center">
    Siparişin Ödemesi Yapıldı
  </p>
<% } %>
  <a id="orderdetails"></a>
      <div class="mb-3">
        <%- include('./_partial/order.details.ejs', {
          order: order                
      }) %>
      </div>







    


  </form>
    </div>








  <% include ./_partial/footer %>
  <% include ./_partial/scripts %>

<script>


function beforeSubmit() {
  setTimeout(function() { $('#pay-btn').text(' Ödemenizi yapıyorum ... '); $('#pay-btn').attr('disabled', true);})
}

<% if (controller.threeDhtml) { %>
  
  $(window).on('load',function() {
    $('#threeDmodal').modal('show');
    setTimeout(function() { $(document.body).removeClass("d-none")}, 250);
  })

<% } %>

new Card({
      form: document.querySelector('.interactive-credit-card'),
      container: '.card-wrapper'
  });

</script>

</body>

</html>