<!DOCTYPE html>
<html lang="tr-TR" prefix="og: http://ogp.me/ns#">

<head>
  <% include ./_partial/head %>

  <style>
    @media print {
    
    
    .d-print-w-75 {
          width: 75% !important;
      }
      .d-print-w-50 {
          width: 50% !important;
      }
    
      .d-print-w-25 {
          width: 25% !important;
      }
    
      .d-print-none {
        display: none !important
      }
    
      .d-print-inline {
        display: inline !important
      }
    
      .d-print-inline-block {
        display: inline-block !important
      }
    
      .d-print-block {
        display: block !important
      }
    
  
    
    }
    </style>

</head>

<body class="<%= controller.threeDhtml ? 'd-none':''%>">
  <% include ./_partial/header %>

  <!-- Page Title (Light)-->
  <div class="bg-secondary pt-0p ">
    <div class="container d-lg-flex justify-content-between py-2 py-lg-3">
      <div class="order-lg-2 mb-3 mb-lg-0 pt-lg-2">
        <nav aria-label="breadcrumb" class="d-none d-lg-block">
          <ol class="breadcrumb flex-lg-nowrap justify-content-center justify-content-lg-star">
          </ol>
        </nav>
      </div>
      <div class="order-lg-1 pr-lg-4 text-center text-lg-left d-print-none">
        <h1 class="h3">Online Ödeme</h1>
        <!-- <h2 class="lead h4">
          <%=order.name%>
        </h2> -->
        <h2 class="lead h4">
          <%= __helper.formatDate(order.creationDate) + ' tarihli ' + order.butcherName + ' siparişim' %></h2>
        <a class="font-size-xs text-muted" href="#orderdetails">Sipariş Bilgileri &raquo;</a>
      </div>
    </div>
  </div>






  <div class="container mb-3 ">

    <div class="d-print-none">

    

    <% if (controller.shouldBePaid > 0) { %>


    <% if (controller.mayEarnPuanTotal) { %>
    <div class="mt-3 mb-3 alert alert-success text-center">


      <strong>Tebrikler!</strong> <br> kasaptanAl.com alışverişiniz size
      <strong><%- include('./_partial/currency.ejs', {value: controller.mayEarnPuanTotal}) %></strong> değerinde puan
      kazandırdı.

    </div>
    <div>


      <% if (controller.possiblePuanList.length > 0) { %>
      <div class="mb-3">
        <% controller.possiblePuanList.forEach(pg => { %>
        <ul>
          <li>
            <strong><%- include('./_partial/currency.ejs', {value: pg.earned}) %></strong>, <%=pg.title%>
          </li>
        </ul>
        <% }) %>

      </div>
      <%}%>
          
      
      
        
        </div>
      <% } %>



      <p class="mt-3 text-muted text-center">

        <%- include('./_partial/currency.ejs', {value: controller.shouldBePaid}) %>

      </p>

      <!-- <div class="form-group ">
          <div class="form-check  ">
            <input <%= order.noInteraction ? "checked" : "" %>   type="checkbox" name="secureship" class="form-check-input" id="3d">
            <label class="form-check-label" for="secureship"><span class="font-weight-bold">Güvenli teslimat istiyorum.</span> Ürünlerimi kapıma bırakın ve bana haber verin</label>
          </div>
        </div> -->


      <%}%>

      <% if (controller.shouldBePaid > 0) { %>
<div class="d-print-none">
  <%- include(`./_partial/paymentprovider/${controller.paymentProvider.providerKey}.payform.ejs`) %>

</div>

      <% } %>


      <a id="orderdetails"></a>
      </div>
      <% if (true) { %>
      <div class="mb-3">
        <%- include('./_partial/order.details.ejs', {
          order: order,
          hidePhone: true,
          hidePayLink: true,
          hideUser: controller.hideOrderDetails
      }) %>
      </div>

<% } %>









    </div>








    <% include ./_partial/footer %>
    <% include ./_partial/scripts %>

    <script>


      function beforeSubmit() {
        var n = $("#pan").val() || "";
        $("#pan").val(n.replace(/\s+/g, ''))       
        setTimeout(function () { $('#pay-btn').text(' Ödemenizi yapıyorum ... '); $('#pay-btn').attr('disabled', true); })
      }

<% if (controller.threeDhtml) { %>

        $(window).on('load', function () {
          $('#threeDmodal').modal('show');
          setTimeout(function () { $(document.body).removeClass("d-none") }, 250);
        })

        <% } %>

          new Card({
            form: document.querySelector('.interactive-credit-card'),
            container: '.card-wrapper',
            formSelectors: {
              numberInput: 'input#pan', // optional — default input[name="number"]
              expiryInput: 'input#expiry', // optional — default input[name="expiry"]
              cvcInput: 'input#cvv', // optional — default input[name="cvc"]
              nameInput: 'input#cardOwner' // optional - defaults input[name="name"]
            },
          });

    </script>

</body>

</html>