<!DOCTYPE html>
<html lang="tr-TR" prefix="og: http://ogp.me/ns#">

<head>
  <% include ./_partial/head %>
</head>

<body>
  <% include ./_partial/header %>


  <div class="page-title py-2">
    <div class="container d-lg-flex justify-content-between py-2 py-lg-3">
      <div class="order-lg-2 mb-3 mb-lg-0 pt-lg-2">
        <nav aria-label="breadcrumb" class="d-none d-lg-block">
          <ol class="breadcrumb breadcrumb-dark flex-lg-nowrap justify-content-center justify-content-lg-star">
            <li class="breadcrumb-item"><a class="text-nowrap" href="/"><i class="czi-home"></i></a></li>
            <li class="breadcrumb-item text-nowrap"><a href="/et-fiyatlari">Et Fiyatları</a>
            </li>
          </ol>
        </nav>
      </div>
      <div class="order-lg-1 pr-lg-4 text-center text-lg-left">
        <h1 class="h3"><%= controller.category.name %></h1>
        <h2 class=" h4 lead"><%= controller.category.shortdesc %></h2>
      </div>
    </div>
  </div>



  <div class="container pt-3">
    
      <div class="row">
        <% for(var j=0; j< controller.products.length; j++) {%>
        <% var price = controller.getPriceData(controller.products[j]) %>
        <div class="col-md-3 col-6 ">
          <%- include('./_partial/product-view.ejs', {lowPrice: price ? price.lowPrice: 0.00, highPrice: price ? price.highPrice: 0.00, priceUnit: price ? price.priceUnit: '', product: controller.products[j]}) %>
        </div>
        <% } %>
      </div>

<div class="mb-3">
  <%- include('./_partial/price-category-slider', {  title: 'Et Fiyatları', allUrl: '/et-fiyatlari' }); %>
</div>

<% if (controller.category.mddesc) { %>
<div class="collapse-container page-footer-text">
  <div class="collapse" id="collapseSummary">
    <%- controller.category.mddesc && controller.Markdown.render(controller.category.mddesc) %>

  </div>
  <a class="collapsed text-dark" data-toggle="collapse" href="#collapseSummary" aria-expanded="false" aria-controls="collapseSummary"></a>
</div>

<%}%>


 
  </div>



  <% include ./_partial/footer %>
  <% include ./_partial/scripts %>

</body>

</html>