<!DOCTYPE html>
<html lang="tr-TR" prefix="og: http://ogp.me/ns#">

<head>
  <% include ./_partial/head %>

  <style>
    @media print {
    
    
    .d-print-w-75 {
          width: 75% !important;
      }
      .d-print-w-50 {
          width: 50% !important;
      }
    
      .d-print-w-25 {
          width: 25% !important;
      }
    
      .d-print-none {
        display: none !important
      }
    
      .d-print-inline {
        display: inline !important
      }
    
      .d-print-inline-block {
        display: inline-block !important
      }
    
      .d-print-block {
        display: block !important
      }
    
  
    
    }
    </style>

</head>

<body>
    <div class="container">

    <h1>
       KASAPTANAL.COM SİPARİŞİ 
    </h1>
<h3>
  <%=order.butcherName%>
</h3>

<ul class="list-unstyled font-size-sm">
  <li><span class="text-muted">Dağtımı yapacak:&nbsp;</span><%=order.dispatcherName%></li>

  <% if (!(order.dispatcherType || "").startsWith('kasaptan')) { %>
  <li><span class="text-muted">İsim:&nbsp;</span><%= order.name %></li>
  <% if(order.address) { %>
  <li><span class="text-muted">Adres:&nbsp;</span><%= order.address%>
  Bina: <%=order.bina%>,Kat: <%=order.kat%>,Daire: <%=order.daire%>

    <%= order.areaLevel3Text%>/<%= order.areaLevel1Text%></li>
    <% if (order.adresTarif) { %>
      <li>
        Adres tarifi: <%= order.adresTarif%>
      </li>
      <%}%>
    <%}%>
  <% } %>
    <% if(order.note) { %>
      <li><span class="text-muted">Not:&nbsp;</span><%= order.note%>
        </li>
    <%}%>
  <% if (order.noInteraction) { %>
  <li>Güvenli Teslimat: <%= order.noInteraction ? 'Evet': 'Hayır'%></li>
  <% } %>
</ul>

<ul class="list-unstyled ">
  <li><span class="text-muted">Teslimat planı:&nbsp;</span><%= order.shipmentHowToText %></li>
  <li><span class="text-muted">Teslimat kodu:&nbsp;</span>*<%= order.securityCode %>*</li>
  <% if (order.shipmentType != 'callme') {%>
  <li><span class="text-muted">Gün:&nbsp;</span><strong>*<%= __helper.formatDate(order.shipmentdate) %>*</strong></li>
  <li><span class="text-muted">Saat Aralığı:&nbsp;</span><strong>*<%= order.shipmenthourText%>*</strong> </li>
  <%} else { %>
    <li><span class="text-muted">Teslimat planı:&nbsp;</span>*<%= order.shipmentTypeText%>*</li>

  <% } %>
              <li><span class="text-muted">Paketim çıkmadan bana haber ver:&nbsp;</span><%= __helper.boolStr(order.shipmentInformMe)%>
  </li>
  <li><span class="text-muted">**Planlanan** Ödeme:&nbsp;</span><%= order.paymentTypeText%> </li>
  <% if (order.butcherSelection == "user") { %>
    <li><span class="text-muted">*Müşteriniz özellikle sizi diğer kasaplar arasından seçerek sipariş vermiştir.*</span></li>
  
  <% } %>
</ul>

<ul>


<% for(var i = 0; i < order.items.length; i++) { %>
<% var item = order.items[i] %>
<li>
  <p class="mb-1">
    <%=item.productName%>

  </p>
  <p>
    <%=item.quantity%>
    <%=item.pounitTitle%>
    
    <%- include('./_partial/currency.ejs', {value: item.price}) %><br>
    <%if (item.pounitWeight) { %>
      <span class="text-muted font-size-sm d-block">1 <%=item.pounitTitle%> <%=item.pounitWeight%></span>
      <% } %>

    <span class="text-muted font-size-sm">
      Birim Fiyatı: 
      <%- include('./_partial/currency.ejs', {value: item.pounitPrice}) %> /<%=item.pounitTitle%>     

    </span>

    <% if (item.pounit != 'kg') { %>
      <span class="text-muted font-size-sm ">
        
          Kg Fiyatı: 
          <%- include('./_partial/currency.ejs', {value: item.kgPrice}) %> /<%='KG'%>    
       
 
      </span>
    <% } %>

    <% if (item.note) {%>     
      <div class="font-size-sm text-info"><span class="font-weight-bold">Not:</span> <%=item.note%></div>
      <%}%> 
  </p>

  
  




  
</li>
<% } %>
</ul>










    </div>








    <% include ./_partial/scripts %>



    <script>




  window.print();


    </script>

</body>

</html>