<!DOCTYPE html>
<html lang="tr-TR" prefix="og: http://ogp.me/ns#">

<head>
  <% include ./_partial/head %>
  <script type="application/ld+json">
    <%- JSON.stringify(controller.productLd) %>
  </script>
  <% if (Object.keys(__req.query).length != 0 ) {%>
  <meta name="robots" content="noindex,follow">
  <link href="https://www.kasaptanal.com<%=__req.path%>" rel="canonical">
  <%}%>
</head>

<body class="d-none">



  <% include ./_partial/header %>
  <%- include('./_partial/product-weight-calc.ejs', {    product: product}) %>

  <% otherButcherAlternatives = butchers.servingL3.length + butchers.servingL2.length  + butchers.others.length - 1 %>

  <% if (view.butcher) {%>
    <%- include('./_partial/butcher-alternatives.ejs', 
    { butchersTakeaway: butchers.others.filter(p=>p.id != view.butcher.id), 
      butchersServingL2: butchers.servingL2.filter(p=>p.butcher.id != view.butcher.id),
      butchersServingL3: butchers.servingL3.filter(p=>p.butcher.id != view.butcher.id),
    
    }) %>
<%}%>

  <div class="page-title-overlap bg-primary pt-4">
    <div class="container d-lg-flex justify-content-between py-2 py-lg-3">
      <div class="order-lg-2 mb-3 mb-lg-0 pt-lg-2">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb breadcrumb-light flex-lg-nowrap justify-content-center justify-content-lg-star">
            <li class="breadcrumb-item"><a class="text-nowrap" href="/"><i class="czi-home"></i></a></li>
            <li class="breadcrumb-item text-nowrap"><a href="/kasap-urunleri">Ürünler</a>
            </li>
            <li class="breadcrumb-item text-nowrap active" aria-current="page"><%= view.name %></li>
          </ol>
        </nav>
      </div>
      <div class="order-lg-1 pr-lg-4 text-center text-lg-left">
        <h1 class="h3 text-light"><%= view.name %></h1>
        <h2 class="lead h4 text-light"><%= view.shortDesc %></h2>
        <% if (__req.user && __req.user.hasRole('admin')) {%>
          <a target="_blank" class="btn btn-dark btn-sm" href="/pages/admin/product/<%=product.slug%>">Düzenle <%=product.id%></a>
        <%}%>
      </div>
    </div>
  </div>

  <%
  let resources = product.resources.filter(r=>r.list == true); 
  let images = resources.filter(p=>p.contentType == "image/jpeg");
  let videos = resources.filter(p=>p.contentType == "video-youtube");
  let tarifs = resources.filter(p=>p.tag1 && p.tag1.includes("tarif"));
  let tarifsAndFoods = resources.filter(p=>p.tag1 && (p.tag1.includes("tarif") || p.tag1.includes("yemek")));
  nonDisplayedResources  = resources.filter(resource=> (resource.tag1 && resource.tag1.includes('yemek') && resource.ref1 != product.id))
  let videoTarifs = tarifs.filter(p=>p.contentType == "video-youtube");
  let hazirlanisResources = resources.filter(p=>p.tag1 == "hazirlama-sekli");
  let bilgiResources = resources.filter(p=>p.tag1 == "bilgi");
  let otherVideos = videos.filter(p=>(p.tag1 && !p.tag1.includes( "tarif") && p.tag1 != "hazirlama-sekli" ));
  let firstImage = images.length ? images[0]: null;  
  let chunks = _.chunk(images.slice(1, images.length), 3)
  let alternativeimages = images.slice(1, images.length)
  var butcherVideo = 
                controller.butcherResources.find(br=>br.type == 'butcher-videos')
%>





<div>


  <div class="container px-0 cz-gallery">
    


    <div class="bg-light box-shadow-lg mb-3 pb-4 ">
      <div>
        <div class="row ">
          <!-- Product gallery-->

          <div class="col-lg-7 ">
            <div class="">

              <div class="">
                <% if (firstImage) { %>
<div class="mb-3">
  <%- include('./_partial/product-resource-view.ejs', {first: true, note: false, resource: firstImage}) %>

</div>

               

                 

                <% } %>

                <div>



              
                  <div class="">
                      <div class="table-responsive" data-simplebar>
                          <div class="d-flex">
                              
                              
                              <% for(var c=0; c< alternativeimages.length; c++) {%>
                              <div class="mr-2">
              
                                  <div class="item-slider item-slider-sm">
                                      
                                      <div class="card product-card card-static item-card">
                      <%- include('./_partial/product-resource-view.ejs', {first: false, note: false, resource: alternativeimages[c]}) %>


                                  
                                      </div>
              
                                  </div>
              
              
              
                              </div>
                              <%}%>
                         
                          </div>
                      </div>
                  </div>
              
              
              </div>

                <!-- <% chunks.forEach((group, i) => { %>
                <div class="row justify-content-center">
                  <% group.forEach((resource, i) => { %>

                  
                    <%if (!nonDisplayedResources.find(n=>n == resource)) {%>

                      <div class="col-4">
                      <%- include('./_partial/product-resource-view.ejs', {first: false, note: false, resource: resource}) %>
                    </div>
                    <%}%>
                                         
                                        
                                        <%})%>


                  </div>
                  <%})%> -->
                </div>
                <div class="">



                </div>
            


              </div>
            </div>
            

            <div id="productapp" v-cloak class="col-lg-5 ">
              <% if (view.butcher) { %>
              <div class="toast-container toast-top-center">
                <div id="shopcard-added-toast" class="toast mb-3" id="accent-toast" data-delay="50000" role="alert" aria-live="assertive" aria-atomic="true">
                  <div class="toast-header bg-accent text-white"><i
                    class="czi-cart  mr-2"></i>
                    <h6 class="font-size-sm text-white mb-0 mr-auto">Sepetinize eklendi</h6>
                    <button class="close text-white ml-2 mb-1" type="button" data-dismiss="toast" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  </div>
                  <div class="toast-body p-0 text-accent">
    
                    <div v-if="newlyAddedItem" class="mb-2">
                    
                      <div class="bg-secondary p-2 mb-3"><a class="media align-items-center" href="/<%=view.butcher.slug%>"><img
                            class="rounded-circle header-img" src="<%= `${__req.helper.imgUrl('butcher-google-photos', view.butcher.slug)}` %>"
                            alt="<%=view.butcher.name%>">
                          <div class="media-body pl-2">
                            <h3 class="h4 mb-0 mr-2"><%= view.butcher.name %></h3>
                            <span class="font-size-ms text-muted">Özenle hazırlıyoruz</span>
                          </div>
                        </a></div>
    
                        <div class="text-center">
                            <div class="text-center mb-3">
                              <img class="w-50" src="<%= `${__req.helper.imgUrl('product-photos', product.slug)}` %>" alt="<%=product.name%>">
                            </div>
                            <div>
                              <h3 class="product-title font-size-base mb-2"><a
                                href="/<%=product.slug%>?butcher=<%=view.butcher.slug%>"><%=product.name%></a>
                            </h3>
                            <div class="font-size-normal"><span class="font-weight-medium">{{newlyAddedItem.quantity}}</span> <span
                              class="text-muted">{{newlyAddedItem.purchaseoption.unitTitle }}
                  
                            </span>
                        
                              <span>/</span>
                            <span class="font-size-sm">
                              {{ formatCurrency(newlyAddedItem.price).val}}.<small>{{formatCurrency(newlyAddedItem.price).krs}}</small> TL
                              
    
                               
                            </span> 
    
                              <span v-if="newlyAddedItem.purchaseoption.unitWeight" class="d-block text-muted font-size-xs">1 {{newlyAddedItem.purchaseoption.unit}} {{newlyAddedItem.purchaseoption.unitWeight}}</span>
                    
                          </div>                        
                            </div>
                        </div>
                    </div>
                        
                      <div class="p-3">
                        <div class="d-flex d-flex justify-content-around">
    
                          <a href="/alisveris-sepetim"  class="btn btn-sm btn-accent mr-1"><i
                            class="czi-cart mr-1"></i>Sepete Git</a>
                          <a href="/kasap-urunleri"  class="btn btn-sm btn-primary">Alışverişe Devam<i class="czi-arrow-right"></i></a>
                          
    
                        </div>
                      </div>
                      <div>
    
                      </div>
                
                </div>
                </div>
        </div>

        <%} %>
              <div class=" px-3 pl-lg-0 pr-lg-4   pt-lg-3 pb-0">
                <% if (view.butcher) {%>

                <div class="mb-3">

                  <%if (view.butcher) {  %>

                    <div class="">
                     
                    
                     </div>

                     <%}%>


                </div>
                <%} else { %>
   
                <% } %>
                <form id="product-form" class="" @submit.prevent="addToShopcard">
                  <% if (product.featuresText) { %>
                    <% var notes = product.featuresText.split('\n') %>
                    <div class="border-bottom mb-3  ">
                      <!-- <h5 class="h6 font-size-md mb-2">Şu şekilde hazırlıyoruz</h5> -->
                      <ul class="list-unstyled mb-2">
                        <%notes.forEach((note, i) => { %>
                            <li><i class="czi-check text-primary mr-1"></i> <%=note%></li>
                        <%})%>
                        </ul>
                      
                    </div>
 
                    <% } %>
                    <% if (!view.butcher) { %>
                    <div>
                      
                        <div class="alert border-none rounded-0 alert-accent alert-with-icon font-size-sm mb-2" role="alert">
  
  
                          <div class="alert-icon-box rounded-0"><i class="alert-icon czi-announcement"></i></div> 
                          <span class="mb-3 d-block font-size-sm text-info text-center">Alışveriş yapmak ve kasaplarımızın ürün fiyatları için önce semtinizi seçin.</span>
  
                          <div class="text-center">
                            <button @click="selectArea(null, '<%=__req.prefAddr ? `Maalesef ürünümüz ${__req.prefAddr.level1Text}/${__req.prefAddr.level2Text}/${__req.prefAddr.level3Text} için ulaşılabilir değil. Lütfen bir başka adres seçin.`: ``%>')" type="button"  id="add2scSetAddrBtn" class="btn btn-accent btn-sm"><i
                              class="czi-location font-size-lg mr-2"></i>Semt Seç</button>
                          </div>
                          

                        </div>
                       
  
                  
                    </div>
                    <% } %>
                    


                  <div>

                    <% if (bilgiResources.length) { %>
                      <div>
                        <div class="mb-3">
                         
                        <div class="d-flex flex-nowrap justify-content-between align-items-center">
                         

                          
                             <h5 class="h6 mb-2 text-accent "></i>Yardımcı videolar</h5> 


                     
                       
                          <!-- <a class="align-self-center mb-2  text-dark font-size-xs" href="#tarifVideos"> <i
                            class="czi-arrow-right font-size-xs align-middle"></i></a>     -->
                        </div>
                          <!-- <label class=""><span
                            class="badge badge-primary font-size-xs mr-2">Bu yemekler için uygun:</span><span class=""></span></label> -->
                            <div class="mb-2">
                            <% bilgiResources.forEach(t=> { %>
                            
<div class="d-flex mb-2 pb-1 align-items-center flex-nowrap justify-content-between border-bottom">
  <a class="text-primary" href="javascript:openSlider(<%=t.id%>)"><i class="text-primary <%= t.contentType == 'video-youtube' ? 'czi-youtube': 'czi-camera' %> mr-1"></i><%=t.title%></a>
  
  


  
</div>
                             
                         
                              
  
                              
                            <%})%>
                          </div>
                          </div>

                      </div>

                      <% } %>



                    <% if (tarifsAndFoods.length) { %>
                      <div>
                        <div class="mb-3">
                         
                        <div class="d-flex flex-nowrap justify-content-between align-items-center">
                          <a href="#tarifVideos">

                         
                            <h5 class="h6 mb-2 text-accent ">Bu yemekler için hazırlıyoruz</h5>


                     
                        </a>
                          <!-- <a class="align-self-center mb-2  text-dark font-size-xs" href="#tarifVideos"> <i
                            class="czi-arrow-right font-size-xs align-middle"></i></a>     -->
                        </div>
                          <!-- <label class=""><span
                            class="badge badge-primary font-size-xs mr-2">Bu yemekler için uygun:</span><span class=""></span></label> -->
                            <div class="mb-2">
                            <% tarifsAndFoods.forEach(t=> { %>
                            
<div class="d-flex mb-2 pb-1 align-items-center flex-nowrap justify-content-between border-bottom">
  <a class="text-primary" href="javascript:openSlider(<%=t.id%>)"><i class="text-primary <%= t.contentType == 'video-youtube' ? 'czi-youtube': 'czi-camera' %> mr-1"></i><%=t.title%></a>
  
  
   <a class="text-primary" title="Eti Bizden" data-tag="true" data-category="food" data-action="eti-bizden" data-label="<%= t.slug%>"
   href="javascript:<%= include('./_partial/addtonote.ejs', {resource: t, options: {hideProduct: true} }) %>"><span class="color-primary">
     <i class=" czi-add-circle"></i></span>  </a> 


  
</div>
                             
                         
                              
  
                              
                            <%})%>
                          </div>
                          </div>

                      </div>

                      <% } %>

                     
                    <div>


                      <!-- <div v-if="product && product.notePlaceholder">
                        <h5 class="h6 mb-2">Şu şekilde hazırlıyoruz</h5>

                          <p  class="font-size-sm">
                            {{product && product.notePlaceholder }} 
                            </p>
                      </div> -->
                     
                     <div class="">

                     

                    
                      <h5 v-if="product && product.purchaseOptions.length > 1" class="h6 mb-2 text-accent">
                        <i class="czi-arrow-right-circle mr-1"></i>
                        Lütfen seçim yapın
                      </h5> 
                      <input type="hidden" id="product-id" value="<%= product.id %>" />
                      <div class="xform-group">
                        <div v-if="product && product.purchaseOptions.length > 1">
                          <ul class="nav nav-pills nav-pills-dark nav-fill mb-2">
                            <li v-for="(option, index) in product.purchaseOptions" class="nav-item h-100">
                              <a class="nav-link h-100 shadow-none " href="#option" v-bind:class="{ active: option == selectedUnit }"
                                @click="selectedUnit = option">{{option.unitTitle}}
                                <%if (false) { %>
                                <span class="d-block" class="font-size-sm text-muted">
                                  {{  formatCurrency(option.unitPrice).val}}.<small>{{formatCurrency(option.unitPrice).krs}}</small> TL 
                                  
              
                               
                                </span> 

                                <%}%>
                              </a>
                                
                            </li>

                          </ul>

                        </div>


                      </div>

                      
                      
                      <div v-if="selectedUnit" class="">
                        <div>
                          <!-- <div v-if="selectedUnit.unit != 'kg' && selectedUnit.kgRatio > 0">
                            <span v-if="option.unit == 'kg'">&nbsp;</span>  <weight-view class="text-muted font-size-xs" v-if="option.unit != 'kg'" :kg="option.kgRatio"></weight-view>

                          </div> -->
                          <div class="md-content mb-3" v-html="selectedUnit.desc" v-if="selectedUnit.desc">
                             
                          </div>
               
                 
                          <a id="noteanchor"></a>
                          <div class="d-flex  flex-nowrap justify-content-between align-items-center">
                            <h5 class="h6 mb-2 text-accent "><i class="czi-thumb-up mr-2"></i>Şimdi satın alın</h5>
        
                            <button title="<%= __req.prefAddr ? __req.prefAddr.level3Text: 'Semt Seçin' %>"  @click="selectArea(null, '<%=__req.prefAddr ? `Semtiniz:  ${__req.prefAddr.display}`: ``%>')" type="button"  class="rounded-0 btn btn-secondary btn-sm"><i
                              class="czi-location font-size-lg "></i>
                              
                               

                              
                            </button>
                              
                      
        
                           
                           </div>
                            <div class="mb-1 bg-secondary border">
                              <%if (view.butcher) {  %>

                              <div class="border-bottom">
                                <%- include('./_partial/butcher-product-panel.ejs', { butcherVideo: butcherVideo }) %>
                              
                               </div>

                               <%}%>

                              <% if (view.butcher && __req.prefAddr) { %>
                                <div class="mb-3  ">
                                  <div class="mb-3">
                  
                        
        
                                     <!-- <p class="mt-2 text-center text-muted font-size-sm">
                                      Satın almak için alışveriş sepetinize ekleyebilirsiniz.
        
                                      <%if (false) {%>
                                        <span>
                                          veya <a class="alert-link" href="javascript:showOtherButchers()">bir başka kasap</a>  seçebilirsiniz.
                                        </span>
                                        <%}%>
                                    </p>  -->
                                    
                            
                                   
        
                            
                                  </div>
                                </div>
        
                              <%}%>


                              <div class="mt-2 d-flex align-items-center justify-content-center mb-1">
                                <span v-if="selectedUnit.unit != 'kg'">Kaç <b>{{ selectedUnit.unitTitle }}</b> hazırlayalım?</span>
                                <span v-if="selectedUnit.unit == 'kg'"><b>Ne kadar</b> hazırlayalım?</span>
                             
                                
    
                              </div>

                             <div class="text-center" v-if="selectedUnit && selectedUnit.unitWeight">
                              <span class="d-block text-muted font-size-xs">1 {{selectedUnit.unit}} {{selectedUnit.unitWeight}}</span>

                             </div>
                    
                             

                            <amount-input :def="quantity || selectedUnit.default" :min="selectedUnit.min"
                            :max="selectedUnit.max" :step="selectedUnit.step" v-model="quantity"
                            :unit="selectedUnit.unitTitle" >
                       
                          </amount-input>
                          



                          </div>
           
                <%if (view.butcher) { %>
                <div v-if="selectedUnit" class="mb-3 p-2 d-flex justify-content-end border bg-secondary"> 
                  <span class="text-muted d-block mr-2">
                  Ürün Bedeli: 
                </span>  
                 <span class="d-block text-center text-accent"> 
                  {{  formatCurrency(price).val}}.<small>{{formatCurrency(price).krs}}</small> TL </span>
              </div> 
              <%}%>  

                          <div class="  d-flex align-items-center justify-content-center">
<p> <a @click="showCalculator(selectedUnit)"
  class="text-accent font-weight-medium " href="#size-chart"><i class="czi-calculator mr-1"></i>Miktar Hesaplama Aracı</a> ihtiyacınız kadar almanıza yardımcı olabilir. </p>
                        
                          
                          </div>

                          <div class="mb-3">
                            <span class="text-accent font-weight-medium"> Sorularınız mı var ?</span>  <br> <a title="WhatsApp Canlı Destek" 
  target="_blank" href="https://wa.me/908503054216?text=<%-`Merhaba, kasaptanal.com üzerinden size ulaşıyorum. ${product.name} ile ilgili whatsapp üzerinden yardımcı olabilir misiniz?`%>" class=" font-weight-medium  text-success">
  <img src="/static/img/messaging-whatsapp.svg" width="24">
  Destek için hazırız.</a>
                          </div>

                          
           
                     
                      
                         
                        </div>



                       
                        <% if (hazirlanisResources.length) { %>
                          <div>
                            <div class="mb-3">
                              <h5 class="h6 mb-2">Şu şekilde hazırlayabiliriz</h5>
                              <!-- <label class=""><span
                                class="badge badge-primary font-size-xs mr-2">Bu yemekler için uygun:</span><span class=""></span></label> -->
                                <div class="mb-2">
                                <% hazirlanisResources.forEach(t=> { %>
                                
    <div class="d-flex mb-2 pb-1  flex-wrap justify-content-between border-bottom">
      <a href="javascript:openSlider(<%=t.id%>)"><i class=" czi-youtube mr-1"></i><%=t.title%></a>
      
      <a title="Bu şekilde hazırlayın" href="javascript:<%= include('./_partial/addtonote.ejs', {resource: t, options: {hideProduct: true} }) %>"><span class="color-primary"><i class=" czi-add-circle"></i></span>  </a>
    
    </div>
                                 
                             
                                  
      
                                  
                                <%})%>
                              </div>
                              </div>
    
                          </div>
    
                          <% } %>
                          
                        <div class="form-group" >
                          <label class="mb-2" for="note"><span
                              class="badge badge-accent font-size-xs mr-2">Notunuz</span><span class="font-size-sm"></span>
                              
                          
  
                             
                            </label>
                          <textarea v-model="note"
                            :placeholder="(selectedUnit && selectedUnit.notePlaceholder) || (product && product.notePlaceholder) || 'İletmek istediğiniz notunuz varsa burayı kullanabilirsiniz.'"
                            class="form-control font-size-sm" rows="3" name="note" id="note">

                                                            <%=view.note%>
                                                        </textarea>
                        </div>
                        <% if (!view.butcher) {%>
                        <div class="text-center">


                     
                          <% if (__req.prefAddr) { %>

                            <div class="toast-container toast-top-center">
                              <div id="shopcard-productnotavailable-toast" class="toast mb-3" id="accent-toast" data-delay="25000" role="alert" aria-live="assertive" aria-atomic="true">
                                <div class="toast-header bg-accent text-white">
                                  <h6 class="font-size-sm text-white mb-0 mr-auto">Üzgünüz</h6>
                                  <button class="close text-white ml-2 mb-1" type="button" data-dismiss="toast" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                </div>
                                <div class="toast-body text-accent text-center">
                                    <p id="productnotavailable-msg">
                                       
                                    </p>
                                    <div>
                                      <div class="d-flex d-flex justify-content-around">
                                       

                                        <a href="#" @click="selectArea()" class="btn btn-sm btn-primary">Semt Seç <i class="ml-1 czi-arrow-right"></i></a>
                                        <a href="/kasap-urunleri" class="btn btn-sm btn-accent">Alışverişe Devam</a>
                                      
                                      </div>
                                    </div>
                                    <div>
                        
                                    </div>
                              
                              </div>
                              </div>
                        </div>

             
                         
                          <%} %>
                          
                          
                      </div>
                      <%} %>


                  
                       
                          <% if (view.butcher && __req.prefAddr) { %>
                                                      
                            <button data-tag="true" data-category="shopcard/add" data-action="<%=view.butcher.slug%>" data-label="<%=product.slug%>" id="addtoscbtn" class="btn btn-accent btn-block" type="submit"><i
                              class="czi-cart font-size-lg mr-2"></i>Sepete Ekle</button>
                          
                          <% } %>


                        </div>
                      </div>
                     
                    </div>



                  </div>


                </form>
                <!-- Product panels-->

                <!-- Sharing-->
                <!-- <h6 class="d-inline-block align-middle font-size-base my-2 mr-2">Payaşın:</h6><a
                                class="share-btn sb-twitter mr-2 my-2" href="#"><i class="czi-twitter"></i></a><a
                                class="share-btn sb-instagram mr-2 my-2" href="#"><i
                                    class="czi-instagram"></i></a><a class="share-btn sb-facebook my-2"
                                href="#"><i class="czi-facebook"></i></a> -->
              </div>
            </div>
          </div>
        </div>
        <div id="tabpc"></div>
        <ul class="nav nav-tabs" id="optionsTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
              aria-selected="true">Bilgi</a>
          </li>
          <!-- <li class="nav-item">
                      <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Yorumlar</a>
                    </li> -->




          <% if (otherButcherAlternatives > 0) { %>
          <!-- <li class="nav-item">
            <a class="nav-link" id="vendors-tab" data-toggle="tab" href="#vendors" role="tab" aria-controls="contact"
              aria-selected="false">Diğer Kasaplar</a>
          </li>   -->
         <% } %>        
        </ul>
        <div class="tab-content px-4" id="myTabContent">
          <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
          
            <%if (product.mddesc) { %>
                      
              <%- controller.markdown.render(product.mddesc || '') %>

              <%}%>

             
                <h3 class="h5"><%=product.name%> Fiyat</h3>
                <p>
                  

                  
                  <strong><%=product.name%> fiyatları</strong> semtinize ve kasaplarımıza göre farklılık göstermektedir. <strong>En uygun <%=product.name%> fiyat</strong> bilgisi semt ve kasap seçiminiz ardından otomatik olarak hesaplanmaktadır.
                </p>
           

            <% if (videoTarifs.length) {%>
          <div id="tarifVideos" class="d-flex flex-wrap justify-content-between align-items-center pt-1 border-bottom pb-1 mb-2">
                    <h3 class="h5 mb-0 mr-2">Et Yemek Tarifleri</h3>
                </div>    
      

            <span  class="btn btn-sm btn-primary mr-2"><i class=" czi-thumb-up mr-2">
            
            </i>Eti Bizden</span>seçeneği ile etinizi istediğiniz yemeğe uygun olarak hazırlıyoruz.</p>
           


              
                <div class="row mb-3 ">
                  <% tarifsAndFoods.forEach((resource,i) => {%>
                    <% if (resource.contentType == "video-youtube") { %>
                  <div class="col-md-4 col-sm-6">
                      <%- include('./_partial/product-resource-view.ejs', {first: false, note: true, resource: resource}) %>
                   
              

                                             
                  </div>
                  <% } %>
                  <%})%>


                  
                </div>
              <%}%>

              <% if (nonDisplayedResources.length) { %>
                <% nonDisplayedResources.forEach((resource,i) => {%>
                  <div class="d-none">
                    <%- include('./_partial/product-resource-view.ejs', {first: false, note: false, resource: resource}) %>
                 
                                           
                </div>
                  <%})%>

              <%}%>

              <% if (otherVideos.length) {%>
                <div class="d-flex flex-wrap justify-content-between align-items-center pt-1 border-bottom pb-1 mb-2">
                          <h3 class="h4 mb-0 mr-2">Diğer kaynaklar</h3>
                          
                      </div>    
            
      
                
      
      
                    
                      <div class="row">
                        <% otherVideos.forEach((resource,i) => {%>
                        
                        <div class="col-md-4 col">


                          <%- include('./_partial/product-resource-view.ejs', {first: false, note: false, resource: resource}) %>

                                               
                        </div>
                        <%})%>
                      </div>
                    <%}%>
                 
          </div>


                           


                  </div>            
    </div>


    </div>


  </div>





    <% include ./_partial/footer %>
                <% include ./_partial/scripts %>

                <script>
                  window.App.ProductApp.product = <%- JSON.stringify(view) %>;
                  window.App.WeightCalculatorApp.product = window.App.ProductApp.product;

                  function showOtherButchers() {
                    $('#butcher-alternatives').modal();
                     //window.App.scrollToAnchor("#tabpc");
                     //window.App.activaTab("vendors");
                    
                  }

                  function openSlider(i) {
                    var node = $('a[data-resid=' + i + ']')[0];
                    window.lgData.lg0.items.forEach(function (item, i) {
                   if (item == node || ((item.id && node.id) && (item.id == node.id))) {
                     window.location.hash = "lg=1&slide=" + i;
                     window.lgData.lg0.init()
                    }
                   })
                  }

                  <% if (!view.butcher && __req.prefAddr && __req.query.action == 'add2sc') {%>

               
                              
$(document).ready(function() {
  $('#productnotavailable-msg').html("<%=__req.prefAddr.level1Text%>/<%=__req.prefAddr.level3Text%> için bu ürün ulaşılabilir değil.")
  $('#shopcard-productnotavailable-toast').toast('show');                   
})


<% } else if (view.butcher && __req.prefAddr && __req.query.action == 'add2sc') { %>

  $(document).ready(function() {
    window.App.scrollToAnchor("#noteanchor")
    //$('#shopcard-available-toast').toast('show'); 
  })      

    //window.App.ProductApp.add2ScOnce = true;
 
<% } %> 

                  
                <% if (__req.query.r) { %>
                  
                  $(document).ready(function() {

   
                  
                    <% if (!__req.query.autoNote) { %>                    
                       openSlider(<%=__req.query.r%>);    
                      
                      
                    setTimeout(() => {                
                      $(document.body).removeClass("d-none")
                    }, 100);
                    <% } else { 
                    var r = product.resources.find(p=>p.id == parseInt(__req.query.r))
                    var defaultImg = product.resources.find(p=>p.contentType == 'image/jpeg');
                    if (defaultImg && r && (r != defaultImg)) {
                      r.thumbnailUrl = defaultImg.thumbnailUrl;
                      r.contentUrl = defaultImg.contentUrl;
                      r.contentType = defaultImg.contentType;
                      r.folder = defaultImg.folder;
                    } 
                    %>
                    <% if (!__req.query.disableSlider) { %>
                      // openSlider(<%=__req.query.r%>);    
                      //openSlider($('a[data-resid').first().data('resid'));    

                     <% } %>  
                    
                    setTimeout(() => {                
                      $(document.body).removeClass("d-none");
                      <%- include('./_partial/addtonote.ejs', {resource: r, options: {
                        hideProduct: __req.query.hideproduct
                      } }) %>
                    }, 100);

                   
                  
                  <% } %>

                  })




             
                <%} else { %>
                  $(document.body).removeClass("d-none")
                <%}%>


                </script>

 

</body>

</html>