<!DOCTYPE html>
<html lang="en">

<head>
  <% include ./_partial/head %>
</head>

<body class="d-none">



  <% include ./_partial/header %>
  <%- include('./_partial/product-weight-calc.ejs', {    product: product}) %>

  <% otherButcherAlternatives = butchers.serving.length + butchers.others.length - 1 %>



  <div class="page-title-overlap bg-primary pt-4">
    <div class="container d-lg-flex justify-content-between py-2 py-lg-3">
      <div class="order-lg-2 mb-3 mb-lg-0 pt-lg-2">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb breadcrumb-light flex-lg-nowrap justify-content-center justify-content-lg-star">
            <li class="breadcrumb-item"><a class="text-nowrap" href="/"><i class="czi-home"></i></a></li>
            <li class="breadcrumb-item text-nowrap"><a href="/lezzetler">Lezzetler</a>
            </li>
            <li class="breadcrumb-item text-nowrap active" aria-current="page"><%= view.name %></li>
          </ol>
        </nav>
      </div>
      <div class="order-lg-1 pr-lg-4 text-center text-lg-left">
        <h1 class="h3 text-light mb-0"><%= view.name %></h1>
        <p class="lead text-light"><%= view.shortDesc %></p>
        <% if (__req.user && __req.user.hasRole('admin')) {%>
          <a target="_blank" class="btn btn-dark btn-sm" href="/pages/admin/product/<%=product.slug%>">Düzenle</a>
        <%}%>
      </div>
    </div>
  </div>

  <%
  let resources = product.resources; 
  let images = resources.filter(p=>p.contentType == "image/jpeg");
  let videos = resources.filter(p=>p.contentType == "video-youtube");
  let tarifs = resources.filter(p=>p.tag1 && p.tag1.includes("tarif"));
  let tarifsAndFoods = resources.filter(p=>p.tag1 && (p.tag1.includes("tarif") || p.tag1.includes("yemek")));

  
  let videoTarifs = tarifs.filter(p=>p.contentType == "video-youtube");
  let hazirlanisResources = resources.filter(p=>p.tag1 == "hazirlama-sekli");
  let otherVideos = videos.filter(p=>(p.tag1 && !p.tag1.includes( "tarif") && p.tag1 != "hazirlama-sekli" ));
  let firstImage = images.length ? images[0]: null;  
  let chunks = _.chunk(images.slice(1, images.length), 3) 
%>





  <!-- Page Content-->
  <div class="container px-0 cz-gallery">
    <!-- Gallery + details-->
    <div class="bg-light box-shadow-lg mb-3 pb-4 ">
      <div>
        <div class="row ">
          <!-- Product gallery-->

          <div class="col-lg-7 ">
            <div class="">

              <div class="">
                <% if (firstImage) { %>

                  <%- include('./_partial/product-resource-view.ejs', {first: true, note: false, resource: firstImage}) %>

               

                 

                <% } %>
                <% chunks.forEach((group, i) => { %>
                <div class="row justify-content-center">
                  <% group.forEach((resource, i) => { %>

                  <div class="col-4">
                    <%if (resource != null) {%>


                      <%- include('./_partial/product-resource-view.ejs', {first: false, note: false, resource: resource}) %>

                    <% if (resource.contentType == "image/jpeg") { %>
                 
                    <%} else {  %>
                        

                    <% } %>
                    <%}%>
                                          </div>
                                        
                                        <%})%>


                  </div>
                  <%})%>
                </div>
                <div class="">



                </div>
            


              </div>
            </div>


            <div id="productapp" v-cloak class="col-lg-5 ">
              <div class=" px-3 pl-lg-0 pr-lg-4   pt-lg-3 pb-0">
                <% if (view.butcher) {%>
                <div class="mb-3">

                  <div>

                    <!-- <span class="h3 font-weight-normal text-accent mr-1">
                      <%- include('./_partial/currency.ejs', {value: view.viewUnitPrice, unit: view.viewUnit}) %>
                    </span> -->

                    <div class="bg-secondary  border-bottom p-2 d-flex flex-nowrap justify-content-between align-items-center">
                      <a class="media align-items-center" href="/<%=view.butcher.slug%>"><img class="rounded-circle header-img"
                         src="/<%=view.butcher.slug%>/fotograf/thumbnail" alt="<%=view.butcher.name%>">
                      <div class="media-body pl-2">
                        <h6 class="h5 mb-0 mr-2"><%= view.butcher.name %></h6>
                        <span class="font-size-ms text-muted">sağlamaktadır.</span>
                      </div></a>
                      <a class="align-self-center d-md-block btn btn-sm" href="/<%=view.butcher.slug%>"><i
                          class="czi-arrow-right font-size-xs align-middle ml-1"></i></a>                        
                  </div>
                  <%if (otherButcherAlternatives) {%>
                    <div class="mt-2">
                      <p class="text-right font-size-sm"><a class="text-dark font-weight-medium" href="javascript:showOtherButchers()"><span>Diğer kasaplar (</span><span class="text-primary"><%=otherButcherAlternatives %></span><span>)</span></a> </p> 

                    </div>
                  <%}%>
          

                    <!-- <p><small><a class="text-muted" href="/<%=view.butcher.slug%>"><%=view.butcher.name%></a></small>
                    </p> -->
                  </div>




                </div>
                <%} %>
                <form id="product-form" class="" @submit.prevent="addToShopcard">
                  <% if (product.featuresText) { %>
                    <% var notes = product.featuresText.split('\n') %>
                    <div class="border-bottom mb-3">
                      <!-- <h5 class="h6 font-size-md mb-2">Şu şekilde hazırlıyoruz</h5> -->
                      <ul class="list-unstyled mb-2">
                        <%notes.forEach((note, i) => { %>
                            <li><i class="czi-check text-primary mr-1"></i> <%=note%></li>
                        <%})%>
                        </ul>
                    </div>
 
                    <% } %>
                  <div>
                    <% if (tarifsAndFoods.length) { %>
                      <div>
                        <div class="mb-3">
                         
                        <div class="d-flex flex-nowrap justify-content-between align-items-center">
                          <a href="#tarifVideos">

                         
                          <h5 class="h6 mb-2 font-size">
                            
                            Bunlar için uygun
                          
                          </h5>
                        </a>
                          <a class="align-self-center mb-2  text-dark font-size-xs" href="#tarifVideos"> <i
                            class="czi-arrow-right font-size-xs align-middle"></i></a>    
                        </div>
                          <!-- <label class=""><span
                            class="badge badge-primary font-size-xs mr-2">Bu yemekler için uygun:</span><span class=""></span></label> -->
                            <div class="mb-2">
                            <% tarifsAndFoods.forEach(t=> { %>
                            
<div class="d-flex mb-2 pb-1 align-items-center flex-nowrap justify-content-between border-bottom">
  <a class="text-primary" href="javascript:openSlider(<%=t.id%>)"><i class="text-primary <%= t.contentType == 'video-youtube' ? 'czi-youtube': 'czi-camera' %> mr-1"></i><%=t.title%></a>
  
  <% if (t.note) { %>
   <a class="text-primary" title="Eti Bizden" href="javascript:<%= include('./_partial/addtonote.ejs', {resource: t, options: {hideProduct: true} }) %>"><span class="color-primary"><i class=" czi-add-circle"></i></span>  </a> 
  <% } %>
</div>
                             
                         
                              
  
                              
                            <%})%>
                          </div>
                          </div>

                      </div>

                      <% } %>

                     
                    <div>


                      <!-- <div v-if="product && product.notePlaceholder">
                        <h5 class="h6 mb-2">Şu şekilde hazırlıyoruz</h5>

                          <p  class="font-size-sm">
                            {{product && product.notePlaceholder }} 
                            </p>
                      </div> -->
                     
                     <div class="">

                      <a id="noteanchor"></a>
                   
                      <h5 class="h6 mb-2 text-accent "><i class="czi-thumb-up mr-2"></i>Kolayca satın alın</h5>
<!--                     
                      <p v-if="product && product.purchaseOptions.length > 1" class="font-size-sm mb-1">
                        İşinizi kolaylaştıran seçenekleri kullanın.
                      </p> -->
                      <input type="hidden" id="product-id" value="<%= product.id %>" />
                      <div class="xform-group">
                        <div v-if="product && product.purchaseOptions.length > 1">
                          <ul class="nav nav-pills nav-pills-dark nav-fill mb-2">
                            <li v-for="(option, index) in product.purchaseOptions" class="nav-item">
                              <a class="nav-link  shadow-none " href="#t" v-bind:class="{ active: option == selectedUnit }"
                                @click="selectedUnit = option">{{option.unitTitle}} {{selectedUnit ? '': ''}}</a>
                            </li>

                          </ul>

                        </div>


                      </div>
                      <div v-if="selectedUnit" class="">
                        <div>
                          <div class="md-content mb-3" v-html="selectedUnit.desc" v-if="selectedUnit.desc">
                             
                          </div>
                        
              
                     
                            <div class="mb-3 bg-secondary border">

                              <div class="mt-2 d-flex align-items-center justify-content-center mb-1">
                                <span v-if="selectedUnit.unit != 'kg'">Kaç <b>{{ selectedUnit.unit }}</b> hazırlayalım?</span>
                                <span v-if="selectedUnit.unit == 'kg'"><b>Ne kadar</b> hazırlayalım?</span>
                             
                                
    
                              </div>
                              
                            <amount-input :def="quantity || selectedUnit.default" :min="selectedUnit.min"
                            :max="selectedUnit.max" :step="selectedUnit.step" v-model="quantity"
                            :unit="selectedUnit.unit">
                       
                          </amount-input>
                        </div>
                          <div class="  d-flex align-items-center justify-content-center">
<p> <i class="czi-announcement mr-1"></i><a @click="showCalculator(selectedUnit)"
  class="text-accent font-weight-medium " href="#size-chart">Miktar Hesaplama Aracı</a> doğru miktarda almanıza yardımcı olabilir.</p>
                        
                          
                          </div>
           

                      
                         
                        </div>
                       
                        <% if (hazirlanisResources.length) { %>
                          <div>
                            <div class="mb-3">
                              <h5 class="h6 mb-2">Şu şekilde hazırlayabiliriz</h5>
                              <!-- <label class=""><span
                                class="badge badge-primary font-size-xs mr-2">Bu yemekler için uygun:</span><span class=""></span></label> -->
                                <div class="mb-2">
                                <% hazirlanisResources.forEach(t=> { %>
                                
    <div class="d-flex mb-2 pb-1  flex-wrap justify-content-between border-bottom">
      <a href="javascript:openSlider(<%=t.id%>)"><i class=" czi-youtube mr-1"></i><%=t.title%></a>
      <% if (t.note) { %>
      <a title="Bu şekilde hazırlayın" href="javascript:<%= include('./_partial/addtonote.ejs', {resource: t, options: {hideProduct: true} }) %>"><span class="color-primary"><i class=" czi-add-circle"></i></span>  </a>
    <% } %>
    </div>
                                 
                             
                                  
      
                                  
                                <%})%>
                              </div>
                              </div>
    
                          </div>
    
                          <% } %>
                        <div class="form-group" >
                          <label class="mb-2" for="note"><span
                              class="badge badge-accent font-size-xs mr-2">Notunuz</span><span class="font-size-sm"></span>
                              
                          
  
                             
                            </label>
                          <textarea v-model="note"
                            :placeholder="(selectedUnit && selectedUnit.notePlaceholder) || (product && product.notePlaceholder) || 'bizlere iletmek istediğiniz notunuz varsa burayı kullanabilirsiniz.'"
                            class="form-control font-size-sm" rows="3" name="note" id="note">

                                                            <%=view.note%>
                                                        </textarea>
                        </div>
                        <% if (!view.butcher) {%>
                        <div class="text-center">
                          <button @click="selectArea()" type="button" class="btn btn-primary btn-block"><i
                              class="czi-cart font-size-lg mr-2"></i>Sepete Ekle</button>
                          <% if (__req.prefAddr) { %>
                          <p><small><%=__req.prefAddr.level1Text%>/<%=__req.prefAddr.level3Text%> için bu ürün
                              ulaşılabilir değil.<br> [<a href="#" @click="selectArea()">Değiştir</a>]</small> </p>
                          <%}%>
                      </div>
                      <%} %>

                          <% if (view.butcher && __req.prefAddr) { %>
                          <button class="btn btn-primary btn-block" type="submit"><i
                              class="czi-cart font-size-lg mr-2"></i>Sepete Ekle</button>
                          <% } %>
                        </div>
                      </div>
                    </div>



                  </div>


                </form>
                <!-- Product panels-->

                <!-- Sharing-->
                <!-- <h6 class="d-inline-block align-middle font-size-base my-2 mr-2">Payaşın:</h6><a
                                class="share-btn sb-twitter mr-2 my-2" href="#"><i class="czi-twitter"></i></a><a
                                class="share-btn sb-instagram mr-2 my-2" href="#"><i
                                    class="czi-instagram"></i></a><a class="share-btn sb-facebook my-2"
                                href="#"><i class="czi-facebook"></i></a> -->
              </div>
            </div>
          </div>
        </div>
        <div id="tabpc"></div>
        <ul class="nav nav-tabs" id="optionsTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
              aria-selected="true">Bilgi</a>
          </li>
          <!-- <li class="nav-item">
                      <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Yorumlar</a>
                    </li> -->


          <% if (false) {%>
            <li class="nav-item">
              <a class="nav-link" id="foods-tab" data-toggle="tab" href="#foods" role="tab" aria-controls="contact"
                aria-selected="false">Tarifler</a>
            </li>
          <%}%>

          <% if (otherButcherAlternatives > 0) { %>
          <li class="nav-item">
            <a class="nav-link" id="vendors-tab" data-toggle="tab" href="#vendors" role="tab" aria-controls="contact"
              aria-selected="false">Kasaplar</a>
          </li>  
         <% } %>        
        </ul>
        <div class="tab-content px-4" id="myTabContent">
          <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <%- controller.markdown.render(product.mddesc || '') %>
            <% if (videoTarifs.length) {%>
          <div id="tarifVideos" class="d-flex flex-wrap justify-content-between align-items-center pt-1 border-bottom pb-1 mb-2">
                    <h3 class="h5 mb-0 mr-2">Et Yemek Tarifleri</h3>
                    <!-- <a class="btn btn-sm btn-light" href="/et-yemek-tarifleri"><i class="czi-arrow-right ml-1 mr-n1"></i></a> -->
                </div>    
      

            <span  class="btn btn-sm btn-primary mr-2"><i class=" czi-thumb-up mr-2">
            
            </i>Eti Bizden</span>seçeneği ile etinizi istediğiniz yemeğe uygun olarak hazırlıyoruz.</p>
           


              
                <div class="row mb-3 __xxx__">
                  <% tarifsAndFoods.forEach((resource,i) => {%>
                    <% if (resource.contentType == "video-youtube") { %>
                  <div class="col-md-4 col-sm-6">
                      <%- include('./_partial/product-resource-view.ejs', {first: false, note: resource.note, resource: resource}) %>
                   
                                             
                  </div>
                  <% } %>
                  <%})%>
                </div>
              <%}%>

              <% if (otherVideos.length) {%>
                <div class="d-flex flex-wrap justify-content-between align-items-center pt-1 border-bottom pb-1 mb-2">
                          <h3 class="h4 mb-0 mr-2">Diğer kaynaklar</h3>
                          
                      </div>    
            
      
                
      
      
                    
                      <div class="row">
                        <% otherVideos.forEach((resource,i) => {%>
                        
                        <div class="col-md-4 col">


                          <%- include('./_partial/product-resource-view.ejs', {first: false, note: false, resource: resource}) %>

                                               
                        </div>
                        <%})%>
                      </div>
                    <%}%>

          </div>
          <!-- <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">...</div> -->
          <% if (otherButcherAlternatives > 0) { %>
          <div class="tab-pane fade" id="vendors" role="tabpanel" aria-labelledby="vendors-tab">

            <div class="row">
              <div class="col-md-6">
                <% if (butchers.serving.length > 0) {%>
                  <div class="d-flex flex-wrap justify-content-between align-items-center pt-1 border-bottom pb-1">
                    <h3 class="h4 mb-0 mr-2">Semt kasapları</h3>
                </div>    

               

                 
                    <% butchers.serving.forEach(b=> { %>
                   
                      <div class="bg-secondary border-bottom p-3">
                        <a class="media align-items-center" href="<%=`/${product.slug}/${b.slug}`%>"><img
                            class="rounded-circle header-img"  src="/<%=b.slug%>/fotograf/thumbnail" alt="<%=b.name%>">
                          <div class="media-body pl-2"><span class="font-size-ms text-muted"></span>
                            <h5 class="h6 mb-0 mr-2"><%= b.name %></h5>
                          </div>
                        </a></div>


                  
                    <%})%>
                 
              

                <%}%>
                            </div>
                            <div class="col-md-6">
                                    <% if (butchers.others.length > 0) {%>
                <div class="card">
                  <div class="card-header bg-dark text-white">
                    Gel-Al ile satın alabileceğiniz kasaplarımız.
                  </div>
                  <ul class="list-group list-group-flush">
                    <% butchers.others.forEach(b=> { %>
                    <li class="list-group-item p-0">
                      <div class="bg-secondary p-3">
                        <a class="media align-items-center" href="<%=`/${product.slug}/${b.slug}`%>"><img
                            class="rounded-circle header-img"  src="/<%=b.slug%>/fotograf/thumbnail" alt="<%=b.name%>">
                          <div class="media-body pl-2"><span class="font-size-ms text-muted"></span>
                            <h5 class="h6 mb-0 mr-2"><%= b.name %></h5>
                          </div>
                        </a></div>
                    </li>
                    <%})%>
                  </ul>
                </div>
                <%}%>
                            </div>
                        </div>
                           
            

                    </div>
          <%}%>

                    <% if (false) {%>
                      <div class="tab-pane fade cz-gallery" id="foods" role="tabpanel" aria-labelledby="food-tab">
                        <div class="row">
                          <% videos.forEach((resource,i) => {%>
                          
                          <div class="col-md-4 col-6">
                            <div class="card product-card card-static item-card">
                              <a data-resid="<%=resource.id%>" class="gallery-item video-item "
                                data-sub-html='<h6 class="font-size-normal text-light"><%=resource.title%></h6>'
                                href="<%= `https://www.youtube.com/watch?v=${resource.contentUrl}?autoplay=1` %>">
                                <img class="rounded-top"
                                  src="<%= `https://img.youtube.com/vi/${resource.contentUrl}/maxresdefault.jpg` %>"
                                  alt="<%=product.name%>" /><span class="gallery-item-caption"><%=resource.title%></span></a>
                              <% if (resource.badge) {%>
                                  <span class="badge badge-primary badge-shadow product-img-badge"><%= resource.badge%></span>
                                <% } %>
                                  <% if (resource.tag1 && resource.tag1.includes('tarif')) {%>
                                  <div class="text-center">
                                   
                                    <button type="button" @click='addToNote({note: "<%= resource.note %>"})'
                                      class="btn btn-block btn-primary btn-sm rounded-0"><i class=" czi-add-circle mr-2">
                                      </i><%= resource.tag3 || 'Eti Bizden' %></button>
                                  </div>
                              <% } %>
                              <% if (resource.tag1 == 'bilgi') {%>
                                <div class="text-center">
                                  <button type="button" onclick=''
                                    class="btn btn-block btn-primary btn-sm rounded-0 "><i class=" czi-info mr-2">
                                    </i><%= resource.badge %></button>
                                </div>
                            <% } %>
                            </div>                            
                          </div>
                          <%})%>
                        </div>
                      <%}%>

                           


                  </div>            
    </div>


    </div>
    <div  class="toast-container toast-top-center">
            <div id="shopcard-added-toast" class="toast mb-3" id="accent-toast" data-delay="10000" role="alert" aria-live="assertive" aria-atomic="true">
              <div class="toast-header bg-accent text-white"><i
                class="czi-cart  mr-2"></i>
                <h6 class="font-size-sm text-white mb-0 mr-auto">Başarılı</h6>
                <button class="close text-white ml-2 mb-1" type="button" data-dismiss="toast" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              </div>
              <div class="toast-body text-accent text-center">
                  <p>
                        Alışveriş sepetine eklendi.
                  </p>
                  <div>
                    <div class="d-flex d-flex justify-content-around">

                      <a href="/alisveris-sepetim"  class="btn btn-sm btn-accent">Sepete Git </a>
                      <a href="/lezzetler"  class="btn btn-sm btn-primary">Alışverişe Devam<i class="czi-arrow-right"></i></a>
                      

                    </div>
                  </div>
                  <div>

                  </div>
            
            </div>
            </div>
    </div>







    <% include ./_partial/footer %>
                <% include ./_partial/scripts %>

                <script>
                  window.App.ProductApp.product = <%- JSON.stringify(view) %>;
                  window.App.WeightCalculatorApp.product = window.App.ProductApp.product;

                  function showOtherButchers() {
                    window.App.scrollToAnchor("#tabpc");
                    window.App.activaTab("vendors");
                    
                  }

                  function openSlider(i) {
                    var node = $('a[data-resid=' + i + ']')[0];
                    window.lgData.lg0.items.forEach(function (item, i) {
                   if (item == node) {
                     window.location.hash = "lg=1&slide=" + i;
                     window.lgData.lg0.init()
                    }
                   })
                  }
                  
                <% if (__req.query.r) { %>
                  
                  $(document).ready(function() {
                  
                    <% if (!__req.query.autoNote) { %>                    
                       openSlider(<%=__req.query.r%>);    
                      
                      
                    setTimeout(() => {                
                      $(document.body).removeClass("d-none")
                    }, 100);
                    <% } else { 
                    var r = product.resources.find(p=>p.id == parseInt(__req.query.r))
                    var defaultImg = product.resources.find(p=>p.contentType == 'image/jpeg');
                    if (defaultImg && r && (r != defaultImg)) {
                      r.thumbnailUrl = defaultImg.thumbnailUrl;
                      r.contentUrl = defaultImg.contentUrl;
                    } 
                    %>
                    <% if (!__req.query.disableSlider) { %>
                      // openSlider(<%=__req.query.r%>);    
                      //openSlider($('a[data-resid').first().data('resid'));    

                     <% } %>  
                    
                    setTimeout(() => {                
                      $(document.body).removeClass("d-none");
                      <%- include('./_partial/addtonote.ejs', {resource: r, options: {
                        hideProduct: __req.query.hideproduct
                      } }) %>
                    }, 100);

                   
                  
                  <% } %>

                  })




             
                <%} else { %>
                  $(document.body).removeClass("d-none")
                <%}%>


                </script>

 

</body>

</html>