<!DOCTYPE html>
<html lang="tr-TR" prefix="og: http://ogp.me/ns#">

<head>
  <% include ./_partial/head %>
</head>

<body>
  <% include ./_partial/header %>


  <div class="bg-primary py-4">
    <div class="container d-lg-flex justify-content-between py-2 py-lg-3">
      <div class="order-lg-2 mb-3 mb-lg-0 pt-lg-2">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb breadcrumb-light flex-lg-nowrap justify-content-center justify-content-lg-star">
            <li class="breadcrumb-item"><a class="text-nowrap" href="/"><i class="czi-home"></i></a></li>
            <li class="breadcrumb-item text-nowrap active" aria-current="page">Ürünler</li>
          </ol>
        </nav>
      </div>
      <div class="order-lg-1 pr-lg-4 text-center text-lg-left">
        <h1 class="h3 text-light">Ürünler</h1>
        <h2 class=" text-light h4 lead">Doğal, taze ve lezzetli kasap ürünleri</h2>
      </div>
    </div>
  </div>
  <% if (!__req.prefAddr ) { %>





    <div class="alert alert-secondary rounded-0 mb-0 border-0" role="alert">

      <button type="button" class="close u-alert-close--light" data-dismiss="alert" aria-label="Close">
        <span class="bg-color-white" aria-hidden="true">×</span>
        </button>
        <section class="container  pt-3">
                
          <h2 class="h5 text-center mb-grid-gutter">Hızlı ve Kolay Sipariş</h2>
       
              
          <div class="row no-gutters  ">
              <div class="col-xl-4 col-lg-12 col-md-4  ">
                  <div class="py-3">
                    <div class="d-flex align-items-center mx-auto py-3 px-3" style="max-width: 362px;">
                      <div class="display-2 font-weight-normal border-color mr-4">1</div>
                      <div class="pl-2">
                          <h4 class="h6">Semtinizi Seçin
                              </h4>
                      </div>
                    </div>
                    <hr class="d-md-none d-lg-block d-xl-none">
                  </div>
                </div>   
      
            <div class="col-xl-4 col-lg-12 col-md-4  ">
              <div class="py-3">
                <div class="d-flex align-items-center mx-auto py-3 px-3" style="max-width: 362px;">
                  <div class="display-2 font-weight-normal border-color mr-4">2</div>
                  <div class="pl-2">
                      <h4 class="h6">Ürünlerinizi Belirleyin</h4>
                  </div>
                </div>
                <hr class="d-md-none d-lg-block d-xl-none">
              </div>
            </div>
            
            <div class="col-xl-4 col-lg-12 col-md-4">
              <div class="py-3">
                <div class="d-flex align-items-center mx-auto py-3 px-3" style="max-width: 362px;">
                  <div class="display-2 font-weight-normal border-color mr-4">3</div>
                  <div class="pl-2">
                      <h4 class="h6">Kasabınızı Seçin</h4>
                  </div>
                </div>
              </div>
            </div>
            
          </div>
      
      
      
        </section>
    
    
      
      <hr class="mb-3 mt-3">
      <div class="text-center ">
        <a  class="select-area-action alert-link btn btn-primary">Semt Seç</a>
      </div>
      
    </div>


    <% }  %>


  <div class="container px-0">
    <div class="  px-3 pt-2 pb-3 mb-3 ">
    

     


       
          <div  class="input-group-overlay mb-3">

            <div class="input-group-prepend-overlay">

              <span class="input-group-text">
                <i class="notsearching czi-search"></i>
                <span class="searching d-none spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
              </span>
            </div>
            <input data-search="product" id="page-searchbox" class="form-control searchBox prepended-form-control"
              data-noresults-text="Maalesef bulamadık." autocomplete="off" type="text"
              placeholder="ürünler içerisinde arayın">
            <div>

            </div>
          </div>
        
      
     
    







        <% var viewCats = ['reyon', 'list'] %>
        <div class="row justify-content-center">
        <% viewCats.forEach(cat => { %>
       
          <% var reyonlar = __categories.filter(p=>p.type.includes(cat) && p.status == 'active') %>

          <% for(var c=0; c< reyonlar.length; c++) {%>
          <div class="col-md-3 col-6">

            <div class="card product-card  ">
              <a class="card-img-top d-block overflow-hidden" href="<%= `/${reyonlar[c].slug}`%>">
                <img class="rounded" src="<%=`${__req.helper.imgUrl('category-photos', reyonlar[c].slug, 'thumbnail', true, 'list')}`%>"
                  alt="<%= reyonlar[c].name %>"></a>
              <div class="card-body text-center">
                <h3 class="product-title font-size-md"><a
                    href="<%= `/${reyonlar[c].slug}`%>"><%= reyonlar[c].listTitle || reyonlar[c].name %></a>
                </h3>
              </div>
            </div>

          </div>
          <%}%>
       
              <%})%>
            </div>


            <% if (__req.query.nodesc!='1') { %>
              <div class="container mb-3">
                  <div class="collapse-container page-footer-text">
                      <div class="collapse" id="collapseSummary">
                          <h2>Usta <strong>Kasaplar</strong>, <strong>Doğal</strong> Ürünler, <strong>Online</strong> Alışveriş</h2>
                      
                          <p>KasaptanAl.com olarak öncelikli hedefimiz; usta kasaplar tarafından hazırlanan doğal, katkısız ve taze et ürünlerini müşterilerimizle buluşturmak.

                       
                            Bu amacımıza ulaşabilmek için iş ortaklarımız, <strong>kasaplık mesleğini uzun yıllardır yapan</strong>, çoğunlukla bir aile geleneği olarak bu mesleği sürdüren <strong>köklü, bilinir kasaplar</strong>. 
                       
                          </p>
                          <h3>
                            Online Kasap Alışverişi &amp; Kasap Kart &trade;
                          </h3>
                          <p>
                            KasaptanAl.com Türkiye'nin ilk ve tek online kasap platformudur. Sitemizin tamamını bu amaca uygun olarak geliştirdik. 
                          </p>
                          <p>
                            En iyi eti en uygun fiyata alabilmeniz yanında, KasaptanAl.com ile hızlı, kârlı ve <strong>online et siparişi</strong> deneyimi yaşayabilmenizi de istedik.
                          </p>

                          <p>
                            Sitemizden yapacağınız tüm alışverişlerde <strong>Kasap Kart &trade; ile puan kazanabilmektesiniz</strong>. Kazandığınız puanları biriktirerek sonraki alışverişlerinizden düşebilmektesiniz.
                          </p>
          
                          <h3>
                            Ürün Çeşitliliği
                          </h3>
                          <p>
                            Sitemizde 150'ye yakın et ve et ürünü bulunmakta. <strong>Kuzu Eti</strong> ve <strong>Dana Eti</strong> ana kategorilerine ilave olarak kasaplarımızın hazırladıkları pratik et ürünleri, şarkuteri &amp; mandıra ile sakatat ürünlerini de online sipariş verebilirsiniz. 
                            Örneğin KasaptanAl.com ile <strong>dry aged</strong> veya <strong>wet aged</strong> online et siparişi verebilirsiniz. Benzer şekilde usta kasaplarımızın hazırladığı hazır pişrmelik kuzu tandırdan <strong>soslu antrikot</strong> ürününe kadar pek çok ürünü sitemizde bulabilirsiniz.
                          </p>
                          <p>
                            Müşterilerimizden gelen talep doğrultusunda ayrıca <strong>adaklık kuzu</strong> ve <strong>kurban</strong> ibadetleri için de yakın zamanda güvenilir çözümler sunmaya başladık.
                          </p>
                          <h3>Sağlıklı &amp; Lezzetli Et ve Et Ürünleri</h3>
                          <p>
                            Bütün bu çalışmalarımızla nihai amacımız doğal, katkısız ve lezzetli et ürünlerini yerel kasaplardan sizlere ulaştırmak.
                          </p>
                      </div>
                      <a class="collapsed text-dark" data-toggle="collapse" href="#collapseSummary" aria-expanded="false"
                          aria-controls="collapseSummary"></a>
                  </div>
              </div>
              <% } %>
       
      </div>
    </div>




    <% include ./_partial/footer %>
    <% include ./_partial/scripts %>


</body>

</html>