<!DOCTYPE html>
<html lang="tr-TR" prefix="og: http://ogp.me/ns#">

<head>
  <% include ./_partial/head %>
</head>

<body>
  <% include ./_partial/header %>


  <div class="page-title-overlap bg-primary pt-4">
    <div class="container d-lg-flex justify-content-between py-2 py-lg-3">
      <div class="order-lg-2 mb-3 mb-lg-0 pt-lg-2">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb breadcrumb-light flex-lg-nowrap justify-content-center justify-content-lg-star">
            <li class="breadcrumb-item"><a class="text-nowrap" href="/"><i class="czi-home"></i></a></li>
            <li class="breadcrumb-item text-nowrap active" aria-current="page">Ürünler</li>
          </ol>
        </nav>
      </div>
      <div class="order-lg-1 pr-lg-4 text-center text-lg-left">
        <h1 class="h3 text-light">Ürünlerimiz</h1>
        <h2 class=" text-light h4 lead">Online sipariş verebileceğiniz doğal kasap ürünlerimiz</h2>
      </div>
    </div>
  </div>
  <% if (!__req.prefAddr ) { %>





    <div class="alert alert-secondary rounded-0 mb-0 border-0" role="alert">

      <button type="button" class="close u-alert-close--light" data-dismiss="alert" aria-label="Close">
        <span class="bg-color-white" aria-hidden="true">×</span>
        </button>
        <section class="container  pt-3">
                
          <h2 class="h5 text-center mb-grid-gutter">Online Sipariş Süreci</h2>
       
              
          <div class="row no-gutters  ">
              <div class="col-xl-4 col-lg-12 col-md-4  ">
                  <div class="py-3">
                    <div class="d-flex align-items-center mx-auto py-3 px-3" style="max-width: 362px;">
                      <div class="display-2 font-weight-normal border-color mr-4">1</div>
                      <div class="pl-2">
                          <h4 class="h6">Semtinizi Seçin
                              </h4>
                        <p class="font-size-sm mb-3 pt-1">İl, ilçe ve semt seçimi yaparak teslimat adresinizi belirtin.</p>
                      </div>
                    </div>
                    <hr class="d-md-none d-lg-block d-xl-none">
                  </div>
                </div>   
      
            <div class="col-xl-4 col-lg-12 col-md-4  ">
              <div class="py-3">
                <div class="d-flex align-items-center mx-auto py-3 px-3" style="max-width: 362px;">
                  <div class="display-2 font-weight-normal border-color mr-4">2</div>
                  <div class="pl-2">
                      <h4 class="h6">Ürünü Belirleyin</h4>
                    <p class="font-size-sm mb-3 pt-1">%100 doğal, %100 sağlıklı ürünleri keşfedin.</p>
                  </div>
                </div>
                <hr class="d-md-none d-lg-block d-xl-none">
              </div>
            </div>
            
            <div class="col-xl-4 col-lg-12 col-md-4">
              <div class="py-3">
                <div class="d-flex align-items-center mx-auto py-3 px-3" style="max-width: 362px;">
                  <div class="display-2 font-weight-normal border-color mr-4">3</div>
                  <div class="pl-2">
                      <h4 class="h6">Kasabınızı Seçin</h4>
                    <p class="font-size-sm mb-3 pt-1">Semtinize hizmet veren kasapları ve fiyatlarını görün.</p>
                  </div>
                </div>
              </div>
            </div>
            
          </div>
      
      
      
        </section>
    
    
      
      <hr class="mb-3 mt-3">
      <div class="text-center ">
        <a  class="select-area-action alert-link btn btn-sm btn-primary" href="#">Semt Seç</a>
      </div>
      
    </div>


    <% }  %>


  <div class="container px-0">
    <div class="bg-light box-shadow-lg  px-3 pt-2 pb-3 mb-3 ">
      <div class="">

        <div>

          <!-- <h3 class="h4">Size nasıl yardımcı olalım?</h3> -->

        <!-- <label>İstediğiniz ürünü bulmaya çalışabiliriz.</label> -->

        <div class="">
          <div  class="input-group-overlay mb-3">

            <div class="input-group-prepend-overlay">

              <span class="input-group-text">
                <i class="notsearching czi-search"></i>
                <span class="searching d-none spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
              </span>
            </div>
            <input data-search="product" id="page-searchbox" class="form-control searchBox prepended-form-control"
              data-noresults-text="Maalesef bulamadık." autocomplete="off" type="text"
              placeholder="ürünler içerisinde arayın">
            <div>

            </div>
          </div>
          <!-- <div class="mb-3 font-size-lg">
            <a class="search-sample badge badge-secondary mr-1" href="#search">kuzu kıyma</a>
            <a class="search-sample badge badge-secondary mr-1" href="#search">dana kıyma</a>
            <a class="search-sample badge badge-secondary mr-1" href="#search">bonfile</a>
            <a class="search-sample badge badge-secondary mr-1" href="#search">yumurta</a>
            <a class="search-sample badge badge-secondary mr-1" href="#search">tavuk</a>
            <a class="search-sample badge badge-secondary mr-1" href="#search">köfte</a>
            <a class="search-sample badge badge-secondary mr-1" href="#search">mangallık</a>
            <a class="search-sample badge badge-secondary mr-1" href="#search">tandır</a>
            <a class="search-sample badge badge-secondary mr-1" href="#search">antrikot</a>
            <a class="search-sample badge badge-secondary mr-1" href="#search">yemeklik kuşbaşı</a>
            <a class="search-sample badge badge-secondary mr-1" href="#search">sucuk</a>
            <a class="search-sample badge badge-secondary mr-1" href="#search">sakatat</a>
            <a class="search-sample badge badge-secondary mr-1" href="#search">arnavut ciğeri</a>
            <a class="search-sample badge badge-secondary mr-1" href="#search">pirzola</a>
            <a class="search-sample badge badge-secondary mr-1" href="#search">fırınlık et</a>
  
          </div> -->
<!-- <div class="text-center">
  <button id="listen" onclick="startRecording()" class="d-none btn-sm btn btn-primary">
    <i class="czi-message mr-1"></i>
    <span id="listen-text">Sizi Dinleyebilirim</span>
  </button>
</div> -->
      
        </div>
        </div>




        <!-- <h4 class="h6">Ürün kategorilerimize göz atabilirsiniz. </h3> -->



        <% var viewCats = ['reyon', 'list'] %>
        <div class="row justify-content-center">
        <% viewCats.forEach(cat => { %>
       
          <% var reyonlar = __categories.filter(p=>p.type.includes(cat) && p.status == 'active') %>

          <% for(var c=0; c< reyonlar.length; c++) {%>
          <div class="col-md-3 col-6">

            <div class="card product-card card-static item-card">
              <a class="card-img-top d-block overflow-hidden" href="<%= `/${reyonlar[c].slug}`%>">
                <img class="rounded" src="<%=`${__req.helper.imgUrl('category-photos', reyonlar[c].slug)}`%>"
                  alt="<%= reyonlar[c].name %>"></a>
              <div class="card-body pl-0 text-center">
                <h3 class="product-title font-size-md"><a
                    href="<%= `/${reyonlar[c].slug}`%>"><%= reyonlar[c].name %></a>
                </h3>
              </div>
            </div>

          </div>
          <%}%>
       
              <%})%>
            </div>



        </div>
      </div>
    </div>




    <% include ./_partial/footer %>
    <% include ./_partial/scripts %>

    <script>
      $('.search-sample').click(function (el) {
        var search = el.currentTarget.textContent;
        $('#page-searchbox').autoComplete('set', { value: search, text: search });
        $('#page-searchbox').trigger('keyup');
        setTimeout(function() {
          $('#page-searchbox').focus();

        }, 100 )
        el.stopImmediatePropagation()
      })


      if (('webkitSpeechRecognition' in window)) {
        var recognition = new webkitSpeechRecognition();
        recognition.lang = "tr-TR";
        $('#listen').removeClass('d-none');

        recognition.onstart = function () {
          $('#listen-text').text('Dinliyorum ...')
        };

        recognition.onend = function () {
          $('#listen-text').text('Sizi Dinleyebilirim')
        };

        recognition.onresult = function (event) {
          var saidText = "";
          for (var i = event.resultIndex; i < event.results.length; i++) {
            if (event.results[i].isFinal) {
              saidText = event.results[i][0].transcript;
            } else {
              saidText += event.results[i][0].transcript;
            }
          }
          $('#page-searchbox').autoComplete('set', { value: saidText, text: saidText });
          $('#page-searchbox').trigger('keyup');
          $('#page-searchbox').focus();

        }

        function startRecording() {
          try {
            recognition.start();

          } catch {
            recognition.abort();

          }
        }

      }




    </script>

</body>

</html>