<!DOCTYPE html>
<html lang="tr-TR" prefix="og: http://ogp.me/ns#">

<head>
  <% include ./_partial/head %>
</head>

<body>
  <% include ./_partial/header %>


  <div class="page-title-overlap bg-primary pt-4">
    <div class="container d-lg-flex justify-content-between py-2 py-lg-3">
      <div class="order-lg-2 mb-3 mb-lg-0 pt-lg-2">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb breadcrumb-light flex-lg-nowrap justify-content-center justify-content-lg-star">
            <li class="breadcrumb-item"><a class="text-nowrap" href="/"><i class="czi-home"></i></a></li>
            <li class="breadcrumb-item text-nowrap active" aria-current="page">Lezzetler</li>
          </ol>
        </nav>
      </div>
      <div class="order-lg-1 pr-lg-4 text-center text-lg-left">
        <h1 class="h3 text-light">Kasap Ürünleri</h1>
        <h2 class=" text-light h4 lead">Online sipariş verebileceğiniz doğal kasap ürünlerimiz.</h2>
      </div>
    </div>
  </div>

  <div class="container px-0">
    <div class="bg-light box-shadow-lg  px-4 py-4 mb-3 ">
      <div class="">


        <% var viewCats = ['reyon', 'list'] %>
        <% viewCats.forEach(cat => { %>
        <div class="row justify-content-center">
          <% var reyonlar = __categories.filter(p=>p.type.includes(cat) && p.status == 'active') %>

          <% for(var c=0; c< reyonlar.length; c++) {%>
          <div class="col-md-3 col-6">

            <div class="card product-card card-static item-card">
              <a class="card-img-top d-block overflow-hidden" href="<%= `/${reyonlar[c].slug}`%>">
                <img class="rounded" src="<%=`${__req.helper.imgUrl('category-photos', reyonlar[c].slug)}`%>"
                  alt="<%= reyonlar[c].name %>"></a>
              <div class="card-body pl-0 text-center">
                <h3 class="product-title font-size-md"><a
                    href="<%= `/${reyonlar[c].slug}`%>"><%= reyonlar[c].name %></a>
                </h3>
              </div>
            </div>

          </div>
          <%}%>
        </div>
              <%})%>



        </div>
      </div>
    </div>




    <% include ./_partial/footer %>
    <% include ./_partial/scripts %>

</body>

</html>