<!DOCTYPE html>
<html lang="tr-TR" prefix="og: http://ogp.me/ns#">

<head>
  <% include ./_partial/head %>
</head>

<body>
  <% include ./_partial/header %>


  <div class="page-title-overlap bg-primary pt-4">
    <div class="container d-lg-flex justify-content-between py-2 py-lg-3">
      <div class="order-lg-2 mb-3 mb-lg-0 pt-lg-2">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb breadcrumb-light flex-lg-nowrap justify-content-center justify-content-lg-star">
            <li class="breadcrumb-item"><a class="text-nowrap" href="/"><i class="czi-home"></i></a></li>
            <li class="breadcrumb-item text-nowrap active" aria-current="page">Ürünler</li>
          </ol>
        </nav>
      </div>
      <div class="order-lg-1 pr-lg-4 text-center text-lg-left">
        <h1 class="h3 text-light">Ürünlerimiz</h1>
        <h2 class=" text-light h4 lead">Online sipariş verebileceğiniz doğal kasap ürünlerimiz</h2>
      </div>
    </div>
  </div>

  <div class="container px-0">
    <div class="bg-light box-shadow-lg  px-3 pt-2 pb-3 mb-3 ">
      <div class="">

        <div class="p-3">

          <h3 class="h4">Size nasıl yardımcı olalım?</h3>

        <!-- <label>İstediğiniz ürünü bulmaya çalışabiliriz.</label> -->

        <div class="">
          <div  class="input-group-overlay mb-1">

            <div class="input-group-prepend-overlay">

              <span class="input-group-text">
                <i class="notsearching czi-search"></i>
                <span class="searching d-none spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
              </span>
            </div>
            <input id="page-searchbox" class="form-control searchBox prepended-form-control"
              data-noresults-text="Maalesef bulamadık." autocomplete="off" type="text"
              placeholder="örneğin haşlamalık et">
            <div>

            </div>
          </div>
          <div class="mb-3 font-size-lg">
            <a class="search-sample badge badge-secondary mr-1" href="#search">kuzu kıyma</a>
            <a class="search-sample badge badge-secondary mr-1" href="#search">dana kıyma</a>
            <a class="search-sample badge badge-secondary mr-1" href="#search">bonfile</a>
            <a class="search-sample badge badge-secondary mr-1" href="#search">köfte</a>
            <a class="search-sample badge badge-secondary mr-1" href="#search">mangallık</a>
            <a class="search-sample badge badge-secondary mr-1" href="#search">tandır</a>
            <a class="search-sample badge badge-secondary mr-1" href="#search">antrikot</a>
            <a class="search-sample badge badge-secondary mr-1" href="#search">yemeklik kuşbaşı</a>
            <a class="search-sample badge badge-secondary mr-1" href="#search">sucuk</a>
            <a class="search-sample badge badge-secondary mr-1" href="#search">sakatat</a>
            <a class="search-sample badge badge-secondary mr-1" href="#search">arnavut ciğeri</a>
            <a class="search-sample badge badge-secondary mr-1" href="#search">pirzola</a>
            <a class="search-sample badge badge-secondary mr-1" href="#search">fırınlık et</a>
  
          </div>
<div class="text-center">
  <button id="listen" onclick="startRecording()" class="d-none btn-sm btn btn-primary">
    <i class="czi-message mr-1"></i>
    <span id="listen-text">Sizi Dinleyebilirim</span>
  </button>
</div>
      
        </div>
        </div>




        <!-- <h4 class="h6">Ürün kategorilerimize göz atabilirsiniz. </h3> -->



        <% var viewCats = ['reyon', 'list'] %>
        <div class="row justify-content-center">
        <% viewCats.forEach(cat => { %>
       
          <% var reyonlar = __categories.filter(p=>p.type.includes(cat) && p.status == 'active') %>

          <% for(var c=0; c< reyonlar.length; c++) {%>
          <div class="col-md-3 col-6">

            <div class="card product-card card-static item-card">
              <a class="card-img-top d-block overflow-hidden" href="<%= `/${reyonlar[c].slug}`%>">
                <img class="rounded" src="<%=`${__req.helper.imgUrl('category-photos', reyonlar[c].slug)}`%>"
                  alt="<%= reyonlar[c].name %>"></a>
              <div class="card-body pl-0 text-center">
                <h3 class="product-title font-size-md"><a
                    href="<%= `/${reyonlar[c].slug}`%>"><%= reyonlar[c].name %></a>
                </h3>
              </div>
            </div>

          </div>
          <%}%>
       
              <%})%>
            </div>



        </div>
      </div>
    </div>




    <% include ./_partial/footer %>
    <% include ./_partial/scripts %>

    <script>
      $('.search-sample').click(function (el) {
        var search = el.currentTarget.textContent;
        $('#page-searchbox').autoComplete('set', { value: search, text: search });
        $('#page-searchbox').trigger('keyup');
        setTimeout(function() {
          $('#page-searchbox').focus();

        }, 100 )
        el.stopImmediatePropagation()
      })


      if (('webkitSpeechRecognition' in window)) {
        var recognition = new webkitSpeechRecognition();
        recognition.lang = "tr-TR";
        $('#listen').removeClass('d-none');

        recognition.onstart = function () {
          $('#listen-text').text('Dinliyorum ...')
        };

        recognition.onend = function () {
          $('#listen-text').text('Sizi Dinleyebilirim')
        };

        recognition.onresult = function (event) {
          var saidText = "";
          for (var i = event.resultIndex; i < event.results.length; i++) {
            if (event.results[i].isFinal) {
              saidText = event.results[i][0].transcript;
            } else {
              saidText += event.results[i][0].transcript;
            }
          }
          $('#page-searchbox').autoComplete('set', { value: saidText, text: saidText });
          $('#page-searchbox').trigger('keyup');
          $('#page-searchbox').focus();

        }

        function startRecording() {
          try {
            recognition.start();

          } catch {
            recognition.abort();

          }
        }

      }




    </script>

</body>

</html>