<!DOCTYPE html>
<html lang="tr-TR" prefix="og: http://ogp.me/ns#">

<head>
    <% include ./_partial/head %>
</head>

<body>
    <% include ./_partial/header %>


        <div class="page-title app-d-none">
            <div class="container d-lg-flex justify-content-between py-2 py-lg-3">
                <div class="order-lg-2 mb-3 mb-lg-0 pt-lg-2">
                    <nav aria-label="breadcrumb" class="d-none d-lg-block">
                        <ol
                            class="breadcrumb breadcrumb-dark flex-lg-nowrap justify-content-center justify-content-lg-star">
                            <li class="breadcrumb-item"><a class="text-nowrap" href="/"><i class="czi-home"></i></a>
                            </li>
                            <li class="breadcrumb-item text-nowrap">Ara
                            </li>
                        </ol>
                    </nav>
                </div>
                <div class="order-lg-1 pr-lg-4 text-center text-lg-left">
                    <h1 class="h3 ">
                    </h1>
                    <h2 class=" h4 lead">
                    </h2>
                </div>
            </div>
        </div>

        <div class="container mb-3">
            <ul class="list-group">
                
            <% for (let i=0; i < results.length; i++) { %>
                <% var r=results[i] %>
                <li class="list-group-item p-2">
                <a href="<%=r.url%>" class="app_blank">
                    <div class="d-flex align-items-center justify-content-between">
                        <div class="flex-grow-1 truncate">
                            <% if (r.thumb) { %>
                            <img
                                src="<%=r.thumb%>" class="mr-2"
                                style="height: 4rem; width: 4rem;">
                                <% } %>
                                <span><%=r.name%></span></div>
                        <div><span class="text-muted font-size-sm"> <%=r.type%></span></div>
                    </div>
                </a>
            </li>
           
                

                    

                        

                           

                                


                                    <% } %>
                                </ul>
        </div>


        <% include ./_partial/footer %>

            <% include ./_partial/scripts %>

                <%- include('./_partial/purchase', { }); %>


</body>



</html>