<!DOCTYPE html>
<html lang="tr-TR" prefix="og: http://ogp.me/ns#">

<head>
  <% include ./_partial/head %>
  <meta name="robots" content="noindex,follow">

</head>

<body>
  <% include ./_partial/header %>




  <div class="page-title">
    <div class="container d-lg-flex justify-content-between py-2 py-lg-3">
      <div class="order-lg-2 mb-3 mb-lg-0 pt-lg-2">
        <nav aria-label="breadcrumb" class="d-none d-lg-block">
          <ol class="breadcrumb breadcrumb-dark flex-lg-nowrap justify-content-center justify-content-lg-star">
            <li class="breadcrumb-item"><a class="text-nowrap" href="/"><i class="czi-home"></i></a></li>
                   </ol>
        </nav>
      </div>
      <div class="order-lg-1 pr-lg-4 text-center text-lg-left">
        <h1 class="h3">Sepetim</h1>
        <h2 class=" h4 lead">Kârlı Alışveriş, Kaliteli Et</h2>
      </div>
    </div>
  </div>

  <%
  
  var showShopBtn = true;
  
  %>
  <form method="POST" onsubmit="return ensureLocation('/alisveris-sepetim/savecard')" novalidate
    class="needs-validation" action="/alisveris-sepetim/savecard">
    <div class="container mb-3 ">


      <div class="row">

        <section class="col-lg-8">
          <% if (shopcard.items.length && false) { %>

          <div class="bg-secondary mb-3 p-3 border">
            <p class="mb-0">
              <i class="font-weight-bold czi-icon czi-announcement mr-1"></i>
              <strong>
                Güvenle devam edin,
              </strong>
               teslimat gün ve saatini birazdan belirleyebilirsiniz.
            </p>
          </div>
    
         
    
          <% } %>
          <div>
    
    

    
    
            <% var partners = controller.Butchers.filter(p=>p.enablePuan) %>
          
            <% if (controller.mayEarnPuanTotal + controller.usablePuanTotal > 0.00) { %>
              <h5 class="h5">
                Kazançlar
              </h5>
            <% } %>
            <% if (controller.possiblePuanList.length > 0) { %>
            <div class="mb-3">
    
              <h6 class="h6 font-weight-bold"><i class="czi-check-circle  mr-2"></i>Kasap Kart&trade; Puan Kazancı</h6>


                <% controller.possiblePuanList.forEach(pg => { %>
                <ul>
                  <li>
    
                    <strong  class="font-weight-bold <%=pg.earned <= 0.00 ? 'text-danger':'text-success'%>"><%- include('./_partial/currency.ejs', {value: pg.earned}) %></strong>, 
                    <span class="text-dark"><i><%= pg.title%></i> </span> 
                    <% if (pg.earned <= 0.00) {%>
                    <% showShopBtn = true%>
                    <% if (pg.earned <= 0.00) { %>
                    <div>  
                        <% 
                        var butcherTotal = shopcard.getButcherTotalWithoutShipping(parseInt(pg.id));
                        var puanButcher = shopcard.butchers[pg.id];
                        var more = __helper.asCurrency(pg.based.minSales - butcherTotal)
                        %>             
                        
                        <%= pg.platforms %>
                        
                        <% if (controller.platform == 'web' && pg.based.platforms == 'app') { %>
                          <a target="_blank" class="font-weight-bold" href="http://kasaptanal.app.link">KasaptanAl Uygulaması</a>
                          üzerinden sipariş verin, 
                      <%- include('./_partial/puan-data-view.ejs', {puan: pg.based, hideMinPuanForUsage: true, hideMinSales: true}) %></strong>   
                          
                        <% } else { %>
                        <div class="mb-3">
                          Bu kasabımızdan <strong><%- include('./_partial/currency.ejs', {value: more}) %> daha </strong> alışveriş yapın,  <strong>                  
                            <%- include('./_partial/puan-data-view.ejs', {puan: pg.based, hideMinPuanForUsage: true, hideMinSales: true}) %></strong>   
                              
                        </div>
        

                 
                          <a class="d-block" href="/kasap-urunleri">
                            <i class="czi-arrow-right-circle mr-1"></i>
                            Ürünlere Gözatın</a>
                          <% } %>            
                      
                    
    
    
                    </div>
               
                    <%}%>       
    
                    <% } %>
                  </li>
                </ul>
    
    
                <% }) %>
                <% if (false && controller.possiblePuanList.length > 1 && controller.mayEarnPuanTotal > 0.00) { %>
                <span class="text-dark d-block">
                  Toplam
                  <strong class="text-success"><%- include('./_partial/currency.ejs', {value: controller.mayEarnPuanTotal}) %></strong>
                  değerinde yeni puanı hesabınıza yüklüyoruz.
                </span>
                <% } else if (!__req.user) { %>
               
                <% } %>
             
            </div>
            <%}%>

            <% if (controller.usablePuanTotal > 0.00) { %>
              <div class="mb-3">
                <h6 class="h6 font-weight-bold"><i class="czi-check-circle mr-2"></i>Kullanılabilir Puanlarınız</h6>

<ul>
  <li>
    <strong class="text-dark"><%- include('./_partial/currency.ejs', {value: controller.usablePuanTotal}) %></strong> puanınız bu siparişinizde kullanılabilir.
  </li>
</ul>
                <span class="text-muted font-size-sm d-block">
                 
                  Not: Online ödeme aşamasında kullanılabilir puanlarınızı ödemenizden düşebilirsiniz. 
                </span>
              </div>
              <% } else if (!req.user) { %>
                   <div class="mb-3">
                <h6 class="h6 font-weight-bold"><i class="czi-check-circle mr-2"></i>Kullanılabilir Puanlarınız</h6>


                    <p>
                      Bu siparişinizde kullanabileceğiniz puanları görüntülemek için <a href="javascript:App.showLoginDlg('/alisveris-sepetim')">giriş yapın</a>.

                    </p>
                    
                  </div>
              <% } %>
           

 
    
        
       
         <% if (!shopcard.items.length) { %>
          <p>
            Sepetiniz henüz dolu değil. Muhteşem KasaptanAl.com ürünleriyle doldurmaya şimdi başlayın.
          </p>
      
            <% } else { %>
              <h5 class="h5 mb-0">
                Ürünler
              </h5>
            <%- include('./_partial/shopcardlist.ejs', {
          shopcard: shopcard,
          enableRemove: true
        }) %>

        <% } %>
          </div>

          <div class="text-center">
            <% if (shopcard.items.length) { %>
            <% if (showShopBtn) { %>
              <div class="text-center mb-3">
                <p class="font-size-md">
                  Alacaklarınız mı var?
                </p>
                <a class="btn btn-sm btn-dark" href="/kasap-urunleri">Alışverişe Devam</a>

              </div>
            <% } %>
    
    
       
            <%} else { %>
    
            <%}%>
          </div>



        </section>
    
        <aside class="col-lg-4">

          <% if (shopcard.items.length > 0) { %>
          <div class="ml-lg-auto">
      
            
              <div class="accordion mb-4" id="order-options">
      
                  <div class="card">
                      <div class="card-header ">
                          <h3 class="accordion-heading"><a class="" href="#order-discounts" role="button"
                                  data-toggle="collapse" aria-expanded="true" aria-controls="order-discounts">Toplamlar<span
                                      class="accordion-indicator"></span></a></h3>
                      </div>
                    
                      <div class="collapse show" id="order-discounts" data-parent="#order-options">
                        <div class="card-body">
                            <div class="text-center">
                               <p class="mb-1">
                                Ürünler
                               </p>
                               <p class="font-weight-bold">
                                <%- include('./_partial/currency.ejs', {value: shopcard.subTotal}) %>

                               </p>
                                <% if (shopcard.discountTotal != 0) { %>
                                <br>
                                <span class="text-muted">
                                    <del><%- include('./_partial/currency.ejs', {value: shopcard.subTotal}) %> </del>
        
                                </span>
                                <% } %>
                            </div>
                            <% if (controller.mayEarnPuanTotal > 0.00) { %>
                            <div class="text-center">
                                <p class="mb-1">
                                  Puan Kazancı
                                </p>
                                <p class="font-weight-bold text-success">
                                    <%- include('./_partial/currency.ejs', {value: controller.mayEarnPuanTotal}) %>
        
                                </p>
                            </div>
                            <% } %>

                            <% if (controller.usablePuanTotal > 0.00) { %>
                              <div class="text-center">
                                <p class="mb-1">
                                    Kullanılabilir Puan
                                </p>
                                <p class="font-weight-bold text-success">
                                    <%- include('./_partial/currency.ejs', {value: controller.usablePuanTotal}) %>
        
                                </p>
                            </div>
                            <% }%>

                            <% if (controller.mayEarnPuanTotal > 0.00 && controller.usablePuanTotal > 0.00) { %>
                              <div class="text-center">
                                  <h6 class="h6 font-weight-bold mb-2">
                                     Toplam Kazancınız
                                  </h6>
                                  <span class="badge badge-success font-size-lg font-weight-medium">
                                      <%- include('./_partial/currency.ejs', {value: controller.mayEarnPuanTotal + controller.usablePuanTotal}) %>
          
                                  </span>
                              </div>
        
                            <% } %>
        
                        </div>
                    </div>
                  </div>

                  <div class="card">
                    <div class="card-header ">
                        <h3 class="accordion-heading"><a class="" href="#order-ship" role="button"
                                data-toggle="collapse" aria-expanded="true" aria-controls="order-ship">Teslimat<span
                                    class="accordion-indicator"></span></a></h3>
                    </div>
                  
                    <div class="collapse" id="order-ship" data-parent="#order-ship">
                      <div class="card-body font-size-xs text-muted text-center">
                          <% for(var o in shopcard.shipment) { %>
                          
                            <% if (controller.destinationMatrix[o] && controller.destinationMatrix[o].provider) { %>
                              <div class="text-center mb-3">
                                <%=shopcard.butchers[o].name  %> <br>
                                <div class="font-size-sm text-muted">
                                  <%= controller.destinationMatrix[o].provider.name %>

                                </div>
                              </div>
                           
                              <div class="mb-2">
                                <%- include('./_partial/ship-price-slice.ejs', {                                
                                  slices: controller.destinationMatrix[o].slices,
                                  total: shopcard.butchers[o].subTotal
                                    }) %>
                              </div>
    
                            <% } %>


                        
                          <% } %>

      
                      </div>
                  </div>
                </div>
              
              </div>
      
              <% if (shopcard.items.length > 0) { %>
             <button data-tag="true" data-category="checkout" data-action="view/start"
                  data-label="<%=__req.user ? __req.user.mphone: ''  %>" data-value="<%=shopcard.items.length%>"
                  class="btn btn-primary btn-block mt-4  " type="submit" value="true" name="checkout" id="checkout">Alışverişimi Tamamla</button> 
      
      <%}%>
              
          </div>
          <% } %>
      
      </aside>
      </div>

      <% if (!shopcard.items.length) { %>
      
        <div class=" mb-3">
      
          <%- include('./_partial/category-slider', { header:true, title: 'Kategoriler', allUrl: '/kasap-urunleri' }); %>
    
        </div>

        <% } %>
      
    </div>
  </form>


  <% include ./_partial/footer %>
  <% include ./_partial/scripts %>

  <script>

    <% if (shopcard.items.length) { %>
      window.App.gTag('checkout', 'view/shopcardWithItems', "<%=__req.user ? 'authenticated':'anonymous'%>", <%=shopcard.items.length %>);
    <% } %>
    window.App.gTag('checkout', 'view/shopcard', "<%=__req.user ? __req.user.mphone: ''  %>", <%=shopcard.items.length %>);
    
    <% Object.keys(shopcard.butchers).forEach(item => { %>
      window.App.gTag('checkout', 'view/shopcard/butcher', "<%=shopcard.butchers[item].slug%>", 1);
    <%}) %>

    <% shopcard.items.forEach(item => { %>
        window.App.gTag('checkout', 'view/shopcard/item', "<%=item.product.slug%>", 1);
    <%}) %>

    
  </script>

</body>

</html>