<!DOCTYPE html>
<html lang="tr-TR" prefix="og: http://ogp.me/ns#">

<head>
  <% include ./_partial/head %>
  <meta name="robots" content="noindex,follow">

</head>

<body>
  <% include ./_partial/header %>




  <div class="page-title bg-accent py-2">
    <div class="container d-lg-flex justify-content-between py-2 py-lg-3">
      <div class="order-lg-2 mb-3 mb-lg-0 pt-lg-2">
        <nav aria-label="breadcrumb" class="d-none d-lg-block">
          <ol class="breadcrumb breadcrumb-light flex-lg-nowrap justify-content-center justify-content-lg-star">
            <li class="breadcrumb-item"><a class="text-nowrap" href="/"><i class="czi-home"></i></a></li>
                   </ol>
        </nav>
      </div>
      <div class="order-lg-1 pr-lg-4 text-center text-lg-left">
        <h1 class="h3 text-light">Sepetim</h1>
        <h2 class=" text-light h4 lead">Hızlı ve Güvenilir Alışveriş</h2>
      </div>
    </div>
  </div>

  <%
  
  var showShopBtn = true;
  
  %>
  <form method="POST" onsubmit="return App.Auth.checkAuthentication('/alisveris-sepetim/ship', '<b>Muazzam ürünler!</b> <br/>Şimdi <b>En fazla 2 dakikada</b> alışverişinizi tamamlayın.')" novalidate
    class="needs-validation" action="/alisveris-sepetim/savecard">
    <div class="container mb-3 ">


      <div class="row">

        <section class="col-lg-8">
    
          <div class="px-4 py-4 mb-3">
    
    
            
    
    
            <ul class="list-unstyled mb-4">
              <li><i class="czi-check text-primary mr-1"></i>Usta kasaplarımız <strong>%100 memnuniyet</strong> oranına sahipler.</li>
              <li><i class="czi-check text-primary mr-1"></i>Online veya kapıda ödeyebilirsiniz.</li>

            </ul>
    
    
            <% var partners = controller.Butchers.filter(p=>p.enablePuan) %>

    
            <% if (controller.possiblePuanList.length > 0) { %>
            <div class="mb-3 bg-secondary text-info border p-3">
    
              <h5 class="h5">Kasap Kart&trade; ile kârlısınız!</h5>
              <p class="text-dark">
                Düzenli kasap alışverişinizi KasaptanAl.com ile yapın, puan kazanın, sonraki alışverişlerinizde puanlarınızı kullanın.
              </p>
                <% controller.possiblePuanList.forEach(pg => { %>
                <ul>
                  <li>
    
                    <strong  class="font-weight-bold <%=pg.earned <= 0.00 ? 'text-danger':''%>"><%- include('./_partial/currency.ejs', {value: pg.earned}) %></strong>,
                    <%=pg.title%>
                    <% if (pg.earned <= 0.00) {%>
                    <% showShopBtn = true%>
                    <% if (pg.earned <= 0.00) { %>
                    <div class="text-dark font-size-sm">  
                        <% 
                        var butcherTotal = shopcard.getButcherTotalWithoutShipping(parseInt(pg.id));
                        var puanButcher = shopcard.butchers[pg.id];
                        var more = __helper.asCurrency(pg.based.minSales - butcherTotal)
                        %>                   
                        
                        
                        Bu kasabımızdan <strong><%- include('./_partial/currency.ejs', {value: more}) %> daha </strong> alışveriş yapın,  <strong>                  
                                    
                      <%- include('./_partial/puan-data-view.ejs', {puan: pg.based, hideMinPuanForUsage: true, hideMinSales: true}) %></strong>   
                      
                    
    
    
                    </div>
                    <a class="font-size-sm" href="<%=puanButcher ? '/' + puanButcher.slug +'#products': '/kasap-urunleri'%>">
                      <i class="czi-arrow-right-circle mr-2"></i>
                      Ürünlerine Gözat</a>
                    <%}%>       
    
                    <% } %>
                  </li>
                </ul>
    
    
                <% }) %>
                <% if (controller.mayEarnPuanTotal > 0.00) { %>
                <span class="text-dark d-block">
                  Toplam
                  <strong><%- include('./_partial/currency.ejs', {value: controller.mayEarnPuanTotal}) %></strong>
                  değerinde puanı hesabınıza yüklüyoruz.
                </span>
                <% } %>
            </div>
            <%}%>
    
          <div class="text-center">
            <% if (shopcard.items.length) { %>
            <% if (showShopBtn) { %>
            <a class="btn btn-sm btn-primary" href="/kasap-urunleri">Alışverişe Devam</a>
            <% } %>
    
    
            <button data-tag="true" data-category="checkout" data-action="view/start"
              data-label="<%=__req.user ? __req.user.mphone: ''  %>" data-value="<%=shopcard.items.length%>"
              class="btn btn-info btn-sm " type="submit" value="true" name="checkout" id="checkout">Sonraki Adım <i
                class="czi-arrow-right ml-1"></i></button>
            <%} else { %>
    
            <%}%>
          </div>
    
        
        
         <% if (!shopcard.items.length) { %>
            <div class="text-center">
              <a class="btn btn-sm btn-info" href="/kasap-urunleri">Alışverişe Başla<i
                  class="czi-arrow-right ml-2 mr-n1"></i></a>
    
    
            </div>
            <% } %>
    
            <%- include('./_partial/shopcardlist.ejs', {
          shopcard: shopcard,
          enableRemove: true
        }) %>
          </div>
        </section>
    
        <aside class="col-lg-4 pt-4 pt-lg-0">


          <div class="cz-sidebar-static rounded-lg box-shadow-lg ml-lg-auto">
      
            
              <div class="accordion mb-4" id="order-options">
      
                  <div class="card">
                      <div class="card-header ">
                          <h3 class="accordion-heading"><a class="" href="#order-discounts" role="button"
                                  data-toggle="collapse" aria-expanded="true" aria-controls="order-discounts">Toplamlar<span
                                      class="accordion-indicator"></span></a></h3>
                      </div>
                    
                      <div class="collapse show" id="order-discounts" data-parent="#order-options">
                        <div class="card-body">
                            <div class="text-center font-weight-medium">
                                <div>
                                    <h6 class="h6">
                                        Ürün Toplamı
                                    </h6>
                                </div>
                                <%- include('./_partial/currency.ejs', {value: shopcard.subTotal}) %>
                                <% if (shopcard.discountTotal != 0) { %>
                                <br>
                                <span class="text-muted">
                                    <del><%- include('./_partial/currency.ejs', {value: shopcard.subTotal}) %> </del>
        
                                </span>
                                <% } %>
                            </div>
                            <% if (controller.mayEarnPuanTotal > 0.00) { %>
                            <div class="text-info mt-3 text-center font-weight-medium">
                                <h6>
                                    Kazandığınız Puan
                                </h6>
                                <div class="text-center ">
                                    <%- include('./_partial/currency.ejs', {value: controller.mayEarnPuanTotal}) %>
        
                                </div>
                            </div>
        
                            <% } %>
        
                        </div>
                    </div>
                  </div>

                  <div class="card">
                    <div class="card-header ">
                        <h3 class="accordion-heading"><a class="" href="#order-ship" role="button"
                                data-toggle="collapse" aria-expanded="true" aria-controls="order-ship">Teslimat<span
                                    class="accordion-indicator"></span></a></h3>
                    </div>
                  
                    <div class="collapse" id="order-ship" data-parent="#order-ship">
                      <div class="card-body text-center">
                          <% for(var o in shopcard.shipment) { %>
                          
                            <% if (controller.destinationMatrix[o] && controller.destinationMatrix[o].provider) { %>
                              <div class="text-center mb-3">
                                <%=shopcard.butchers[o].name  %> <br>
                                <div class="font-size-sm text-muted">
                                  <%= controller.destinationMatrix[o].provider.name %>

                                </div>
                              </div>
                           
                              <div class="mb-2">
                                <%- include('./_partial/ship-price-slice.ejs', {                                
                                  slices: controller.destinationMatrix[o].slices,
                                  total: shopcard.butchers[o].subTotal
                                    }) %>
                              </div>
    
                            <% } %>


                        
                          <% } %>

      
                      </div>
                  </div>
                </div>
              
              </div>
      
              <% if (shopcard.items.length > 0) { %>
             <button data-tag="true" data-category="checkout" data-action="view/start"
                  data-label="<%=__req.user ? __req.user.mphone: ''  %>" data-value="<%=shopcard.items.length%>"
                  class="btn btn-info btn-block mt-4  " type="submit" value="true" name="checkout" id="checkout">Sonraki
                  Adım <i class="czi-arrow-right ml-1"></i></button> 
      
      <%}%>
              
          </div>
      
      
      </aside>
      </div>


      
    </div>
  </form>


  <% include ./_partial/footer %>
  <% include ./_partial/scripts %>

  <script>
    window.App.gTag('checkout', 'view/shopcard', "<%=__req.user ? __req.user.mphone: ''  %>", <%=shopcard.items.length %>);
    
    <% Object.keys(shopcard.butchers).forEach(item => { %>
      window.App.gTag('checkout', 'view/shopcard/butcher', "<%=shopcard.butchers[item].slug%>", 1);
    <%}) %>

    <% shopcard.items.forEach(item => { %>
        window.App.gTag('checkout', 'view/shopcard/item', "<%=item.product.slug%>", 1);
    <%}) %>

    
  </script>

</body>

</html>