<div class="modal fade" style="z-index: 10555;" id="butcher-alternatives">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title">Diğer Kasaplar</h6>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body p-0">
        <div class="p-0">
          <ul class="nav nav-tabs  nav-justified mb-0 " id="butchers-serving-tab" role="tablist">
            <% if (butchersServing.length > 0) { %>
            <li class="nav-item">
              <a class="nav-link active" id="serving-tab" data-toggle="tab" href="#serving" role="tab"
                 aria-selected="true">

                Adrese Teslim</a>
            </li>
            <% } %>
            <% if (butchersTakeaway.length > 0) { %>

            
            <li class="nav-item">
              <a class="nav-link <%= butchersServing.length == 0 ? 'active':''%>" id="takeaway-tab" data-toggle="tab" href="#takeaway" role="tab"
                 aria-selected="true">

                Gel-Al</a>
            </li>
            <% } %>

          </ul>
          <div class="tab-content p-0 m-0 " id="butchers-serving-tabContent">
            <% if (butchersServing.length > 0) { %>
            <div class="tab-pane fade show active" id="serving" role="tabpanel">
              <% butchersServing.forEach(b=> { %>
                <div class="bg-secondary border-bottom p-3">
                  <a class="media align-items-center" data-butcher="<%=b.slug%>" href="javascript:window.App.ProductApp.selectNewButcher('<%=`${b.slug}`%>')"><img
                      class="rounded-circle header-img"  src="<%= `${__req.helper.imgUrl('butcher-google-photos', b.slug)}` %>" alt="<%=b.name%>">
                    <div class="media-body pl-2"><span class="font-size-ms text-muted"></span>
                      <h5 class="h6 mb-0 mr-2"><%= b.name %></h5>
                    </div>
                  </a></div> 
              <% }) %>
            </div>
            <% } %>
            <% if (butchersTakeaway.length > 0) { %>
            
            <div class="tab-pane fade <%= butchersServing.length == 0 ? 'show active':''%>" id="takeaway" role="tabpanel">
              <% butchersTakeaway.forEach(b=> { %>
                <div class="bg-secondary border-bottom p-3">
                  <a class="media align-items-center" href="javascript:window.App.ProductApp.selectNewButcher('<%=`${b.slug}`%>')"><img
                      class="rounded-circle header-img"  src="<%= `${__req.helper.imgUrl('butcher-google-photos', b.slug)}` %>" alt="<%=b.name%>">
                    <div class="media-body pl-2"><span class="font-size-ms text-muted"></span>
                      <h5 class="h6 mb-0 mr-2"><%= b.name %></h5>
                    </div>
                  </a></div> 
              <% }) %>
            </div>
            <% } %>

          </div>
     

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-primary" data-dismiss="modal">Kapat</button>
      </div>

    </div>
  </div>
</div>