

<div class="<%= __req.query.frame != '1' ? 'border':'border-bottom' %> bg-secondary">
                   

                   
    <div id="butchervendor">
   
      <div class="d-flex">

     
     <% if (butcherVideo) {%>
      <a data-gtrack="1" data-restype="<%= butcherVideo.type %>" 
        data-resref="<%= view.butcher.slug %>" 
        data-restitle="<%= product.slug %>" 
        onclick="openSlider(<%=butcherVideo.id%>);return false" 
        data-resid="<%=butcherVideo.id%>" id="butcher-video-link" 
        class="w-25 align-self-start gallery-item <%= butcherVideo.contentType == 'video-youtube' ? 'video-item':''%>"
href="<%= `${butcherVideo.fileUrl}`  %>"
data-sub-html="&lt;h6 class=&quot;font-size-sm text-light&quot;&gt;<%= butcherVideo.title %>&lt;/h6&gt;"><img
 class=""
src="<%= `${butcherVideo.thumbnailFileUrl}` %>" alt="<%= `${view.butcher.name}`  %>" /><span
class="gallery-item-caption"><%= butcherVideo.title %></span></a>
<a class="media align-items-start flex-grow-1" target="_blank" href="/<%=view.butcher.slug%>">
<%} else { %>
  <a target="_blank" class="media align-self-start flex-grow-1" target="_blank" href="/<%=view.butcher.slug%>">
    
    <img class="w-25 gallery-item"
    src="<%= `${__req.helper.imgUrl('butcher-google-photos', view.butcher.slug)}` %>" alt="<%=view.butcher.name%>">
 <% } %>
      <div class="media-body p-2">
        <div class="d-flex align-items-center justify-content-between">
          <div>
            <h4 class="h5 mb-0 mr-2"><%= view.butcher.name %> </h4>
          </div>
          
          <% if (view.butcher.puanData ) { %>
          <div class="text-right">
            <span class="d-block mb-1 badge badge-success font-size-xs font-weight-medium">
              %<%=view.butcher.puanData.rate * 100 %> Puan
            </span>
            <!-- <span class="d-block badge badge-danger font-size-xs font-weight-medium">
              <%='+10TL'%> Puan
            </span> -->
          </div>
        
          
           <% } %>
        </div>
       
          
       

        <div class="text-muted font-size-sm mb-2">
          <% if (view.butcher.locationText) { %>
            <span class="d-block">
              <%=view.butcher.locationText%>
           <% if (view.dispatcher && view.dispatcher.distance && view.dispatcher.distance < 50) { %>,
                  <%= view.dispatcher.distance < 1 ? '< 1 km': view.dispatcher.distance.toFixed(0) + ' km' %>
               
               <% } %> 
  
            </span>
            <% if (view.dispatcher && view.dispatcher.priceInfo) { %>
              <span>
                <%= view.dispatcher.userNote || view.dispatcher.priceInfo %>.
       
                <% if (view.dispatcher.minCalculated > 0) { %>
                  En az <span class="font-weight-medium"><%- include('./currency.ejs', {value: controller.logisticsProvider.options.dispatcher.minCalculated}) %></span> sipariş kabul edilmektedir.
                <% } %>

              </span>
           <% } %>
            <% } %>
        </div>
          

        

          <% if (false) { %>
            <div class="font-size-sm mt-3">
              <p class="text-success">
                 Birikmiş puanınız var: <%- include('./currency.ejs', {value: view.butcher.earnedPuan}) %>
              </p>
              
            </div>
             

          <% } %>

            <div v-if="product && selectedUnit" class="mb-2 text-right">
              <money-view class="font-weight-bold  border p-2 text-dark bg-white font-size-md" :unit="product.kgPrice ? 'Kg':  selectedUnit.unitTitle"  :money="product.kgPrice || selectedUnit.unitPrice"></money-view>

            </div>

       
          

    


      </div></a>
      
                     
  </div>



    <% if (view.butcherNote) { %>
      <div class="font-size-sm border px-3 bg-white pt-3 m-3">
        Kasaba Özel:
        <div class="font-italic">
          
          <%- controller.markdown.render(view.butcherNote) %>
        </div>
        
        <% if (view.butcherLongNote) { %>
         
            <button onclick="$('#butchernotewindow').modal('show'); return false" class="btn btn-accent btn-sm">Daha Fazla Bilgi</button>
          
        <% } %>
      </div>
    <% } %>



    <div class="mb-2 px-2">
      <% if (view.butcher.shipSuccessText && false) { %>
      <div class="text-center text-dark font-size-xs">

        <%=view.butcher.shipSuccessText %> sipariş
      </div>
      <% } %>
      <div class=" row m-0 ">
        <% if (view.butcher.userRatingAsPerc > 0 ) { %>
          <div class="col mb-0">
            <div class="font-size-xs text-muted ">Memnuniyet</div>
            <div class="progress rounded-0 mb-2">
              <div class="progress-bar  font-weight-medium bg-warning" role="progressbar" style="width: <%=view.butcher.userRatingAsPerc %>%" aria-valuenow="<%=view.butcher.userRatingAsPerc %>" aria-valuemin="0" aria-valuemax="100">
                <%=view.butcher.userRatingAsPerc %>%
              </div>  
            </div>
          </div>
  
        <%}%>
  
        <% if (view.butcher.shipRatingAsPerc > 0 ) { %>
          <div class="col mb-0">
            <div class="font-size-xs text-muted">Teslimat Başarısı</div>
    
            <div class="progress rounded-0 mb-2">
              <div class="progress-bar font-weight-medium bg-warning" role="progressbar" style="width: <%=view.butcher.shipRatingAsPerc %>%" aria-valuenow="<%=view.butcher.shipRatingAsPerc %>" aria-valuemin="0" aria-valuemax="100">
                <%=view.butcher.shipRatingAsPerc %>%
              </div>  
            </div>
          </div>
  
        <%}%>
      </div>
    </div>
    

    



    <%  if (view.dispatcher && view.dispatcher.priceSlice) { %>
      <div class="accordion mx-2 pb-2" id="teslimat-info-panel" role="tablist">

        <div class="card rounded-0">
          <div class="card-header py-0" role="tab">
            <h3 class="h6 font-weight-normal  accordion-heading px-0"><a href="#teslimat-info" class="collapsed" data-toggle="collapse"><i class="czi-delivery text-muted font-size-lg align-middle mt-n1 mr-2"></i>Teslimat Bilgisi<span
                  class="accordion-indicator"></span></a></h3>
          </div>
          <div class="collapse" id="teslimat-info" data-parent="#teslimat-info-panel" role="tabpanel">
            <div class="font-size-sm p-3  ">
              
                <p class="">
                  <span class="font-weight-medium"><%=__req.prefAddr.display%></span> için teslimat <span class="font-weight-medium"><%=controller.dispatcherTypes[view.dispatcher.type]%></span> tarafından yapılmaktadır.
              

                </p>
                <p>
                  <% if (view.dispatcher.minCalculated > 0) { %>
                    En az <span class="font-weight-medium"><%- include('./currency.ejs', {value: controller.logisticsProvider.options.dispatcher.minCalculated}) %></span> sipariş kabul edilmektedir.
                  <%  } else { %>
                    En az sipariş tutarı <span class="font-weight-medium">yoktur</span>.
                  <% } %>
                </p>
             <div class="mb-3">
              <%- include('./ship-price-slice.ejs', {                                
                slices: view.dispatcher.priceSlice
                  }) %>
             </div>
           
                  <div>
                    <p class="border-bottom mb-1">Çalışma Günleri</p>
                    <%- include('./workday-view', { butcher: view.butcher }) %>
              
                  </div>
                  <a class="text-primary text-right d-block" href="javascript:window.App.ProductApp.selectArea()">Semt Değiştir</a>
            </div>
        

          </div>

        </div>

        <% if (view.butcher.puanData) { %>
          <div class="card rounded-0">
      
            <div class="card-header" role="tab">
              <h3 class="h6 font-weight-normal  accordion-heading px-0"><a href="#butcher-kart" class="collapsed" data-toggle="collapse"><i class="czi-card text-muted font-size-lg align-middle mt-n1 mr-2"></i>Kasap Kart&trade; Puan
                <span class="align-middle mt-n1 badge badge-primary">1</span><span
                    class="accordion-indicator"></span></a></h3>
            </div>
            <div class="collapse" id="butcher-kart" data-parent="#teslimat-info-panel" role="tabpanel">
              <div class="font-size-sm p-3  ">

                <p class=" font-weight-bolder">ONLINE SİPARİŞE ÖZEL</p>
                <ul class="mb-0">
                 
                  <li>
                   
                    <p>
                     
                      <%=view.butcher.name%> siparişlerinizden
                      <strong>
                        %<%=view.butcher.puanData.rate * 100 %></strong>
                       puan kazanın, sonraki siparişinizde <strong>indirim olarak</strong> kullanın.
                    
                    </p>
                  </li>
                  
                  <!-- <li> -->
                    
                      
           
                      


                    
                    <!-- <p class="mb-0">
                      <% if (controller.platform == 'web') { %>
                      <a target="_blank" class="font-weight-bold" href="http://kasaptanal.app.link">KasaptanAl Uygulaması</a>
                      üzerinden sipariş verin, 
                      <% } %>
                      <strong>250TL ve üzeri</strong> alışveriş yapın, ayrıca <strong class="text-dark">
                      <%- include('./currency.ejs', {value: 10}) %>
                
                    </strong> değerinde puan kazanın.
                    </p> -->
                  <!-- </li> -->
                 

                    
                </ul>


    
              </div>
            </div>
          </div>
    
    
    
    
        <% } %>   

        <% if (__helper.canBeOrderedByPhone()) { %>

          <div class="card rounded-0">
          
            <div class="card-header" role="tab">
              <h3 class="h6 font-weight-normal  accordion-heading px-0"><a href="#butcher-phoneorder" class="collapsed" data-toggle="collapse"><i class="czi-phone text-muted font-size-lg align-middle mt-n1 mr-2"></i>Whatsapp Sipariş<span
                    class="accordion-indicator"></span></a></h3>
            </div>
            <div class="collapse" id="butcher-phoneorder" data-parent="#teslimat-info-panel" role="tabpanel">
              <div class="font-size-sm p-3  ">
                <div>
                  <div class="py-2 d-flex justify-content-center">
                    <!-- <a class="btn  btn-sm btn-dark mr-2" target="_blank" href="tel://+908503059286"><i class="czi_icon czi-phone mr-1"></i>Kasabı Ara</a> -->
        
                    <a class="btn  btn-sm btn-dark" target="_blank" href="https://wa.me/+903122101088?text=<%=view.butcher.name%> <%=__req.prefAddr.display%> semtinden <%=view.name%> siparişi vermek istiyorum."><i class="czi_icon czi-message mr-1"></i>Whatsapp</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        
        
        
        <% } %>
<% if (view.butcher.description) { %>
        <div class="card rounded-0">
  
          <div class="card-header" role="tab">
            <h3 class="h6 font-weight-normal  accordion-heading px-0"><a href="#butcher-info" class="collapsed" data-toggle="collapse"><i class="czi-announcement text-muted font-size-lg align-middle mt-n1 mr-2"></i>Kasabı Tanıyın<span
                  class="accordion-indicator"></span></a></h3>
          </div>
          <div class="collapse" id="butcher-info" data-parent="#teslimat-info-panel" role="tabpanel">
            <div class="font-size-sm p-3  ">
              <%- controller.markdown.render(view.butcher.description || '') %>
            </div>
          </div>
        </div>

<% } %>



      <% }  %>

  
  



  </div>





</div>

<%if (otherButcherAlternatives && (controller.showOtherButchers())) {%>
<div class="text-center mb-2 px-2">
  <a class="btn text-dark btn-link font-weight-bolder  text-uppercase" href="javascript:showOtherButchers()"><span>Diğer Kasaplar (</span><span class="font-weight-bold text-primary"><%=otherButcherAlternatives %></span><span>)</span></a>

</div>
<% } %>
    
  </div>

  <% if (view.butcherLongNote) { %>
    <div class="modal fade" id="butchernotewindow">
      <div class="modal-dialog fs-modal-dialog modal-lg modal-dialog-scrollable" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title"><%=view.butcher.name%></h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body note-content user-content p-3">
            <%- controller.markdown.render(view.butcherLongNote) %>
          </div>
        </div>
      </div>
    </div>
  <% } %>


  