<a class="d-block" id="<%= ('p' + prodinfo.product.id) %>"></a>
<form  name="saveproductform" action="/kasapsayfam/product/save" method="POST" class="border <%=prodinfo.enabled ? 'bg-secondary' : 'bg-white'%> mb-2 p-2">
       
        <input type="hidden" name="productid" value="<%= prodinfo.product.id %>">

        <div class="form-group">



            <div class="d-flex justify-content-center d-print-w-50">
                <h3>
                    <%= prodinfo.product.name %>
                </h3>

            </div>

            <div class="form-check d-print-none">
                <input class="form-check-input" type="checkbox" name="productenabled"
                    <%= prodinfo.enabled ? "checked" : "" %>>
                <label class="form-check-label font-weight-bold" for="defaultCheck1">
                    <%= prodinfo.enabled ? "Bu Ürünü Satıyorum": "Satış yapmak için işaretleyin" %>
                </label>
                
            </div>
        </div>
        <% var productunits = controller.getProductUnits(prodinfo.product, prodinfo) %>
        <% var kgUnit = productunits.find(p=>p.unit == 'kg') %>
        <div class="py-2">

            <div class="border-bottom">
                <div class="form-group">
                    <label class="font-weight-bold">Kilogram Fiyatı</label>
                     <input type="text" class="form-control" value="<%= prodinfo.kgPrice %>"
                        name="productkgPrice">


                </div>
            </div>   


            
            <% for(var k=0; k<productunits.length; k++) {%>
            <div class="border-bottom py-2">

                <% var unitDesc = `${(productunits[k].kgRatio > 0) ? ('(' + (productunits[k].butcherkgRatio || productunits[k].kgRatio) * 1000 + ' gram)'): ''}`  %>
                <div class="form-check ">
                    <input class="form-check-input" type="checkbox" name="<%=`unit${k+1}enabled` %>"
                    <%= prodinfo[`unit${k+1}enabled`] ? "checked" : "" %>>
                <label class="form-check-label font-weight-bold" for="defaultCheck1">
                    <%= productunits[k].unitTitle %>  %>  
                </label>

                    <% if (productunits[k].unitWeight) {%>
                        <div>
                            <span class="badge badge-accent">Not</span>
                            <span class="font-size-sm">
                                Kullanıcıya ağırlık <strong class="text-accent"><%= productunits[k].butcherUnitWeight || productunits[k].unitWeight%></strong> olarak gösterilmektedir.
                            </span>
                            

                        </div>
                    <%}%>
                    <div class="text-muted font-size-sm mb-2">
                       <%= productunits[k].butcherNote %>
                    </div>
                    <% if (productunits[k].unit != 'kg') { %>
                   
                <span class="font-size-sm font-weight-medium">1 <%= productunits[k].unitTitle %> fiyatı (isteğe bağlı)</span>
                    <input type="text" class="form-control" name="<%=`unit${k+1}price` %>"
                        id="<%=`unit${k+1}price` %>" placeholder="Bedel girmezseniz <%=unitDesc%> üzerinden hesaplanır" value="<%= prodinfo[`unit${k+1}price`] == 0 ? '': prodinfo[`unit${k+1}price`] %>">
                    
                        <span class="font-size-sm font-weight-medium"><%= productunits[k].unitTitle %> KG Oranı (isteğe bağlı)</span>
                        <input type="text" class="form-control" name="<%=`unit${k+1}butcherkgRatio` %>"
                            id="<%=`unit${k+1}butcherkgRatio` %>" placeholder="Bedel girmezseniz <%=productunits[k].kgRatio%> üzerinden hesaplanır" value="<%= productunits[k].butcherkgRatio == 0 ? '': productunits[k].butcherkgRatio %>">
              
                            <span class="font-size-sm font-weight-medium">Ağırlık açıklaması</span>
                            <input type="text" class="form-control" name="<%=`unit${k+1}butcherunitWeight` %>"
                                id="<%=`unit${k+1}butcherunitWeight` %>" placeholder="Veri girmezseniz <%=productunits[k].unitWeight%> olarak gösterilir" value="<%= productunits[k].butcherUnitWeight %>">
                  
                    
                        <% } %>

                    
                </div>
            </div>
            
            <% } %>
            <!-- <div class="col">
                <div class="form-group">
                    <label>Ürün Sırası</label>
                    <input type="text" class="form-control" value="<%= prodinfo.displayOrder %>"
                        name="productdisplayorder">


                </div>
            </div> -->
                                      
        </div>
        <div class="form-group d-print-none">

            <div class="form-check">
                <input id="productvitrin" class="form-check-input" type="checkbox"
                    name="productvitrin" <%= prodinfo.vitrin ? "checked" : "" %>
                    aria-label="Checkbox">
                <label class="form-check-label font-weight-bold" for="defaultCheck1">
                    Vitrinime Koy
                </label>
            </div>




        </div>

        <div class="form-group d-print-none">
            <% if (prodinfo.fromButcherDesc) { %>
            <p>
                Kasabın Bildirdiği Not:
            </p>
            <%= prodinfo.fromButcherDesc %>

            <% } %>


        </div>

        <div class="form-group d-print-none">

            <textarea name="productmddesc" id="productmddesc" placeholder="Kasaba özel ürün notu varsa giriniz" class="form-control" rows="5"><%= prodinfo.mddesc %></textarea>




        </div>
        <div class="form-group d-print-none">

            <textarea name="productlongdesc" id="productlongdesc" placeholder="Kasaba özel uzun ve detaylı ürün notu varsa giriniz" class="form-control" rows="5"><%= prodinfo.longdesc %></textarea>




        </div>        
        <button type="submit" name="updateproduct" value="true"
            class="btn btn-primary d-print-none">Kaydet</button>
    </form>

<div class="d-none d-print-block border" style="height: 2cm;">

</div>