

<div class="bg-secondary">
                   

                   
    <div id="butchervendor" class="bg-secondary">
    <div class="   d-flex flex-nowrap justify-content-between align-items-center">
      <div class="d-flex">

     
     <% if (butcherVideo) {%>
      <a data-gtrack="1" data-restype="<%= butcherVideo.type %>" data-resref="<%= view.butcher.slug %>" data-restitle="<%= product.slug %>" onclick="javascript:openSlider(<%=butcherVideo.id%>);return false" data-resid="<%=butcherVideo.id%>" id="butcher-video-link" class="w-25 gallery-item <%= butcherVideo.contentType == 'video-youtube' ? 'video-item':''%>"
href="<%= `${butcherVideo.fileUrl}`  %>"
data-sub-html="&lt;h6 class=&quot;font-size-sm text-light&quot;&gt;<%= butcherVideo.title %>&lt;/h6&gt;"><img
 class=""
src="<%= `${butcherVideo.thumbnailFileUrl}` %>" alt="<%= `${view.butcher.name}`  %>" /><span
class="gallery-item-caption"><%= butcherVideo.title %></span></a>
<a class="media align-items-center" href="/<%=view.butcher.slug%>">
<%} else { %>
  <a target="_blank" class="pl-2 media align-items-center" target="_blank" href="/<%=view.butcher.slug%>">
    
    <img class="rounded-circle header-img"
    src="<%= `${__req.helper.imgUrl('butcher-google-photos', view.butcher.slug)}` %>" alt="<%=view.butcher.name%>">
 <% } %>
      <div class="media-body  p-2">
        <h5 class="h6 mb-1 mr-2"><%= view.butcher.name %></h6>

          <!-- <% if (view.butcher.badges.length > 0 ) { %>
            <div class="butcher-badges mb-1">
          
            
          <% view.butcher.badges.forEach(b=> {  %>
            <span class="badge border badge-secondary   font-size-xs" data-toggle="tooltip" data-original-title="<%=b.tip%>"  title="">
              <%if (b.icon) { %>
              <i class="<%= b.icon || '' %> mr-1"></i>
              <%}%>
              <%=b.name%>
          
            </span>
          <% }) %>
          </div>
          <% } %> -->

          <% if (false) { %>
            <div class="font-size-sm mt-3">
              <p class="text-success">
                 Birikmiş puanınız var: <%- include('./currency.ejs', {value: view.butcher.earnedPuan}) %>
              </p>
              
            </div>
             

          <% } %>


          <money-view class="font-size-sm text-accent" :unit="product.kgPrice ? 'Kg': selectedUnit.unitTitle"  :money="product.kgPrice || selectedUnit.unitPrice"></money-view>

          <span class="d-block text-muted font-size-xs">
             <%= view.dispatcher ? view.dispatcher.userNote:""%> 
          </span>
       

   
      </div></a>
      
    </div>
      <a class="align-self-center d-md-block btn btn-sm" href="/<%=view.butcher.slug%>"><i
          class="czi-arrow-right font-size-xs align-middle ml-1"></i></a>                        
  </div>

  <!-- <div>
    <span class="h4 font-weight-normal text-accent mr-1">
      <%- include('./currency.ejs', {value: view.viewUnitPrice, unit: view.viewUnit}) %>
    </span>
  </div> -->

    <% if (view.butcherNote) { %>
      <div class="font-size-sm  p-3">
        <!-- <span class="badge badge-accent font-size-xs mr-1">Kasabımızdan</span> -->
        <span class="font-size-sm text-info">"<%= view.butcherNote %>"</span>
        

      </div>
    <% } %>
    
    <div class="pt-3 px-3 row">
      <% if (view.butcher.userRatingAsPerc > 0 ) { %>
        <div class="col">
          <div class="font-size-xs text-muted ">Ürün Memnuniyeti</div>
          <div class="progress mb-2">
            <div class="progress-bar font-weight-medium bg-info" role="progressbar" style="width: <%=view.butcher.userRatingAsPerc %>%" aria-valuenow="<%=view.butcher.userRatingAsPerc %>" aria-valuemin="0" aria-valuemax="100">
              <%=view.butcher.userRatingAsPerc %>%
            </div>  
          </div>
        </div>

      <%}%>

      <% if (view.butcher.shipRatingAsPerc > 0 ) { %>
        <div class="col">
          <div class="font-size-xs text-muted">Teslimat Başarısı</div>
  
          <div class="progress mb-2">
            <div class="progress-bar font-weight-medium bg-info" role="progressbar" style="width: <%=view.butcher.shipRatingAsPerc %>%" aria-valuenow="<%=view.butcher.shipRatingAsPerc %>" aria-valuemin="0" aria-valuemax="100">
              <%=view.butcher.shipRatingAsPerc %>%
            </div>  
          </div>
        </div>

      <%}%>
    </div>

    <% if (view.butcher.puanData) { %>
      <div class="px-3 font-size-sm mt-3">
        <span class="text-dark"><%=view.butcher.name%>, Kasap Kart&trade; iş ortağıdır.</span>
        <%- include('./puan-data-view.ejs', {puan: view.butcher.puanData, hideMinPuanForUsage: true}) %> 
    
      </div>
    <% } %>    
  </div>




  <%if (otherButcherAlternatives) {%>
    <div class="d-flex px-3 align-items-center justify-content-between mt-2 ">

        <p  class="mb-1 text-dark font-weight-medium font-size-sm ">
             <!-- {{  formatCurrency(selectedUnit.unitPrice).val}}.<small>{{formatCurrency(selectedUnit.unitPrice).krs}}</small> TL/{{selectedUnit.unitTitle}}  -->
            
        
         
        </p> 
        
      <p class="mb-1 font-size-sm"><a class="text-dark font-weight-medium" href="javascript:showOtherButchers()"><span>Diğer kasaplar (</span><span class="text-primary"><%=otherButcherAlternatives %></span><span>)</span></a> </p> 
      
    </div>
    <%}%>
    
  </div>

