<% header = typeof(header) == 'undefined' ? true: header %>
<% titles = typeof(titles) == 'undefined' ? true: titles %>
<% selected = typeof(selected) == 'undefined' ? null: selected %>
<% mode = typeof(mode) == 'undefined' ? 'list': mode %>
<% idprefix = typeof(idprefix) == 'undefined' ? '': idprefix %>
<% urlParams = typeof(urlParams) == 'undefined' ? '': urlParams %>
<% subUrl = typeof(subUrl) == 'undefined' ? '': subUrl %>
<% categories = typeof(categories) == 'undefined' ? __categories: categories %>
<% viewCats = typeof(viewCats) == 'undefined' ? ['reyon', 'list', 'product:dispatch=countrywide']: viewCats %>
<% var linkCss = typeof(linkCss) == 'undefined' ? '': linkCss %>
<% var hideIcon = typeof(hideIcon) == 'undefined' ? false: true %>
<% var partialRender = typeof(partialRender) == 'undefined' ? false: partialRender %>
<% var partialRenderUrl = typeof(partialRenderUrl) == 'undefined' ? '': partialRenderUrl %>

<% 
   var visibleCategories = [];

  viewCats.forEach(cat => { 
     var reyonlar = (categories.filter(p=>p.type == cat && p.status == 'active'));
     visibleCategories = visibleCategories.concat(reyonlar)
  })

  if (selected && visibleCategories.filter(p=>p.slug == selected).length == 0) {
      var sel = categories.find(p=>p.slug == selected);
      sel && (visibleCategories = [sel].concat(visibleCategories))
  }
    

%>




<% if (header) { %>
<div class="d-flex flex-nowrap justify-content-between align-items-center">
    <a class="d-block" href="<%=allUrl%>">
        <h3 class="text-uppercase h6 mb-2"><%=title%></h3>
    </a>
    <a class="d-none d-md-block btn btn-sm" href="<%=allUrl%>">Tümü &raquo;</a>
</div>

<% } %>

<%if (mode=='list') { %>

<div class="slider" data-simplebar data-simplebar-auto-hide="false">
    <div class="d-flex <%=titles ? 'pb-md-2': 'pb-0'%>">
        <% viewCats.forEach(cat => { %>
        <% var reyonlar = (categories.filter(p=>p.type == cat && p.status == 'active')) %>
        <% for(var c=0; c< reyonlar.length; c++) {%>
        <div class="mb-2 <%=titles ? 'mr-2': 'mr-0'%>">
            <div id="<%=idprefix || 'cats' %><%=reyonlar[c].slug%>"
                class="item-slider item-slider-sm <%= selected ? (selected == reyonlar[c].slug ? 'item-slider-selected': '') : ''%>">
                <%subUrl = reyonlar[c].type == 'resource' ? 'et-yemekleri/':'' %>

                <div class="card  h-100 text-center pb-0  ">
                    <a class="d-block <%=linkCss%>" href="<%= `/${subUrl}${reyonlar[c].slug}${urlParams ? '?' + urlParams:''}`%>">
                        <img class="card-img-top"  width="500" height="500"  title="<%=reyonlar[c].name%>" 
                            src="<%=`${__req.helper.imgUrl('category-photos', reyonlar[c].slug, 'thumbnail', true, 'list')}`%>"
                            alt="<%=reyonlar[c].name%>"></a>
                        <div class="p-2 card-body d-flex flex-column align-items-center">
                                <h5 class="m-auto  font-size-sm"><a class="text-dark <%=linkCss%>"
                                    href="<%= `/${subUrl}${reyonlar[c].slug}`%>">
                                    <%= reyonlar[c].listTitle || reyonlar[c].name %>
                                </a>
                            </h5>
                            
                        </div>
                </div>

            
            </div>
        </div>
        <%}%>
        <%})%>
    </div>
</div>
<!-- <div class="d-xs-block border-bottom d-md-none text-center mb-3">
    <a class="btn rounded-0 btn-sm btn-secondary" href="<%=allUrl%>">Tümü

        <i class="czi-arrow-right font-size-xs align-middle ml-1"></i>
    </a>
</div> -->
<%} else if (mode=='view') { %>

    
    <div class="row justify-content-center">
    <% viewCats.forEach(cat => { %>
   
      <% var reyonlar = categories.filter(p=>p.type.includes(cat) && p.status == 'active') %>

      <% for(var c=0; c< reyonlar.length; c++) {%>
      <div class="col-md-2 col-3 py-2">
          <div class="card h-100 text-center mb-3">
            <a class=" d-block overflow-hidden" href="<%= `/${reyonlar[c].slug}${__req.query.butcher ? '?butcher=' + __req.query.butcher:''}`%>">
              <img width="500" height="500" class="card-img-top" src="<%=`${__req.helper.imgUrl('category-photos', reyonlar[c].slug, 'thumbnail', true, 'list')}`%>"
                alt="<%= reyonlar[c].name %>"></a>
            <div class="card-body p-2 d-flex flex-column align-items-center">
              <h5 class="m-auto  font-size-md"><a class="text-dark"
                  href="<%= `/${reyonlar[c].slug}${__req.query.butcher ? '?butcher=' + __req.query.butcher:''}`%>"><%= reyonlar[c].listTitle || reyonlar[c].name %></a>
              </h5>
            </div>
          </div>
     

      </div>
      <%}%>
   
          <%})%>
        </div>
        <!-- <div class="d-xs-block border-bottom d-md-none text-center mb-3">
            <a class="btn rounded-0 btn-sm btn-secondary" href="<%=allUrl%>">Tümü &raquo;
            </a>
        </div> -->
        <%} else { %>
        <div id="sc"  data-simplebar >
            <div class="pb-md-2 mb-1  d-flex">
                
                <% var reyonlar = visibleCategories %>
                <% for(var c=0; c< reyonlar.length; c++) {%>
                <div id="cat-item-<%=reyonlar[c].slug%>" class="mr-1">
                    <% var isselected = (selected == reyonlar[c].slug ? true: false) %>
                    <div style="width: 6rem;"
                        class="item-slider category-slider-item  <%= isselected ?  'item-slider-selected': '' %>">
        
                        <div class="card border  <%= isselected ? '':'' %>   h-100 text-center pb-0  ">
                           
                            <a data-cat="<%=reyonlar[c].slug%>" class=" d-block <%=linkCss%>" 
                                <% if (!partialRender) { %>
                                    nopartial="true"
                                <% } else { %>
                                    onclick="return loadProducts('<%=reyonlar[c].slug%>', '<%=partialRenderUrl%>')"
                                <% } %>
                                href="<%= `/${subUrl}${reyonlar[c].slug}?transition=1${__req.query.butcher ? '&butcher=' + __req.query.butcher:''}#items`%>"

                                >

                                
                                <img  class="card-img-top" width="500" height="500"  title="<%=reyonlar[c].name%>" 
                                    src="<%=`${__req.helper.imgUrl('category-photos', reyonlar[c].slug, 'thumbnail', true, 'list')}`%>"
                                    alt="<%=reyonlar[c].name%>">
                                
                                </a>
                                
                                <a data-cat="<%=reyonlar[c].slug%>" 
                                    <% if (!partialRender) { %>
                                        nopartial="true"
                                    <% } else { %>
                                        onclick="return loadProducts('<%=reyonlar[c].slug%>')"
                                    <% } %>
                                    href="<%= `/${subUrl}${reyonlar[c].slug}?transition=1${__req.query.butcher ? '&butcher=' + __req.query.butcher:''}#items`%>"
                                    
                                    class="p-2 card-body d-flex flex-column align-items-center">
                                        <h5 class="m-auto p-0   font-size-sm"><span  class="text-link<%=reyonlar[c].slug%> <%= isselected ? ' ': ''%> <%=linkCss%>"
                                            >
                                            <%= reyonlar[c].listTitle || reyonlar[c].name %>
                                        </span>
                                    </h5>
                                    
                                </a>
                        </div>
        
                    
                    </div>
                </div>
                <%}%>
               
            </div>

         
            

        </div>

        <% } %>


