<div class="border">


    <div class="bg-secondary  mb-2 p-2 d-flex flex-nowrap justify-content-between align-items-center">
        <a class="media align-items-center align-self-center" href="<%=allUrl%>">
            <div class="media-body pl-2">
                <h3 class="h6 mb-0 mr-2"><%=title%></h3>
                <span class="font-size-ms text-muted"></span>
            </div>
        </a>
        <a class="align-self-center d-md-block btn btn-sm" href="<%=allUrl%>"><i
                class="czi-arrow-rightx font-size-xs align-middle ml-1"></i></a>
    </div>

    <div class="ml-2">
        <div class="table-responsive" data-simplebar>
            <div class="d-flex pb-2">
                <% viewCats.forEach(cat => { %>
                <% var reyonlar = (__categories.filter(p=>p.type == cat && p.status == 'active')) %>
                <% for(var c=0; c< reyonlar.length; c++) {%>
                <div class="mr-2">

                    <div class="item-slider item-slider-sm">
                        <%subUrl = reyonlar[c].type == 'resource' ? 'et-yemekleri/':'' %>
                        <div class="card product-card card-static item-card">
                            <a class="" href="<%= `/${subUrl}${reyonlar[c].slug}`%>"><img class="rounded shadow-lg"
                                    src="<%=`${__req.helper.imgUrl('category-photos', reyonlar[c].slug)}`%>" alt="<%=reyonlar[c].name%>"></a>

                            <div class="card-body pb-0 mb-0 pl-0 text-center">
                                <h3 class="product-title pb-0 mb-0 font-size-md"><a
                                        href="<%= `/${subUrl}${reyonlar[c].slug}`%>"><%= reyonlar[c].name %></a>
                                </h3>
                            </div>
                        </div>

                    </div>



                </div>
                <%}%>
            <%})%>
            </div>
        </div>
    </div>



</div>