<% var cat = __categories[__categories.findIndex(p=>p.slug == category)] %>
<% var limit = typeof(limit) == 'undefined' ? 8: limit %>
    <div class="bg-secondary d-flex flex-column h-100 overflow-hidden">


        <div class="bg-secondary p-2 d-flex flex-nowrap justify-content-between align-items-center">
            <a class="media align-items-center align-self-center" href="/<%=cat.slug%>"><img
                    class="rounded-circle header-img d-none d-md-block"
                    src="<%=`${__req.helper.imgUrl('category-photos', cat.slug)}`%>" alt="<%=cat.name%>">
                <div class="media-body pl-2">
                    <h3 class="h6 mb-0 mr-2"><%= typeof(title) != 'undefined' ? title: cat.name %></h3>
                    <!-- <span class="font-size-ms text-muted"><%= (typeof(desc) != 'undefined') ? desc: cat.shortdesc %></span> -->
                </div>
            </a>
            <a class="align-self-center d-md-block btn btn-sm" href="<%=`/${cat.slug}` %>">T端m端<i
                    class="czi-arrow-right font-size-xs align-middle ml-1"></i></a>
        </div>


    </div>

    <% var products = controller.filterProductsByCategory(cat, limit) %>

    <div class=" <%= reverse ? 'order-2 order-md-1':'' %> ">

        <%- include('./products-view', {viewId: "", viewMode:'tab', products: products}); %>

    </div>



    <div class="d-xs-block border-bottom d-md-none text-center mb-3">
        <a class="btn rounded-0 btn-sm btn-secondary" href="/<%=cat.slug%>">T端m端

            <i
                class="czi-arrow-right font-size-xs align-middle ml-1"></i>
        </a>

    </div>

