<%

  var mode = typeof(mode) == 'undefined' ? 'tarif': 'food';
  var targetUrl = typeof(allUrl) == 'undefined' ? (mode == 'tarif' ? '/et-yemekleri': '/et-yemekleri'): allUrl;
  var subUrl = mode == 'tarif' ? 'yemek-tarifi': 'ile-yapin';
  var limit = typeof(limit) == 'undefined' ? 8: limit;
  var allUrl = typeof(allUrl) == 'undefined' ? '/et-yemekleri': allUrl

%>

<!-- <% if (!controller.__alternaveFoods) {  %>
  <% controller.__alternaveFoods = true; %>
 

<%- include('./food-select-alternatives', {}) %>
  
<%}%> -->

<div>

  <div class="bg-secondary d-flex flex-nowrap justify-content-between align-items-center">
    <a class="d-block py-3 pl-3" href="<%=allUrl%>">
        <h3 class="h6 mb-0"><%= typeof(title) != 'undefined' ? title: 'Et Yemek Tarifleri' %></h3>
    </a>
    <a class="d-none d-md-block btn btn-sm" href="<%=targetUrl%>">Tümü &raquo;</a>
</div>



<% if(typeof (showDesc) != 'undefined') {  %>





     
            <div class="bg-size-cover bg-position-center"
            style="background-image: url(<%=__config.staticDomain %>/resource/img/banner-bg.jpg);">
            <div class=" px-3 py-3  text-center text-sm-left">
                <h4 class="h6 font-size-lg font-weight-light mb-2">Hangi yemeğe hangi et, ne kadar et?</h4>
                <!-- <h3 class="mb-4 h5">Eti Bizden seçeneğiyle çok kolay</h3> -->
             
               <div>
                <a href="javascript: window.App.openDefaultSlider() " class="btn btn btn-primary btn-sm"><i class="czi-video mr-2"> </i>Galeriyi Aç</a>

               </div>
               
   
            
            </div>
        </div>
      

    




<% } %>

<% if(typeof (desc) != 'undefined') {  %>
  <div class="bg-secondary border-top">
    <div class="p-1 font-size-sm text-muted">
      <%=desc%>
    
    </div>
     
    </div>
  
  <% } %>

  <div class="table-responsive cz-gallery" data-simplebar>
      <div class="d-flex pb-2 ">
        <% for(var i = 0; i < foods.length;i++) {%>
                <% if (i < limit) { %>
              <div class="mr-2 ">
                  <div class="item-slider item-slider-sm">
                    
                    <%- include(`./resource-item.ejs`, {resource: foods[i], subUrl: subUrl  }) %>
               

                 

                  </div>

              </div>  
             
              <%} else { %>
                  <div class="mr-2 ">
                    <div class="item-slider item-slider-sm-all">
                      <a class="d-block h-100" href="<%=targetUrl%>">
                        <div class="d-flex h-100 justify-content-end">
                          <img width="500" height="500"  alt="Tümünü Göster"  class="w-auto h-50 align-self-center lazyload" src="<%=__config.staticDomain %>/resource/img/view-all.png" alt="Tamamını Göster">
                        </div>
    
                      </a>
                 
    
                   
    
                    </div>
    
                </div>  
                <%break%>
              <% } %>

              <%}%>

      </div>
</div>

<!-- <div class="d-xs-block border-bottom d-md-none text-center mt-3 mb-3">
  <a class="btn rounded-0 btn-sm btn-secondary" href="<%=targetUrl%>">Tümü

      <i
          class="czi-arrow-right font-size-xs align-middle ml-1"></i>
  </a>

</div> -->
</div>

