<%

  var mode = typeof(mode) == 'undefined' ? 'tarif': 'food';
  var targetUrl = typeof(allUrl) == 'undefined' ? (mode == 'tarif' ? '/et-yemekleri': '/et-yemekleri'): allUrl;
  var subUrl = mode == 'tarif' ? 'yemek-tarifi': 'ile-yapin';

%>

<!-- <% if (!controller.__alternaveFoods) {  %>
  <% controller.__alternaveFoods = true; %>
 

<%- include('./food-select-alternatives', {}) %>
  
<%}%> -->

<div>
  <div class="bg-secondary p-2 d-flex flex-nowrap justify-content-between align-items-center">
      <a class="media align-items-center align-self-center" href="<%=targetUrl%>">
        <img class="rounded-circle header-img d-none d-md-block"   src="<%= typeof(iconUrl) == 'undefined' ? '/static/img/logo-home.jpg': iconUrl%>" alt="<%=title%>">
      <div class="media-body pl-2">
        <h3 class="h6 mb-0 mr-2"><%= typeof(title) != 'undefined' ? title: 'Et Yemek Tarifleri' %></h3>
        <span class="font-size-ms text-muted"><%= typeof(text) != 'undefined' ? text: ''%></span>
      </div></a>
      <a class=" align-self-center d-md-block btn btn-sm" href="<%=targetUrl%>">Tümü<i
          class="czi-arrow-right font-size-xs align-middle ml-1"></i></a>                        
  </div>

<% if(typeof (showDesc) != 'undefined') {  %>





     
            <div class="bg-size-cover bg-position-center"
            style="background-image: url(/static/img/banner-bg.jpg);">
            <div class=" px-3 py-3  text-center text-sm-left">
                <h4 class="h6 font-size-lg font-weight-light mb-2">Hangi yemeğe hangi et, ne kadar et?</h4>
                <h3 class="mb-4 h5">Eti Bizden seçeneğiyle çok kolay</h3>
             
               <div>
                <a href="javascript: window.App.openDefaultSlider() " class="btn btn btn-primary btn-sm"><i class="czi-video mr-2"> </i>Galeriyi Aç</a>

               </div>
               
   
            
            </div>
        </div>
      

    




<% } %>

<% if(typeof (desc) != 'undefined') {  %>
  <div class="bg-secondary border-top">
    <div class="p-1 font-size-sm text-muted">
      <%=desc%>
    
    </div>
     
    </div>
  
  <% } %>

  <div class="table-responsive cz-gallery" data-simplebar>
      <div class="d-flex pb-2 ">
              <% foods.forEach((resource, i)=> {%>
                 
              <div class="mr-2 ">
                  <div class="item-slider item-slider-sm">
                    
                    <%- include(`./resource-item.ejs`, {resource: resource, subUrl: subUrl  }) %>
               

                 

                  </div>

              </div>  
             
              <%})%>
              <% if (foods.length >= 10) { %>
              <div class="mr-2 ">
                <div class="item-slider item-slider-sm-all">
                  <a class="d-block h-100" href="<%=targetUrl%>">
                    <div class="d-flex h-100 justify-content-end">
                      <img alt="Tümünü Göster" class="w-auto h-50 align-self-center" src="/static/img/view-all.png" alt="Tamamını Göster">
                    </div>

                  </a>
             

               

                </div>

            </div>  
            <% } %>
      </div>
</div>

<!-- <div class="d-xs-block border-bottom d-md-none text-center mt-3 mb-3">
  <a class="btn rounded-0 btn-sm btn-secondary" href="<%=targetUrl%>">Tümü

      <i
          class="czi-arrow-right font-size-xs align-middle ml-1"></i>
  </a>

</div> -->
</div>

