<%if (foods.length) {%>
    <div>
        <div class="d-flex flex-wrap justify-content-between align-items-center pt-1 border-bottom pb-1 mb-2">
            <h3 class="h6 mb-0 mr-2"><%= category.tarifTitle || 'Etler Bizden Tarifleri' %></h3>
            <!-- <a class="btn btn-sm btn-light" href="/et-yemek-tarifleri/<%= category.slug%>"><i class="czi-arrow-right ml-1 mr-n1"></i></a> -->
        </div>   
        <!-- <p class="font-size-sm"> <span class="badge  badge-primary mr-2"><i class=" czi-add-circle mr-2">
        </i>Uygun Hazırla</span>seçeneği ile etinizi istediğiniz yemeğe uygun olarak hazırlıyoruz.</p>
        -->

<div class="table-responsive" data-simplebar>
        <div class="d-flex pb-2 ">
                <% foods.forEach((resource, i)=> {%>
                <div class="mr-2 ">
                    <div class="item-slider item-slider-sm">
                        
                      <div class="card product-card card-static item-card">
                        <a class="card-img-top d-block overflow-hidden gallery-item video-item"
                        href="/<%= `${resource.product.slug}/yemek-tarifi/${__helper.slugify(resource.title || 'tarif')}?r=${resource.id}`  %>">
                          <!-- <img class="rounded" src="<%= `https://img.youtube.com/vi/${resource.contentUrl}/maxresdefault.jpg` %>" alt="<%= resource.title  %>"> -->
                          <img class="rounded" src="<%= `/${resource.product.slug}/resimler/thumbnail` %>" alt="<%= resource.title  %>">
                        </a>
                        <div class="card-body pb-0 mb-0 pl-0 text-center">
                          <h3 class="product-title pb-0 mb-0 font-size-md"><a href="/<%= `${resource.product.slug}/yemek-tarifi/${__helper.slugify(resource.title || 'tarif')}?r=${resource.id}`  %>"><%= resource.title  %></a>
                          </h3>
                        </div>
                      </div>

                    </div>

                </div>  
                <%})%>
        </div>
</div> 

    </div>
 

<%}%>