<%if(__req.query.footer != '0' && __req.query.print != '1') { %>
 




<footer class="app-d-none bg-primary-darker pt-3 pt-4 d-print-none ">

    <% if (false) { %>
    <div class="mb-3">
        <%- include('./_partial/category-slider', {  viewCats: ['reyon', 'list'], mode:'list', title: 'Ürünlerimiz', header: false, titles: false, allUrl: '/kasap-urunleri' }); %>
    </div>
<% } %>



    <% if (!controller.hide4Sebep) { %>
    <div class="container">

        <h3 class="h4 mb-0 text-center text-light mb-grid-gutter">KasaptanAl.com'u kullanmak için 4 sebep</h3>

        <div class="row pb-3">
            <div class="col-md-3 col-sm-6 mb-4">
                <div class="media"><i class="czi-check
                text-primary" style="font-size: 2.25rem;"></i>
                    <div class="media-body pl-3">
                        <h6 class="font-size-base text-light mb-1">Kaliteli Et</h6>
                        <p class="mb-0 font-size-ms text-light opacity-50">Yerel kasaplardan %100 doğal, %100 helal
                            yerli kesim et sağlıyoruz.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 mb-4">
                <div class="media"><i class="czi-card text-primary" style="font-size: 2.25rem;"></i>
                    <div class="media-body pl-3">
                        <h6 class="font-size-base text-light mb-1">Kasap Kart&trade;</h6>
                        <p class="mb-0 font-size-ms text-light opacity-50">Kasap Kart&trade; ile düzenli kasap
                            alışverişlerinizden puan kazandırıyoruz.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 mb-4">
                <div class="media"><i class="czi-lable text-primary" style="font-size: 2.25rem;"></i>
                    <div class="media-body pl-3">
                        <h6 class="font-size-base text-light mb-1">Fiyat Avantajı</h6>
                        <p class="mb-0 font-size-ms text-light opacity-50">Farklı kasap alternatifleri sunarak fiyat
                            avantajı sunuyoruz.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 mb-4">
                <div class="media"><i class="czi-delivery text-primary" style="font-size: 2.25rem;"></i>
                    <div class="media-body pl-3">
                        <h6 class="font-size-base text-light mb-1">Hızlı Teslimat</h6>
                        <p class="mb-0 font-size-ms text-light opacity-50">Siparişlerinizi kapınıza kadar aynı gün
                            istediğiniz zaman getiriyoruz.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="widget widget-links widget-light">
            <p class="text-center text-light">                
                <a class="btn btn-primary" href="/neden-kasaptanal">Neden Biz</a>
            </p>
        </div>


    </div>

  

    <hr class="hr-light pb-4 mb-3">

    <%}%>

    <div class="container mb-3 font-size-xs">
        <!-- <div class="text-center cookiealert" role="alert">
            <p>
                <b>Kullanıcı deneyiminizi artırmak için çerez kullanıyoruz.</b>

            </p>


            <button type="button" class="btn btn-primary btn-sm acceptcookies" aria-label="Close">
                Onayla
            </button>
        </div> -->

        <div class="row pb-2">
            <div class="col-md-4 col-sm-6">
                <div class="widget widget-links widget-light pb-2 mb-4">
                    <h3 class="widget-title text-light">Ürünler</h3>
                    <ul class="widget-list">
                        <% var viewCats = ['reyon', 'list'] %>
                        <% viewCats.forEach(cat => { %>
                        <% var reyonlar = __categories.filter(p=>p.type.includes(cat) && p.status == 'active') %>
                        <% for(var c=0; c< reyonlar.length; c++) {%>
                        <li class="widget-list-item"><a class="widget-list-link"
                                href="<%= `/${reyonlar[c].slug}`%>"><%= reyonlar[c].listTitle || reyonlar[c].name %></a></li>
                        <%}%>
                        <% }) %>
                        <li class="widget-list-item">
                            <a class="widget-list-link" href="<%= `/kasap-urunleri`%>">Tümü &raquo;</a>
                        </li>

                    </ul>
                </div>
                <div class="widget widget-links widget-light pb-2 mb-4">
                    <h3 class="widget-title text-light">Et Yemekleri</h3>
                    <ul class="widget-list">
                        <% var viewCats = ['resource'] %>
                        <% viewCats.forEach(cat => { %>
                        <% var reyonlar = __categories.filter(p=>p.type == cat && p.status == 'active') %>
                        <% for(var c=0; c< reyonlar.length; c++) {%>
                        <li class="widget-list-item"><a class="widget-list-link"
                                href="/et-yemekleri/<%= `${reyonlar[c].slug}`%>"><%= reyonlar[c].name %></a></li>
                        <%}%>
                        <% }) %>
                        <li class="widget-list-item">
                            <a class="widget-list-link" href="<%= `/et-yemekleri`%>">Tümü &raquo;</a>
                        </li>

                    </ul>
                </div>


            </div>



            <div class="col-md-4 col-sm-6">
                <div class="widget widget-links widget-light pb-2 mb-4">
                    <h3 class="widget-title text-light">Et Fiyatları</h3>
                    <ul class="widget-list">
                        <% controller.req.__pricecategories.forEach(pc=> {  %>
                        <li class="widget-list-item"><a class="widget-list-link" href="/<%=pc.slug%>"><%=pc.name%></a>
                        </li>
                        <% })%>
                        <li class="widget-list-item">
                            <a class="widget-list-link" href="<%= `/et-fiyatlari`%>">Tümü &raquo;</a>
                        </li>
                    </ul>
                </div>
                <div class="widget widget-links widget-light pb-2 mb-4 mr-4">
                    <h3 class="widget-title text-light">Online Kasaplar</h3>
                    <% var cityChunks = _.chunk(__butcherCities, 12) %>
                    <div class="row">
                        <% cityChunks.forEach((chunk, j) => { %>
                        <div class="col">
                            <ul class="widget-list">
                                <% for(var i=0; i<chunk.length; i++) {%>
                                <% if (chunk[i].name == 'Ankara' || chunk[i].name == 'Istanbul' || chunk[i].name == 'Izmir' || chunk[i].name == 'Eskişehir') {%>
                                <li class="widget-list-item"><a class="widget-list-link"
                                        href="<%= `/${chunk[i].slug}-kasap` %>"><%= chunk[i].name %></a></li>
                                <%}%>

                                <%}%>

                                <% if (j == 0) { %>
                                <li class="widget-list-item">
                                    <a class="widget-list-link" href="<%= `/kasaplar`%>">Tümü &raquo;</a>
                                </li>
                                <%}%>
                                        
                                                            </ul>                        
                                            </div>
                                            <% }) %>
                        </div>


                    </div>


                    <div class="widget widget-links widget-light pb-2 mb-4">
                        <h3 class="widget-title text-light">Hakkımızda</h3>
                        <ul class="widget-list">
                            <li class="widget-list-item"><a class="widget-list-link" href="/hikayemiz">Hikayemiz</a>
                            </li>
                            <li class="widget-list-item"><a class="widget-list-link" href="/neden-kasaptanal">Neden KasaptanAl.com</a>
                            </li>
                       
                            <li class="widget-list-item"><a class="widget-list-link" href="/yardim">Yardım ve Sıkça
                                    Sorulan Sorular</a></li>
                            <li class="widget-list-item"><a class="widget-list-link"
                                    href="/gizlilik-sozlesmesi">Gizlilik Sözleşmesi</a></li>
                            <li class="widget-list-item"><a class="widget-list-link" href="/satis-sozlesmesi">Mesafeli
                                    Satış Sözleşmesi</a></li>
                            <li class="widget-list-item"><a class="widget-list-link" href="/satis-sozlesmesi#iade">İade
                                    ve İptal Şartları</a></li>
                            <li class="widget-list-item"><a class="widget-list-link"
                                    href="/kasap-secim-kriterleri">Kasap Seçim Kriterlerimiz</a></li>

                            <li class="widget-list-item"><a class="widget-list-link" href="/kasap">Kasap Başvurusu</a>
                            </li>
                            <li class="widget-list-item"><a class="widget-list-link" href="/iletisim">İletişim</a></li>

                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="widget widget-links widget-light pb-2 mb-4">
                        <h3 class="widget-title text-light pb-1">İyi Et Rehberi</h3>
                        <a class="get-userguide-action widget-list-link" href="#">Ücretsiz İndirin</a>
                        
                    </div>
                    <div class="widget widget-links widget-light pb-2 mb-4">
                        <h3 class="widget-title text-light">Kullanıcı İşlemleri</h3>
                        <ul class="widget-list">
                            <li class="widget-list-item"><a class="widget-list-link" href="/user" rel="nofollow">Hesabım</a></li>
                            <li class="widget-list-item"><a class="widget-list-link" rel="nofollow" href="/user/orders">Siparişlerim</a></li>
                            <li class="widget-list-item"><a class="widget-list-link" rel="nofollow" href="/user/orders">Sipariş
                                    takibi</a>
                            </li>
                        </ul>
                    </div>

                    <div class="widget widget-links widget-light pb-2 mb-4">
                        <h3 class="widget-title text-light">Blog</h3>
                        <ul class="widget-list">
                            <li class="widget-list-item"><a class="widget-list-link" href="/blog/onlinekasap">Online
                                    Kasap Nedir?</a></li>
                            <li class="widget-list-item"><a class="widget-list-link"
                                    href="/blog/online-et-siparisi">Online Et Siparişi Nasıl Verilir ?</a></li>
                            <li class="widget-list-item"><a class="widget-list-link" href="/blog/kasap-kart">Kasap
                                    Kart&trade;</a></li>
                            <li class="widget-list-item">

                                <a class="widget-list-link" href="/blog">Tümü &raquo;</a>
                            </li>


                        </ul>
                    </div>

                </div>
            </div>
        </div>
        <div class="pt-4 bg-primary-darkest font-size-xs">

            <div class="container ">

                <div class="row pb-3">
                    <div class="col-md-6 text-center text-md-left mb-4">
                        <div class="text-nowrap mb-4"><a class="d-inline-block align-middle mt-n1 mr-3" href="#"><img  width="450" height="115"
                                    class="d-block" title="KasaptanAl.com" style="width: 8rem;"
                                    src="<%=__config.staticDomain %>/resource/img/logo-nav.png"
                                    alt="kasaptanal.com" /></a>

                        </div>


                        <div>


                            <div id="ETBIS"><div id="290a10dc90fc4d5392319961bb0e0725"><a href="https://etbis.eticaret.gov.tr/sitedogrulama/290a10dc90fc4d5392319961bb0e0725" target="_blank"><img alt='ETBIS' style='width:86px; height:100px' width='258' height='300' src="data:image/jpeg;base64, iVBORw0KGgoAAAANSUhEUgAAAQIAAAEsCAYAAAAo6b0WAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAIuqSURBVHhe7V0HgBTFElXxmyMgCCqSRFFUFDOKOeeAOedv/mYxYFZUzBkTqAQRUDEhIBIv50TOUTJIBuvXm+m93a2pueu5ud07YJ8+7m63OsxMz5ue7urqLRhUm3jQQQeRhv3331+1l7zqqqtMispxxBFHqHlInnPOOSZFFPPnz6dddtlFtbfh8ccfb3KK4p9//qE999zTYztgwABjUTHy8/M9aYPwhhtuMDlFMWHCBNpqq61UextedNFFJqfKgXMi0z///PPm26oB107m+dBDD5lvqw+fffaZpxy0WQ1o49K2FlD9sMaYEoKUEMQyJQRJo/phjTElBCkhiGVKCJJG9cMaYzKFoF27dmoekmeffbZJEUUihGDFihXUsGFDj21NCsHEiRNpyy23VO1teOGFF5qcKkdKCGqU6oc1xmQKQZs2bdQ8JE866SSTIoqwQnDkkUeanOKx8847e2x//vln823FyMnJ8aQNwmuuucbkFMWsWbNUW1ueeeaZJqfKoQlBly5dzLdVwwUXXODJ84knnjDfVh+++eYbTzkbvRC8/PLL9Pvvvyec99xzj6fsRAjBvHnznCcDGmUsu3fvrtZLEjeYRBAhuPrqqz15fvHFF576nHfeedS/f3+P7V133eWx/eCDD0xNoli2bJknbRC++eabnnKuuOIK+u2331R7G+bm5praVQ5NCFq2bOmpUxDWr1/fk2fTpk1V2zDUbu4gQoB7QTt/1U3c27JsQ++HY8aMMVVOLL766itP2YkQgsmTJ6u2JSUlxiI4ggjBSy+9ZFJFkZ2drdpinEBC697eeuut5tvqg/ZUw5hFsqAJwcbMIEKAeyEZwL0tyzb0fvjHH3+YZInFhx9+6Ck7EUIwdepU+s9//uOxzcrKMhbBEUQInn76aZMqipEjR3rsdtxxR5ozZ46xiAIDbtL23nvvNd9WHzRhxhN5w4YNxiKx2JyFAPdCMoB7W5Zt6P0wJQSVIyUE1Y+UECQeKSFQhAAj4lUFbg6Znx8ffPBBkyqKP//8U7XF4JyEJgSPPvqo+bb60K9fP085fo05ETjssMM85W/M3CSFID09nV577bUqc9y4cSanKGpaCO677z61rjbEaDZuxkceeaRSYpBGAuMW0q5Tp07OgJ+EJgTt27dX6xWGGBiU5WCwDceq2Utqg6rjx49XbTXi+OU50ajVc5tttqG7775bta9utm7d2lO+xrBCgHtGO0+2xD0rEVoInnrqKY9dEGIgSqKmhSAM4WSTLGhCUBupTfX17t1btdVoO8MAO5l21113pX///ddYJBY33nijp3yNYYVAG7wNQtyzEqGFoIJpByv27dvX5BTFxiwEeFIuXbrUlJBYbCxC8O6775oaRwFnKM1WI8ZNbKC9VmG8BuM2yQDamCxfY1ghwD0j7YIQ96xESghSQpBwpoQgnikhUBhWCPbee2+PrUbcNBKJEILtt98+aaPp5557rlqH2sZPP/3U1DgKeEVqthozMzNNqoqhCQFeDVatWmUsEgtbIUCb1ZASAoEgQnDppZc6i4QqIwacJPyEAIM+Mr3m649GJu1OPPFE5wmGKciqsKyszNQuCggL1gtI21tuucVTvsYDDzzQU3cQrtSavQ1t3bDBhx9+2FN3+OBr+WrEeIJMP3v2bHN2otCEAFOvgwcP9qQPQzh9rVmzxpQahSYE6CHK40Gb1ZASAoEgQhAGfkKAm04CMwHSDq6/EkuWLKHtttvOY2vLo48+2uQUBbwK69at67H98ccfjUXFgKekTItBTRx/VYG0YVYfwtffFscee6wnfefOnc23UfhNvSaCU6ZMMaVGoQnBbbfdZr6tHCkhEKhpIdCmu/BUk3bomkssXLiQdtppJ4+tLY877jiTUxQQggYNGnhsf/jhB2NRMQoLCz1pcRNPmjTJWAQH0oYRgiCrDzElKtM/99xz5tsokiUEderUUUVUE4JbA7h8p4RAoKaFAN0/CSxRlXYbczwC3MSIKVBV1MZ4BMkSArQZWyHA65stUkIgkCwhQPdOW1OvDU5pQqD1CBYtWkQ77LCDx9aW6AZLJEoI4LxUVSBtGCEI8mqgCcGLL75ovo3ir7/+8tglgn5CcPnll3ts4Vtgi5QQCIQVgvXr19O6deviiM8kcDExyr/11lvHEYNBEpoQIDCJLAdrAvA+L/O0JQYbJRIlBBiYlPW3JdJqQoBus3ZckpdccomarwZNCJ599llP2iFDhqhl2dJW2PyE4Nprr/Xkefvtt5tvK0dKCATCCsFjjz1GzZo1iyPchiXQeNArwNMtlqtXrzYWUWhCgCe/LKdt27ZUXFzsydOW2mh4IoQAxDSWrL8t/aZtf/nlF/W4JL/++mtPnkcddZQTjUlCE4Ldd9/dk/7iiy9Wy7IlZpZkORr9hODvv//25BnEhyElBAJhheC6667zpPebsrGFJgQaMVC4du1ak6p6kCghSATHjh1rSq0YAwcO9KTFdOzy5cuNRRSaEGiEXRi88847ar6SfkIQFikhEAgrBBigkekxkBMGtkKQCM/CjUkIUJYNUHeZFseIY5WwFYKTTz7ZpKga3njjDTVfyZQQpISgUqaEICUEVcVGLQQIrqHZ2vLbb781OUURVggQy0+m1yLxBsGTTz7pyVMjBsvgVFTdwKCmLKtPnz7m24qBcRCZNlG0FQIM7Mm0fkJwyCGHeGw1hhUCrd35EbND1Q1bIcA9I+2CUAuIE1oIioqKqEePHlWmpqxBhAAefxgTiCWi58j0CEwp7YJQc9M99NBDPceDm1MbI4AKyzy///57820UWGsu7TAF1a1bN09Z06dPN6miwDWS6eEBKeuOadPXX3/dk6ctkVabetWEAPayTogALdP6CQHiNsjy4ZAk02tCsHLlSufBIMvXqIWxxyCkLBvBbeExKNOHjelpKwS4Z2SdghD3rERoIUgEggiBtgYgWQziFKM1MrxuSPg5xdgunEHgCS29JKbKFixYYFIFB9Jq022aENx8880eO41+QqBBeyXVhAC9M9tpQY3HHHOMySkeu+22m8f2yy+/NN9WDbZCkAhs9EJguww5EdQ8C/2ARirTh41ZqAFLfmV6jbg5EuFZqAkB4ihKO41BhEB7JdWEAOM1GLeRtrbEIiEJ9Pj23Xdfj23Pnj2NRdWQEgKBlBDE26WEwIuUEFQvAgmBFussEcA7mCy7NgrBKaecYmpROZIlBNjgRKbXWBuFAKs2bbG5CAHuhWQA97Ys29D7IQbmtMGH6iZG+GXZQYQA/vpyIOeEE07w2OEGw3Ze0rZevXoeW7zjS7v//e9/nrr7DRYmQgiGDRvmKR8++LKe2mChnxCMHj3akyc+kwgrBPvss4+nnliph/dsWT52pJIIKwQQcVm+No4TVghwnuTx+K0a1YQA94JMnwhqy+wN1Q9rjEGEoFevXubbKH766SePHUaENWCASNpqXbShQ4d67PymDxMhBKeeeqrHFiPkEtr0oZ8QwANT2mpemWGFAAt0JDDCL+1ACJ5EWCEYMWKEsYhCeyUNKwRaDw0D3Bo0IagFVD+sMQYRAkS/kcBFkna4mNrTGxdf2sLZRAJ+9dIOjQ6NTyIRQqDFLMRNJ4GbU9r5CYHWG9N8MMIKgTbjgmPEsUpbnBOJsEKAayehORSFFYLUbsjVzJQQpIQgFikhSBrVD2uMLVq0MKcrHskSAixIkdC84/bYYw81T60brwXXQCwEaYebQ3vd0LrxYYVAC66huWf7CYG26AhjKdJOe93AMWpCoMWHwLmTdjjHErgWWsSoQYMGGYsotEVHfkLQQIkYhRWVEh9//LHHDu1OA9q4tK1xxi7vrA0844wzzOmKR7KEAEtU5RJTbGEu7bA8FqHBpK0Wdw83rbT77rvvPHZY7pyRkeGxxTmRtmGFACHZ5LnHZxJ+QqAtQ9Z6Gai7tMMxakFdcE6krdbLwDmWdlgSjqXh8pgwjiRttWXImhBg+TrWP8g8tRiSGDyWdppgATgn0ramuUVswIfaQg3JEgI0ehl0AgOD0g6UdqDmjpuIPMMKgW1QFz8h0AKTaHaou7QDpR0YJk8EicErhzwmzKRIWy1PTQgAmR+ohbHHZ5qtBs2uprmFqVutR7KEYGNhWCGwhZ8Q1Daih6EtEDrrrLNUe0k/IdhckBICYbuxMCUE8fTb6QheoZq9ZEoINhJoQvD555+bb6PAO6G0g1OL1u3dXISgJsOZJ4sYKESIeQnEm9TsJVNCsJFAEwJtFZi2++5ee+1lvo3HkUce6bHdWBhECMIE10DajUEIEMdBm3GxfTVAW9icYS0EGDk//PDDq0xsRyWBUWJpd9lll5lv46EJAbr8Mv2dd97pbFwSSyy0wIWWttrINabAZHrbBT5hicaMusrytTX9tkIAYt5aHrstg8x5P/LII566a8QxagFYNP73v/9V85CEe3SHDh089f/qq688tto0J9qCTIsgq1qQ2SeeeMJjmwjifNoCsSy0PGxpLQQIKy1PXhBq7sDafC4Ci2jQhEBjx44dTYooEHVWs9X43nvvmVRRJGtDDXRvtaCeEEdpG0QIksVPPvnE1KRi4Bhtd4nq0qWLSVUx8OqniYu2khbXWNr5EdONEoiirNlWN7X9NPyA4DlaHtY0+VSKmo5ZaCsEmlMMureIP6fZS9p6FiaCifAsTCa1bdE1+HkWatScsTSE9SzU6BezUHPGSgT9escaNP+VQDT5VIqUEOj21cmUEHiZEgI7JE0IXnnlFT0DS2JVoAT205d2GOHXgGAW0lZjWCF48803Taookrn77qxZs0ypUWAprbS76aabzLdRYOcmaZdMYgWeDbCxjJZe4+OPP25SVQ5tUBPXTuKjjz7y2PlRm3FBl12zrW6ef/75psTKcfDBB6t5WBPx9GyI7amhpLHEU0lmCM+tZ555xmOL6MAyTywokXavvvqqxw7E59IWW4vL8oMIwQMPPODJE3WXZcMlVdr5UQuoqhFunTItxky0yD1Y1y5tsTRaAmMh0g7BR7UnZVjivMiytHOnEYNgqJdMrzEtLc0cXRTwbZB5wj0acRxlelw7aYvt5uTx4AEk07711lvqwrKff/7ZYxuE2kMNazKkHWJOyLr7EQ9qmT4IuQ7xFfKjpsylpaUeOwzYaAE4oW7SVttTHhF7pR2ojd7efffdHrsgQjBx4kRjEYU2oqytdvODti5AY5A8w8L2tSoIp02bZnKPQgsvr3Hbbbc1KaoGLCTS8tVcf7XVoBr9gpcmAtrAHoKGSGixNfyIdS9hwHnoGUtiykQCYZ2lHcJQzZw501hEoY18Y2pIAotHpB2orXaz3eDETwjCbIvuB9uGF3bbLlvg5rDtpQQhxiMktB6ixiAxCzVor2obk2ehNiWrBcQJssFJ2BDrnIeesWRKCOyQEgLdPpYpIdiIheC5554zSaLABgrSDq8G2lw49smXttpW0n679ZSUlBiLKMIKge2aer/lpBpshQBx85KBRAkBHHMkkiUEfpF416xZYyyi0OJDaMR4U7IAXxlZPsYjJILsdJSXl2dSVQ2ch56x5BVXXEG//fZbHDHCLu222WYbJ3CDtEUjgbtnLBFIUdp98803HjtwxowZpspRhBUCDM7J8jG4JMuGt6K0Q7ASLN+U0IQAgShkntgMROaJBq5t1a4BxyTTjxo1ynwbRRAhgCu2rKcftdH0sEKACLvymLQFU+iNyPrgQdO/f39Pelw7aXvAAQd46rTffvt50iaKCKQr64QBSAlEbJJ2foTnr1aWLfkcxJ+QRFGL6KpFdWnevLn5tnKEFQKNXbt2NamigHu0tMOAl23wUoz+SmgRikBtUFSDGemNoxbdKYgQILpwGIQVgsMOO8xji9kmG/z777/Oa6lMr7m2v//++x67ZDLMIjA/aOcuINUPq522DkXYe9AWiRAC3GASmkMRQqFXd8xC+LtrDkUatPUP2ERUIogQaDELgyCsELRv395ja+tQtGzZMjU8fRiHokQR42DVjdAORcoHCWFYz0INNSkEyQxeqkETAkxLSWxMQqBti16TnoWJ4mYtBNrW3trij1atWplvKwe862R6bdFRkO3CtVcD7NIr7TBKrQmB1pg1IdB2nIEQaGvqNWBwSaZv3bq1+TYKCEGTJk08thqx+UcYYBZIy1cSYcW0QDHaPhNwZLMBfFcQUFam1xYd4RpLu2Ry/PjxpibVh9BL6nFRJLWnJ96/NFtbagEfEVhE2mH0FjeDDe+44w5Pej8nJWw2IW01wjtNltOvXz+PHZ6y6I5KYNBK2kIIZJ5aLwOvBmVlZR5bbTQc7tmyHCzDlYAQYIZC2mrEGIEs249aoJfHHntMzVcSYo8pZpnn6aef7rGFB6IERESmRa9PezVAfAppi2ssywlCDIjLcjBmJO123XVXjx2IJdOyTtogMa67tPMjZkdk+dqYiS8R501SW/+OaTXN1pZaY8bBSztEuEWEYBtisFGm17qcuBkWL17ssdUI91dZDpadSjsMFGKASgJTp9IW3VuZ58477+w5xwjKicYjbbURZe3caT0UAJ9LW40I/SbL9qO29/6KFSvUfCXHjRtHjRs39uSJp7e01bxUsXuRTIvty7Ugr1juLG1xjWU5QaiFl0dvStr5DQijNynrpEXbwgC7tPMjXM5l+dpUuC9NmXE488wzPYZPPfWU+TaxwNy+LNuP2skLiwcffNBTDs5HGEAIZJ5BiB5JMgA3V618jWHmrRcsWKD2Om2dYrR9JoIQ1zgMMP0n89R8YjA7IO38qMXBwOu0ZqtR2xMC96xmq9KkiQO6aNJQ8yxMBPw8CzVqwUvDIqxnoYawQjBgwACTU2KBaD5a+Ro1z0Jb+C1D1nY60hB2NSiucRhgQFrmiYFriSAPtUR4FuKe1WxVmjRxqEkhgAehLNuPiRACrUeAAJhhkBKCeEAItDBxm5oQ4BVI2vkxJQQCQbpTWvDSsNBWNGLMJAwQbkvmGYTJEoJu3bqp5WvUXIxtAacpLc+//vrLWFQMDLZp6W0Z9tXg+uuv9+QJD0YJeMNKOz/CM1ACYwSarUbtemDGRbNVadLEwVYIsAwZ78+xxM4y2uIPDQMHDvSkv/rqq53pOhtC2WV6rMuWmDt3rtO9l7ZQbAl052Q52knGYCEGEWWeGrV5fPhLyHIig0PSVhMC2GplScL9VAt2ogF2sk5+1GZMbIGBTnj8yTwxwCXRvXt3zzFhdkOmDcKXXnrJk+c999xjSowCLuQYBJS2jRo18lwjuGdLO20q2Y9wpJPpUSet/hoRvFSmd7YyE+UgUKmWPpQQYPRW2oGYrrOBNhfuF7xUg7bXHqbvJBCAUtqBmMuvKoIERNXo18vAaLq01YQA02rSzo+a4G0swAi/PB44z4SBtkYGMRskME2pCXOyqLVlP2DfRy0PSb/X3FBCEGQZsoaa9izUliHbAr0eTAPJPG2pLUPG1Ce87qStJgS2Ida32ircTkc1DfhgyGOC92YYaJ6F2jJkCAFC5kvbZDERMQtxb2tICUEVkRKC5CAlBHZIiBBoiz/uu+8+820UmhD4hSrToLl6+gUv1aAN2mix4P0GILV4eLaAM5Gf55gN27RpY3KKAs5ImmDBO04iyAAkXmM2VmhBc/22zreFturVTwg0x69kEf4KtrANXuorBHC3lMSafLybxfLXX381SaLQhADBS+HIIPPU3lORXpaD2IgyrR/xtJDpEcxBAoNQcH+VtlqMAw0QElk2NnyxdeGEWsuytYi/8L7EVKO01bz4EHtA2vkRN5Osf1jOmzfP1CQKOPpIO603g54PxoekrcbTTjvNcz6x3FraIbbEypUrTQlRfP/99x5bDGjLPDUhgBs1Bhbl+cSaDpkeN6K086NtMFmsJpV19yN67LIcLbivrxBIQ1ALcKFBEwI/IuCIDfyCl2rEiHIygMaslW9LbSYjmdAW44QlQqdLaIvAEIpdArMT0q46qImT1rvVGCRUGUboZXpMO9si9K5ECrXgpS+88ILHLpAQaCu2NAQRAm0Zsoaa9izUoC0QCkJt9WGyEGQZchDaxizE5iwSQTY4sWUyYxbaOhT5QYtZGJa4FyXQS5B2KSEIgZQQeJkSgvj0m6QQaOMBGuBoo6XXqG2CqiFI7IBkCQGWUGvl27ImhQDAsl+tXmGoCQGWgEs7bfAWzkjSLiwxO6KNEWhjDBq1wVs/2HoW+gHh+GT6sLQVAl8/AiihpOZoA7dQTLfFEqujtPQaMZAkgdFsLU9ZeT9qQoC12TLPIIQXogTGTLRjsiV2AJLlIO6ABJ7euMGkrUZtgxEsA5Z2WJWGmRh57uC4pdVVEjeITAtqQoBBK5keT0pZJyyZPe644zy2GjUvPozkSztMxw4bNsxTFt7npa3GSy65xJPWj/Dak3W68MILVVuN2OxHq4MNMYAI0ZPl2woBBhC1OqnThxq0gQdERQmDINtTa9SEAIOSmq0tbbfhDgJt0ZEWPhuj6QgoIW01antCYGmwZqvRdvAWPhhaw9OEQIPWm0IAEUzN2UDbjl8LL48pa206F+6zNghy7sJSC6NvCzw8tdkqWyHwpUlTKTCNIhOH3SYKU2gyzyDUhCBILHiNWkScsNCEAE9ECQhBgwYNPLYaNd943JyarUbbGRdMnYYRAm3hDI5R68ZrQG9KptcciuCDoYmo7WtuMjeQ1fbosAV65jUqBNq26GF9vjXPwiDUhKBnz56qrS214KVhoQlBEM9CjRiYkwgiBFhybAN4JYYRAm3q1S94qQZbz8IgwUs1ON1jkTZRDBO8FF67tU4Iwu4OEza+POL2SdRGIdC6t1qPAKvybIVAm7cO0r3VNt3UgECbWnrbTTe1HgH8GrQYfRo2RSHQxodsgRkXOO3JPLE0WwJOdNLOl1hqaUMIASoQSzhraLZaLD8NcPWUeYJaRTU7bQ13ECGoU6eOJ08IgXZMGm2BDU5kOQg0KvPD0mZNCLR63n///Sb3KAoKCjx2oBbLD2HeZPlaQFLsGI1gnTJPzBjJ9BoRZk2mxZJdHKu01drNpigE6E3JY8dAsQTOh7TDIDHiMMpzqrnLY3MYaYe2pNVpC6xZtiEyxXLeWCKoprTDdlJQLRvg4sk8/ba8xqyDtNXWxAcRAgxkyTyxDZs8Jo1Y163t8agBgVNlOdjyWuaJBS7ahYJgyvSI+ycBF2VphxtZWziDp7Is/+GHHzY5RYFBPZkniGk5mV7jtdde60mL93G46Upb3IwSm6IQQAjlsWObQAmMb0g7DNBjsFGeU62HBdd6aVdBXEr1Qw+xBkDC7+TZ+vBrQMPV8sTotQ2CCIHmw6+FKtMIhxhtyzNbaPsa+NF2wMsP2NdPy1dSW7npB83fXiP8+iUgjNq4w/Dhw41FFJuiEGjEalIJLDaTdphxCQOcY5mnofqhhxh4kMAAhbQLsgxZg59noe2USxAh0J5AWvBSjWh0aHxVhbbTkR+1hTu2COJZGGSnI1t/+SCehVrMws1FCGxjFqI3Ybu6VwO8hmWehuqHHqaEIJ4pIUgJQXVyoxECTIFJ+E1X2YYq04BXAC1P27nXIEKgbT2FsRDNVhLv8mFeDTCwp+WrMeyrAXZ50vKVRLxIW2CMRMtDUnP+CSIEGLeQdn7+K9oqS4TTswHib8q0yeQnn3xiahKF5owFr8owwKCizNNQ/dBDLJRAoIRYYgoLHmqxxJoCuLpKYL24TK8R25jJPEHbp28QIYDftSxfe/dFPDhZH6i15h0HxyuZp0YE15DlYNssTKnKsjBuIdNrDkEYUZZ2GKzDNKvMUyO8KmV6P2qx/OCDL/PUIhMHEQI8bGSeWlu6/PLLnfMn80TvQdpqvOuuuzzl4BxrvQyNiEEp0/vFlXz11Vc9tuhxyzqhdyrt4DuDgKrS1pZYFq7Vial+aEVtG24/aP7ZGrFhZxgEEQJbat1bP2CfQS0PG2JaSBv9hWBJ25tvvtl8G4Wfd5y2Tl9DWK9M252nggiBhgqealWmtoEsgJF6zV4SQiKBdSuarfbqjJ2SpB3WJEhgpkraVRPVD60YxLMQ8de0PCSDxCzUkAghCLLTEZ5AWh42xM2Bm0QCQiRtbT0LMTpvG7MwyAYnGrWRbw1hhSDsBicasaBHIkjMQm0ZMsa1NFvNs1DbSVqLWejnWVgNVD+0YkoIvEgJQeVICcFmLATo5mh5SIZ9NUCMOi3fMNTCbfnBdhBNo58QYMBN2mpdUT8fjNr2agDHJ7wGyfS2QuDndBaGfgOQtq8GmhD4bd+nLSHXdi7eqIUAbqrfffed83SJJUZ/MT1VGdHAZdogxICXzBPbWGsOLHB2kbYaMVgny8GgqDZYiIEgLQ9J7b3fTwgwOCbTY3ZD1gkDjdIO/Oijjzy2GrW6Y52+5qKsEQOTWr6SOB5tYM9WCDDCL+uJGQ8tT4iotMXTX9rhhpf1hLDBgUfaatSEACsFZdkgVt3KsrRBvLBCgIeSVr5GttczsaEmBFheqm1wiakQG0AtZdogxE0vgRkHLUy4Nn2oAdtzybRgmOlDrRuPOqLx2EDb18CvN2W7Ww9G3iXC7ugUhJpnYRBo8Qi0PMPGwdCoCYEfcJ20PCTDCsHbb79tUlUOttczsaEmBHB2gNODtE1EzEKNidjgBE4Yu+22WxwRUjvM/n8Y+cYNGkucN9tuPOadZZ20pc1wKMKTQdpq1IKdIB4B1vnLuvpRy1ejljbMPhO4FrgmMk8t/iZ6TrE22mtKUAYRAtuYhWGFAAsFbcH2eiY23FyEAK8ACIEWSyzosF1lqQErybQ8tVVoGnCeZXq/Hgo+l7YatRgBeNXTbBNBnJOqAtcC50/mqb2+yXOHBWCybQTlZi0Ehx12mMkmCj8hwMm2AUa4ZdogxDuthF9AVHj3pZBC2G3WQTj52MLW5Ru7bUtAuBIiBIioWlVqiuUnBOiOoZtZGRHYUitLe6LDpVTaaev0oaLY7Vbawg9d84JMYfMC2hzal2wfQaitzkVvRGvjGBjU8pBE4FWZFqKlDYrinpPpEQdDpvfjFuj6haGEnxBstdVWjn9+ZcTWUVo5WkhuuM5KO7+utbQDsSf9wIEDjcWmj/mzZ9OE7Gwaz69E+DnRcJLh5BhOYU6N4TTD6YYzDGcazsrOKudswzlcDjjXcB7z75xsWlxWRqssQ5UlA+it4kGhtRFbau0OfgRaG0d0Jy0PScy+aenlfQBixkWmh9uyll6jdagyW/gJgS0R2EQDPpe2WoSiIIC42M5mbIzACMbY3Fwa8MYb9GbHjvS/ffelu/hpcu8OO9D9O2xPDzIfYj66/fb0GLMT86ntt6NnmM8xX2C+xN3QV5hdttuWXmd2Zb7FfJf5HvNDzu9j5qfbbkPdmJ8zv2L2YH6zzTbUa5v/UG9mX+b3zP7MHzjfP9oeShnXXEMTunWj5ZYDpIkChMDPxTgMEJJMtlnQNlRZEJ+YjIwMkyqKhMQstEVYIfDzLIRiS1steGkQQFxsxy42Jixdtoz+6N6dXjj3HLppl53paj5XNzBvZ+WHENzDvI9v1P8xH2Q+wjfso8wnmE/yjfoM8znmC8yXuMv8CrPLf7am15ldmW8x32W+x/xw663pY+anW9ehbszPmV8xezC/4fJ61tmKejG/Y/Zl9mMO2GpL+oHrM4CJn4NbtKAJ/Oq4PsTgaxigDfg9gMIgiGehBm0Zsh+TFrzUFmGFAN11DVqUnbBCAHHZlHoEK1evpp+5l3Qfv15dxufnKubNfKPftuMOdAf3Av7LvId5H/MB0xt4mInewOPMJ5lP89O6M/N55ovMl7k38CrzNX76v8F8k/m26Q28z/yIReUTJnoDnzG/YHZnfs381q9HwPyJOZAF5hcWkV+4nj8zsy67jFaFmJKtKtAG0BaqG35CYLukPkiPQAteinELzValSVNtCCsEfhcEc8TS1tal1Q8YvUWU3U0BOSNG0EPt29OFfF6uYN7AN/hNLAC3Mmu1EDB/457F79xT+JXrnXnO2bSW21AygTaAtlDd8Hs1gEDYIMgu3JoQIP6mZqvSpKk2+AkBXH8R+bYyYvAODjCSGOGXtvfdd59qa0t0vcJ4B9YGrFm/nj7v3Jku5pvyIj7PV/NNft2OO9INfPNvVELA/INfJ37nYyh+4AFzdMkB2gDagtZGNP72228mZcXAvSDbLAjXdi1fSW2dAzaHgeOVzFPzAcH289LOj0kTAkQ8toEzlSHSgtpCDW2f+iDUgpduTIADzVOXXExn8rFcxjfeVTvtRFezCGy0QsAcvOWWNJRfFxYog1+JBNqC1kY02u4S5QdM7Wn52nDvvfc2uVQvkiYEYT0Lte4UvLk0W1vaehbWRsybO5fubn8cncHHcdmO29MVO+1IV7EAbOxCMARiwMeUe/FFzqxHshAkZiGWuoeBrWehRtxbuMeqGykh2AixaPFiuuv44+k0PoZLWQAuY25KQjCUj+svPp4l4+wWhVUHUkJQzQgrBAh8KtOC2kjr5igEazdsoE4dO9IpXP+L+WbZJIVg6zo0hI9v8rvvmKNOPPxiOWisSSGAe7HtBrJBoAoBVrYhcGIsbcNCBxECjHTKcrBfG7Ydk4SPtYQmBFj/INNi7b7jPSVsN0Yh+Oq116gD1/0Cvtkv3mmnTVII/sRPPsa8c85OyusBRACBPWX78KMmBNiwRrZlxHfQYCsEiAkq2zJ2vdIWZ2FZuixfoxYtGVCF4KijjvJUCiP0NggiBF27dvXY7bPPPubbyqEJAQYQJbBENczqw9qC7BEj6ASuN4TgdCYGCc9mnsM8n4mpQ8wcwIfgcuaVzGuY1zKvZ97EvJV5O/NO5t3Me5j3Mx9gPsx8lPk480nm08zOzOeYLzJfZr7KfI3Zlfkm813m+8wPmR8xP2F+xvyC+RWzB/MbZi/md0xbIcDrQcb+rWi15bZyYVBBrH+VmhBoG/piLYwGWyGAONnCducp3NsaVCE4/fTTPRloG5xoCCIE2rboOEm20IQgEcuQawPgy/4VPxEePu886nzllfQs83nmC1deQS8yX2K+csUV9CqzC/P1Ky6nN5hvMt9ivn355fQO833mB8wPmR8zP2F2Y37G/IL55eUdqTvza+Y3zJ78GtKL2bvjZfQdsy+zH3MA8wfmT5ddRgOZvxj+xhzE/IM5hDn0skvpT/45nOv6U8sW1A9ehRZC8CdfnxH169FSy+AxYTBs2DBP26iImhDAuU3a+fnE2AqBtqjPDwgJoOUhiXtbQ0oINhKEiX1QWzCFXy/7brklDeDXtEqFgAVj2JZb0AK+SRONlBD4CIEWT++5554z31YMDGRoEV80V168r0i7pk2bmm8rh4m1Fkft5GF8QdqBeK9LIXnAu+2go4+ifnzuKxOCYVvXoWFsN69/f5M6cfALRedH7aGGuIPSDg9EDXj3l7YacR/aok2bNmoeklowIWALeElJYsBNZnAFdzelnRZaChFqEcTyrLPOiiMGM2R6eBtKO7wXSTs/YvBDpkc8AmnXp08fOvfccz22tjELU6g+ZD/8EPXl9mQrBHO/99501Q0EqJFtoyIiFqBsYxjIk3bonUo7UAuRjl6CTI9ds2yBKMgyvcZOnTqZFPHgOsRXKAiD7HR04YUXetJjdxcJP89CjV9++aVJFQXWcEs7bFuVQu1AyfvvuULAN3uFrwblPYJ+JmXtQceOHT1tTBuk9psK1xh2SX1YcB30itnQLxa8BnTZZXotWGaQmIXa6kO8v0k7RI0NEw8vhepDyXvv2glBna0cIZg/ZIhJWXuAJ71sYxivkvBbfahR2w05meA66BWzod/7hoaaFAJ0xbQglikkH6NvuJ6+52tiN2tQNymzBkGREgJBbZsoPyBmvkx/zz33mG+jwHu7tPMjBmgktFeDpgEGIFNIHKYOGkT9dtieBvDTvjIhcPwIDmxNa2phTEmMl8k2dtNNN5lvo5g8ebLHzo8Iu1eT4DroFZOEayPi28cSOxxLYJpr8eLF5aGiI7zgggs8eWJHX2kXJKIsdsyR6XFCpR2clLAzrbRNvS4kByuXL6eSTz6h/rvv7vQGbD0LC66+2uSQWGCA2285utaWsf27vBewnb+0Q/gw2Rb9iC3UZXqNqI/tVDIC82p5aOQ66BWTxKgklr3GUtvgA34EiDIUu4EEqM3jIxqrtNtll108dn7Ejkoyvba55lZbbaVuqpGbm2tqXb2YOWsWZaSl0bfcY3n+sUfp0TvvoPu48dzJT5Lb+RXpLv750A030BO3306dmE/efhs9xXz6ttvoGWZn5rPM55jPM1+87VaHLzNfufVWepX5GvN15huGbzLfYr7NfJf53q230AfMD5kfMT/mruunzG7Mz5hfML9kfsXswfya+S2z5y03U2/md8y+zO9ZrPsxBzB/YP7EHMj8hfkr83fmIOYfN99Eg5lDmH8y/2IO5/yG83H+2OYg6snXwdazcCj3GCAEM/slZ6AQI/maxx1eJzEgLtsNliHLewGuv9IubFvWiHsL95gNnn/+eTUPjVwHvWKSTz31lMm+YqCScK3U8qhtzMzMNLUOh/UbNlAa92Re4HN08Wmn0REtWlCznXaivevUoT25nL2YTZjNmC2YLZn7MVsx92e2Zh7EPITZlnkYsx3zSObRzGOZ7ZlwLz6JeTITKw+xBFlzMb6U2ZEpXYxvZN7CvI1ZXS7G7zArcjH+mumIwH/qWK81gAiMat6cVicpaAwiFCFGgASEoFGjRp5207t3b2MRBaJlSbtEEPeWrRAEilCkfKAyrGdhbWRYz0J0Jz9+/306q0MH2odv/N05zwbc+2jCr1Et+O9Wu+xMB+y6C7VmHsRPh4OZhzDbMg9jtmMewTyK7Y5hHrfzznQ88wTmicyTmacyT995JzqTeRbneS7zPOaFzE1y0dHWdegPPo+TLbdYrw74BS+FEGhz/raehYkg7i1bIQgUvFT5QKWtEKxevXqjEYLs7GxT6+D4ols3OqpNG9qV86nHNz+EoNmuu1JzZkvmfsz9WQBSQhBMCAbx+Uw75hhay+0oWYjsayCBMSRtw1JNCJLVIwgiBIGClyofqNR2cvEDwilpedQ2ViVUGdYtXHnJJbQTp6+79dbUhG/kffmmb8pMCUE4IUC8wqG77UoL85O7FV3//v19Z5a011zMTEl88803HrtEMIgQYDt/LQ+VWIJpQww8YMFCZcR+9NqWTE8//bSary1txeXkk09W02uEb0OQHXjT09LpkP1b0XZcTmO+gffhm70JMyUE4YUAEYwHsf3MGggvj63f4aUq2zJmxRBSXLYbLMmXthjEk20RbVamDULcMzLPIEKAfURlnoiRIPN0aNJUildeeUXPwJK//vqryalqsF1vjYVItkC3r5/lyHQOv0Y033sv2nFLvhi770Z78Y2eEoLqEQLsaTCIz8N0vulqCoiApbWnBQsWGIsoNOc4jWF3T8I9I/MMIgQasBGKzNOh+b5SYGdVNQNLaiu2ggDvcFq+ktoyZD/Y7nSEsNCHtWlDO7AINGYRaMzd15QQhBeCn/h6YaejP9scTPOUuPzJBAaOZVvClDdeBSU0z0KNfsuQbYF7RuYZVgjQK5B5OjTfV4rNWQiuu/pq+g/nvScLQCNmSgjCCQG2POvP5/Mn/j733ntphfLUTTZSQmCJjUUItFVgfsDSz8q2PMOGKztzQ6/PN2RKCKouBN/9Z2vHoagPcwCnG33ppTRn5EhzlmseWvDSTVEIRo0a5cnTIQYPJKdMmWKSRZEIIYBnnyxbW0gE2ApB27ZtPXn6ESPCv//+uynBC0wfnXbyybQt59uAb+yGfEPvyWzExGDh3sx9mM7MAbMpsxmzBbMlE34E+zMPYB7IN3Qb5sHMQ5ltmYcz2zGP5Jv8aOaxfGO3Zx7P7MA8iXkK8zS+yc9gnsk3+DnMc5kIXnoR8xK+yS9lXs68km/wq5jXMq/nG/xG5i3MW5m3801+J/Nu5r3M+/kmf5D5EPNRvtEfY3ZiPsU36TPM55gvMF/im/wVZhe+sV9ndmW+xXyX+R7zQ77ZP2Z+yjd7N+YXzK+YPfjGhzMR4hVGnIoGcg8s8777aG6SNy+pDNg8517umci2lCghQBuXbVHzcg0iBF9//bUnT40vvvii42gkyXnHFwRquxIlQgi04KXw5NJgKwRB+ddff5kSvPjt11+pDttsv9VWtBM3ip25ce/C3JW529ZbO9OH9Zj1mXswGzAbMhsxGzP33roO7cNswmxapw41Z7Zg7sdsxTyA2brOVnRQnS3pEO4ut91ySzqc2Y55JPNo5rHM9ltuQScwEbQUYcxPZcKr8CwmvArPZV7AhFfhJUx4FWL/Q2yCCq/C65jYDTk2eOl/mfAqvJcJr8L/MaVn4TPMZ5nPM2M9C19nwqvwLaZf8FJ4FfZmoR145JGU9sADNKlfP1pRS7eX8+suJ0oING9F3AsSQYTAdjC9ffv2JkU8+DuvMU6MRCKEIEjMwkQJAeLV+QHdqI+4jl99+SV99cUXcewewx6CXxt+E8NvDXsa9ophb8M+zO8M+xp+z+wXw/7MAcwfDH/84nOHA8HPP6efmb8Y/sr8jfm74SDmH8zBzCHMocw/mcMMhxuOYI5kjmKOZo5hpjHTmRnMTGaWYTYzh5n3+Wcuu3WjIj5f0wYPpkV8E61bv96czdoLv5iFiRICLWahtgw5iBCEjlkoDcGUEKSwOSElBD5CoM35J0IIEPtN2vl5eKWEIIVEYciQIWrb8BOCiy66SLWX9BMCtHFpi3tBQhMCv01QtTijGn2F4Eh+h5PUovtqQoBoxTItgpVss802HltNCOC1JdMj6IMGTQiwbbRM36JFC49dRUwJQQpYc6J5BvoJAVbiynanbWHuJwRo4zI97gUJTQgwwD1y5Ehn5WwsEfhH5qmNRfgKgflZKTQh0AYeEDRBcwfWhCAINCHQIhRpJ68ipoQgBQCRjGXb8BMCDVo4cz8hsEWQtqwtqYdgSbuECIEWsxDRXvAeI20TIQRY8SXRq1cvj11FTAlBCgB6BbJtBBECbfVhMoVAWzOD0OXSLmlCgIGMZAmBbfDSipgSghSAIJ6FGrR4BMkUAqwhkNDiEYQWAjgjyEyDCAGWeoYB3IFlntq+BqkeQQpVgZ8QzJw501hUDLRFmV4LdhIEuGdknn5EfEQJTQiwOliDKgTwqEN0lli+8MILnkyDCAFuUJlnELZq1cqTJ7ZMk3ZYF44LKCnTRlibhSCXu3sDevSgX/v0Kedvhr8zBxn+wRxsOIQ51PBP5jDmX4bDmSMMR/bpTaOYo5ljertMY6YzM5iZzCxmtmEOM9cw37CAWcgsYhYbljBLmWXMsTEcz5xgOJE5iTmZOcVwquE05nTDGcyZhrOYsw3nGM41nMf8O4bzDRdEyOdw4bff0vp//jFn1gs/IcBSXtnGNGrb96HNara2DPJQGzFihCc9hEDeB1haLe1AVQiwZRlCNMUSwT9l4UGEAKOdMs8gxEHIPOvVq+exQ2RkdOdiCcegrbfe2pMerM1C0PvTT6kN1/G4rbakE7baijowT2aewjydeSbzbP7uXOYFzIu23JIuZl7GvHzLLehK5jXMa5k226I/xKxKzML3mB8w/bZFj7gY92ZivQEiGWPR0QDmj8yBTCxFRkwCBCdBqDLELcTeBtjk5C/mCOYo5hhmGjOdmcnMYmYzc5l5zHxmAbOQWcQsZpYw/+7alf6twLlJE4It+Txi4Fu2MY1oizI92qxma0stKIof99xzT096uBPLewGzE9IOVIWgQ4cOamGSQYQgWcQ0igRCmWtCAtZmIVi0cBFd1voAFoEtE7rWAOsMHmc+yXx6u22pM/N55ovMl7fdll5lvrbtNvQG803m22adwfvMj7bZhj5hdttma/qM+QWzO/Nr5rcsvr22rkO9mX2Z3zP7M39g/sQcWKcO/cL8rc5W9DvzD0QvZjq7HDGHM0ew2I1kjuZzkMZMZ2YwM5nZzBxmLjOfWcAs5Ju3iIWvmH+PiMB8i/iHmhBs7MS4nsSff/6p2qpCgAEF1ViwNgoBvL4koIQboxAA3yE2ItfzjJ122KQjFMVGMca+BsOYw5kjWExGMkezcKQx05kZzExmNjOHmcvMZxYwC1lYilhA0Bso4bzn8/mzweYiBIGWIaeEoPZgzbp19MhllzphzVNCYCEE3HvAq0Fp/fq0KMAAdUoIFJxzzjm6seChhx5qUsQDOwtp9smgFqoMG1BotqC2rqK2Yf78+XTr8cfTcVxfvBqkhEAXAowPgOOOaEfL8/PN2bPDpigEiHko8csvv6i2W1xzzTUkqbkmYssyjMjH8v333/ekvfLKK51dW2R6BHyU6YNQq5NG+HHLOt16663Uo0cPNV+MH2wMmP/33/S/886j4/kYz+KbJyUEMUKAcQI+LxCBaXffTWuVHbgqgyYEdfg1A2sAtHYjiTYm0/sRU/EyPab1pB12X5J27777rtq77dy5s8cWGwpLzJ4922MHch7xGfoRUYwl8ll1NVuNFQUAsYHmC25LbOm0KQCvCV926UIX1KvnxCQ4n2+0zVoIWAAiswal3AtYFKKNaUKAG27p0qXGomJg9yOZ3o+abwK2FJR2Vyt7P2I/w+35OklbBF8NA84jPkM/ahuc+EZEVZgIz0JbYnoEc6WbCiaOHUtdbr+dLmuwhxOg5DzmZXzjYdZgkxcCvvkxdRiZPixq04bmdOtG60JuiOInBBhfskGQnY60J/V///tfjx2iJUtARLAhsbTVPAuDgPOIz9CPKSGofZg6cSL1fustevjUU+iqPeo7EYqw/+FlTOx7eDUT0Yli9z2M+BDcxUR0ovuYiE70IPMRJnwIOjFjfQheYL7EfIXZhYkIRYhO9DYz1ofgY+anzM+ZXzK7MxGq7FsmfAgQr7Avsx8TPgSIYIxIxvAh+IX5GxM7HcGHANuiR3wIhjNHMiN+BFl8rGWXXEzzvvuO1lbTtukpIRAZ+lETAngzabYawwpBmFcDOENtylj77780dcIE+pNvjJ4vv0yvXXMNdTr+eHq6QwfqzHyW+TzzBebLzFeYXTqcQK8z32C+dcIJ9DbzXeb7zA+YHzM/YXZjfs788oTj6StmD+Y3zJ7MXlxGH2ZfZr/j21N/5gDmT8yfmb+0b0+/tT+Ofmf+wRzMHMocxhzOHHHccTSSOdowjZnBzDLMYeYeeyzlcT4l119PU19+ieb1708rZswgu43B7VFWVqa2ncmTJxuLiqGtPvQjYiRKbNSvBnC/xCh9LOGVqA0WakIwlru4OIE2hOeUzFMj1oXLOmHveviCa/nOmTPH1GbTAnzoks0N4qf8LAwTienTp9Obb77paTfwUsWMjcTw4cM97QgbAMn0fvzggw886U855RRPW0ZMAWn3FvcAtcFCLDmWtoWFhabGUWCPDmkHch7xGfpREwI/aNOHmhDg5Eu7sNTCmW/s04cpJBZwu/WL/KPh/PPP97Qj3OC20DZWTQQDTR8qH6i0FQI/hyJNCLSYhWG5qTkUpZB4+G2L7gctZuEtt9xivq0cWszCRDCQQ5HygcqUEKSwqSIlBA7VDz203RbdTwi0rcU+/vhjj11YXnLJJSb3KLBhi2YLInBlCkQTc3JoDL8rpvXoQVMLqmdbcoQyn8Hv02O/+IIm9OpFiyZPMt/ULmC3KwxG2yKsELRs2dKTPhF87rnnTIlR/Pbbb6rtFs2bNycbPvnkkzRp0qQ4ao4RfkIAL0SZHl5bWlkatSc6lmlKu/vvv9/UJArUE9OP0hbUArVuTlgwZw59euWV9Mh22znLkDGF+PQOO1DPm2+mpYsXG6vgmFtYSANPOIG+2Wqr8mXI/XbfnfKee5bWb8DwYe0BNvRB0FvZPkHE5pCwFQJMWWt5YmBQa4s2xFQ4lkfL8nHPSVstRDoCn0o7cIv1rNo2RDcDLpex1IKX+gnBVtwgZPq77rpLLUujFpjk008/9dht2KCPMUu7CBFsdXPFsiVL6LXj2ztxCR5loY0sQ3566zqOP8FnZ51Fq/l6BsX88eOpJ7cBxCPoWWcr6v2frakvE7EI4E+QxWJdm846Xg9xc8n2ifl6zY/AVggwKybzBDGar7VFG2LqUfMjwA0ubbV7Ae1d2oHqoiMNEAJZOHyhJfyEQOOdd95pUlUOLVTZF9zlTKHq6P/8887WZ048AulZyIIAx6Lh771nrO2Apvf75R2d4CSaZ2G/rbZ0ApPMGFp7XskgBLJtgRAHbR9QWyHw800oLS01FsGB6W5NCLRQZUEQSgjCLkOGN5UtbIOXpmAHXKcXDj3EiU7k52IMz8JPOnSgtUr32A9/T5xIPXbfjbpvqQsBXIzhXZh95x0mRc3DTwj8PAuD9AikHah5FtoiYZ6F5melsBUCv3DmGvFqYIv99tvPkz4lBFXHbG7gjzfakx7ceitfIXiOn95dGzemJfPmmVSVY+KAAdSNr00PvuH9hAAuxsNOP53W15LXMj8hQDcezkYS8PiTtkGEIEyPAEKgbSA0evRoY1E1hBKC4447znwbBd43tA1ONN59990mVeVwBjREem1fgxTsMIu7vI9ZCMEbe+5JiwN4X07o29dOCE49hdbVciEAtQFxLG2XdkGEYNy4ccYiOGbMmOGMt8k8QwvB4YcfTpLaZgmaEOy4446etG3btvWds5fEqL9Mry20AOBLnZOTE0fEOJDpNZ577rnq6C+mGuEuujlixT//0LMH7E8PcBe+oleDD486yunl2WJOSTF9tdOO1J1FpKJXg8ybbjIpah6YNUAcC9m+sHsQonXJ9oRl7bItBxECbGEu8/zuu+9MqoqBmYi8vDxPXf9RIjS/9957nnL8yPXyVjQRm6DaEhfEFnAn1vKQrF+/vrr6EK7QYfdb2Jjx7YMPuoOFmhCYwcI/XnrJWNth/foN9POZZzgrEFUhqLOVIwRTf/jBpKh5VORHYBtJOIgQaHznnXdMqurDg3x9tbJ86P1Q879PlhD4bYuuASdfy0PSbxkyZiI0R6fNBfNnz6Zn2xzkLEd+bNtty6cPn9l2G3qCP3v/yCNpeRV8CWbxE6r7zjs5y5B7/Wfr8unDvtxLwPTh6OuupfU+07w1AT/PQrQZJ9Q317kyhhUCbc4/LOANrJXlQ++HKSHYfDCdG+ubp55avq9BJCZBt3PPob+VEXNbTBkylL7npyzEIOJQ1GfLLSntv3fSquXLjVXtQEoIHHo/rEkhaNy4sSmxcmAPAy0PyV133dWkiAdEB93CzR2rucHn8nvyr2+8Qb8zC3//vVoG8v5ZuJDG9e5N2a++SoXvvkuzR48y39QuVCQEO++8s9qmJK+//nqTKgrEB9RsNXbt2tWkqj5gDE0ry4feD8MIAXYUQiBFLDGOJSIeS1t4Jkq77t27mxIrB+op02t8/fXXncAPknXr1qVBgwaZ3FLYXOEnBPDMwxS11qYksSWgbF+PPPKIaqsR27LbYMmSJU6+sizN8Qk7fGllaeT7Mf7mBMMIAaKnwFlFQptywWBGMoCTJ8uOcHOdNUghCj8hCAI8wGTbQjCd6gb8GmQ5YNh2zHl4Mw0jBPB60uZeMS0obYN4FoZBRcuQN/dFRykQ/fXXX6G3MNdiFobNU0PCPAtlhuDmJAQdO3Z0Fi9FaNtFQ68HIZ5i04IIBSWRm5vrsQtLzYFkwYIFHrtu3bpZh+SGo4tMH5ZaWwoLnGOtLI2aZyCucazNPffcQwcffLD5tmrYbITgmWee8dhpxKvBcmVUGBukSNvbb7/dfJtYVCQEknjXswE2RtHSa100rAvXbMMQG8lIZGdnq7a2cRm1rb3D8uijjza5Vx9wjrWyNGo+MS+99JLHLshslQYT9y+O2JSnuoF7SwteWlRUZCyqBs4jPkNQE4I+ffo4W6HFEi7GMi38oLGrEGKjxfLee+/1pH/00Uc9dkGoqb2GIELwxhtvmFQVA09Z9HLkMeEJI+uJgK5aWZLwbceONzJPjR999JGpSRTahjNYQYdegawTXFUltMaMQLRa+ba0FVYATzVZT404x1pZGjEtJ9NDCKQdnNOkHURk5cqVpnZRwLNP2mJAWuYZ5EGHG1nmqRH3lrbWAO1Ws7cl5xGfIWjbnUMXS0uv8QfFkyzsE8h27jURQuAHTRxtudNOO6muorYIsvMUbiYJTQgQByJZOOywwzzla9TWuPjhtNNO86TXBqmxIlDagVo48wsvvNBjpwXNDQJbL9kE0vuhrRBAwbX0GhMRs9B29WEyheDkk09W87Uh1m6E2YsxiBDgppfQhABhtZIVvAXTybJ8jTjHtsCTWaZ/6KGHzLdRaBucYCocbUcibKgyDdoGJ0mm98OUEFQdYYUgzD4LiRICv6hP1Y3jjz/eU77GZAkB2sxmLQRDhw411asYQYSgX79+JlUUeM/VbG2pNWYNQYQAcRTDoEOHDmq+NgwrBFjnruWrETvgSuD9U9ohBn+yhOCYY47xlK8R4yi2wOpBmV6La4kIP9IOtI1QFHbgG9G6ZJ5JZb169UgSbreYiooltlqS0IQAg1NYpinzRMOTeWKZpLTzIwbSZFm4aWWey5QtsYMIAUb4ZZ7a9BtujoULF3ps8QTS6i8Jt2dZdhAhwPSlLBvz4TJPPyKYrEyPQUVZzyOOOEIVgsWLF3vSa45kGvzO3RlnnOEpXxshR89BpkV+Wj0xuyLz1Db+wACgtINDkDYgrQkBBoRlnYIQU5iy/GRyC3jdSZ533nlOQ42lFhpZEwLMceLJJPPEyZN54uClnR+1CEVoJDJPrYsWRAhQf5knfA0kcPGwjFnaYqRZq7+kFlY6iBBgoFWWbesXD2I2QKbHuZP11IQVwM0o06NONsA4CNaUyPSDBw/2lA93Wll3vLvLtLgWuCYSGHyVeWozAQioI+1ATVw0IcBIvqxTEOKhqJWfLKoRirR92DDVJ+EnBH///bexiAJBQKRt2OClGrWbNogQaMSTSgLHqDl22Lp6wqNRpg0iBNgDT6YPy+uuu87kXjm0TWlRJxtgMY52PdCeJJ599lmPnUa/dpcIaEIQltp0cDKhCoH2XqXtdOQnBInwLISXlkyvERdJIqwQoLsvgc0xd9llF4/tn3/+aSwqBsJPy7RBhODdd9/1pA/LIPv3aYvIUCcb4BhxrDI9zokEuvHSTiOuhbZhaSKQCCFIxDLkIKh2Idh2221VN9uwQqDta6BREwLEgk+EEGhdcVshwMowmRY3h+30YSKEQFtK64dECAHOiYStEOBaaK8GicBmIwRnn322p6KaEGhPNRC7D0tg0EbaYb20LWx3kNUaM27a6hYCdEO1IJJaY9aAOHMyLRyKNPdsDRjsk+nD8oorrjC5V45ECAHOiQQ8E6WdRlwL7d0/EUAb0+oQhjUuBHj6SzqjiKKimhBgkAE+B7HEYNnFF1/sybNhw4aePBHtWNr5sXfv3p6yzjrrLE+eGOmVaTGwpW0TZUtNCBC0Ak9/WScMuMnyNWLve1kOZkYw/ajZSz722GOesjUi3gIG5mRZGISTtkHi7SdCCHBO5HFq0atRtqw7ApBiPYtMr1Eb1MSCK81WI9qYrFNY2goBHmoIxivrhOC+EojyLe38yHXQKyapCYEftHfnsNR845PlhKEJgR+w14OWR3UzSCh47bXKNmquHxIhBLZEw9Wg+eBr1PbT0AZvk0lbIfCLRzBixAhjEQUClmi2PlQ/9NBWCDCXbLvBSRAi/psEnr6abXUziBCE8SwMQizisgGmv7Tdd22dsfxQk0KgeRbC1wPRqjV7SVvPwmTSVgiCLEPGPSvtKqD6oYcpIbBDSggqR0oIvEwJgSU1IbANXhqW2q7PfoDPgZZHdfOmABuEaFOvYYWgXbt2njxtN6XFrJJMG4SaEGC8ynYcSBMCbOqj2SaL2mpQDUFCldVKIcDSTTglVcabb77ZkxbUhAALmbQ8JOG4pI3wa0Qjk+m1Bo4RajjQvPrqq3HEPvsyTyyblXlqMRz9iMFXmV6Lvjxv3jxPfV555RV18FcTAqyJl+n9iKAbMk8M1kk7bQMZeCs+9dRTnmPSqC3r1oQA7Q7erzK9NtioCQHGoGTaINQGrv2INi7To+7y3A0YMMDULgoI3pNPPulJD18ZiVopBLbRgv2eFpoQ2AINz3b68OOPPzapKgZuOi29RtyMErjpNFuNtovA/CIUadSEAMeu2YahdtMGAc5dmDwvuugiT3pNCMICgXtkOX7U/Gxuu+02j53m0RoEtVIItGXIGvwCRIQRgiCehbbLkP08CzVqi1z8fDA0ak8GDYlYhhyWuBHDQHMoCiIEGN+R6RMhBFrMQj9q07TaDBic8MIgJQQCKSHwMiUE1YvNRgiC7EGw2267edL37NnTfFsxJk2a5EkLwk24qoAXoJanRkRrtgEED6vGtDwkNSHATruarUY4y9hgwoQJanqNWHIsgc802zAM25g1IUhEqLKwwDJ7WY4fCwsLTaooNCHQAtQGweOPP+7JswJ6P8QoM7y8YvnBBx+Y7KOAOywadCwRZhsOHzL9kCFDTKoo8J4t02MQTKYFBw4c6LHVVpvB31za/f77707QCy1fSS1gB9beyzzhzaZNgWGVpMwTEaBl+l69enns/IgbVKbX+O2333rqAx5yyCGePDVxwWfSLgg179ETTzxRrastce5kORho1Ww1IhagTI8bRLMNQwzgyWPHNJ8sG8TDTkITAqwC1sqyJQZkZdkVLN7zfjhs2DBTvYqhLZzBFI7tclCswZbp/YJlaqO/mqvo119/7bELsp+iBoiQzNOP2gq6559/3mMHYbLF+eef70lvS8yWhOlNBcEDDzyg1iEMce4kgoQzx0NAAvsMarbVzSC7JyXCS1br3eLe1myZ3g8RIMIGePrLtHDz1EZFNaCXIdP77VOvuclq3VvtqYgFSwg8UVXgSSnz9KMmopoQBPFN0KLm2hJCoD2BEoGAm25aUROCChqzh9q+BhgH0myrm3j62iJZQoB7W7Nlej9Et9cGQeIRaIA3lUzvt9GE1qXRgpdiLELa+W2LbgsT992K2jJkTQiwEMoW2hSYLSEEGDtIBuDtqNUhDDUhwDnWbDXi2klszkKAe1uzZXo/DCsEtmvqteClft0pLUJRsoQA3UuZpx8RN1BCE4IgA15wKJLpg1CLzZ8IICioVn4YhhUChISTMLv/Jpxw7bZFIoKXakKAsTrNlun9MKwQIPIrbrzKiFcDTOvFEgNbmq32apAIIcArhCwbA5gyT1DWHUTXS6ZHY5Z2GESTdn7UtovTiPEZWQ4CxZSVlXny1GLx4TNpF4RYEanVKwyDCIE8dhDjO7KeXbp08aTVzp0fNS9VfCbt0LuVZfsRKyJl+rCEEMhy8FDTbPkY4g8IDCMEOKGIM4CbrzLinRJz/LHE+59mayobx0QIwYsvvugpu0GDBp4869at63gHyvqjGy/TY+Rb2mErbmnnRwQaleVrbN26tacc9AbQ+5B5fv/99+aIo8Bn0i4IgwRPtaWtECCoCzablcePYCuynoiyLdPjASTT+lETZpQj7bA0WJbtR0TklunDEjMZspxLL71UteVjiD8gMIwQBOEdd9xhcopi/Pjxqq3GRAiB7YDXHnvsoeapbdKh+REkYv07tgzTgAi/0lY7d/hM2tU0bYUAPh3adnG2i8COOuook6JyaHtZam0ZIizt/Gjr2h4Emh+BnzMWfxdvCCZLCDBAIuHnWagxEUIArzOZXiOWvGr7HeBES9uwnoW2xNJgiSDLkBPhWRiWtkLgF7xU8yzUiP0bbKHFLNTC6MMbVtr50XYZchBonoV+QV34u3hDMCUE8ek1poQgOUwJQdURWgi0sEcaYKeltyUcUCTM+4oVbYWgWbNm5tvKYRveCa8GGrRtuzQhCLKTtC39Rqk1jz/4W0hgPYi0q2lqa1ywklWz1cRe26NDYxAHL4R9l+m18GeYRpd2fuzevbtJVX3QhMAvyM4WuHEk8Z4M1YslgodKQIG19BqPPvpoT6Wwe5EsB3vIaem19e+2QgBXYAzmyLI0ImquLBvrvWWeGI2HH71Mjyg9Mj026ZB2mg888sSTQabH00rannnmmR47vGfKcq6++mrH8Ura4pikrSZiEBG4Xcv0GlEnmT4IO3fu7MkTA7ISmJ6Wdti3ETeoPCYMwklbLRYEBn9lWj+ihynTIw6FtMPSYlk2iMF0mR7XWKbXiJkZ296tJgQIvKrlq4Yz1wa8tI0jgwANUuapEV6AGrSddWyFIAgxxywRpOeDSDcS6N5qtpIY+V69erVJFYUWiQlRiCUmTpzosQM1vw7b6xHEKUbbniwI0UsKA2yFJvPUYjlojmyJoJ9rO2YoNHsbYgbJNmy7JgS+NGniYMIbx1HrogWBtsGJxkR4Fgahtgw5EZ6FGtFzQTw/Cc2zUItZqC1D9vMs1Lq3GvG6ofkcaAjrWait07CFX8zC2uhZiDau2dsQS/yx8tUGKSEQdkGYEoJ4poSg6twkhUAbvQ0C2/fHsK8GX375pccuCLVXgyAj/PAPkAjS8LSLHPbVAMu9JWxfDRDv0FYI/OJN2lIT0SDQts7XgrrY7p4UlhjX0mC7a5dG+ITYIpDLt0kTB00IsLsKgnhWRox+rlixwuQUBdyJEXm3MmIwRMtX211GEwLciFq+toTgybK15bVwpYZjiUwPIZHptbUCGISTaW+99VZnwE+mP/zwwz3pMdgo7bCsW+YJ4txLWzibaLaS2FHp33//NWe3YmBQUcvDlnAmk4C3oKy7RgyIYqBZ5qmNO8DNVtolgphJ0OqKNi5tbXf7hlcklt/LPDWxh6eoLMeP1kIQhAi5XFVg7byWp0ZNCMLCdvoQbscatJF3jX4eXhAYzd6GGLnWoLlIa9OHtRG2fh3gunXrTKraAb9AvFp8iIC7EnloO+Xvh2oXgiDLkDWEdSgKi0Q4FGnUliHDRTbMvnphHYpqI7RQZRr9HIpqEn4ORbYxC4MQzn1hkBICgZQQ1C6khMCOCRGCIJs1aNQ2LLWF34CXxkQs1EBgS60sSXgWal1RzVFIYyKEwC+WAxy3pC1mVzYG2AoBfAhsQ+QlC36vuWjjEmFnXLCnRRhsgaklSYTR0gqTxNMfT5tYYmrENjAJdm2RZSO0lFYWRlplWWF39MVYhiwfHneyHM2rEYM2eXl5nvS2YwRhhQCr7WQ9sdJO1gfbfWuecK+99prHNixxPSVwTNIO8Sq0mQj0JKUtlnDL49TYtm1bWrRokckpitmzZ3vytCVuWE3s0b41e0ms2ZHnHUQbl7a2szgQPIwFyePHsnaZp0a/MIJbYJ5Z0nYPOTR6XFBJWyBCkVa+VlZpaamnHNvRbD9g6aksG1N9shy/4KUyLWh77sIKwT333OOpJ4RJq5OWHvXUbMMQsxYSP/zwg8cOHnc4VokOHTp4bDGLI4/TjxrOO+88T562hMs31r5I4KbV7DVq516zs2038CPArJw8dsSc0PKVxDS+Bs5bL9CGQcJtaXj//ffVfDVCzaobWL8vy9EcioKEKrNlWCHQXL4RL1+zTRbh1y+BvQ+lHV6rNCE49thjPbbJ8l/RiJsTvRcJrFvR7JNBCIG21kBby6MRi7A08Hd6AhviwoVBEJ/vMDsd+UFbzBPWs9CWYYXA1rMwmdS2RYdDj7TDMWpCgHMibcMKge0yZI2IiqX1CJxFOop9MujnWaiJqEZMBGjg7/QENoQKhYEWztyPmrNJWNRGIdDm/DXWRiHQXg20eI9+QoAeprTFLsFhEGbgG56KmhDUdI9AEwLbHsGpp55qUsSDv9MT2BA7p4RBTb8a1EYh0PzlNdZGIYCwS2AQS9r5CYE20Iol3GEQdmm09mqguXwni35CgHtRs5f0c2TbAgNMVSVGpMMA875avhqh7BgZjqXmR47w1dLu7LPPVkd/EyEEn376qafu2hyxJgQY9MH6e5le802wFQIMEOFmlHnaEmmRh8xXI9bZy3OPoDDSzk8I0OuT5WuLsLCdlywH5xNb00lgcxeZp+bFh7Us0g7nc82aNSanKNBLkLaY3ZB5Nm3a1GMXhK+//ronTz8hwL2o5SGpTV0Cqh9BbYS2UAOzDhIIUCHt8JTVBlgSIQRaPIJXX33VY6cJgR+0lZtBhABTaFUF0toKgS39hMAW2m49qGOYrfbCvuZqm6AiqnQYaLNVfkIQFhuNEIRZhuwXszARQmC7DDmIECRiGbItkLa2CUGQmIUacI1lerSFMEBblHn6LUO2hRY6LiUEKSGIY0oI4vNMCUE4bDRCgLlneVIw2CgRRAjgoSVtsVZdQpsC86MmBFp8eb89CDRoQgAPSAnNpXVTFAK/4KXaUlwNmhBgoDIMkiUEQeIRBMEWGDipTcR2VBqwSAZr/WOpBbYMIgRYiivz1Hy2sVGFtINgaEuGNSFAjASZ/pVXXvEcO9b+L1u2zKSKQhMCDJDJ9NrGG35CgPMk0+MzidooBHANl+cTMxa2sfw0IUB8CHk+sABNc1vWEEQI0MZlWaNGjTLfRqEJAeJaojco02uzGxrgjyPTgpx3fEE1Tb+Aj7YIIgRhAPdm+PvLsjQh0ICAGzItqPmCa0JgSz8huOSSSzy2+EyiNgpBWGhC4EfbLeWDCAHauLTt2rWr+TaKIOHlhw8fblJVjAq2+Fc/rDH6xSy0RbKEAO+jeC+VZdkKgRb+LEjMQlv6CYEWsxCfSWzOQuDnWaghiBBoMQu1DU6CCIHtMmS/hVBM9cMaY0oIUkKQaKSEQM1D/bDGGFYItJNXt25d8231wU8IsrKyjEXF0Eb48f6nved27NjRY2tLPyHQfBPwmcSmKATY8VqrlySEQHNS0qA9gPyEQNuU9q233jLfRhFECKphdzLvh1iei8UaiWabNm08ZQcRAqy2w9ReLLECTpYD33A4Z0hbbf28LfyEAIOAshyNiAcg02LwEY4p0tZ2QYlGPyHAAJs8T/hMoqaFAB5z8nwEoTaT0K9fP8+xazE4sPYfUbG1fCW1iMF+QgBPU1k+8pDQhABtBF62Mn1ZWZlJFQUGBmU9EcxHpgU57/iCwNGjR5usEgst9HgQIdCCOeDpKYGbVtqBWuhxW/gJQW2jnxDYoqaFIOzuSVj0ZAPcSFr6MPQTAltoQhBk+tDMBsQRMR808HfxhqDtbshhoS1DDiIE2IFWpscSUQm852nbYdl24zWkhKDqDCIEtqHK/Kg9aTWgLWjpwzARQgCHIm1bPA3aBieBliFvikKA9z1pmxKCypESgqozUUJg61m42QgBNrSQ6YMIQZhNNzcmIdDi6NsCaatbCDB4azuLE1YIEF3KBonYpt4vmKwtEOZN5hlWCAJFKNKEAKPZCxYsqDK15ZxBhACjtzJPzZMuiBAMGTLEk6dGLWx5ECHYfvvtna3DqsptttlGzdeGuImxbFc7LhsirSYEu+22m6eemqcl6i7tcIPAO1ArTxJCINMHIQYGtXwl0RZk3cMSQUW1smyJHYxknn5CgIFvmb5Tp06e83HBBRd47EDOO74gUBMCeD7Bk66qhLpJBBECLAqReWo3SBAhwHSdzFOj3wCkrRBgwAsXqqrEdnNavrbceeed1eOyIdJqecIPQtZT66Gh7tIOcQcQGVorTxILtmT6IIQPhpavJNqCrHtYQkC1smyJLdBlnn5CgC6/TP/SSy95zgdmz6QdyHnHFwRqQhB248g+ffqYnKIIIgTNmzf32GoMIgS2RJhwiSBCEDbKjuYOXNMsKSkxtYtC2yNSc1vGE8j2etRk8NLaSD8h0FbSvvzyy+bbKIYOHeqxM/R+qAkBMtVsbYmBD4kgQoCBF2mrMRFCgHlWiSBCgO5tGITxLEwU4RAlgcUw0g51l4D3JLwopa3GmgxeWhvpJwSar4kmBLi3pZ2h98NNTQgw4KVNH9pSEwI81fy6zZJPPfWUSVU11EYh0AZaNSG48MILzbdRBBGCsMFLNxch0OI94tVAYrMRAu19HiGsNFtbYoBFAoOntqPpWuyAIKiNQqCFl8d239JO21AjiBCEFdHNRQiw76W01V5JN0khwD6FqGss33nnHWfgJJaXXnqpM40kbTVqPviIeSjzhDhgSaeWh6RfwEhbaEKAz2Q5cB+Vdn7EAKZMr3nxYcksAoFIW3h1ynOC2IzSTnuF8BMCuDjL9LbLgP2gCQGusSxHi6iNXuTXX3/tsdWo7ZmJYK6aLRbBSVtb+glBRkaGpxzE0ZDA51q+TO+HMJaojUKgBdJAOdIO0ya2wJSLTK8RMxbJgiYEDz/8sPk2Ctw00s6P2r6R+EzatWrVynwbD21jVS1ilAY/IUCU3eqGJgS4xhLazsUYV7INTKItOvILXnrIIYd4bG3pJwS22CSFAEs/JcIuQw67LXoioAmBbcxCP2rbouMzaYe5cIRZl9C6otpORxr8hABTktUNTQhwjSU0z0IIAQaabRB2GbItU0KQEoI4poTADikhiEdKCKpZCDBQmCxo23bddddd5tsogrwaYDxBQhtjQNBYDe3atfPYwhPOBn5CoMWgDAtNRDUhwH4U0g6EE44Nunfv7kmLNRUatHgEtoSTURhgLEHLl+n9MCUE8ekR7RiRiGOJ90yck6oSg1ASqCOeqtIWfgiyfOysI+0QcEPa+TEnJ8eUGgU+k3Z+xwnPQHmezj//fI/d999/b3KPwk8I7rjjDk96jQg6K4EVeYhFIW21dqMJwYwZMzzHDl99TMHJPDVimlOmf/LJJ1VbfC5tDz/8cE894Yot7fyux8yZM82RRPHXX3957G6++WZPOYbeD1NCEJ8eTxUJdJelXRAiKIvE8uXLVccnbOMmoW0gC+/L6kbYqVdtrz0/IbClFgoeT27NVqMmBH4w7reV8vrrrzcposBxarZYZyGhzTpcc8015tsoVqxY4bEDteCl9913n2rrQ++HKSGIT4/3TImwqw+1DU6wNBfdSWmr7fGInoO0w3t7dSPsMmRNRMMKgSYuGK+x3UDWVgjQZtB2tDwksSReQpuJAIuLi41FFNr+mFroODz5tcVdWsxCbfVhBfR+mBKC+PQpIUgJQWXcbISgc+fOHrsgxA0qEUQIMFoqbbVNUMMKgdZFO+mkk8y3UaDLvOWWW3psbRlECLQ19ZoDDEb4qxu4acMIgbZgKxFCgFeDbbfdVrWXhAekLbQdtjTeeeedJkUUeAXQbDUnKS3moeYuj+X40g7UZly0tlwBvR9qQoCpJewYW1Vi1ZNEECGA67DMU4tHF0QIMEqNuIWxxICMLAex3yRwQRDkQdra9hKCCAF2xpH1RPBTWTbiM0hgIxZMK8r02s7B+EzaYbBPE4KDDz7YU75Gzb3aTwiwNblMrz0ANCHAuYM7s0yvEd6nEkgvjx2xO7GlvkwPBzVZJ3iayvTYUl6mBbEkX9pqK0zRvqQdvDwRaFXmiUC+Eri/pB0GIGU5ht4PNSFIBIIIgS2CCIHm4aXtOBMEp556qidPjUGEQOM999xjUlUMDGpq01Wff/65sYgCn0k7P5aWlppUweEnBJjaksBovLTThCAs/KbVtC3ltYA4Gps1a2ZSxAPempq9DdFDgbhXFZhJ0PJlej/cXIRAmwvH5hdhgEYq89QYVgg0hyINEAItlgMiSEtoUaX9GCbMm58QaPv/YZpU2iVCCDSHojp16qhh3rTo2Rr93LPR89HsbYi1H1q0L1sMHjxYzZfp/XBzEQLbbdGDoDYKAcYOZHpbz0I/aouJbOEnBNp7rhazMFlC4OdZiHd3aasRA9wa0MY1exsm1bNQe59PBD755BNP2WGFAJGQZJ5NmzZVu1NHHnmkx1bb5CMIEDde5qnRTwhsR76DvBrg+GV6eMJJaN5xfgzjBYgZF21gT9utB8430u7EE08031YftE1pMRis7TJsKwR+g7cVvKdXSgjBunXrTE7BEShCEUJAo/uRaGpTYEGEACdE5tmjRw9Pnk2aNHFuMmmrvRpgKa2086MGjJJjZWIs0cWU5fgJAeoq02uEs4isj9brgRBgFZxMD3dgmR6fSTs/Yvt4mX79+vWm1ChQvrTDaPruu+/uyVN7NcCaeml32mmnefL0I8qXQD2lHVyMZTnotWivBpoQYEBVpkdbluWAmOaVtlob0YhXA0yVavnaEPe2li/T+2GDBg2cBploIqy1LDuIEGD9vMxTG9HFunIMmElbXABpi+i80k5j27ZtHU9ACWyxhcYTS803QRMC9FowTyzTa0TPRdZJCwICYKt1mR7uvDI9PpN2fsSItkyvjTtg6lPa4dxhKzOZp7ZxB6YFpR38KmSeftQ2pUVPVNpBwGU5ECzt6asJAbbVk+nxqiPLATFgJ22vu+46T54aIRhaW7Yl7m0tX6b6YY0xiBDYnrxEEFFvbRekYD9EmV4TgiB47733PHn6vZNq0M4dPrMFehkyvfZahelHaYfegNZ7sEUFG3l6iCk8CfT6pF0QZyxNCCCiEggMIu1ARHGW0MK8JZnqhzXGIEKg7XSULAZZhowAnDJ9WCEI61louy26H1CWTI86SeDpLe0wIIrXoKoCT3mZpx+1nY60bdExcGwLTQgS4VmYZKof1hhTQmCHlBDE5+nHlBBYU/2wxggnH1tgTb6WRzLot05fw+uvv+5Jr7ktBwHWWcg8sZTVFtpmJPjMFtqyWW3thzZvjQGvMAiyT6E2E6FNWyMKsC00EdXiQ2CaVNqBWPIsoe0JkWRucVVt4oEHHnjVv//+a8Vbb71VzSMZ5B7BVUuWLFHrJfnss8960nOPQLW1JT99PXkefPDBqq3G66+/3pMen2m2GlGWTI86Sbv+/ft77Bo0aHDV8uXLPba2HDp0qCdPP/7888+e9Nwj8Ni1a9fOY+fHK6+80pMebVHajRs3zmMHco/AY8tCotomkSmkkMJmD+6V1E8xxRQ3b27B3ZKlmwc3LN2wYf3SDfjJf4P/btjAxM9YuxRT3PyIHkEKKaSwmWOzEoLV8/6mogcfocxzLqApnyPi7r/Of4Dzb9VXd6aQwkaNzUoICjs9Tek77kIl9fekUY2a0PxRac7nuP+9HukppLD5gIUAt4FLfldwPqwI7jOU7Zwk7vM08q/zv/sjMGJvxGgZbk74VxJwf9/AdGtQGdKvu5Hy6tajshYtKb1uA5r6fX/n89g8NZTXJ+YvN0VMrWMz4N8dC5wf5xhi0ycGTjnmfJnSnf9xdvyKxrlzj8GtZ6SOzs/yvDZF4NjM8br/m1aEw3bPR+JgCnRLc06z+1vkn5qB6RHgNERY2X9cX679Btii8RjiiJz/yk9kEPK/kTzL88U3+C5SJxexuZdfssgHlWDOoN9pxP4H0hgWgYzzLqTVC+a7X6AwJQOnXOe7CCJ2bo3wX+yn+AfmqDF+cf8zN1rEJkGIlOKcO/7POWumPqAXpkbOj8j1RCrOyclj04ZzfPqJSdixO6fa/dWDRJVpiy2cCvicEBs4DbC6j4IbpHMzBYCt9fJp02n2XyNp3UoT3GEDbhjntnH/joF7Q1UMJxX+McndfPRU+C5eWKoHTr7mPw0blDJdsfWvywZH0DdVRK/rrFGjqfTTbjThq6+o7NPPaOqw4T5nMTwibXrR2FIu6wua9GUPGvf5FzR+wA+0fl3VF2FVBzB96JyUVUuW0OKJE2jZlEnMyYZTaNnkyO+xnErLJ0+hJZMm0ZpVq5z0a1es4vST+TP+HkS68p+cp/oz8j3STaIl4yfQqkULOT/+b8MGWs2/L50wlhanZ9DcwYNp2k8/0eR+/Wkyd+mn9v+R5gwZTEvycmnl/AXOwVSGZTNn0/Lps9h+Hi2dNoVWLlxA63EzODeEfvnXrt1AS8aNp3lDh9LUfj/QlAEDaPaQQbS0oJBWL4muNYjcU5Hbcc2qlU66xTnZNGfwIJo29C9avx5PXdeuOoEriOu4nm/epdOm8jkbz+d0Ii2eMIFWL13uXB8JiAOqsmzGDL5uk2jpJFzrKbSopJSW8flxe3abJnDkkaMr+t+DNGKbHSizQUMatc1OlHb7f8031Y/ItZ/Wozv9uf0ulFW/IaXvtDuNOP5kWrvGuwQ7mSgfLJzSowcN27c5ZbZpQxltDmYewr/zz4MOcX53fjLTze9ZBxxMf/HPhdlZTvq/MzNpSGu23/8gysDP1pxPHA91fmZG/j6wDaUfeBCT82uNNAfRX3s3p7Hvf+Dkt2L+fEo74xzK2u8AymrekjL32ZcyGu9NGXuCezH3oQz+LLMFf3/UCVR41z3095jRTloV/OTPuPxqGt20JWUccBD9ude+VPqZu1efe33MVTI/1v7zD03u9hllnX8R2x9M6U2aUtaejSm9cSPKbNKEslq2powOJ1Ph/Y/SQhO/zxUBN4PpA3/k89mCcrjuI3erS9n3PeDcrJHvqxdunmtWr6Q/zzmX0vkYsw84kIbs25Km/u6GnXNKxs3tmLq3wfxRI2h4m7Y0Bq9LfD3GNG1Bg487iRaxgGxscA4L55d/CXKOJzzeiQrqN6LSFvtTwR57Ut4DD5pvEgBTrTk9e1N2g8ZU0qIVFe/VhLLPPIfWhliWXR1wegTAzM8/p2x+dy5p1pyKuSGV7LsflXJDKuHGXBrDMvxs2pxKm+xLOU2a0dJ0VwgWpKdTNn9Wtk8zKuEG5djEsLjZfvz5fk76kmZM5/Nmzt9l/BPl5nH5k99628nvn7mzKZ2FppRv2OLmrfiktaaSvZtQCd+MxcyiRntR8d5cHurIZebX35PS9uX8nnuBNqzzRuqBEORfeAkVNuCLzmkyuazxH3/qfoWmE/N6sKSsmLLOOo/S6zWkQhadMj6esmYtnXo6x49j4b9L9m5Ko3bYhSaaxTZIH2mCE7q8Tjl193DSZjbeh/4eFL0hqx9unqu5d5Z+ymlU3HAvGsvnIoOPdcavZk8EXGe8BhnbVfzUzzjhVCps2IjryMez9z40hq/nfO5lbXzAMbl0j87Fqvl/0+wxY2jVsmXmE4MYo/FPPEl5LAClfFPmN4AQeEPXVx/cgmf37MUPlb0cISiCEJx1Ts2/GpifNPPLLymLGwVuuGJ+2uHGxdM3hxtVtsO9HeIAMvkmzNmjIY3cozEtGpPupJ83egwN36MR5bC6ZjVsTFncCLM5P+RZwA2sdL/93ZuZfxazCGQhvwZ7US4rYw4zq+GeNHL7nWjca685+f0zbw5lHHaEI0TFLfenIlyoE0+inEsvp6zLr6Tciy+j3GNO5F5BUyrinkEp9xxK8LTftR6NffkVJ484QAgu6UgFfFOWsPpncJnj+d0QcC+P+++KadNpzHEdKK9+Yyrj3kZZswMoh89DFt/0WfzkzGp1IJfJNzenL0bX7qCDuVvtblgRaYb4t/CmW6iAz1XxXk0p+8RTuYfhRjNKtBCknX4mNy4WyBb7ce9lH5rx2yDnO5QbkTqIXv5/7+FrtSfbHUglLLRj+BpPdnwrTB0TUc2EATV2K7x2+T8s8B9T/g03U84RR9IfBx5Ki/lV1g81JwRuj6BcCGq6R2B+GiHgyrU8gIr3aU6F7U+mmVzhub360Fz8/LY3/+zN3ZpezJ7897c045uetHIuv09y+hWzZ9PkTz+nmZ8wu31OMz79jGbwz1nde9DY626gQj5g3ICF3MUuOO0smvXFlzSdv5/J3W/Yz2L7KR98SAvMLr3LY4SgpDk3aiZ6HThdCB6FUHSrFy6k2QN/4ifbKVTSmBs/C0YJi87o/Q+gZbJ7qwjBOC7T+co0I7Dw/vspZ/c9HMEq5V5KOnpG/3uU3/MH07KSMlpaVEJz/hpOkz/+hPLOu4QyrruJ1jm9CXMDMVYvXULZJ5zIPRUWARbHcS+96nwefTOtbphyKxQCHKdb/lQ+7vQ98ETinkDLgyinHl/3x55yvis/DjfLjQKxx7Z04hQa3py7+dybK+PXx7Q2h9ISuew35vBSPQIXHiHACSniBpR94aXmm8oRuQH8MOW99ymTTzae7AXoXdzs3R5KIrZHUMrd8HSu1wIT0AGlxZa4KDuHMvm9v5S74SUYM+CeytRvxNbZao8gKgTAihnTKP1gfh1pwmWyTRbfUJPe/9D5TsO/69fRyr//NvWJnoWFWbmU2awV59OU0lu1psUlxeU2QWGXxrVZvWq1IwTF5ULQhIXAfTWI3CgLs7JoDHpPTZo7op/PQpXd8Upat3KF872Tl6dI7TOJ6Blwf7p/O+LnJI98555v5y/ntdT93BiV/1WO8g9i7Azwm/PG4/zuHh8GuDMObcevcNxL3Lc5C0E7WjLdFQK3PvGoTAjcMQeXDszfXsR+6mfh1nE2P1D9hCAupXltB5x6mD/d44gvw/ku5qPIr7FW8SniER0j4Cd0Ft8cJS1dIcg9/yJT7eCQBU56/U3nVQE3aQG62dxtg417Ab0HBUAIMmN7BHxjRgblACcV1z1yExdfegUVNeKbnBt3dn1+r3/rPefzclTSIwBmDR5KGXvv63SVi7hnkXv0sbSOn+6AexHtzsiUDz/m1549uWE1okIzCu2WwOn5F3m0/jm7t4y098OaGCEoabkfv8LtSzN+j26pvnrRAko/9XQq4M9L+fUP5yvtmPa0QtmmOwq9dO1T9xy5NXZrrafF1KQzJsPXr9zS9Ko0ODMcpp1KbODrumFD9Gm6YsFCSm97BIsAxqpa0qhDj6B/Fi0030YRya1CIeAy1ytRkAFvfZyj4P/i7bVaz/m2F2XyA9F55fUIQbRNS+BYnVLMuZPA57GIWOD8ubNE/ImSDojvEcQIQU4ChSD7hpscGzd//OatXMVCYE4I/xc5aUUXX+bc5M6TnC/slG96OZ+XQ+0RuGMEkTwm//gjpTWCUuP1qAXlHHUcreHXD9QzVnQqQ/4N11PxHg0pjZ+680e7u9RiOjS2sa9evJSmfzeAyh57ggpYGPOv4TR330sT3nuPlowba6wYuLh2xcYJARr2mL32oekxG6gWPnAf5dRvwK89B3KPoCmNYdGcn+aO8Xh9DdyzG8HiwiKazA+Lssc7UeHNt1DOVddSwXXXU9nDj9Dkr7+lFfPcvRSdXJxGx/VZsYIK3v+YSl57jcreeJMKX+5CU8x+lbCAjVuq+ztuuvGcV1GXLlTa9W0qeuUVGvv99865x/dTfvqFCl5+lUrfeJsKXuxCk/8Y4tQQZ3XmiFGU/9IrVPJkZ8ptfQgVcY+orOn+lNP6UCrp1JnKunalsldeoyJuiyvmzEWhDioSApSKvCcP/Nktt+tbVMBlTPp9kFOfeEQ/WbFgAU356hsqu+9/lHv19VRw06007tnnuS24G7jM/X6A6X3HCIEZI3DPy7806Yef4o516tC/Yq4Gvx6vXUOlX35FJa++RsWvvE4Tvv6Gr6FrsbCwgEqffJIyL7qE8vmY3RyB6G8SvkLg9Aj0NJVCJvP2CKJC4N4c3oLihKAZhKAVLSrf6DE+xfy0NMrk7i5eITBrMebAQ+ifyZPNtwYV9ghczBszmjK5JzAWswJcXhZfpIlc9yDA/P0IFq6srbelwhvdOHZO/jE32vTevSnjuJMos8HelLtHAypi0Shq0MBpiBncVR+9/0E0li8gZj+Qynt2dMQKQRnXIW2vvVkI3DGC6T2+ojQ0Pu7tjOVXqDHcG5jWIyKWXIKnELfRLMgvoqyOV1FmixbOeEcu17WgYSOu794OcyN1PuJomtG7j5MyckU38KtT1pXXUvo2OzgDk5k77U6jjzmO1ppR/OixuVfgn6lTaThfx+zd6lIO5znyPzvQ2Dfecr4D8m+5ncZsu72T16j/bEtZD0c3WC15rQuN+M82lNcAQr6/0zMsZuJ3fJbF5zln9wY0vFETWpQf7Vn6CUFsq8y/lcvdZkdngHzM1ttR5v+826pHbKf1+Y4yjz6OMus34ny5R9ioMZ+vxtxL5XO0z7407vmXaPaX3SmH25b2ahBpi7nX30Sjt+My+VhH8rHmPOmO4ZSfsXVrKOOUUylzh50pc8ddKePE05zPp/fuRaO4t5dbrz7l8eeZV9/gpIilBo8QlLIQFHIjsR0j0DKWn3l7BNFXA7/qSSFIa34ALZk40XzrYt2aNTT798GUeUwHKtrbndqD+/CEd7xBNPUeQfyrwbplSynzhJNYCJtQMWY5uNxMzrfkwUdp6YT4suUDNPLnrBEjKIeflIWPPE5Lxo4zn0eNx/JTcQwaKz+tizET0XAfSuey0lpxTwZToixEJXi33X0PKuY8omcJeYhCBeJ7BC0pg6/jnFGjaQWL4pgD2jiDl2Xc+NL4/bTsmRecNJF8/XKeOXgIjapbl8r4Jimozw2au7RZXMdMFlznwcENuYxfQzBYO4rLm9m3n5Muck7n8qsJBi1Lm+/PddqPX72a0rwhQ5zvHAv+J1L6LH76Z3H+WAtSBp+Wgw6l5VMmmW+Jyu69jwq4HZVxXnl8UxY+/Yz5hmhclzf4Zt3eaV+4wTDzVQLiBufPCvdoTIV196DRXJfFMUIwjoUg17dH4KL0/v853+EJjtmkQk6jYfJ7H9HohntTMdoY30elzVo4Y2I5XOe8Pfjacj1y92lCBcceR0WYPeP7QXs1AErvuIsK+fy6x9qAil94yfkcrSFSr6LLr6RCzhNtP/eiy2j2oEF8n3Avg19vIfiFXGbeTbeU2+uPXBdKj4BvgKbNKf+Io6jk8SepjLtVJXzgJY8/xT+fomL+vfiJp6ngwYdpUs9v1YzlZ6GFABeJL2rhHXdTyVNPU2mnTlR2/0OUc/b5lMHd70Ju4M50Z6sDafxrbzhdSSAu1wqFAHCtp33zLaWxepfxOcBTBeMFmOJMb9OWih98hOb/BQ9BsemF03XFaWaKd8rYOkz7tieN4YtTyu+umEXJ5PfzaZ9/6fR0FnHXe9pn3Sjj8COc4ynjRjSGy53RP+bGMl3kuOOKQbwQ8PnYpyVN/eUXKrr5Nr6BWHwwWMs3ayELFffDTSo3Ny1PfLZm6VIaefxJlH38KTT2uRdpVt++tPDPYTR/6DBn5iT7pNMpn2/uEn6SF3Peo/mYVi6YX57fuhUrKfvUs/nm2JeK+Hzm1ed6PNHJfAsrHJNrXcxtKg/thG+iPH6KFnEPAIjkVXrv/c73uGlx88YKwbSfBlLeLbdR8Y23UgH3qPA6iWuXc8BBTte86N4HqOTOuyjn7gdo6dTp5XnaCkEeX4tSbr95EJRyIYjeWPMGD6PRe/F5wNhEywOpYN99uRfL1/nG22gCt/+yzs/zeTiTcln4i1jkkBd6LH49guI7/sv1cQfv0QsreuFF53N8HymzhF87CiE83J7y+QGWe/a5nN++LA78IGeOqdeARl97Q3kad8A4kjoeYtbAvQhl6Fo158z5oPPqN3ROVC53UXLMzzx+z8zkblshn3gNsqiwYwQ4YSCUHY5DqEMuN2xX+fbjE9GCctsdSbN/HmhSA5FnkkEFQuDa8b8mAab70vnYS/ik4gmK3kEpBg/5+B0Pwwsuohnf9eX70j0CR2n/Xcf/ijIZkb9XzZtHme2OcW6IQs4r/chjaEmZu7V4bJqFo0c7/gro3RTzRYbYrVvjrotw7KL/eBARAtQbDS2/VWvKvugiyufeFI4Dx43jL+Cu/oY17msHK4LzrwY0cxzhPH6Crl2yyP1QYMXMWc5UaTF8OTj/NL6ZZvRxXxEi9ZzQ9R3u4jZ0ntLF/PTKPP5kWlPu5OParFm+jDI7nMLfN3HyQU9pRr8BznfuWfYXgtizvmL2HEpv287xVYEDXNoh7Wg5n3uJSJ7hhMDF+lWrKPuc8ymXXwMgdujVpR1yOM0d9Ed5OcCaxUuohPPPbrS3ez3wGh4RAjNGELF3hIDvR9QLryQRIQAi9XKEAD0CFnjH6Y4fijncm82/4Vaa038ALeSH1rzsbG6b6500rmxFz1UsPEIQuenQaEob8ZOWG04xusrlZGVHYTvuTmW36X7ZsqjqEoI8Tptbr6HTqPAOWcAn1PFQRDdovwMp++QTaeIHH/C7aaSbFQMLIXCbvYtp/B6fftRxlMXlOU/YZrhwrmNT4Z6NKJ3TZ19zPS03u+U6YmBy0jCZy8qq506hYupo+tfxuxHHpiy65z5ulNxFbsbdez6+RVmu9yZqF6mrhtgeAc4Xup8lTeAV2YKKWMBwg8HXAu/0E95530kTqbVed/eoItBLJZr40ksszo2dY8PTazz3GIGIPV6r0lsfzOK2HzfaVpTJ9ZvzR8SD0bVaMGY0pe/LT9Tm3BPDa8dRx9Mqszo0clUq6hGUl8XXI73tYc6sAV4vRh16OC2Z4c6KwMZl9EpXSQg6xQsB1qGkw8uV2yHyyWjUhGb2/s75DuXgSezeiiwaq1dSzlnnOQKAdlhhj8BHCMptrrvJeTjCBtPFufwagsHSSL3LYXqSFcE7RsAHixHX/DYHU965F7hktcs7x/2Ze+75VHD2BZR54qk07mXXUUZCFlodrwZ5eJo89CiNe/0NGv9qFxr/9HOUd811ztqHXM4TF6GYu9TpdetzN/C+mCeegZUQxNdmxdy5NP7t9yjzlDP4Pbep21XjV5BC3GDc7cuv25AyTjiZ/jE75saVFwO8quRffTULF/cy+HiyDjrE6Q2sXbOG1q5aQWtXruafq1yuXUdT+CbN4UaJnlkW/5z2hbunIPKPnjMvYoXAEQEWg1J4RuIGbd+BClhUiltx74BvkDH7t6YlxSVOuthjjgLngz81r1nA+vVraWFuHk3/thff/F2o6MEHKeeee6jgNC6Tb3I84fK5MRbddld5fpEmWHD7nc75w3s73plLH428HriY+FpXyuZ34VJHTPjd+DH3e6SONHwbIVgyZSplOEIA93hMHx5KS6e7G5k6R8SG7gyQizA9gsj3Y59/kYUQ9eLXV35Nyj39LL7hTS8O5Tn/oUQ3xeS33uNj5YdCSCEouv5mFgJ3PALu7lmxPS0uGGW7peI/F5GfEooQmFmD8y6k9Wv5ZuKn67/4KejcaD7bM8vCqmOwcAwGC40rbyyWjh3HDe8OyuH3U9c9uiWl796QJvH7KxA5aXBFzL/UnWKsSAg0YBps9u+DqPC2250ndEljftpwgy3lGy23bgPKvekm7oVEXHa8wIrKzOPas1Dx+yOf30Lu+ueeeDL3YE7jn6dSzkmnMc3Pk0+ngiOOdsQYT/BsbpwlL7/s5ONOo/nVMioEeDUo4hsOLtKZ/PQv5Rtm+cTJlHHYkU7PoJjf5/M435xrb4ybg4+F04jMqw/awZTuX/ND4EJ+721N6dyjyavHPTJ+By3YrQE3fn667dfa6aLCrTrv5lvLaxmp7+xff6F0flKW8nUsYsHOOr4DrTZ7R2LaMI9FOr8xBvr24x5DM2csBkDqyHm16hE4QtDOeS2AGIw+pC0tEX4SsXlWhxDk33gzv6tjtqK18/3YR6KzGbGInIu5PfsQ/AjQFqoiBJFyC7lnnQ/HJBYCnJeyBx8z3wSHEALcrKxSfLPknH+xb8OORWRgLhbyk7CvBs6sAdcrdvowFuvXraK8K/iJyw0J76EYMMk44SRas8T1AXAAIbikYiGwAbqBWUefQAV8UztjB9ztTmvSiuZn5RoLL9BjyOJ3Rni6QTxQPhZOlXEDLOF6FPMFL3HIT0w+T8WYUYAtv2tm7V6Xip51R/hxY/rLTbwQlDZvTfncXc278lpay0IGTP38CxaGvZzGhR5UWsO9nSWxgBSYyF+r582l3Ku551VvD2fUu2SfffmGaeh077HuIuewoyiPe2XFfAOjFwIhyDdjR6hppHms/WcZC9/JzhMT4zoZezWleWYh1tLx45xXByxWc9reGfxEXbXS+Q7JI0ccTAgwRhARAu/OQpE8w44R/Ms9zWIWseI9+bWZhRDTfePf6Gq+jUfkHM/p1Yey8FobO0ZQRSHA+cYDA567Y197w3wTHBUIQW12KEJanFb+z7S0uQN+4Hdvd+oIo8XpLB6LsjKd7xzwTVQlIXCq55YTOR8L0tIpu+WB7ipN5+I3oimfuM5JGv7hp3H2weiucuPk+hXx0zP78KMou93RlMU/M7kHkMm/R35mHc5sd5TDEdyFH/dhZHGU+58fyl8NMIjKx5jOvaRZg2LWGqxdQ9ncaAsbGK82FjN44UXGOSQ2cE8g/8ZbKXu3ejSW641XLywxL+n0FOf7B7/ejKVVs2fTxHfecab9cGwRIYjUEpeH7xUHE157jbLq4/UANzI/wR7F9CjRtJ49nfEp5wav35AmdnEXnrlHHGknNS8EaL+qEFx8KRU1wutYK8eZbSy3dw2Ra4f1O54eQRUGC10hwBgBvGlZqLpGfS6CwvNq4FQuwUIQ52Js41DkEQI3hZPKCMHiUaMpu0lzftJxl5qfhumN96W5Q2P2xlfGCOIWHTnd4Ph6OGVE/+EfbrmwzLvgYvcpwMeUw0/Iaa9GGq8Xq/6eR5lHHu2M6mKGI/uwdrSsIJ9Wz51Lq2fNpFWzZjlcHeHM6M9VM2fQ+uXLnfqhdLcGOmLHCDB9OIZ/ThfLnxdmZvJrFoslixjcjDEThFgOGuYOGkJpcEdu7r5vp/NNNW+kN+bDhF693FcQvsFjewQAah15xVg6jp/8WBOC8QQWqyx+HYLYlPzvEcpDjwi9q1bo+bnX2T3r7vkG/IUgelZUIZgx03zrIjZPPyFwbdxcK3s1yLv+Bu6iG4HDzfvAQ+YbCTfFzK97Ug73xqryaoAjjdhACPBKAhtHCGKcr4IiXgi4awoHBghBdowQuKfZpXso+Gl+NzdiLOQnEIJs5wJWfYwAjhIL+eYBULLbwEDnI5rd213IgcZY1oyfhtwIFqa77rMO2BZCUMjHhqelPkYQWw/3b7d2sb9xvTmv3HPOdy5iMT/dc/ZoQFPfdUfhJWC/jht7LgtHYWN+l2ahymzSwvGGDATlPEfhfhe7+hBCkMbHGll0ZEwclD7TmZ9c/ArCXXnHA5Hf3WebXYNjX/XGPvsc93YalD/Bxz7xhPM5rpvzkmJsJ3/V3VnohYYNISi4OaZHgN9i8iy45Ra+6fk68TXNZCHC7EHBuRc6zlWYCsu74ir3urJt5LxHUkMIsH5DCgG+j1gtdRYdHe7MJkG80rgntmyaO1gIE1f0I22vqq8GES8/F2WdOzs3qzPbhl5TB34tZfF2y3DlxKWbY3GnJ90eBp9XzMRlnXkOrTPjbZEyHSEwx+rfI7jROd/OWBIGK7t6eyKx52/9mrXlguPWh2muTfyiI7igcsG4WbIuvNj5vCqIFBzBZBYCTPdh8MrpEVwfzMUYjSaDb+6FRUXmW7cM95D458qVlH9+R8rnGxMj5RgQSz/qWFo5P7IyEP/wq8HFHZ2FNhEhiF+GzI1v7XpaVDqW840fBJW1m/Prr5TJT8niZvxU5adrBl/MOUOHmW91jH31dcqti+lDrt+e+1J2x6to3Wr3PRhwG36keXrLrBiudUXLkGOx+u/5lHb8idxz4G4l34wQqMz2J9HqBe56gUh+BXfdxTdtQ+cGgO9GpMuOb1HXSB1LnOlOd/pQCoHE7B9+4Hq5U155fE2LLr+a8vmpjXGDrD32oulfudOqEHi3fURzKrvHXwgivY5/Zs6kDH6lKuXeV2lTfnfmnsHijJgHgkHkTFepRyCmD+f8Mcg9Jj4GvCriFXXim++Yb+OxjNtXxqGHOe0a56uEz332WeeWC0EEJSwE8KKUQuC0U+e3iBBEXg10IcAh/Mstegq39YzTz6M0foAhfED0+NxjVMcIEEwjlxvUsqICWl5SSsuLigWLaFlxMXdvC+ifqUZtY+BmHQWEAH7qESGoymDhGD4heCeNBQ5kSUEh5XPXDLMGuMGhstl1d6exzzzv2Li3OIy5R2CEANNybo8g8u7tYvWc2TT8yOOo4PIraeo3vWhRSRmtXrSINqxaSRtWrHCeLFM/5xN6SDvHKaio1QFUzOKZefpZtO6fFU4+3iNxsWz8eBp9wIHcQPflc9yacvmGybv2OqeXI9Pg7zXLVtD8giJay0+WyuHmULEQuOch0oxmDfiRMvjVBnaYssvmd/NxT3Z2vovUp/TxJ7jhcyNseaDjvJV75rm0euFi861rN+WLHk5oNCdqU2SwMGbWQGLNssWU0+FkJ9pU0X4HUCGnxetVMT+9Mauxkq+BA87A0YCYjPyEADBXmdau+MeZkSneex++0fg88znArNIaxM1Yu4bWLObrye/jlQkBECm6ojECAGHtMs84yxnshUNREZbN8/mY+OabzhQ0ylq3ag3NGzaMsvl1qLDB3o4DkOMfww+vnNPPpvWr17iZGfgJARCpV0QIUC9fIWDM7jeARtYzUb0QAIjFZ96w6KwM4BkjcLo33DAKMfCx/4GU3UryIMrc3+VoPoj82+8wOUQRc+0cyB5B7KuBTY8A8635fEJKbryFJjzzLPM5GvvQo5R9aUenHnnOXCp3c9kmr15Dyjj1DFoVWQ0XeaKwEBRU0CMA5gwewjfPXlTE32EwJx2j4sd1oIIzzqYCzjPzkMMdtcd7ful+B1IZC+bIfZo5QUsAtyxxLDF/TvzoY0qrt4czOl6GOWduEBn7t6a8jlfQuEef4ON6nibwz0K+kfJOOpmG8rVYkJFhUlcEt5DKApO4iPSjWBhvvsNxn8ZMRhnfkGP4XM8fMcJ8z2LBPR/MLJQ1c71N8/Zqxk+vC2nym2/T5Pc+pPzrbqJsFgg4WBWzALuvfntRNvf4IjeahnGvdOGnf0PnejlP0RYH8g3G5/1/Il6gOZ2RulcsBFHAFR0esW6b2N/x788+5ljKP/VMyrz4Mlq9JCpmYcYIgMjr0Rx+BRvZmM87erCYuWrewnlVzT2ivRtNi69LRrPmfHPvSbkHt6UyfmUpdtYFsBCcehb3at3gpZHj8O8RuPcNYNUjYOT+914q5POB6wxxRAi9ouefc76LlFcuBLO++IoLxAnZj288XCC++Gjw8NxzfkaJz8c2aUmF9fj98WZ3hV0sIplHMPn1tyifK4qLgsGNnOtvdg7GPSDIgLfZIGZhZtsjnS4exAkHAR9q5IMLV8ANpwTz0lwX3FgFe+5J6XzCci7qSMsnR0OHldeFL1jRxZdTCeeBBTB4Rx7/SewYAVHRU09T2nY7UpkZdByLpxW/8xXyjVWIkXjuBTjnZ99mlF+3EY1iEZpmPMjcPPCvPBb+zP3fAdyXR7MYFWJwictA/Qsb8bsxNzSsgsNgWCFe0SCYO+1e7g9RESJHicAkGdyoSlnxx3LeGSwE08uFAPVyLSN1WTaujNJaH8rH25Tt3d5N1tnnO4OTwPo1q6iAG1vuLnVpLAKt8DUo4ictRvbz+DoU7bYHZfJrTsHV11Ixd3dLm/JTjs9v9uVX8MuV95pGsLi0zAkg61w7vlkx9YiQc3+PjIqQW0+3ppH6jrv7Pm7Q7s2Rz3WQQhCxnzdsBI3ih1Tp3piiw2In7inu05yKuL3mtDuSe3lRIZjAvR64rSPP+OCl0bZTev8DjkhAuGBb0Cnq7BSxAeAoNAa+/3zeIYzo+aHNFHM7LeLXMMTLxMrAWdxmSs6/2JnmxQxP3omn0bplkVB2Lspuv5OKuI2iXhC14vIeQbReRdff6LQV1AvTlqVd9WnL/Acf4dfS+nz9TI959/o09vXIVKObm7uvAWPKp5/SnzvuTpncSDO4YWLqCcQKtshP53dEEgb595E770q5115vcvAHYgj+uf3OlM4iMHrHXWjE5dc4xaOpOP2BfyNPqSiWz55Ff3LvI3e3+nzjuzd/PohG6NwwezqvG5mNm1L6gYdS7oWX0tQvu/N7t9mvINITiID/HnP2eVzn3SmD6zF0+52o6P2PI185+HvUCMrlp3HmYe2cACUYM8ETE55uIF6dnHPTth0V3Hs/LfaJmCQhv5/962+UfdHFTvcxo2EjR/Ex84CfcNFFzwwDimO4qzzh254mVeVYzcc+pH0HSt+1LufbmH7jn5MG/my+jUekPpj6G74LnxOUyY142HY7U96zL/I5cS1Wz19A+bfeQRncaPH6gEaJmyGTz0X6oYc7QoWNYkYdcQyl7VaPxnBeI7hrvn6V+6oUi9jzAK+4PH5i4lUUq11zLrrUcVySQLOPSErObbfTCLQjFtHh2+1Cmc7qzHhE8p/U7VMavd9BTshwp73U52vI52MYP4lX/u26LgMFDz5Iw7bf0clzxHa70hjuTbiI9AeI8vjpjHJxrYajfL6x/DCtb19Ka3+S06N01uYw0RvGgGzmKefQ3GHuTFbaaWdT2s51nVWmIw5txz3YuU55kWPNuuEGGrEDl8n1+mvbXSj7yYjoReuV2fFKGoUlyFwv3F+5Pp6+6FWO4h5szu71KIuvEYK1LBOv2SwEbtFLJkygSd8PoKk/DmT+VAl/pKk/DaQp/frTnNiReR8sKC6lCayCU/oPoEl9v6MZo0Y6DQ1tDaVHNS6KNStX0rR+/WjqBx9wV/JlKmP1L3m8ExU/1onKnnyaJvFBT+eu/Uzuki2fOJH+jfOQU8SFC5vx5wia9F1fmsr1mPBdH1owbpz7lfk+ghWz5nB3fyhN++QTGvfCS1TU6Rln9di0d9+nmT//SitmRj3VkCrSPfQeRRT4Lvb7dVzf+bl5NO3LL2jccy9Q0WNPUvHjT9Hkl7vQ9K+607wxo5yIQkBF+UbxL61bv5YmD/6DJvftx+f6Bxrftw8tnjmDv3HPciwiC1HWrvyHJvM1ncLnevKAH2gKN+SJv/xK65xI0NE08/iVYXyX16iIb76xnZ+jaT2/pX84bwDXb+rgQXxtv3fST+Vrsm6NEkmagZqsW72acs+/wFmB6SyX5ptm+nfuKksvoq1jNjfoic71608T+vSl2Tm5MTWMIvIZloFP/uBjbjdPU3EnfvV69RWa8dPPzixOxGYu5zGhvE30pZkZmc53Lt2yZ2ek00Sn/f5IE/v0odnZWc7n8Yh+snrxIpr50wAazw9ArNyd8NrrNPu3X2ntP65jF87B9GHDaTIf85Tv+ZzxK9jalSvirtKstLS4Y52T744luXTrNZN7UJP4O9RrQp/eNK+o0Pk8FpG/F2VkObMVhZ2fpkWF7gPM+dYMsrIQ4A+ZPPFwdM39X0XQGsEeU1r4GaEd3JMaMJFrjpMYk0bLIvJ35DvNpmLENo8K4DPW4sK92PGINCcf8FeRtqGljoWWj/uZnv/Edz/g92e3SwtvxfQzzqZ1KyI9CD0v18/DC7UErrNesgt855wtpScKOOW5FshKRexsRgT4BGkqhHM+/dO6ZVZUL/c//K9CrZf33GEmwcnJmDtCEMkYnwWhe+NV1kwA99BRqGMd+SOCmF/LYWycH85/UbPoT/4t8gcDf7sX2LWPBz7Bd/wvs7wextL9NvIL0pd/Yv41MHlH07s/4mxioH0XKT/amNzyYsvEj7i/reDaRvOK/qWiPHtYmIZv/nM/jTExiP5ufot84JwXzoP/dltEJJd4zPzhR0rDtGHTlo7PSjq/wsz4Pj6YSTzwWYTuv44d/q9Q/BiOmfuf+2f8b+5f7ieRsqN5uv+6f5nvYj6JpIuF/DRyTt3fI9/gt8h/kU8iuTqtopyRz93/I9+5/0ZzjnznVy/+GxfFOS4nN4OIrftJ+WBhCikkApHmumbxYu4iv0mjMW22TzNn4BHvzrlY+LQOsRyAaMNMIblICUEKCQVu60lfdacxx7anzIaNnBme4v0OJOzGlNbuGFox0Y0t6XgqwjqlAzWClBCkkHCUPf08Ze+8K5Xsh/UNmKZrTKMPPYLmlw80u91ipwdrPkkhuUgJQQoJhHtb/z1yOGU3aeIshsqqvydlnXchLS5yR64j4wnO/844Q0oKagIpIUghYYjc0msXLaShJ51EGWeeQzO+60frYha+pFAbQPR/7eOMK2kfIu4AAAAASUVORK5CYII="/></a></div></div>
                        </div>

                    </div>
              
                    <div class="col-md-6 text-center text-md-right mb-4">
                        <div class="mb-3"><a target="_blank" class="social-btn sb-light sb-twitter ml-2 mb-2"
                                href="https://twitter.com/kasaptanal"><i class="czi-twitter"></i></a><a target="_blank"
                                class="social-btn sb-light sb-facebook ml-2 mb-2"
                                href="https://www.facebook.com/kasaptanal"><i class="czi-facebook"></i></a><a
                                target="_blank" class="social-btn sb-light sb-instagram ml-2 mb-2"
                                href="https://www.instagram.com/kasaptanal/"><i class="czi-instagram"></i></a>
                        </div>
                        <div>
                            <img width="177" height="56" src="<%=__config.staticDomain %>/resource/img/cards-alt.png" style="width: 25%;"
                                alt="Kredi Kartları">
                        </div>

                        
                    </div>
                </div>
                <div class="pb-4 font-size-xs text-light opacity-50 text-center text-md-left">Tüm hakları saklıdır, ©
                    <a class="text-light" href="http://www.kalitte.com.tr" target="_blank">Kalitte Bilgi
                        Teknolojileri Limited Şirketi</a>

                </div>
            </div>
        </div>
</footer>



<div class="modal fade d-print-none" id="areaModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="areaModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
           <div class="modal-header">
                <h5 class="modal-title" id="areaModalLabel">Teslimat Bölgesi</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>  
            <div class="modal-body p-3">
                <div  class="font-weight-medium p-3 border bg-secondary text-center d-block mb-3" id="exploreAreaMsg">
                    Kasaplar ve ürün fiyatları için lütfen önce teslimat bölgenizi seçin.
                </div>
                <form>
                    <% include ../_partial/userlocation %>
                </form>
            </div>
        </div>
    </div>
</div>


<% if (!req.user) { %>

<div class="modal fade" id="reset-password-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Şifre Yenile</h4>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body pt-3">
         
                    <div class="form-group">
                        <input class="form-control iphone"  maxlength="30" type="tel" id="si-reset-email"                     required>
                        <div class="invalid-feedback">Geçersiz telefon
            
                        </div>
                    </div>

                    <button id= "reset-password-btn" onclick="sendResetLink()" class="btn btn-primary btn-block" type="button">Yenileme Bağlantısı Gönder</button>
               


            </div>
        </div>
    </div>
</div>

<% } %>

<% include ../_partial/meat-guide-dialog %>

<%}%>