<%if(__req.query.footer != '0') { %>
 




<footer class="bg-primary-darker pt-4 d-print-none">

    <% if (!controller.hide4Sebep) { %>
    <div class="container">

        <h3 class="h4 text-center text-light mb-grid-gutter">KasaptanAl.com'u kullanmak için 4 sebep</h3>

        <div class="row pb-3">
            <div class="col-md-3 col-sm-6 mb-4">
                <div class="media"><i class="czi-check
                text-primary" style="font-size: 2.25rem;"></i>
                    <div class="media-body pl-3">
                        <h6 class="font-size-base text-light mb-1">Kaliteli Et</h6>
                        <p class="mb-0 font-size-ms text-light opacity-50">Yerel kasaplardan %100 doğal, %100 helal
                            yerli kesim et sağlıyoruz.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 mb-4">
                <div class="media"><i class="czi-card text-primary" style="font-size: 2.25rem;"></i>
                    <div class="media-body pl-3">
                        <h6 class="font-size-base text-light mb-1">Kasap Kart&trade;</h6>
                        <p class="mb-0 font-size-ms text-light opacity-50">Kasap Kart&trade; ile düzenli kasap
                            alışverişlerinizden puan kazandırıyoruz.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 mb-4">
                <div class="media"><i class="czi-lable text-primary" style="font-size: 2.25rem;"></i>
                    <div class="media-body pl-3">
                        <h6 class="font-size-base text-light mb-1">Fiyat Avantajı</h6>
                        <p class="mb-0 font-size-ms text-light opacity-50">Farklı kasap alternatifleri sunarak fiyat
                            avantajı sunuyoruz.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 mb-4">
                <div class="media"><i class="czi-delivery text-primary" style="font-size: 2.25rem;"></i>
                    <div class="media-body pl-3">
                        <h6 class="font-size-base text-light mb-1">Hızlı Teslimat</h6>
                        <p class="mb-0 font-size-ms text-light opacity-50">Siparişlerinizi kapınıza kadar aynı gün
                            istediğiniz zaman getiriyoruz.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

  

    <hr class="hr-light pb-4 mb-3">

    <%}%>

    <div class="container mb-3">
        <!-- <div class="text-center cookiealert" role="alert">
            <p>
                <b>Kullanıcı deneyiminizi artırmak için çerez kullanıyoruz.</b>

            </p>


            <button type="button" class="btn btn-primary btn-sm acceptcookies" aria-label="Close">
                Onayla
            </button>
        </div> -->

        <div class="row pb-2">
            <div class="col-md-4 col-sm-6">
                <div class="widget widget-links widget-light pb-2 mb-4">
                    <h3 class="widget-title text-light">Ürünler</h3>
                    <ul class="widget-list">
                        <% var viewCats = ['reyon', 'list'] %>
                        <% viewCats.forEach(cat => { %>
                        <% var reyonlar = __categories.filter(p=>p.type.includes(cat) && p.status == 'active') %>
                        <% for(var c=0; c< reyonlar.length; c++) {%>
                        <li class="widget-list-item"><a class="widget-list-link"
                                href="<%= `/${reyonlar[c].slug}`%>"><%= reyonlar[c].name %></a></li>
                        <%}%>
                        <% }) %>
                        <li class="widget-list-item">
                            <a class="widget-list-link" href="<%= `/kasap-urunleri`%>"><i
                                    class="czi-arrow-right-circle mr-2"></i>Tümü</a>
                        </li>

                    </ul>
                </div>
                <div class="widget widget-links widget-light pb-2 mb-4">
                    <h3 class="widget-title text-light">Et Yemekleri</h3>
                    <ul class="widget-list">
                        <% var viewCats = ['resource'] %>
                        <% viewCats.forEach(cat => { %>
                        <% var reyonlar = __categories.filter(p=>p.type == cat && p.status == 'active') %>
                        <% for(var c=0; c< reyonlar.length; c++) {%>
                        <li class="widget-list-item"><a class="widget-list-link"
                                href="/et-yemekleri/<%= `${reyonlar[c].slug}`%>"><%= reyonlar[c].name %></a></li>
                        <%}%>
                        <% }) %>
                        <li class="widget-list-item">
                            <a class="widget-list-link" href="<%= `/et-yemekleri`%>"><i
                                    class="czi-arrow-right-circle mr-2"></i>Tümü</a>
                        </li>

                    </ul>
                </div>


            </div>



            <div class="col-md-4 col-sm-6">
                <div class="widget widget-links widget-light pb-2 mb-4">
                    <h3 class="widget-title text-light">Et Fiyatları</h3>
                    <ul class="widget-list">
                        <% controller.req.__pricecategories.forEach(pc=> {  %>
                        <li class="widget-list-item"><a class="widget-list-link" href="/<%=pc.slug%>"><%=pc.name%></a>
                        </li>
                        <% })%>
                        <li class="widget-list-item">
                            <a class="widget-list-link" href="<%= `/et-fiyatlari`%>"><i
                                    class="czi-arrow-right-circle mr-2"></i>Tümü</a>
                        </li>
                    </ul>
                </div>
                <div class="widget widget-links widget-light pb-2 mb-4 mr-4">
                    <h3 class="widget-title text-light">Online Kasaplar</h3>
                    <% var cityChunks = _.chunk(__butcherCities, 12) %>
                    <div class="row">
                        <% cityChunks.forEach((chunk, j) => { %>
                        <div class="col">
                            <ul class="widget-list">
                                <% for(var i=0; i<chunk.length; i++) {%>
                                <% if (chunk[i].name == 'Ankara' || chunk[i].name == 'Istanbul') {%>
                                <li class="widget-list-item"><a class="widget-list-link"
                                        href="<%= `/${chunk[i].slug}-kasap` %>"><%= chunk[i].name %></a></li>
                                <%}%>

                                <%}%>

                                <% if (j == 0) { %>
                                <li class="widget-list-item">
                                    <a class="widget-list-link" href="<%= `/onlinekasap`%>"><i
                                            class="czi-arrow-right-circle mr-2"></i>Tümü</a>
                                </li>
                                <%}%>
                                        
                                                            </ul>                        
                                            </div>
                                            <% }) %>
                        </div>


                    </div>


                    <div class="widget widget-links widget-light pb-2 mb-4">
                        <h3 class="widget-title text-light">Hakkımızda</h3>
                        <ul class="widget-list">
                            <li class="widget-list-item"><a class="widget-list-link" href="/hikayemiz">Hikayemiz</a>
                            </li>
                            <li class="widget-list-item"><a class="widget-list-link" href="/yardim">Yardım ve Sıkça
                                    Sorulan Sorular</a></li>
                            <li class="widget-list-item"><a class="widget-list-link"
                                    href="/gizlilik-sozlesmesi">Gizlilik Sözleşmesi</a></li>
                            <li class="widget-list-item"><a class="widget-list-link" href="/satis-sozlesmesi">Mesafeli
                                    Satış Sözleşmesi</a></li>
                            <li class="widget-list-item"><a class="widget-list-link" href="/satis-sozlesmesi#iade">İade
                                    ve İptal Şartları</a></li>
                            <li class="widget-list-item"><a class="widget-list-link"
                                    href="/kasap-secim-kriterleri">Kasap Seçim Kriterlerimiz</a></li>

                            <li class="widget-list-item"><a class="widget-list-link" href="/kasap">Kasap Başvurusu</a>
                            </li>
                            <li class="widget-list-item"><a class="widget-list-link" href="/iletisim">İletişim</a></li>

                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="widget pb-2 mb-4">
                        <h3 class="widget-title text-light pb-1">İyi Et Rehberi</h3>
                        <a class="btn btn-primary get-userguide-action " href="#">Ücretsiz İndir</a>
                    </div>
                    <div class="widget widget-links widget-light pb-2 mb-4">
                        <h3 class="widget-title text-light">Kullanıcı İşlemleri</h3>
                        <ul class="widget-list">
                            <li class="widget-list-item"><a class="widget-list-link" href="/user">Hesabım</a></li>
                            <li class="widget-list-item"><a class="widget-list-link"
                                    href="/user/orders">Siparişlerim</a></li>
                            <li class="widget-list-item"><a class="widget-list-link" href="/user/orders">Sipariş
                                    takibi</a>
                            </li>
                        </ul>
                    </div>

                    <div class="widget widget-links widget-light pb-2 mb-4">
                        <h3 class="widget-title text-light">Et Kültür Blog</h3>
                        <ul class="widget-list">
                            <li class="widget-list-item"><a class="widget-list-link" href="/blog/onlinekasap">Online
                                    Kasap Nedir?</a></li>
                            <li class="widget-list-item"><a class="widget-list-link"
                                    href="/blog/online-et-siparisi">Online Et Siparişi Nasıl Verilir ?</a></li>
                            <li class="widget-list-item"><a class="widget-list-link" href="/blog/kasap-kart">Kasap
                                    Kart&trade;</a></li>
                            <li class="widget-list-item">

                                <a class="widget-list-link" href="/blog"><i
                                        class="czi-arrow-right-circle mr-2"></i>Tümü</a>
                            </li>


                        </ul>
                    </div>

                </div>
            </div>
        </div>
        <div class="pt-4 bg-primary-darkest">

            <div class="container ">

                <div class="row pb-3">
                    <div class="col-md-6 text-center text-md-left mb-4">
                        <div class="text-nowrap mb-4"><a class="d-inline-block align-middle mt-n1 mr-3" href="#"><img
                                    class="d-block" title="KasaptanAl.com" style="width: 8rem;"
                                    src="<%=__config.staticDomain %>/resource/img/logo-nav.png"
                                    alt="kasaptanal.com" /></a>

                        </div>

                    </div>
                    <div class="col-md-6 text-center text-md-right mb-4">
                        <div class="mb-3"><a target="_blank" class="social-btn sb-light sb-twitter ml-2 mb-2"
                                href="https://twitter.com/kasaptanal"><i class="czi-twitter"></i></a><a target="_blank"
                                class="social-btn sb-light sb-facebook ml-2 mb-2"
                                href="https://www.facebook.com/kasaptanal"><i class="czi-facebook"></i></a><a
                                target="_blank" class="social-btn sb-light sb-instagram ml-2 mb-2"
                                href="https://www.instagram.com/kasaptanal/"><i class="czi-instagram"></i></a>
                        </div>
                        <div>
                            <img src="<%=__config.staticDomain %>/resource/img/cards-alt.png" style="width: 25%;"
                                alt="Kredi Kartları">
                        </div>
                    </div>
                </div>
                <div class="pb-4 font-size-xs text-light opacity-50 text-center text-md-left">Tüm hakları saklıdır, ©
                    <a class="text-light" href="http://www.kalitte.com.tr" target="_blank">Kalitte Bilgi
                        Teknolojileri Limited Şirketi</a>

                </div>
            </div>
        </div>
</footer>



<div class="modal fade d-print-none" id="areaModal" tabindex="-1" role="dialog" aria-labelledby="areaModalLabel"
    aria-hidden="true">
    <div class="modal-dialog " role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="areaModalLabel">Semtinizi seçin</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <span class="text-center d-block" id="exploreAreaMsg"></span>
                <form>
                    <% include ../_partial/userlocation %>
                </form>
            </div>
            <div class="modal-footer p-1">
                <button id="exploreAreaButton" type="button" class="btn btn-sm btn-primary">Seç</button>
            </div>
        </div>
    </div>
</div>

<% include ../_partial/meat-guide-dialog %>

<%}%>