<% var badge = typeof(badge) != 'undefined' ? badge: null %>
<% var hideTitle = typeof(hideTitle) != 'undefined' ? hideTitle: false %>


<div class="card product-card">
    <% if (badge) { %>
        <span class="badge badge-primary badge-shadow d-print-none"><%=badge%></span>
        <% } %>

    <a class="d-block overflow-hidden" href="<%= href %>"><img class="<%=imgClass%>" src="<%= src %>" alt="<%= title  %>"></a> 
    <% if (!hideTitle) { %>
    <div class="card-body text-center">
        <h3 class="product-title font-size-md mb-1"><a href="<%= href %>"><%= title  %></a>
        </h3>
    </div>
    <%}%>
</div>