<% var _pageTitle = (typeof pageTitle == 'undefined' || !pageTitle) ? "KasaptanAl.com | Güvenilir Kasaplardan Online Et Siparişi": ("KasaptanAl.com | " + pageTitle + "") %>
<% var _pageDescription = (typeof pageDescription == 'undefined' || !pageDescription) ? "En İyi kasaplardan En İyi etler anında kapınızda! Kasap Kart™ ile kârlı alışveriş Türkiye'nin online kasap sipariş platformu KasaptanAl.com'da.": (pageDescription) %>
<% var _pageThumbnail = (typeof pageThumbnail == 'undefined' || !pageThumbnail) ? "": (pageThumbnail) %>

<%

  _pageTitle = _pageTitle.trim();
  _pageDescription = _pageDescription.trim()

%>
<title>
    <%= _pageTitle %>
</title>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">


<meta name="author" content="kasaptanal.com">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="<%=__config.staticDomain %>/resource/img/icon/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">
<meta property="og:type" content="website">
<meta property="og:locale" content="tr_TR">
<meta property="og:title" content="<%= _pageTitle %>">
<meta property="og:description" content="<%= _pageDescription %>">
<meta property="og:site_name" content="kasaptanal.com">
<% if (_pageThumbnail) { %>
<meta property="og:image" content="<%=_pageThumbnail%>">
<% } %>
<meta property="og:url" content="https://www.kasaptanal.com<%=__req.path%>">
<meta name="description" content="<%= _pageDescription  %>">

<link rel="apple-touch-icon" sizes="57x57" href="<%=__config.staticDomain %>/resource/img/icon/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="<%=__config.staticDomain %>/resource/img/icon/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="<%=__config.staticDomain %>/resource/img/icon/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="<%=__config.staticDomain %>/resource/img/icon/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="<%=__config.staticDomain %>/resource/img/icon/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="<%=__config.staticDomain %>/resource/img/icon/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="<%=__config.staticDomain %>/resource/img/icon/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="<%=__config.staticDomain %>/resource/img/icon/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="<%=__config.staticDomain %>/resource/img/icon/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192" href="<%=__config.staticDomain %>/resource/img/icon/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="<%=__config.staticDomain %>/resource/img/icon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="<%=__config.staticDomain %>/resource/img/icon/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="<%=__config.staticDomain %>/resource/img/icon/favicon-16x16.png">
<link rel="manifest" href="<%=__config.staticDomain %>/resource/img/icon/manifest.json">
<link rel="shortcut icon" href="<%=__config.staticDomain %>/resource/img/icon/favicon.ico" type="image/x-icon">
<link rel="icon" href="<%=__config.staticDomain %>/resource/img/icon/favicon.ico" type="image/x-icon">
<link rel="stylesheet" media="screen" href="<%=__config.staticDomain %>/resource/css/vendor.min.css?v=<%=__config.versionKey%>">
<link rel="stylesheet" media="screen" id="main-styles" href="<%=__config.staticDomain %>/resource/css/theme.min.css?v=<%=__config.versionKey%>">

<style>
  .iti__flag {background-image: url("<%=__config.staticDomain %>/resource/img/flags.png %>");}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .iti__flag {background-image: url("<%=__config.staticDomain %>/resource/img/flags@2x.png%>");}
}
</style>

<script>
  var gtags = [];
  window.kaPlatform = '<%- controller.platform %>';
</script>

<% if (controller.useCatpcha && __config) {  %>
<script src="https://www.google.com/recaptcha/api.js?render=<%-__config.googleCaptchaKey %>"></script>
<% } %>

<% if (config.pagetrack == "true" && (!__req.user || !__req.user.hasRole('admin') )) { %>

  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-0JPXPWH76T"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-0JPXPWH76T');
</script>

<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-TJ6248F');</script>

<!-- Facebook Pixel Code -->
<script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window, document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '181428686412576');
  fbq('track', 'PageView');
  </script>
  <noscript><img height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id=181428686412576&ev=PageView&noscript=1"
  /></noscript>
  <!-- End Facebook Pixel Code -->


<% if (true) { %>
<script>
  (function(h,o,t,j,a,r){
      h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
      h._hjSettings={hjid:1844061,hjsv:6};
      a=o.getElementsByTagName('head')[0];
      r=o.createElement('script');r.async=1;
      r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
      a.appendChild(r);
  })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
</script> 
<% } %>
    
  
<% } %>

<% if (controller.platform == 'app') { %>

<style>.app-d-none {
  display: none !important;
}

.app-d-block {
  display: block !important;
}

.app-d-inline {
  display: inline !important;
}


</style>

<% } %>

