<%if(__req.query.header != '0') { %>

<% if (config.pagetrack == "true" && (!__req.user || !__req.user.hasRole('admin') )) { %>
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TJ6248F" height="0" width="0"
    style="display:none;visibility:hidden"></iframe></noscript>
<% } %>



<% if (!__req.user && req.query.print != '1') { %>
<%- include ./signinup %>
<% } %>


<%
  var searchHints = __categories.filter(p=>p.searchhint).map(c=>c.searchhint) 
  var index = __helper.getRandomInt(searchHints.length);
  var searchHint = 'arayın: ' + (searchHints[index] || 'haşlamalık')
  
  
%>

<% if (req.query.print != '1') {  %>
<header class="d-print-none">

  <div class="topbar topbar-light bg-secondary d-none d-lg-block ">
    <div class="container">
      <div class="topbar-text dropdown d-none d-md-none"><a class="topbar-link dropdown-toggle" href="#"
          data-toggle="dropdown">Hızlı Erişim</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="/kasap-urunleri"><i class="czi-view-grid text-muted mr-2"></i>Lezzetler</a>
          </li>

          <li>
            <a class="dropdown-item" href="https://wa.me/+908503054216"><i class="czi-support text-muted mr-2"></i>
              Destek</a></li>
          <li>

            <% if ( __req.prefAddr) { %>
            <a class="dropdown-item select-area-action"><i class="czi-location text-muted mr-2">

              </i><%= __req.prefAddr.level1Text + '/' + __req.prefAddr.level3Text %> (değiştir)</a>


            <% } else { %>
            <a class="dropdown-item select-area-action"><i class="czi-location text-muted mr-2">

              </i>Semtinizi Seçin</a>


            <% } %>




          </li>


        </ul>
      </div>
      <div class="topbar-text text-nowrap d-none d-md-inline-block"><a class="topbar-link" target="_blank" href="https://wa.me/+908503054216">Destek</a></div>
      <div class="ml-3 text-nowrap w-100 text-right">

        <% if ( __req.prefAddr ) { %>
          <i class="czi-location "></i>
        <a class="select-area-action topbar-link  d-md-inline-block" href="#"><%= __req.prefAddr.level1Text + '/' + __req.prefAddr.level3Text %></a>


        <% } else { %>
        <a class="select-area-action topbar-link d-md-inline-block" href="#"><i
            class="czi-location text-muted"></i>Semtinizi Seçin</a>



        <% } %>

      </div>


    </div>
  </div>

  <div class="bg-secondary">
    <div class="navbar navbar-expand-lg navbar-light">
      <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse3"><span
            class="navbar-toggler-icon"></span></button><a class="navbar-tool navbar-stuck-toggler ml-1 mr-2" href="#">
          <div class="navbar-tool-icon-box"><i class="navbar-tool-icon czi-menu"></i></div>
          <div class="navbar-tool-text ml-n3"></div>
        </a>
        <a class="navbar-brand d-none d-lg-block mr-3 flex-shrink-0" href="/"><img width="450" height="115"
            style="width: 11rem;" src="<%=__config.staticDomain %>/resource/img/logo-nav4.png" title="KasaptanAl.com"
            alt="kasaptanal.com" /></a><a class="navbar-brand d-lg-none mr-2" href="/"><img width="450" height="115"
            style="width: 8rem;" src="<%=__config.staticDomain %>/resource/img/logo-nav4.png" title="KasaptanAl.com"
            alt="kasaptanal.com" /></a>
        <div class="input-group-overlay d-none d-lg-flex mx-4">
          <div class="input-group-prepend-overlay">

            <span class="input-group-text">
              <i class="notsearching czi-search"></i>
              <span class="searching d-none spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            </span>
          </div>
          <input class="form-control searchBox prepended-form-control" data-noresults-text="Maalesef bulamadık."
            autocomplete="off" type="text" placeholder="<%=searchHint%>">

        </div>
        <div class="navbar-toolbar d-flex flex-shrink-0 align-items-center">

          <% if (__req.user) { %>
          <a class="d-none d-lg-flex  text-dark navbar-tool ml-1 ml-lg-0 mr-n1 mr-lg-2" href="/user/">
            <div class="navbar-tool-icon-box bg-primary"><i class="navbar-tool-icon czi-user text-white"></i></div>
            <div class="navbar-tool-text ml-n2"><small><%= req.user.name %></small>
              <% if (__req.user.usablePuans <= 0) { %>
                Hesabım
              <% } else { %>
                <%=__helper.formattedCurrency(__req.user.usablePuans)%> Puan

              <% } %>
            </div>
          </a>
          <% } else { %>
          <a class="d-none d-lg-flex  text-dark navbar-tool ml-1 ml-lg-0 mr-n1 mr-lg-2"
            href="javascript:window.App.showSignupDlg()">
            <div class="navbar-tool-icon-box bg-primary"><i class="navbar-tool-icon czi-user text-white"></i></div>
            <div class="navbar-tool-text ml-n2"><small>Giriş veya</small>Kayıt</div>
          </a>
          <% } %>

          <div class="text-dark navbar-tool ml-3">
            <a class="navbar-tool-icon-box bg-primary" href="/alisveris-sepetim">


              <span v-cloak v-if="card.data.items.length>0" id="shopcardcount"
                class="navbar-tool-label bg-dark">{{ card.data.items.length }}</span>
              <i class="navbar-tool-icon czi-cart text-white"></i></a><a class="navbar-tool-text"
              href="/alisveris-sepetim">Sepetim</a>

          </div>
        </div>
      </div>
    </div>
    <div class="navbar navbar-expand-lg navbar-light navbar-stuck-menu mt-n2 pt-0 pb-2">
      <div class="container px-0">
        <div class="input-group-overlay d-lg-none my-3">
          <div class="input-group-prepend-overlay">

            <span class="input-group-text">
              <i class="notsearching czi-search"></i>
              <span class="searching d-none spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            </span>
          </div>
          <input class="form-control searchBox prepended-form-control" data-noresults-text="Maalesef bulamadık."
            autocomplete="off" type="text" placeholder="<%=searchHint%>">
        </div>

        <div class="collapse navbar-collapse" id="navbarCollapse3">

          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/kasap-urunleri">Ürünler</a>

            </li>
            <li class="nav-item">
              <a class="nav-link" href="/et-yemekleri">Et Yemekleri</a>


            </li>


            <li class="nav-item">
              <a class="nav-link" href="/kasaplar">Kasaplar</a>


            </li>

            <%if (__req.user) { %>
            <li class="d-lg-none nav-item"><a class="nav-link" href="/user" rel="nofollow">Profilim

              <% if (__req.user.usablePuans <= 0) { %>
                
                <% } else { %>
                  [<%=__helper.formattedCurrency(__req.user.usablePuans)%> Puan]
  
                <% } %>

              </a>
            </li>

            <%} else {%>
            <li class="d-lg-none nav-item"><a href="javascript:window.App.showSignupDlg()" data-label=""
                class="nav-link">Kullanıcı Girişi/Kayıt</a>
            </li>
            <%}%>
            <% if ( __req.prefAddr ) { %>

            <li class="d-lg-none nav-item"><a class="select-area-action nav-link"
                href="#"><%= __req.prefAddr.level1Text + '/' + __req.prefAddr.level3Text %></a>
            </li>

            <% } else { %>
            <li class="d-lg-none nav-item"><a class="select-area-action nav-link" href="#">Semtinizi Seçin</a></li>



            <% } %>

          </ul>

          <ul class="nav navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/neden-kasaptanal">
                Neden Biz</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/blog">
                Blog</a>
            </li>

            <li class="nav-item  d-lg-none">
              <a target="_blank" class="nav-link" href="https://wa.me/+908503054216">Destek</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>



<div class="d-print-none" id="__whatsup"></div>

<%}%>

<% } %>