<% 
  var operator = typeof(operator) == 'undefined' ? false: operator
  var hidePhone = typeof(hidePhone) == 'undefined' ? false: hidePhone
  var hidePayLink = typeof(hidePayLink) == 'undefined' ? false: hidePayLink
%>




<% if (controller.shouldBePaid > 0 && order.butcher.enableCreditCard) { %>
  <%if (!hidePayLink) { %>
    <div class="mt-3  d-print-none">
      <% if (controller.mayEarnPuanTotal > 0) { %>
        <% if (controller.mayEarnPuanTotal) { %>
          <div class="mt-3 mb-3 alert alert-success text-center">
        
            
              <strong>Tebrikler!</strong> <br> kasaptanAl.com alışverişiniz size <strong><%- include('./currency.ejs', {value: controller.mayEarnPuanTotal}) %></strong> değerinde puan kazandırdı.
           
          </div>
          <div>
        
        
            <% if (controller.possiblePuanList.length > 0) { %>
              <div class="mb-3">
             
               <% controller.possiblePuanList.forEach(pg => { %>
                <ul>
                  <li>
                    <strong><%- include('./currency.ejs', {value: pg.earned}) %></strong>, <%=pg.title%>
        
                  </li>
                </ul>
                 
               
              <% }) %> 
        
            </div>
              <%}%>
            
        
        
          
          </div>
        <% } %>
      <%}%>
      <!-- <%- include('./currency.ejs', {value: controller.shouldBePaid}) %> -->
    
    </div>

  <div class="text-center d-print-none">
    <a class="btn btn-sm btn-success" href="/pay/<%=order.ordernum%>">Önline Ödeme</a>
  </div>
  <% } %>
  <% } else if (controller.shouldBePaid <= 0) { %>
    <div class="mt-3 alert alert-success text-center d-print-none">
      <div>
        <p class="text-success text-center">
          Siparişin borcu yoktur. 
        </p>      
        <% if (controller.earnedPuanTotal > 0) { %>
        <p>
          Tebrikler! Online ödeme yaparak bu siparişinizden <strong><%- include('./currency.ejs', {value: controller.earnedPuanTotal}) %></strong> değerinde puan kazandınız.
        </p>
        <%}%>
      </div>
    
    
    </div>
<% } %>


<div>
  <% if(order.address) { %>
    <h3 class="h4 ">Adres</h3>
  <%}%>

  <ul class="list-unstyled font-size-sm">
    <li><span class="text-muted">İsim:&nbsp;</span><%= order.name %></li>
    <% if(order.address) { %>
    <li><span class="text-muted">Adres:&nbsp;</span><%= order.address%> 
      Bina: <%=order.bina%>,Kat: <%=order.kat%>,Daire: <%=order.daire%>
      <%= order.areaLevel3Text%>/<%= order.areaLevel1Text%></li>
      <% if (order.adresTarif) { %>
      <li>
        Adres tarifi: <%= order.adresTarif%>
      </li>
      <%}%>
      <%}%>
      <% if(order.note) { %>
        <li><span class="text-muted">Not:&nbsp;</span><%= order.note%>
          </li>
      <%}%>
    <% if (order.noInteraction) { %>
    <li>Güvenli Teslimat: <%= order.noInteraction ? 'Evet': 'Hayır'%></li>
    <% } %>
    <% if (!hidePhone) { %>
    <li id="orderphone" onclick="javascript:$('#orderphone').hide()"><span
        class="text-muted">Telefon:&nbsp;</span><%= order.phone%></li>
    <% } %>
  </ul>

  <% if (order.shipLocation && order.shipLocation.coordinates && order.shipLocationAccuracy < 1000) { %>


  <div class="d-print-none mb-3">

    <!-- <div class="mt-3 font-size-sm text-muted">Kasabınıza uzaklık: <%=(order.dispatcherDistance)%>km</div> -->
    <!-- <div class="font-size-sm text-muted">Hata payı: <%=(order.shipLocationAccuracy)%>m</div> -->
    <div class="font-size-sm text-muted"><a target="_blank" class="font-size-sm d-block"
        href="https://www.google.com/maps/place/<%=order.shipLocation.coordinates[0]%>+<%=order.shipLocation.coordinates[1]%>/">
       
        <img class="border" style="width: 20rem;"
        src="https://maps.googleapis.com/maps/api/staticmap?center=<%=order.shipLocation.coordinates[0]%>+<%=order.shipLocation.coordinates[1]%>&zoom=18&scale=1&size=600x300&maptype=roadmap&key=AIzaSyBFqn2GNAhwbJnpga-3S3xQGBc0EcdAgH8&format=png&visual_refresh=true&markers=size:mid%7Ccolor:0xff0000%7Clabel:M%7C<%=order.shipLocation.coordinates[0]%>+<%=order.shipLocation.coordinates[1]%>">
        <!-- <%=order.shipLocation.coordinates[0]%>, <%=order.shipLocation.coordinates[1]%> -->
      </a> </div>
  </div>

  <%}%>
</div>

<div class="row mb-3 d-print-none">
  <div class="col-sm-4 mb-2">
    <div class="bg-secondary p-4 text-center rounded-lg"><span class="font-weight-medium text-dark mr-2">Dağtımı yapacak: <br></span><%=order.dispatcherName%>
</div>
</div>
<div class="col-sm-4 mb-2">
  <div class="bg-secondary p-4 text-center rounded-lg"><span
      class="font-weight-medium text-dark mr-2">Durum:<br></span><%= order.status %></div>
</div>
<div class="col-sm-4 mb-2">
  <div class="bg-secondary p-4 text-center rounded-lg"><span class="font-weight-medium text-dark mr-2">Tahmini
      dağıtım:<br></span>Belirlenen gün ve saat</div>
</div>
</div>

<% for (let bi in butchers) { %>
<% let butcher = butchers[bi]%>



<div class="mb-3 border-top border-left border-right">

  <div class="bg-secondary p-3  mb-4 d-print-none"><a class="media align-items-center" href="/<%=butcher.slug%>"><img
        class="rounded-circle header-img d-print-none" src="<%= `${__req.helper.imgUrl('butcher-google-photos', butcher.slug)}` %>"
        alt="<%=butcher.name%>">
      <div class="media-body pl-2"><span class="font-size-ms text-muted"></span>
        <h3 class="h4 mb-0 mr-2"><%= butchers[bi].name %></h3>
      </div>
    </a></div>

  <ul class="px-4 list-unstyled font-size-sm">
    <li><span class="text-muted">Teslimat:&nbsp;</span><%= shipment[bi].howToDesc %></li>
    <li><span class="text-muted">Teslimat Kodu:&nbsp;</span><%= shipment[bi].securityCode %></li>
    <li><span class="text-muted">Teslimat planı:&nbsp;</span><%= shipment[bi].desc %></li>
    <% if (shipment[bi].type != 'callme') {%>
    <li><span class="text-muted">Gün:&nbsp;</span><strong><%= shipment[bi].daysText %></strong></li>
    <li><span class="text-muted">Saat Aralığı:&nbsp;</span><strong><%= shipment[bi].hoursText%></strong> </li>
    <%}%>
                <li><span class="text-muted">Paketim çıkmadan bana haber ver:&nbsp;</span><%= __helper.boolStr(shipment[bi].informMe)%>
    </li>
    <li><span class="text-muted">Planlanan Ödeme:&nbsp;</span><%= payment[bi].desc%> </li>
  </ul>

  <% butcher.products.forEach((pi, i) => { %>
  <% let item = items[pi] %>

  <div id="shop-card-item-<%=i%>"
    class="px-4 d-sm-flex justify-content-between align-items-center mt-2 pb-3 border-bottom">
    <div class="media media-ie-fix d-block d-sm-flex align-items-center text-center text-sm-left"><a
        class="d-inline-block mx-auto mr-sm-4" href="/<%=item.product.slug%>?butcher=<%=item.product.butcherSlug%>"
        style="width: 10rem;"><img src="<%=`${__req.helper.imgUrl('product-photos', item.product.slug)}`%>"
          class="d-print-none " alt="Product"></a>
      <div class="media-body pt-2">
        <h3 class="product-title font-size-base mb-2"><a
            href="/<%=item.product.slug%>?butcher=<%=item.butcher.slug%>"><%=item.product.name%></a>
        </h3>
        <div class="font-size-normal"><span class="font-weight-medium"><%=item.quantity%></span> <span
            class="text-muted"><%=item.pounitTitle%>/</span>
          <span class="font-size-sm">
            <%- include('./currency.ejs', {value: item.price}) %>
          </span>
          <%if (item.pounitWeight) { %>
          <span class="text-muted font-size-sm d-block">1 <%=item.pounitTitle%> <%=item.pounitWeight%></span>
          <% } %>
        </div>
        <div class="mb-3 text-nowrap text-muted d-print-none">
          Durum: <%=item.status%>
        </div>
        <div>
          <%- include(`./product.${item.productType || 'generic'}-view.ejs`, {man: item.productTypeManager}) %>

          
        </div>
        <% if (item.note) {%>
        <div class="font-size-sm text-info"><%=item.note%></div>
        <%}%> 
             
                          </div>
                        </div>
                        <div class="pt-2 pt-sm-0 pl-sm-3 mx-auto mx-sm-0 text-center text-sm-left" style="max-width: 9rem;">
  
                        </div>
                      </div>
<%if (operator) { %>
  <form action="/pages/operator/order/<%=order.ordernum%>/item#shop-card-item-<%=i%>" method="POST">
    <h6><%=item.productName%></h6>
    <input type="hidden" name="itemid" value="<%=item.id%>">
    <input type="hidden" name="orderid" value="<%=order.id%>">
<div class="border-bottom p-3">

  <div class="form-group row">
    <label for="staticEmail" class="col-sm-2 col-form-label">Numara</label>
    <div class="col-sm-10">
      <input type="text" readonly class="form-control-plaintext" value="<%=item.orderitemnum%>/<%=item.id%>/<%=item.product.name%>">
    </div>
  </div>
  <div class="form-group row">
    <label for="inputPassword" class="col-sm-2 col-form-label">Ödeme</label>
    <div class="col-sm-10">
      <span>paymentTransactionId: <%=item.paymentTransactionId%></span>
    </div>
  </div>

  <div class="form-group row">
    <label for="inputPassword" class="col-sm-2 col-form-label">Durum</label>
    <div class="col-sm-10">
      <div>Status: <%=item.status%> / <%=item.statusText%></div>
      <div>subMerchantStatus: <em class="font-weight-bold"> <%=item.subMerchantStatus%> </em>/ <%=item.subMerchantStatusText%></div>
    </div>
  </div>
<%if (item.status == 'teslim edildi' || (item.status || '').startsWith('iptal')) { %>
  <div class="form-group row">
    <% if (item.subMerchantStatus == 'approved') { %>
      <button name="disApproveSubMerchant" class="btn- btn-primary btn-sm" value="true">DisApprove SubMerchant</button>


    <% } else { %>
      <button name="approveSubMerchant" class="btn- btn-primary btn-sm value="true">Approve SubMerchant</button>      
    <% } %>
  </div>

<%}%>

  <p><%-controller.markdown.render(item.statusDesc || '')%></p>
  <div class="form-group">
    <label for="orderItemStatus" class=""><%=item.productName%>:</label>
    <%- include('./order-status.ejs', { name: "orderItemStatus", order: item }) %>
  </div>
  <button name="saveOrderItemStatus" value="true" class="btn btn-primary btn-sm">Durum Kaydet</button>

  <div>

  </div>

</div>
</form>
<% } %>
                  <% }) %>
      </div>


      <!-- <div class="d-none butcher-totals  p-2 bg-secondary">
        <div class="d-flex justify-content-between mb-2 border-bottom">
          <div class="">
            <div class="font-size-sm">Ürünler:</div>

          </div>
          <div class="text-nowrap font-size-sm">
            <%- include('./currency.ejs', {value: butcher.subTotal}) %>
          </div>

        </div>

        <% if (butcher.shippingTotal > 0) { %>
        <div class="d-flex justify-content-between mb-2 border-bottom">
          <div>
            <div class="font-size-sm">Teslimat:</div>

          </div>
          <div class="text-nowrap font-size-sm">
            <%- include('./currency.ejs', {value: butcher.shippingTotal }) %>
          </div>

        </div>

        <%}%>
         
          <% if (butcher.discountTotal != 0) { %>
        <div class="d-flex justify-content-between mb-2 border-bottom">
          <div>
            <div class="font-size-sm">İndirimler</div>

          </div>
          <div class="text-nowrap font-size-sm">
            <%- include('./currency.ejs', {value: butcher.discountTotal}) %>
          </div>
        </div>
        <%}%>
    
            <div class="d-flex justify-content-between mb-2 font-weight-medium">
                <div>
                  <div class="font-size-sm">Toplam:</div>
      
                </div>
                <div class="text-nowrap font-size-sm">
                  <%- include('./currency.ejs', {value: butcher.total}) %>
      </div>

    </div>
  </div> -->

  <%}%>  

      <!-- <div class="mb-3 order-totals border mt-4 p-2 bg-secondary">
          <div class="d-flex justify-content-between mb-2 border-bottom">
            <div class="">
              <div class="font-size-sm">Ürünler:</div>
    
            </div>
            <div class="text-nowrap font-size-sm">
              <%- include('./currency.ejs', {value: order.subTotal}) %>
</div>

</div>

<% if (order.shippingTotal > 0) { %>
<div class="d-flex justify-content-between mb-2 border-bottom">
  <div>
    <div class="font-size-sm">Teslimat:</div>

  </div>
  <div class="text-nowrap font-size-sm">
    <%- include('./currency.ejs', {value: order.shippingTotal }) %>
  </div>

</div>

<%}%>
         
          <% if (order.discountTotal != 0) { %>
<div class="d-flex justify-content-between mb-2 border-bottom">
  <div>
    <div class="font-size-sm">İndirimler</div>

  </div>
  <div class="text-nowrap font-size-sm">
    <%- include('./currency.ejs', {value: order.discountTotal}) %>
  </div>
</div>
<%}%>
    
            <div class="d-flex justify-content-between mb-2 font-weight-medium">
                <div>
                  <div class="font-size-sm">Genel Toplam:</div>
      
                </div>
                <div class="text-nowrap font-size-sm">
                  <%- include('./currency.ejs', {value: order.total}) %>
</div>

</div>
</div> -->

<div class="text-center mb-3">
  <h6 class="h6">
    Toplam Borç 
  </h6>
  <%- include('./currency.ejs', {value: controller.shouldBePaid}) %>  
</div>

  
<div class="d-print-none">

  <%- include('./accounts-view.ejs', { title: 'Sipariş Hareketleri', accounts: order.workedAccounts }) %>

<% if (order.kalittePuanAccounts.length > 1) { %>
  <%- include('./accounts-view.ejs', { hideBorc: true, accounts: order.kalittePuanAccounts, title:'kasaptanAl.com Puanlar' }) %>
  <%}%>

<% if (order.butcherPuanAccounts.length > 1) { %>
  <%- include('./accounts-view.ejs', { hideBorc: true, accounts: order.butcherPuanAccounts, title:'Kasap Puanlar' }) %>
  <%}%>

</div>






  








<style>
  img {

    pointer-events: all !important;
  }
</style>