<div class="card product-card card-static item-card pb-0">
  <% if (resource.badge) {%>
    <span class="badge text-wrap badge-primary badge-shadow "><%= resource.badge || '' %>
    </span>
  
    <% }%>

    <% 
    var settings = resource.settings || {

    }
    
    %>

  <a data-resid="<%=resource.id%>" class="gallery-item <%= !note ? 'mb-grid-gutter':''%>  <%= resource.contentType == 'video-youtube' ? 'video-item':''%>"
    <% if (resource.tag1 == 'yemek-tarifi') { %>
      data-sub-html="<%= `<h6 class="font-size-normal text-light">${resource.title || ''}</h6><p class="font-size-md mb-2">${resource.description || ''}</p>` + 
      '<button type="button" onclick="'%>  <%= include(`./addtonote.ejs`, {resource: resource }) %>   <%='"class="btn btn-block btn-primary btn-sm rounded-0"><i class=" czi-add-circle mr-2"></i>'%><%= resource.tag3 || 'Uygun hazırlayın' + '</button>'%>"
    
    <%} else if (resource.tag1 == 'hazirlama-sekli') { %>
      data-sub-html="<%= `<h6 class="font-size-normal text-light">${resource.title || ''}</h6><p class="font-size-md mb-2">${resource.description || ''}</p>` + 
      '<button type="button" onclick="'%>  <%= include(`./addtonote.ejs`, {resource: resource }) %>   <%='"class="btn btn-block btn-primary btn-sm rounded-0"><i class=" czi-add-circle mr-2"></i>'%><%= resource.tag3 || 'Bu şekilde hazırlayın' + '</button>'%>"
  
      <% } else { %>
      data-sub-html="<%=`<h6 class="font-size-normal text-light">${resource.title|| ''}</h6><p class="font-size-md mb-2">${resource.description || ''}</h6>`%>"
    <% } %>
    href="<%= `${resource.getFileUrl()}` %>">
    <img class="<%=first ? '': 'rounded'%>" src="<%=  `${first ? resource.getFileUrl(): resource.getThumbnailFileUrl()}` %>"
      alt="<%=product.name%>" /><span class="gallery-item-caption"><%=resource.title || ''%></span></a>


  <% if (note) { %>
  <div class="text-center mb-3 mt-1">
                       
    <button type="button" onclick="<%= include('./addtonote.ejs', {resource: resource }) %>"
      class="btn btn-primary btn-sm rounded-0"><i class=" czi-add-circle mr-2">
      </i><%= resource.tag3 || 'Uygun Hazırla' %></button>
  </div>
  <%}%>

</div>

