<% var butcher = typeof(butcher) != 'undefined' ? butcher: null %>
<% var product = typeof(product) != 'undefined' ? product: butcherProduct.product %>
<% var badge = typeof(badge) != 'undefined' ? badge: product.tag2 %>
<% var showPurchase = typeof(showPurchase) != 'undefined' ? showPurchase: false %>
<% var showPrice = typeof(showPrice) != 'undefined' ? showPrice: true %>
<% var lowPrice = typeof(lowPrice) == 'undefined' ? 0.00: lowPrice %>
<% var highPrice = typeof(highPrice) == 'undefined' ? 0.00: highPrice %>
<% var priceUnit = typeof(priceUnit) == 'undefined' ? '': priceUnit %>
<% var link2Location = typeof(link2Location) == 'undefined' ? false: link2Location %>



<div class="card p-0 h-100 mb-3 border rounded-0   product-card shadow  text-center">
    <% if (badge && typeof(hideBadge) == 'undefined') { %>
    <span class="badge badge-danger badge-shadow d-print-none"><%=badge%></span>

    <% } %>
    <% if (product.badge == 'video' && typeof(hideBadge) == 'undefined') { %>
    <button class="btn-wishlist  d-print-none" type="button" data-toggle="tooltip" data-placement="left" title=""
        data-original-title="Zengin içerik"><i class="czi-video"></i></button>

    <% } %>
    <% if (showPurchase) { %>
  
        <button data-product="<%=product.slug%>" style="opacity:0.80" class=" btn-wishlist mr-1 mt-1 rounded-circle btn-primary  d-print-none" type="button" title="Hızlı Satın Al"><i class="czi-icon czi-cart"></i></button>

<% } %>

    
    <a class="<%= link2Location ? 'select-area-action':'' %> d-block overflow-hidden app_blank"
   
     href="/<%=product.slug%><%=(butcher ? `?butcher=${butcher}&utm_medium=Butcher`:'') %>"
     
    >
     <img width="500" height="500"
         src="<%= `${__req.helper.imgUrl('product-photos', product.slug)}` %>" class="lazyload "
            alt="<%= product.name  %>">
        
        
        </a>
            <% if (typeof(hideName) == 'undefined') { %>
    <div class="card-body p-2 d-flex flex-column align-items-center">
        <h3 class="m-auto p-0   font-size-sm"><a class="text-dark <%= link2Location ? 'select-area-action':'' %>"
                href="/<%= product.slug%><%=(butcher ? `?butcher=${butcher}&utm_medium=Butcher`:'') %>"><%= product.name  %></a>
        </h3>

        <% if (typeof(butcherProduct) != 'undefined' && butcherProduct && showPrice) { %>
            <% var view = butcherProduct.priceView;  %>
           
                <div class="text-accent font-size-sm">
                    <%- include('./currency.ejs', {value: view.price, unit: view.unitTitle}) %>
                </div>
             
            <% } %>

        <% if (lowPrice > 0.00 && highPrice > 0.00) { %>
            <div class="text-accent font-size-sm">
                <% if (lowPrice != highPrice) { %>
                <%- include('./currency.ejs', {value: lowPrice}) %>-<%- include('./currency.ejs', {value: highPrice, unit: priceUnit}) %> 
                <% } else { %>
                <%- include('./currency.ejs', {value: highPrice, unit: priceUnit}) %> 

                <% } %>
            </div>
        <% } %>

    </div>



    <%}%>
</div>