<div class="rounded-lg bg-secondary border p-3">
    <div class="form-group">
        <h5 class="h5 text-warning">Hayırlara vesile olmasını diliyoruz</h5>
        <div class="form-group">
            <label for="kurban-kiminadina">Kurban kimin adına kesilecek ?</label><br>
            <input placeholder="kendi adınıza ise boş bırakabilirsiniz" type="text" class="form-control" name="kurban-kiminadina" id="kurban-kiminadina" value="<%=man.kiminadina%>">
        </div>
        <div class="form-group">
            <label for="adak-vekalet">Vekâletinizi nasıl alalım?</label>
            <select id="adak-vekalet" class="form-control bsselect" >
                <% for (var k in man.constructor.vekaletData) { %>
                    <option <%= man.vekalet == k ? 'selected':'' %> value="<%=k%>"><%=man.constructor.vekaletData[k]%></option>
    
                    
                <% } %>
            </select>
        </div>
    
        <div class="form-group">
            <label for="adak-video">Kesim videosu ister misiniz?</label>
            <select id="adak-video" class="form-control bsselect" >
                <% for (var k in man.constructor.videoData) { %>
                    <option <%= man.video == k ? 'selected':'' %> value="<%=k%>"><%=man.constructor.videoData[k]%></option>
                <% } %>
            </select>
        </div>
    

    
    </div>
</div>





