<% var butcher = typeof(butcher) != 'undefined' ? butcher: null %>
<% var product = typeof(product) != 'undefined' ? product: butcherProduct.product %>
<% var badge = typeof(badge) != 'undefined' ? badge: product.tag2 %>
<% var showPurchase = typeof(showPurchase) != 'undefined' ? showPurchase: false %>
<% var showPrice = typeof(showPrice) != 'undefined' ? showPrice: true %>
<% var lowPrice = typeof(lowPrice) == 'undefined' ? 0.00: lowPrice %>
<% var highPrice = typeof(highPrice) == 'undefined' ? 0.00: highPrice %>
<% var priceUnit = typeof(priceUnit) == 'undefined' ? '': priceUnit %>

<div class="card rounded-0 product-card h-100 ">
    <% if (badge && typeof(hideBadge) == 'undefined') { %>
    <span class="badge badge-danger badge-shadow d-print-none"><%=badge%></span>

    <% } %>
    <% if (product.badge == 'video' && typeof(hideBadge) == 'undefined') { %>
    <button class="btn-wishlist btn-sm d-print-none" type="button" data-toggle="tooltip" data-placement="left" title=""
        data-original-title="Zengin içerik"><i class="czi-video"></i></button>



    <% } %>
    <% if (showPurchase) { %>
  
        <button data-product="<%=product.slug%>" class="opacity-2 btn-wishlist btn-primary btn-sm  d-print-none" type="button" title="Hızlı Satın Al"
        ><i class="czi-add-circle"></i></button>



<% } %>

    
    <a class="d-block overflow-hidden" href="/<%=product.slug%><%=(butcher ? `?butcher=${butcher}`:'') %>"><img width="500" height="500"
         src="<%= `${__req.helper.imgUrl('product-photos', product.slug)}` %>" class="lazyload"
            alt="<%= product.name  %>"></a>
            <% if (typeof(hideName) == 'undefined') { %>
    <div class="card-body card-block d-flex flex-column text-center">
        <h3 class="product-title font-size-md mb-1"><a
                href="/<%= product.slug%><%=(butcher ? `?butcher=${butcher}`:'') %>"><%= product.name  %></a>
        </h3>

        <% if (typeof(butcherProduct) != 'undefined' && butcherProduct && showPrice) { %>
            <% var view = butcherProduct.priceView;  %>
           
                <div class="text-accent font-size-sm">
                    <%- include('./currency.ejs', {value: view.price, unit: view.unitTitle}) %>
                </div>
             
            <% } %>

        <% if (lowPrice > 0.00 && highPrice > 0.00) { %>
            <div class="text-accent font-size-sm">
                <%- include('./currency.ejs', {value: lowPrice}) %> - 
                <%- include('./currency.ejs', {value: highPrice, unit: priceUnit}) %> 
            </div>
        <% } %>

    </div>



    <%}%>
</div>