<% var butcher = typeof(butcher) != 'undefined' ? butcher: null %>
<% var badge = typeof(badge) != 'undefined' ? badge: product.tag2 %>
<div class="card product-card card-static item-card">
    <% if (badge && typeof(hideBadge) == 'undefined') { %>
    <span class="badge badge-danger badge-shadow"><%=badge%></span>

    <% } %>
    <% if (product.badge == 'video') { %>
    <button class="btn-wishlist btn-sm" type="button" data-toggle="tooltip" data-placement="left" title=""
        data-original-title="Zengin içerik"><i class="czi-video"></i></button>
    <% } %>
    <a class=" d-block overflow-hidden" href="/<%=product.slug%><%=(butcher ? `?butcher=${butcher}`:'') %>"><img
            class="rounded-0" src="<%= `${__req.helper.imgUrl('product-photos', product.slug)}` %>"
            alt="<%= product.name  %>"></a>
    <div class="card-body pl-0 text-center">
        <h3 class="product-title font-size-md"><a
                href="/<%= product.slug%><%=(butcher ? `?butcher=${butcher}`:'') %>"><%= product.name  %></a>
        </h3>
    </div>
</div>