<%
 var url = typeof(url) == 'undefined' ? '': url
 var returnUrl = typeof(returnUrl) == 'undefined' ? '': returnUrl
 var butcher = typeof(butcher) == 'undefined' ? null: butcher


%>

<div class="modal fade" id="purchasemodal" role="dialog" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog fs-modal-dialog modal-lg modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Satın Al</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div style="overflow: hidden;" class="modal-body h-100 m-0 p-0">

       <div id="purchasemodal-loading">
          <div class="mt-5 d-flex justify-content-center ">
            <div class="spinner-grow text-primary" role="status">
              <span class="sr-only">Yükleniyor...</span>
            </div>
          </div>
        </div>  

      </div>
    </div>
  </div>
</div>

  <script>

    var p = window.purchase = {};

    p.closePurchaseDialog = function () {
      $("#purchasemodal").modal('hide');
    }

    p.goShopcard = function () {
      p.go('/alisveris-sepetim')
    }

    p.selectAddress = function (product) {
      p.closePurchaseDialog();
      window.kb.selectArea(function (sender, ul) {
        window.location.href = "/adres-belirle/" + ul.selectedDistrict.slug + '?r=' + encodeURIComponent('/<%=`${returnUrl}?open=`%>' + product);
      });
    }

    p.go = function (loc) {
      window.location.href = loc
    }



    function goSubitem(tag) {
      App.scrollToAnchor('#' + tag)
    }

    function setBody() {


    }



    $(document).ready(function () {


      


      $("#purchasemodal").on('hide.bs.modal', function () {
        $(this).find('.iframe-div').remove();
        $('#purchasemodal-loading').hide();

      });

      $('#purchasemodal').on('show.bs.modal', function () {
        $(this).find('.iframe-div').focus();
        // $(this).find('.modal-body').css({
        //   //height: window.innerHeight + 'px'
        // });
      });

      function openPurchaseDialog(product) {
        var div = $('<div class="d-none iframe-div w-100 h-100" overflow:auto;-webkit-overflow-scrolling:touch"></div>');

        var iframe = document.createElement('iframe');

        iframe.onload = function () { 
          $('#purchasemodal-loading').hide(); 
          iframe.classList.remove('d-none');           
          div.removeClass('d-none');           
        };
        iframe.width = "100%";
        iframe.height = "100%";
        iframe.style.border ="none";
        iframe.style.overflow = "scroll";
        iframe.classList.add('d-none');
        iframe.src = '/' + product + '?frame=1&' + '<%=butcher ? `butcher=${butcher.slug}`:`` %>';
        $('#purchasemodal-loading').show();
        
        div.prepend(iframe);
        $("#purchasemodal").find('.modal-body').prepend(div);
        $("#purchasemodal").modal('show');
      }


      $('[data-product]').click(function (e) {
  <% if (__req.prefAddr) { %>
          openPurchaseDialog($(e.currentTarget).data('product'))
          <% } else { %>
            window.kb.selectArea(function (sender, ul) {
              window.location.href = "/adres-belirle/" + ul.selectedDistrict.slug + '?r=' + encodeURIComponent('/<%=`${returnUrl}?open=`%>' + $(e.currentTarget).data('product'));
            });
  <% } %>
})



      var el = document.getElementById('sc');
      var sb = SimpleBar.instances.get(el);
      if (sb) {
        var scel = sb.getScrollElement();
        var scelOffset = $(scel).offset();
        var selected = $("#cat-item-<%=controller.category ? controller.category.slug: ''%>").offset();
        $(".category-slider-item a").click(function (e) {
            if (!scel.__progress) {
              e.currentTarget.innerHTML = '<span class="spinner-border text-primary spinner-border-sm"></span>' + e.currentTarget.innerHTML
              scel.__progress = true;
            }  
        })

        if (selected) {
          var urlParams = new URLSearchParams(window.location.search);
          // if (urlParams.has('restore')) {
          //     scel.scrollLeft = parseFloat(urlParams.get('restore'))
          // } else scel.scrollLeft = -(scelOffset.left - selected.left);
          var scroll = (selected.left - scelOffset.left);
          if (scroll > $(scel).width() / 2) {
            var labelSize = $("#cat-item-<%=controller.category ? controller.category.slug:''%>").width();
            scel.scrollLeft = selected.left - scelOffset.left - ($(scel).width() - labelSize) / 2
          }

          
          // scel.scrollLeft = selected.left + scelOffset.left - $(scel).width();
          

          // if (selected.left <  $(scel).width()) {

          // } else {
          //   scel.scrollLeft = (selected.left - scelOffset.left) + (selected.left - $(scel).width())
          // }
          // console.log(scel.scrollLeft, selected.left, scelOffset.left, $(scel).width())
        }
      }
      if (location.hash == '#items') {
      } else {
        if (location.hash) {
          goSubitem(decodeURIComponent(location.hash.replace('#', '')));
        }
      }
      <% if (__req.query.open) { %>
        openPurchaseDialog('<%=__req.query.open%>')
        <% } %>
      
    })
  </script>