<%
 var url = typeof(url) == 'undefined' ? '': url
 var returnUrl = typeof(returnUrl) == 'undefined' ? '': returnUrl
 var butcher = typeof(butcher) == 'undefined' ? null: butcher


%>

<div class="modal modal-fullscreen-sm" id="purchasemodal" tabindex="-1" role="dialog" data-keyboard="false" aria-hidden="true">
  <div class="modal-dialog fs-modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Satın Al</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div style="overflow: hidden;" class="modal-body h-100 m-0 p-0">
        <div id="purchasemodal-loading">
          <div class="mt-5 d-flex justify-content-center ">
            <div class="spinner-grow text-primary" role="status">
              <span class="sr-only">Yükleniyor...</span>
            </div>
          </div>
        </div> 
      </div>
    </div>
  </div>
</div>



  <script>

function loadProducts(cat) {

    
            
var rep = $(".text-link" + cat)[0]
var rept =  rep.innerHTML;
var rep = $(".text-link"+cat)[0];
rep.innerHTML = '<span class="spinner-border text-primary spinner-border-sm"></span>';


$.ajax('/' + cat + '?partial=1').done(function (result) { 
$('#category-products').html(result);

new SimpleBar($('#category-products [data-simplebar]')[0]);
$('#category-products [data-simplebar]').css({
opacity:1
});
$('#category-products [data-product]').click(window.purchase.purchaseClick);
$('#cat-slider .item-slider-selected').removeClass("item-slider-selected")
$("#cat-slider #cat-item-" + cat + " .item-slider").addClass("item-slider-selected")

}).fail(function(err) {
alert(err.message)
}).always(function() {
rep.innerHTML = rept;
})
}



    var p = window.purchase = {};

    p.closePurchaseDialog = function () {
      $("#purchasemodal").modal('hide');
    }

    p.goShopcard = function () {
      p.go('/alisveris-sepetim')
    }

    p.selectAddress = function (product) {
      p.closePurchaseDialog();
      window.kb.selectArea(function (sender, ul) {
        window.location.href = "/adres-belirle/" + ul.selectedDistrict.slug + '?lng=' + ul.lng + '&lat=' + ul.lat + '&r=' + encodeURIComponent('/<%=`${returnUrl}?open=`%>' + product);
      });
    }

    p.go = function (loc) {
      window.location.href = loc
    }

    p.purchaseClick =  function (e) {
        <% if (__req.prefAddr) { %>
          p.openDialog($(e.currentTarget).data('product'))
          <% } else { %>
            window.kb.selectArea(function (sender, ul) {
              window.location.href = "/adres-belirle/" + ul.selectedDistrict.slug + '?lng=' + ul.lng + '&lat=' + ul.lat + '&r=' + encodeURIComponent('/<%=`${returnUrl}?open=`%>' + $(e.currentTarget).data('product'));
            });
  <% } %>
      }

      p.openDialog = function (product) {
        var div = $('<div class="d-none iframe-div w-100 h-100" overflow:auto;-webkit-overflow-scrolling:touch"></div>');

        var iframe = document.createElement('iframe');


        
        $(iframe).on('load', function() {
          iframe._loaded = true;
          $('#purchasemodal-loading').hide(); 
          iframe.classList.remove('d-none');           
          div.removeClass('d-none');    
        })


        <% if (controller.platform == "app") { %>
        if ( App.mobileOs == "android") {

          setTimeout(function() {
            if (!iframe._loaded) {
              $('#purchasemodal-loading').hide(); 
              iframe.classList.remove('d-none');           
              div.removeClass('d-none');  
            }
          }, 1000);

        }

        <% } %>


        iframe.width = "100%";
        iframe.height = "100%";
        iframe.style.border ="none";
        iframe.style.overflow = "scroll";
        iframe.classList.add('d-none');
        iframe.src = '/' + product + '?frame=1&' + '<%=butcher ? `butcher=${butcher.slug}`:`` %>';
        $('#purchasemodal-loading').show();
        
        div.prepend(iframe);
        $("#purchasemodal").find('.modal-body').prepend(div);
        $("#purchasemodal").modal('show');
      }




    function goSubitem(tag, usePage, offset) {
      
      <% if (controller.platform == 'app') { %>
        if (!usePage) {
          var t = $(".category-container").scrollTop()
          var scrollOffset = $('#' + tag).offset().top - $(".category-container-top").offset().top + t;
          $(".category-container").animate({scrollTop:scrollOffset}, 500);
         } else App.scrollToAnchor('#' + tag, null, offset)
      <% } else { %>
        App.scrollToAnchor('#' + tag, null, offset)
      <% } %>

    }

    function setBody() {


    }



    $(document).ready(function () {




      $("#purchasemodal").on('hide.bs.modal', function () {
        $(this).find('.iframe-div').remove();
        $('#purchasemodal-loading').hide();

      });

      $('#purchasemodal').on('show.bs.modal', function () {
        $(this).find('.iframe-div').focus();
        // $(this).find('.modal-body').css({
        //   //height: window.innerHeight + 'px'
        // });
      });



      $('[data-product]').click(window.purchase.purchaseClick)



      var el = document.getElementById('sc');
      var sb = SimpleBar.instances.get(el);
      if (sb) {
        var scel = sb.getScrollElement();
        var scelOffset = $(scel).offset();
        var selected = $("#cat-item-<%=controller.category ? controller.category.slug: ''%>").offset();
        $(".category-slider-item a[nopartial]").click(function (e) {
          
            if (!scel.__progress) {
              var cat = $(e.currentTarget).data('cat');
            
              var rep = $(".text-link" + cat)[0]
              var rept =  rep.innerHTML;
              var rep = $(".text-link"+cat)[0];
              rep.innerHTML = '<span class="spinner-border text-primary spinner-border-sm"></span>';
              setTimeout(function() {
                rep.innerHTML = rept;
                scel.__progress = false;
              }, 5000);
              scel.__progress = true;
            }  
        })

        if (selected) {
          var urlParams = new URLSearchParams(window.location.search);
          // if (urlParams.has('restore')) {
          //     scel.scrollLeft = parseFloat(urlParams.get('restore'))
          // } else scel.scrollLeft = -(scelOffset.left - selected.left);
          var scroll = (selected.left - scelOffset.left);
          if (scroll > $(scel).width() / 2) {
            var labelSize = $("#cat-item-<%=controller.category ? controller.category.slug:''%>").width();
            scel.scrollLeft = selected.left - scelOffset.left - ($(scel).width() - labelSize) / 2
          }

          
          // scel.scrollLeft = selected.left + scelOffset.left - $(scel).width();
          

          // if (selected.left <  $(scel).width()) {

          // } else {
          //   scel.scrollLeft = (selected.left - scelOffset.left) + (selected.left - $(scel).width())
          // }
          // console.log(scel.scrollLeft, selected.left, scelOffset.left, $(scel).width())
        }
      }
      if (location.hash == '#items') {
      } else {
        if (location.hash) {
          goSubitem(decodeURIComponent(location.hash.replace('#', '')));
        }
      }
      <% if (__req.query.open) { %>
        p.openDialog('<%=__req.query.open%>')
        <% } %>
      
    })
  </script>