<div class="card h-100 shadow-sm pb-0 product-card card-static item-card rounded-0">

  <% if (typeof(showAll) != 'undedined') { %>
    <a class="gallery-item d-block overflow-hidden gallery-item <%= resource.contentType == 'video-youtube' ? 'video-item':''%>"
      href="<%= `${resource.getFileUrl()}`  %>"
      <% if (resource.tag1 && (resource.tag1.includes('tarif') || resource.tag1.includes('yemek'))) { %> data-sub-html="<%= `<h6 class="font-size-normal text-light">${resource.title || ''}</h6><p class="font-size-md mb-2">${resource.description || ''}</p>`%> 
        <% if (resource.note) {%>
        <%=  '<a href="'%>  <%= include(`./addtonotelink.ejs`, {resource: resource, subUrl: subUrl, disableSlider: true  }) %>   <%='"class="btn btn-block btn-primary btn-sm rounded-0"><i class=" czi-thumb-up mr-2"></i>'%><%= resource.tag3 || 'Eti Bizden' + '</button>' %>
        <% } %>
        " <% } %>>
      <img class="" <% if (resource.contentType == 'video-youtube') { %>
        src="<%= (resource.thumbnailUrl ? resource.getThumbnailFileUrl(): null) ||  `${__req.helper.imgUrl('product-photos', resource.product.slug)}` %>"
        <% } else { %> src="<%= `${resource.getThumbnailFileUrl()}` %>" <% } %> alt="<%= resource.title  %>">
    </a>
    <div class="card-body pl-0 text-center">
      <h3 class="product-title font-size-md"><a
          href="/<%= `${resource.product.slug}/${subUrl}/${__helper.slugify(resource.title || 'tarif')}?r=${resource.id}`  %>"><%= resource.title  %></a>
      </h3>
      <!-- <p class="text-muted font-size-sm">(<%=resource.product.name%>)</p> -->
    </div>
    <div class="px-2 py-2">
      <a href="<%- include(`./addtonotelink.ejs`, {resource: resource, subUrl: subUrl, auto: false  }) %>"
        class="btn btn-sm btn-block  btn-primary font-size-xs"><i class=" czi-thumb-up mr-1">
        </i>Eti Bizden</a>
      </small>
    </div>
  <% } else { %>

  <% } %>
  
</div>