

<select class="form-control custom-select" id="<%= id %>" name="<%= id %>">  
    <% Object.keys(nextHours ? controller.Shipment.availableTimes(): controller.shipmentHours).forEach(key=> { %>
        <%if (nextHours) { %>
        <option <%= key == selected? 'selected':'' %> value="<%=key%>"><%= hours[key]%></option>        
        <%} else {%> 
            <option <%= key == selected? 'selected':'' %> value="<%=key%>"><%= hours[key]%></option>        
            <%}%>
    <%})%>
</select>