<% let totalprice = typeof(total) == 'undefined' ? -1 : total %>
<div class="">

    <div class="d-flex justify-content-between w-100 border-bottom mb-1">
        <div>
            Alışveriş Toplamı
        </div>

        <div>   
            Teslimat
        </div>
        
    </div>
    <% slices.forEach(l => { %>
        <% let mention = (totalprice >= l.start && (totalprice < l.end || l.end <=0))  %>
    <div class="d-flex justify-content-between w-100 <%=mention ? 'font-weight-bolder':''%>">

      
            <div>
                <% if (l.start <= 0) {  %>
                    <%- include('../_partial/currency.ejs', {value: l.end}) %> - ve altı
                <% } else { %>
                <%- include('../_partial/currency.ejs', {value: l.start}) %> -
                <%- include('../_partial/currency.ejs', {value: l.end, zero: ' ve üzeri'}) %>
                <% } %>


            </div>

            <div class="<%= l.cost <= 0.00 ? 'font-weight-bolder':''%>">
                <%- include('../_partial/currency.ejs', {value: l.cost, zero: 'ücretsiz'}) %>

            </div>

    
          
    </div>
    <% }) %>      
  
</div>