<!DOCTYPE html>
<html lang="tr-TR" prefix="og: http://ogp.me/ns#">

<head>
    <% include ./_partial/head %>

    <style>
        .image {
            width: 200px;
        }
    </style>
</head>

<body>
    <% include ./_partial/header %>
    <!-- Page Content -->
    <div class="container m-4">
        <h1><%= butcher.name %></h4>

    </div>
    <div class="container-fluid">
        <div id="main">

            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#home">Temel Bilgiler</a>
                </li>
            
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#menu1">Resimler</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#menu2">Video</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#dispatch">Servis Alanları</a>
                </li>
            </ul>



            <div class="tab-content">
                <div id="home" class="container-fluid tab-pane active"><br>
                    <form name="saveform" method="POST">
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label>Slug</label>
                                    <input type="text" class="form-control" name="butcherslug" id="butcherslug"
                                        value="<%= butcher.slug %>">
                                </div>
                                <div class="form-group">
                                    <label>Adı</label>
                                    <input type="text" class="form-control" name="butchername" id="butchername"
                                        value="<%= butcher.name %>">
                                </div>
                                <div class="form-group">
                                    <label>Adres</label>
                                    <input type="text" class="form-control" name="butcheradres" id="butcheradres"
                                        value="<%= butcher.address %>">
                                </div>




                                <div class="form-group">
                                    <label>Şehir</label>
                                    <select class="custom-select" name="areal1" onchange="this.form.submit()">
                                        <% 
                                        for(var i=0; i<area1.length; i++) {%>
                                        <option value="<%=area1[i].id %>"
                                            <% if (area1[i].id == butcher.areaLevel1Id) { %>selected<% } %>>
                                            <%= area1[i].name %></option>
                                        <% } 
                                    
                                    %>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>İlçe</label>
                                    <select class="custom-select" name="areal2" id="areal2"
                                        onchange="this.form.submit()">
                                        <% 
                                            for(var i=0; i<area2.length; i++) {%>
                                        <option value="<%=area2[i].id %>"
                                            <% if (area2[i].id == butcher.areaLevel2Id) { %>selected<% } %>>
                                            <%= area2[i].name %></option>
                                        <% } 
                                        
                                        %>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Semt</label>
                                    <select name="areal3" class="custom-select" id="areal3">
                                        <% 
                                                for(var i=0; i<area3.length; i++) {%>
                                        <option value="<%=area3[i].id %>"
                                            <% if (area3[i].id == butcher.areaLevel3Id) { %>selected<% } %>>
                                            <%= area3[i].name %></option>
                                        <% } 
                                            
                                            %>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>postakod</label>
                                    <input type="text" class="form-control" name="butcherpostal" id="butcherpostal"
                                        value="<%= butcher.postal %>">
                                </div>

                                <div class="form-group">
                                    <label>Lat & Long [<a href="https://www.google.com/maps/search/?api=1&query=<%=butcher.lat%>,<%=butcher.lng%>">Git</a>]</label>
                                    <input type="text" class="form-control" name="butcherlat" id="butcherlat"
                                        value="<%= butcher.lat %>">
                                    <input type="text" class="form-control" name="butcherlng" id="butcherlng"
                                        value="<%= butcher.lng %>">                                        
                                </div>


                      

                                <div class="d-none form-group">
                                    <label for="logisticProviderUsage">Dış Lojistik Kullanımı</label>
                                    <select id="logisticProviderUsage" name="logisticProviderUsage">
                                        <option <%= butcher.logisticProviderUsage == 'none'? 'selected':'' %> value="none">Kullanma</option>                                    
                                        <option <%= butcher.logisticProviderUsage == 'auto'? 'selected':'' %> value="auto">Otomatik</option>      
                                        <option <%= butcher.logisticProviderUsage == 'disabled'? 'selected':'' %> value="disabled">Kapalı</option>                                                                                   
                                        <option <%= butcher.logisticProviderUsage == 'select'? 'selected':'' %> value="select">Kullanıcı Seçimi</option>
                                        <option <%= butcher.logisticProviderUsage == 'force'? 'selected':'' %> value="force">Sadece Kurye</option>
                                    </select>                                    
                                </div>
                       
                                <div class="form-group">
                                    <label for="logisticProviderUsage">Varsayılan Dağıtıcı</label>
                                    <select id="defaultDispatcher" name="defaultDispatcher">
                                        <option <%= butcher.defaultDispatcher == 'butcher'? 'selected':'' %> value="butcher">Kasap</option>                                    
                                        <option <%= butcher.defaultDispatcher == 'butcher/auto'? 'selected':'' %> value="butcher/auto">Kasap/Otomatik</option>      
                                        <option <%= butcher.defaultDispatcher == 'banabikurye'? 'selected':'' %> value="banabikurye">Banabikurye</option>                                                                                   
                                        <option <%= butcher.defaultDispatcher == 'banabikurye/car'? 'selected':'' %> value="banabikurye/car">Banabikurye Araç</option>                                                                                   
                                    </select>                                    
                                </div>


                            </div>

                            <div class="col">

                                <div class="form-group">
                                    <label>Tel</label>
                                    <input type="text" class="form-control" name="butchertel" id="butchertel"
                                        value="<%= butcher.phone %>">
                                </div>

                                <div class="form-group">
                                    <label>web</label>
                                    <input type="text" class="form-control" name="butcherweb" id="butcherweb"
                                        value="<%= butcher.website %>">
                                </div>
                                <div class="form-group">
                                    <label>instagram adı</label>
                                    <input type="text" class="form-control" name="butcherinstagram"
                                        id="butcherinstagram" value="<%= butcher.instagram %>">
                                </div>

                                <div class="form-group">
                                    <label>instagram video</label>

                                    <textarea class="form-control" name="butchervideoinstagram"
                                        id="butchervideoinstagram"><%= butcher.videoInstagramStr %></textarea>
                                </div>

                                <div class="form-group">
                                    <label>facebook adı</label>
                                    <input type="text" class="form-control" name="butcherfacebook" id="butcherfacebook"
                                        value="<%= butcher.facebook %>">
                                </div>
                                <div class="form-group">
                                    <label>Açıklama</label>

                                    <textarea rows="10" class="form-control" name="butcherdesc"
                                        id="butcherdesc"><%= butcher.description %></textarea>
                                </div>

                                <div class="form-group">
                                    <label>page title</label>
                                    <input type="text" class="form-control" name="butcherpagetitle" id="butcherpagetitle"
                                        value="<%= butcher.pageTitle %>">
                                </div>
                                <div class="form-group">
                                    <label>page desc</label>

                                    <textarea rows="10" class="form-control" name="butcherpagedesc"
                                        id="butcherpagedesc"><%= butcher.pageDescription %></textarea>
                                </div>    
                                <div class="form-group">
                                    <label>şirket adı</label>
                                    <input type="text" class="form-control" name="butcherlegalname" id="butcherlegalname"
                                        value="<%= butcher.legalName %>">
                                </div>
                                
                                <div class="form-group">
                                    <label>iban</label>
                                    <input type="text" class="form-control" name="butcheriban" id="butcheriban"
                                        value="<%= butcher.iban %>">
                                </div>

                                <div class="form-group">
                                    <label>şirket tipi</label>
                                    <input type="text" class="form-control" name="butchercompanytype" id="butchercompanytype"
                                        value="<%= butcher.companyType %>">
                                </div>

                                <div class="form-group">
                                    <label>vergi dairesi</label>
                                    <input type="text" class="form-control" name="butchertaxoffice" id="butchertaxoffice"
                                        value="<%= butcher.taxOffice %>">
                                </div>

                                <div class="form-group">
                                    <label>vergi no</label>
                                    <input type="text" class="form-control" name="butchertaxnumber" id="butchertaxnumber"
                                        value="<%= butcher.taxNumber %>">
                                </div>

                                <div class="form-group">
                                    <label>bildirim tel noları</label>
                                    <input type="text" class="form-control" name="butchernotifymobilephones" id="butchernotifymobilephones"
                                        value="<%= butcher.notifyMobilePhones %>">
                                </div>

                                <div class="form-group">
                                    <label>Dağıtım alanı (manual, citywide, radius)</label>
                                    <input type="text" class="form-control" name="butcherdispatcharea" id="butcherdispatcharea"
                                        value="<%= butcher.dispatchArea %>">
                                </div>

                                <div class="form-group">
                                    <label>Dağıtım KM (radiusAsKM)</label>
                                    <input type="text" class="form-control" name="butcherradiusAsKm" id="butcherradiusAsKm"
                                        value="<%= butcher.radiusAsKm %>">
                                </div>

                                <div class="form-group">
                                    <label>Selection KM (selectionRadiusAsKM)</label>
                                    <input type="text" class="form-control" name="butcherselectionRadiusAsKm" id="butcherselectionRadiusAsKm"
                                        value="<%= butcher.selectionRadiusAsKm %>">
                                </div>


                                <div class="form-group">
                                    <label>logisticProviderUsage (auto, none)</label>
                                    <input type="text" class="form-control" name="butcherlogisticproviderusage" id="butcherlogisticproviderusage"
                                        value="<%= butcher.logisticProviderUsage %>">
                                </div>

                                <div class="form-group">
                                    <label>logisticProvider (none, banabikurye)</label>
                                    <input type="text" class="form-control" name="butcherlogisticprovider" id="butcherlogisticprovider"
                                        value="<%= butcher.logisticProvider %>">
                                </div>

                                <div class="form-group">
                                    <label>locationtext</label>
                                    <input type="text" class="form-control" name="butcherlocationtext" id="butcherlocationtext"
                                        value="<%= butcher.locationText %>">
                                </div>

                                <div class="form-group">
                                    <label>level1text</label>
                                    <input type="text" class="form-control" name="butcherarealevel1text" id="butcherarealevel1text"
                                        value="<%= butcher.areaLevel1Text %>">
                                </div>

                                <div class="form-group">
                                    <label>Keywords</label>
                                    <textarea rows="5" class="form-control" name="keywords"
                                        id="keywords"><%= butcher.keywords %></textarea>
                                </div>                                   
                                <div class="form-group form-check">
                                    <input type="checkbox" name="butcherapproved" class="form-check-input"
                                        id="butcherapproved" <%= butcher.approved ? "checked" : "" %> />


                                    <label class="form-check-label" for="exampleCheck1">Onaylı</label>
                                </div>
                            </div>

                        </div>
                        <button type="submit" name="save" value="true" class="btn btn-primary">Kaydet</button>
                        <button type="submit" name="savecopy" value="true" class="btn btn-primary">Kopyala</button>
                        <button type="submit" name="saveAsSubMerchantp" value="true" class="btn btn-primary">Paratika Entegrarasyonu</button>
                        <button type="submit" name="saveAsSubMerchanti" value="true" class="btn btn-primary">İyzico Entegrarasyonu</button>
                        <% if (butcher.priceBasedButcher) { %>
                        <button type="submit" name="updateprices" value="true" class="btn btn-primary">Fiyatları Referans Kasaptan Al</button>
                        <% } %>
                    </form>
                </div>

                <div id="menu1" class="container-fluid tab-pane fade"><br>
                    <form name="saveimgform" method="POST">
                        <a href="<%= `/pages/admin/resource/butcher-google-photos/${butcher.id}?fileprefix=${butcher.slug}&title=${butcher.name}&videotype=butcher-videos` %>"
                            target="_blank">Düzenle</a>
                        <div class="row">

                            <% for(var i=0; i<images.length; i++) {%>
                            <div class="mx-3 col">
                                <img class="image my-2 img-thumbnail"
                                    src="<%= `/${butcher.slug}/fotograf/${images[i].contentUrl}?thumbnail=1`  %>" />
                            </div>
                            <% } %>
                        </div>
                    </form>
                </div>
                <div id="menu2" class="container-fluid tab-pane fade"><br>
                    <%- butcher.videoInstagramStr %>
                </div>

       

                <div id="dispatch" class="container-fluid tab-pane fade">
                    <div>
                        <form method="POST" action="/pages/admin/butcher/<%=butcher.slug%>/dispatch">

                            <div class="form-group">
                                <label>Şehir</label>
                                <select class="custom-select" name="dareal1" onchange="this.form.submit()">
                                    <% 
                                    for(var i=0; i<controller.darea1.length; i++) {%>
                                    <option value="<%=controller.darea1[i].id %>"
                                        <% if (controller.darea1[i].id == controller.darea1sel) { %>selected<% } %>>
                                        <%= controller.darea1[i].name %></option>
                                    <% } 
                                
                                %>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>İlçe</label>
                                <select class="custom-select" name="dareal2" id="dareal2"
                                    onchange="this.form.submit()">
                                    <% 
                                        for(var i=0; i<controller.darea2.length; i++) {%>
                                    <option value="<%=controller.darea2[i].id %>"
                                        <% if (controller.darea2[i].id == controller.darea2sel) { %>selected<% } %>>
                                        <%= controller.darea2[i].name %></option>
                                    <% } 
                                    
                                    %>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Semt</label>
                                <select name="dareal3" class="custom-select" id="dareal3">
                                    <% 
                                            for(var i=0; i<controller.darea3.length; i++) {%>
                                    <option value="<%=controller.darea3[i].id %>"
                                        <% if (controller.darea3[i].id == butcher.areaLevel3Id) { %>selected<% } %>>
                                        <%= controller.darea3[i].name %></option>
                                    <% } 
                                        
                                        %>
                                </select>
                            </div>
                            <input type="text" class="form-control" name="minsales" id="minsales" placeholder="min sipariş">
                            <input type="text" class="form-control" name="fee" id="fee" placeholder="teslima ücreti">
                            <input type="text" class="form-control" name="free" id="free" placeholder="üstü ücretsiz">

                            <button type="submit" name="add" value="semtekle" class="btn btn-primary">Semt Ekle</button>
                            <button type="submit" name="add" value="ilceekle" class="btn btn-primary">İlçe Ekle</button>
                            <button type="submit" name="add" value="sehirekle" class="btn btn-primary">Şehir Ekle</button>                            
        
                                <div>
                                    <table class="table">
                                        <tr>    
                                            <th>
                                                adres
                                            </th>
                                            <th>
                                                min
                                            </th>
                                            <th>
                                                ücret
                                            </th>
                                            <th>
                                                üstü ücretsiz
                                            </th>
                                            <th>
                                                Dağıtıcı
                                            </th>
                                            <th>
                                                gel al sadece
                                            </th>
                                            <th>
                                                aktif
                                            </th>

                                        </tr>
                                      
                                        <%controller.dispatchs.forEach(d=> {%>
                                            <tr>
                                                <td>
                                                    <%= d.address ? d.address.display: 'Türkiye'%>
                                                </td>
                                                <td>                                                    
                                                    <input type="text" name="min<%=d.id%>" value="<%=d.min%>">
                                                </td>                                                
                                                <td>                                                    
                                                    <input type="text" name="fee<%=d.id%>" value="<%=d.fee%>">
                                                </td>
                                                <td>
                                                    <input type="text" name="free<%=d.id%>" value="<%=d.totalForFree%>">

                                                </td>
                                              
                                                <td>
                                                    <input type="text" name="areaTag<%=d.id%>" value="<%=d.areaTag%>">

                                                </td>
                                                <td>
                                                    <select name="dsel<%=d.id%>">
                                                        <option <%= d.selection == 'tam'? 'selected':'' %> value="tam">Tam</option>
                                                        <option <%= d.selection == 'sadece liste'? 'selected':'' %> value="sadece liste">sadece liste</option>
                                                        <option <%= d.selection == 'one cikar'? 'selected':'' %> value="one cikar">öne çıkar</option>

                                                    </select>
                                                </td>
                                                <td>
                                                    <select name="dlogistic<%=d.id%>">
                                                        <option <%= d.type == 'default'? 'selected':'' %> value="default">Varsayılan Kasap Tanımı</option>
                                                        <option <%= d.type == 'butcher'? 'selected':'' %> value="butcher">Kasap</option>
                                                        <option <%= d.type == 'butcher/auto'? 'selected':'' %> value="butcher/auto">Kasap/Otomatik</option>                                    
                                                        <option <%= d.type == 'banabikurye'? 'selected':'' %> value="banabikurye">Banabikurye</option>
                                                        <option <%= d.type == 'banabikurye/car'? 'selected':'' %> value="banabikurye/car">Banabikurye Araç</option>
                                                    </select>
                                                </td>                                                

                                                <td>

                                                    <input type="checkbox" name="takeonly<%=d.id%>"" class="form-check-input"
                                                   <%= d.takeOnly ? "checked" : "" %> />

                                                   

                                                </td>    

                                                <td>

                                                    <input type="checkbox" name="enabled<%=d.id%>"" class="form-check-input"
                                                   <%= d.enabled ? "checked" : "" %> />

                                                   

                                                </td>             
                                                
                                                <td>
                                                    <input type="text" name="userNote<%=d.id%>" value="<%=d.userNote%>">
                                                    
                                                </td>

                                                <td>
                                                    <button type="submit" class="btn btn-sm btn-primary" name="update" value="<%=d.id%>">Kaydet</button>

                                                </td>
                                                <td>
                                                    <button type="submit" class="btn btn-sm btn-danger" name="delete" value="<%=d.id%>">Sil</button>
                                                </td>
                                            </tr>
                                        <%})%>
                                    </table>
                     
                                </div>
                        </form>

                    </div>

                </div>


            </div>










        </div>
    </div>


    <% include ./_partial/scripts %>
    <script>

        function setimgdel(i) {

            $("deleteimage").val(i)
        }
        window.App.Ready.then(function () {

            $('a[href="#<%=controller.activetab%>"]').tab('show');
            //window.App.Render("PlaceList", null, document.getElementById('main'))
        })
    </script>
</body>

</html>