<!DOCTYPE html>
<html lang="tr-TR" prefix="og: http://ogp.me/ns#">

<head>
    <% include ./_partial/head %>

    <style>
        .image {
            width: 200px;
        }
    </style>
</head>

<body>
    <% include ./_partial/header %>
    <!-- Page Content -->
    <div class="container m-4">
        <h1><%= product.name %></h4>

    </div>
    <div class="container-fluid">
        <div id="main">

            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#home">Temel Bilgiler</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " data-toggle="tab" href="#units">Birim ve Fiyat</a>
                </li>    
                
                <% if (__req.user.hasRole('admin')) { %>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#menu1">Resimler</a>
                </li>
                <%}%>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#menu2">Kategoriler</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#seo">SEO</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#nut">Besin Değerleri</a>
                </li>                
            </ul>



            <div class="tab-content">
                <div id="home" class="container-fluid tab-pane active"><br>
                    <form name="saveform" method="POST">

                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label>ID</label>
                                    <input type="text" readonly class="form-control" name="pid" id="pid"
                                        value="<%= product.id %>">
                                </div>
                                <div class="row">

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>Slug</label>
                                            <input type="text" class="form-control" name="slug" id="slug"
                                                value="<%= product.slug %>">
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label>Adı</label>
                                    <input type="text" class="form-control" name="name" id="name"
                                        value="<%= product.name %>">
                                </div>

                                <div class="form-group">
                                    <label>Varsayılan not</label>
                                    <textarea rows="4" class="form-control" name="notePlaceholder"
                                        id="notePlaceholder"><%= product.notePlaceholder %></textarea>


                                </div>

                                <div class="form-group">
                                    <label>Özellikler</label>
                                    <textarea rows="4" class="form-control" name="featuresText"
                                        id="featuresText"><%= product.featuresText %></textarea>


                                </div>

                                <div class="form-group">
                                    <label>Kısa Açıklama</label>
                                    <textarea class="form-control" name="description"
                                        id="description"><%= product.shortdesc %></textarea>


                                </div>

                 

                                

                                <div class="form-group">
                                        <label>Ürün Açıklaması</label>
                                        <textarea rows="15" class="form-control" name="mddesc"
                                            id="mddesc"><%= product.mddesc %></textarea>
    
    
                                    </div>

                                <div class="row">
                                    <div class="col-md-4 mb-3">
                                        <div class="form-group">
                                            <label>Tag1</label>
                                            <input type="text" class="form-control" name="tag1" id="tag1"
                                                value="<%= product.tag1 %>">
                                        </div>
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <div class="form-group">
                                            <label>Tag2</label>
                                            <input type="text" class="form-control" name="tag2" id="tag2"
                                                value="<%= product.tag2 %>">
                                        </div>
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <div class="form-group">
                                            <label>Tag3</label>
                                            <input type="text" class="form-control" name="tag3" id="tag3"
                                                value="<%= product.tag3 %>">
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label>Ürün fiyatı kasaptan nasıl alınacak</label>
                                    <select class="form-control" name="priceUnit" id="priceUnit">
                                        
                                        <option <%=product.priceUnit == 'kg' ? 'selected':''%> value="kg">KG</option>
                                        <option <%=product.priceUnit == 'unit1' ? 'selected':''%> value="unit1">unit1</option>
                                        <option <%=product.priceUnit == 'unit2' ? 'selected':''%> value="unit2">unit2</option>
                                        <option <%=product.priceUnit == 'unit3' ? 'selected':''%> value="unit3">unit3</option>
                                       
                                    </select>


                                </div>

                                <div class="form-group">
                                    <label>Kasaba Sipariş Hazırlama Notu</label>
                                    <textarea rows="5" class="form-control" name="butcherNote"
                                        id="mddesc"><%= product.butcherNote %></textarea>


                                </div>


                                <div class="form-group">
                                    <label>Kasaba Ürün Notu</label>
                                    <textarea rows="5" class="form-control" name="butcherProductNote"
                                        id="butcherProductNote"><%= product.butcherProductNote %></textarea>


                                </div>

                                <div class="form-group">
                                    <label>Keywords</label>
                                    <textarea rows="5" class="form-control" name="keywords"
                                        id="keywords"><%= product.keywords %></textarea>


                                </div>                                



                            </div>

                        
                        </div>


                        <button type="submit" name="save" value="true" class="btn btn-primary">Kaydet</button>
                        <button type="submit" name="copyproduct" value="true" class="btn btn-primary">Kopyala</button>


                    </form>
                </div>
                <div id="units" class="container-fluid tab-pane"><br>
                    <form name="saveform" method="POST">
                        <div class="row">
                     

                            <div class="col">
<% var units = ['unit1', 'unit2', 'unit3'] %>
<ul class="nav nav-pills mb-3" id="unitsTab" role="tablist">
<% for (var i = 0; i < units.length;i++) { %>
   
        <li class="nav-item">
          <a class="nav-link <%= i == 0 ? ' active':'' %>" id="<%=units[i]%>container-tab" data-toggle="tab" href="#<%=units[i]%>container" role="tab"><%=units[i]%></a>
        </li>

     

<% } %>

</ul>
<div class="tab-content" id="unitsTabContent">
<% for (var i = 0; i < units.length;i++) { %>

    <div class="tab-pane fade <%= i == 0 ? 'show active':'' %>" id="<%=units[i]%>container" role="tabpanel" >
        <%- include('./_partial/productunitinput.ejs', {
            unit: units[i]
        }) %>
    </div>
  
  <% } %>
</div>




                            </div>
                        </div>

                            

                        <button type="submit" name="saveunits" value="true" class="btn btn-primary">Kaydet</button>
                    </form>
                </div>

                <% if (__req.user.hasRole('admin')) { %>
                <div id="menu1" class="container-fluid tab-pane fade"><br>
                    <form name="saveimgform" method="POST">
                        <a href="<%= `/pages/admin/resource/product-photos/${product.id}?fileprefix=${product.slug}&title=${product.name}&videotype=product-videos` %>"
                            target="_blank">Düzenle</a>
                        <div class="row">

                            <!-- <% for(var i=0; i<images.length; i++) {%>
                            <div class="mx-3 col">
                                <img class="image my-2 img-thumbnail"
                                    src="<%= `/${product.slug}/resimler/${images[i].contentUrl}?thumbnail=1`  %>" />
                            </div>
                            <% } %> -->
                        </div>
                    </form>
                </div>

                <%}%>
                <div id="menu2" class="container-fluid tab-pane fade"><br>

                    <div class="">
                        <% for(var i=0; i<categories.length; i++) {%>
                        <form name="savecategoryform" method="POST">
                            <% var catinfo = controller.getProductCategory(categories[i].id) %>
                            <div class="form-group">
                                <label><%= categories[i].name %></label>

                                <div class="input-group mb-3">

                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <input type="checkbox" name="categoryenabled"
                                                <%= catinfo.enabled ? "checked" : "" %> aria-label="Checkbox">
                                        </div>
                                    </div>
                                    <input type="hidden" name="categoryid" value="<%= categories[i].id %>">
                                    <input type="text" class="form-control" value="<%= catinfo.displayOrder %>"
                                        name="categorydisplayorder">
                                        <input type="text" class="form-control" value="<%= catinfo.subcategoryid %>"
                                        name="categorysubcategoryid">                                        
                                    <button type="submit" name="updatecategory" value="true"
                                        class="btn btn-primary">Kaydet</button>

                                </div>
                            </div>
                        </form>
                        <% } %>
                    </div>

                </div>

                <div id="seo" class="container-fluid tab-pane">

                    <form name="saveform" method="POST">
                        <%- include('./_partial/seo.ejs', { pageTitle: product.pageTitle, pageDescription: product.pageDescription  }) %>
                
                        <div class="">
                            <button type="submit" name="saveseo" value="true" class="btn btn-primary">Kaydet</button>
                        </div>
                    </form>
                  
                </div>
                <div id="nut" class="container-fluid tab-pane">
                    <% var nut = controller.editingNutritionValue %>
                    <form name="saveform" method="POST">
                        <div class="form-group">
                            <label>Başlık</label>
                            <input type="text" class="form-control" name="nutname" id="nutname"
                                value="<%=nut.name%>">
                        </div>
                        <div class="form-group">
                            <label>Miktar</label>
                            <input type="text" class="form-control" name="nutamount" id="nutamount"
                                value="<%=nut.amount%>">
                        </div>     
                        <div class="form-group">
                            <label>Birim</label>
                            <input type="text" class="form-control" name="nutunit" id="nutunit"
                                value="<%=nut.unit%>">
                        </div>    
                        <div class="form-group">
                            <label>Kalori</label>
                            <input type="text" class="form-control" name="nutcal" id="nutcal"
                                value="<%=nut.calories%>">
                        </div>   
                        <div class="form-group">
                            <div class="row">
                                <div class="col">
                                    <label>Kaynak</label>
                                    <input type="text" class="form-control" name="nutsource" id="nutsource"
                                        value="<%=nut.source%>">
                                </div>
                                <div class="col">
                                    <label>Kaynak URL</label>
                                    <input type="text" class="form-control" name="nutsourceUrl" id="nutsourceUrl"
                                        value="<%=nut.sourceUrl%>">
                                </div>
                            </div>
                         
                        </div>   

                        <div class="form-group">
                            <label>Açıklama</label>
                            <input type="text" class="form-control" name="nutdesc" id="nutdesc"
                                value="<%=nut.description%>">
                        </div>                                                             
                        <% controller.nutritions().forEach(n=> {  %>
                            <div class="form-group">
                                <label><%=n%></label>
                                <div class="row">
                                    <div class="col">
                                        <input placeholder="miktar" type="text" class="form-control" name="nutitem<%=n%>" id="nutitem<%=n%>"
                                        value="<%=controller.getNutItemAmount(n)%>">
                                    </div>
                                    <div class="col">
                                        <select class="form-control" name="nutitem<%=n%>unit" id="nutitem<%=n%>unit">
                                            <% controller.nutritionValueUnits[n].forEach(u=> { %>
                                            <option <%=controller.getNutItemUnit(n) == u ? 'selected':''%> value="<%=u%>"><%=u%></option>
                                            <% }) %>
                                        </select>

                                        
                                    

                                    </div>                                    
                                </div>
                             
                           
                            </div>                              
                        <% }) %>
                        <div class="">
                            <button type="submit" name="savenut" value="true" class="btn btn-primary">Kaydet</button>
                        </div>
                    </form>
                  
                </div>                
            </div>




        </div>
    </div>


    <% include ./_partial/scripts %>
    <script>

        function setimgdel(i) {
            debugger;
            $("deleteimage").val(i)
        }
        window.App.Ready.then(function () {

            //window.App.Render("PlaceList", null, document.getElementById('main'))
        })
    </script>
</body>

</html>