<!DOCTYPE html>
<html lang="en">

<head>
    <% include ./_partial/head %>

    <style>
        .image {
            width: 200px;
        }
    </style>
</head>

<body>
    <% include ./_partial/header %>
    <!-- Page Content -->
    <div class="container-fluid m-4">
        <h1><%= typeof(req.query.title) != 'undefined' ? req.query.title: "Düzenle" %></h4>
    </div>
    <div class="container-fluid">
        <div id="main">

            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#home">Resimleri Düzenle</a>
                </li>


            </ul>



            <div class="tab-content">
                <div id="home" class="container-fluid tab-pane active"><br>
                    <form enctype="multipart/form-data" name="addimgform" method="POST">
                        <div class="row">
                            <div class="col custom-file">
                                <input type="file" class="custom-file-input" name="photofile" id="photofile">
                                <label class="custom-file-label" for="customFile">Resim eklemek için dosya seçin
                                    (jpg)</label>
                            </div>
                            <div class="col">
                                <button type="submit" name="addimg" value="true" class="btn btn-primary">Ekle</button>

                            </div>
                        </div>

                    </form>

                    <form  name="addvideoform" method="POST">
                        <div class="row mt-4">
                            <div class="col">

                                <input type="text" placeholder="youtube id" class="form-control" name="youtubeid" id="youtubeid">
                            </div>
                            <div class="col">
                                <button type="submit" name="addvideo" value="true" class="btn btn-primary">Ekle</button>

                            </div>
                        </div>

                    </form>
                    
                       
                            <% for(var i=0; i<images.length; i++) {%>
                                <form class="mt-2" name="saveimgform" method="POST">
                            <div class="border row p-2 mb-2 bg-light">
                                <div class="col-md-2">
                                    <% if (images[i].contentType == 'image/jpeg') { %>
                                        <img width="300" class="image my-2 "
                                            src="<%= `${images[i].getThumbnailFileUrl()}`  %>" />

                                        <% } else { %>
                                            <span>VIDEO</span>
                                            <a target="_blank"  class="gallery-item video-item "
                                                
                                                href="<%= `${images[i].getFileUrl()}` %>">
                                                <img class="rounded-top img-thumbnail" width="300"
                                                  src="<%= `${images[i].getThumbnailFileUrl()}` %>">
                                                  </a>
        
                                            <% } %>

                                            <div class="form-group">
                                                <button class="btn btn-danger" onclick="this.form.submit()" name="delimage"
                                                    value="<%= images[i].id %>">sil</button>
                                            </div>
                                            <div class="form-group">
                                                <button class="btn btn-success" onclick="this.form.submit()" name="pritimage"
                                                        value="<%= images[i].id %>">Öne Al</button>
                                                    </div>
                                </div>
                           

                                    <div class="col-md-10 mt-4">
                                        <div class="form-group">
                                            <label>Başlık</label>
                                            <input value="<%= images[i].title %>" class="form-control" type="text" name="imgtitle<%= images[i].id %>"><br>

                                            <label>Sıra</label>
                                            <input value="<%= images[i].displayOrder %>" class="form-control" type="text" name="imgdisplayorder<%= images[i].id %>"><br>

                                            <label>Tag1</label>
                                            <input value="<%= images[i].tag1 %>" class="form-control" type="text" name="imgtag1<%= images[i].id %>"><br>
                                            <label>Tag2</label>
                                            <input value="<%= images[i].tag2 %>" class="form-control" type="text" name="imgtag2<%= images[i].id %>"><br>

                                            <label>Tag3</label>
                                            <input value="<%= images[i].tag3 %>" class="form-control" type="text" name="imgtag3<%= images[i].id %>"><br>

                                            <label>açıklama</label>
                                            <input value="<%= images[i].description %>"  class="form-control" type="text" name="imgdesc<%= images[i].id %>"><br>

                                            <label>Badge</label>
                                            <input value="<%= images[i].badge %>" class="form-control" type="text" name="imgbadge<%= images[i].id %>"><br>
                                            
                                            <label>Ref2</label>
                                            <input value="<%= images[i].ref2 %>" class="form-control" type="text" name="imgref2<%= images[i].id %>"><br>

                                            <label>Ref3</label>
                                            <input value="<%= images[i].ref3 %>" class="form-control" type="text" name="imgref3<%= images[i].id %>"><br>

                                            <label>Ref4</label>
                                            <input value="<%= images[i].ref4 %>" class="form-control" type="text" name="imgref4<%= images[i].id %>"><br>


                                            <label>Ref5</label>
                                            <input value="<%= images[i].ref5 %>" class="form-control" type="text" name="imgref5<%= images[i].id %>"><br>



                                            <label>Note</label>
                                            <input class="form-control" readonly value="<%= images[i].note %>" type="text" name="imgnote<%= images[i].id %>"><br>
                                            
                                            <label>Thumbnail</label>
                                            <input value="<%= images[i].getThumbnailFileUrl() %>" class="form-control" type="text" name="imgthumbnail<%= images[i].id %>"><br>
                
                                            <label>JSON</label>
                                            
                                            <textarea rows="6" class="form-control" name="imgsettings<%= images[i].id %>"
                                            id="imgsettings<%= images[i].settings %>"><%= images[i].settingsjson %></textarea>
                                            <div class="mt-2">
                                                <button class="btn-sm btn btn-primary" onclick="this.form.submit()" name="saveimage"
                                                value="<%= images[i].id %>">Kaydet</button>
                                            </div>
                                           
                                        </div>

                                        <% for(var c=0; c< controller.categories.length; c++) {%>
                                            
                                                <% var catinfo = controller.getResourceCategory(images[i], controller.categories[c].id) %>
                                                <div class="form-group">
                                                    <label><%= controller.categories[c].name %></label>
                    
                                                    <div class="input-group mb-3">
                    
                                                        <div class="input-group-prepend">
                                                            <div class="input-group-text">
                                                                <input type="checkbox" name="categoryenabled<%=controller.categories[c].id %>"
                                                                    <%= catinfo.enabled ? "checked" : "" %> aria-label="Checkbox">
                                                            </div>
                                                        </div>                                                        
                                                        <input type="hidden" name="resourceid<%=controller.categories[c].id %>" value="<%= images[i].id %>">
                                                        <input type="text" class="form-control" value="<%= catinfo.displayOrder %>"
                                                            name="categorydisplayorder<%=controller.categories[c].id %>">
                                                        <button type="submit" name="updatecategory" value="<%= controller.categories[c].id %>"
                                                            class="btn btn-primary">Kaydet</button>
                    
                                                    </div>
                                                </div>
                                           
                                            <% } %>                                        
                                    
                                        </div>

                            </div>
                        </form>
                            <% } %>
                    
                 
                </div>



            </div>










        </div>
    </div>


    <% include ./_partial/scripts %>
    <script>

        function setimgdel(i) {
            debugger;
            $("deleteimage").val(i)
        }
        window.App.Ready.then(function () {

            //window.App.Render("PlaceList", null, document.getElementById('main'))
        })
    </script>
</body>

</html>